/* HOME PAGE */
.home-page .daterangepicker {
    top: auto !important;
    bottom: 67px !important;
    position: fixed !important;
}

.home-page .daterangepicker:after {
    display: none;
}

.home-page .daterangepicker:before {
    top: auto;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
    border-top: 7px solid #fff;
    border-bottom: 0px;
    bottom: -7px;
}

.home-page .image {
    display: block;
    height: auto;
    overflow: hidden;
}

.home-page .wrap-corporate {
    position: relative;
    float: left;
    width: 100%;
    height: calc(100vh - 60px);
    overflow: hidden;
}

.home-page .wrap-corporate .overlay {
    background-color: #000000;
    opacity: 0.6;
    height: 100%;
    width: 100%;
    position: absolute;
    display: none;
    z-index: 1;
}

.home-page .wrap-corporate .text {
    letter-spacing: 2px;
    text-transform: uppercase;
}

.home-page .container-corporate {
    position: absolute;
    z-index: 1;
    width: 33.3333333333%;
    height: 100%;
    background-repeat: repeat, no-repeat;
    background-size: 100% 100%, cover;
    background-position: 0% 0%, center top;
    background-attachment: scroll, scroll;
    -moz-transition: width 0.5s ease;
    -ms-transition: width 0.5s ease;
    -webkit-transition: width 0.5s ease;
    -o-transition: width 0.5s ease;
    transition: width 0.5s ease;
}

.home-page .container-corporate .text-title {
    float: left;
    padding-bottom: 4px;
    font-size: 30px;
    color: rgb(255, 255, 255);
}

.home-page .container-corporate .line-title {
    top: 56px;
    z-index: 2;
    position: absolute;
    width: 62px;
    height: 1px;
    background-color: rgb(255, 255, 255);
}

.home-page .container-corporate .text-destination {
    position: relative;
    clear: both;
    z-index: 1;
    padding-bottom: 4px;
    font-size: 30px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}

.home-page .container-corporate .desc-destination {
    clear: both;
    left: 24.22%;
    width: 50%;
    clear: both;
    opacity: 0;
    margin-top: 30px;
    -moz-transition: opacity 0.5s ease;
    -ms-transition: opacity 0.5s ease;
    -webkit-transition: opacity 0.5s ease;
    -o-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
}

.home-page .container-corporate .desc-destination p {
    color: #FFF;
}

.home-page .container-corporate .corporate-content {
    position: absolute;
    top: 150px;
    -moz-transition: top 0.5s ease;
    -ms-transition: top 0.5s ease;
    -webkit-transition: top 0.5s ease;
    -o-transition: top 0.5s ease;
    transition: top 0.5s ease;
}

.home-page .container-corporate .text-explore {
    display: block;
    position: absolute;
    bottom: 50px;
    z-index: 4;
    padding-right: 6px;
    font-family: 'Nunito Sans';
    font-size: 11px;
    color: rgb(255, 255, 255);
    font-weight: 700;
}

.home-page .container-corporate.hover {
    width: 66.6666666666%;
    z-index: 1;
    -moz-transition: width 0.5s ease;
    -ms-transition: width 0.5s ease;
    -webkit-transition: width 0.5s ease;
    -o-transition: width 0.5s ease;
    transition: width 0.5s ease;
}

.home-page .container-corporate.hover .corporate-content {
    top: calc(100vh - 550px);
    -moz-transition: top 0.5s ease 0.3s;
    -ms-transition: top 0.5s ease 0.3s;
    -webkit-transition: top 0.5s ease 0.3s;
    -o-transition: top 0.5s ease 0.3s;
    transition: top 0.5s ease 0.3s;
}

.home-page .container-corporate.hover .desc-destination {
    -moz-transition: all 0.5s ease 1s;
    -ms-transition: all 0.5s ease 1s;
    -webkit-transition: all 0.5s ease 1s;
    -o-transition: all 0.5s ease 1s;
    transition: all 0.5s ease 1s;
    opacity: 1 !important;
}

.home-page .container-title.hover {
    position: absolute;
    top: calc(100vh - 450px);
}

.home-page .container-corporate.seminyak {
    left: 0;
}

.home-page .container-corporate.seminyak .container-title {
    width: 239px;
    position: relative;
}

.home-page .container-corporate.seminyak .line-title {
    left: -15.85%;
}

.home-page .container-corporate.seminyak .text-destination {
    float: left;
    margin-left: 50px;
}

.home-page .container-corporate.seminyak .corporate-content,
.home-page .container-corporate.seminyak .text-explore {
    left: 160px;
}

.home-page .container-corporate.seminyak .desc-destination {
    float: left;
}

.home-page .container-corporate.ubud {
    right: 0;
}

.home-page .container-corporate.ubud .container-title {
    width: 205px;
    height: 90px;
    position: relative;
    float: right;
}

.home-page .container-corporate.ubud .line-title {
    right: -15.85%;
}

.home-page .container-corporate.ubud .text-destination {
    float: right;
    margin-right: 50px;
}

.home-page .container-corporate.ubud .corporate-content,
.home-page .container-corporate.ubud .text-explore {
    right: 160px;
}

.home-page .container-corporate.ubud .desc-destination {
    float: right;
    text-align: right;
}

.home-page .container-image-logo {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 140px;
    margin: auto 0;
}

.home-page .container-image-logo .image-logo {
    width: 285px;
    margin: 0 auto;
}

.home-page .wrap-about-us {
    position: relative;
    clear: both;
    width: 100%;
    height: auto;
    margin-bottom: 40px;
    height: calc(100vh - 60px);
}

.home-page .wrap-about-us .wrap-description-about {
    width: 60%;
    float: left;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 13%;
}

.home-page .wrap-about-us .container-description-about {
    float: left;
    width: 60%;
}

.home-page .wrap-about-us .container-description-about p {
    clear: both;
    width: 100%;
    color: #575757;
    margin-bottom: 15px;
}

.home-page .wrap-about-us .title-about-us {
    float: left;
    width: 100%;
    padding-bottom: 60px;
    font-family: 'Nunito Sans';
    font-size: 35px;
    font-weight: 400;
    color: #555555;
}

.home-page .wrap-about-us .wrap-map {
    float: left;
    width: 40%;
    height: 100%;
}

.home-page .wrap-booking-form {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 60px;
    background-color: #f6f5f5;
}

.home-page .wrap-booking-form .image-logo {
    display: none;
}

.home-page .wrap-booking-form .container-destination {
    float: left;
    width: 20.5208333333%;
    margin: 19px 0 0 2.34375%;
    border-right: 1px solid #d9d9d9;
}

.home-page .booking-form-index .select-option {
    width: 100%;
    position: absolute;
    bottom: 41px;
    background-color: #b78760;
    display: none;
}

.home-page .booking-form-index .select-option li {
    padding: 10px;
    font-family: 'Crimson Text';
    font-size: 14px;
    color: #FFF;
    cursor: pointer;
}

.home-page .wrap-booking-form .text-label {
    float: left;
    margin-top: 4px;
    padding-right: 15px;
    font-family: 'Nunito Sans';
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #888888;
    text-transform: uppercase;
}

.home-page .wrap-booking-form .container-choose-destination {
    float: left;
    width: 62.3409669211%;
    margin-left: 0.25048%;
    position: relative;
}

.home-page .wrap-booking-form .container-choose-destination input.select-guest {
    width: 100%;
    background-image: url('../images/arrowdown-about-landing.svg');
    background-repeat: no-repeat;
    background-position: right;
    cursor: pointer;
    background-size: 14px 6px;
    background-color: transparent;
}

.home-page .wrap-booking-form .text-value {
    float: left;
    width: 65%;
    letter-spacing: 1px;
    color: #000000;
    background: transparent;
}

.home-page .wrap-booking-form input.error::-webkit-input-placeholder {
    color: red;
}

.home-page .wrap-booking-form input.error::-moz-placeholder {
    color: red;
}

.home-page .wrap-booking-form .text-value.date-range-picker {
    cursor: pointer;
}

.home-page .wrap-booking-form .text-value-type {
    float: left;
    width: 27.5582627118%;
    letter-spacing: 1px;
    color: #000000;
    background-color: transparent;
}

.home-page .wrap-booking-form .destination .text-value {
    width: 100%;
    cursor: pointer;
}

.home-page .wrap-booking-form .image-arrow {
    float: right;
    width: 14px;
    margin-top: 8px;
}

.home-page .wrap-booking-form .container-dates {
    float: left;
    width: 15.6944444444%;
    margin: 19px 0 0 2.60254%;
    border-right: 1px solid #d9d9d9;
}

.home-page .wrap-booking-form .container-rooms {
    float: left;
    width: 14.2708333333%;
    margin: 19px 0 0 2.69206%;
    border-right: 1px solid #d9d9d9;
}

.home-page .wrap-booking-form .container-access-code {
    float: left;
    width: 20.4861111111%;
    margin: 19px 0 0 2.56836%;
}

.home-page .wrap-booking-form .button-book-now {
    width: 17.3611111111%;
    height: 60px;
    margin-left: 1.45671%;
    background-color: #b78760;
    font-family: 'Nunito Sans';
    font-size: 18px;
    text-align: center;
    letter-spacing: 2px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    display: block;
    float: left;
    text-transform: uppercase;
}

.home-page .wrap-booking-form .button-book-now.mobile {
    display: none;
}

.home-page .container-logo {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 33.3333333333%;
    height: 100%;
    background-color: #393027;
    overflow: hidden;
}

.container-bottom-position {
    display: none;
}

.container-bottom-position .container-switch-lang-scroll {
    position: relative;
}

.home-page .container-logo .container-switch-lang-scroll {
    position: absolute;
    bottom: 50px;
    left: -0.1513708831%;
    width: 100%;
}

.home-page .container-switch-lang-scroll ul {
    float: left;
    width: 121px;
    margin-left: 7.02654%;
}

.home-page .container-switch-lang-scroll ul li {
    float: left;
    padding-right: 6px;
    font-family: 'Nunito Sans';
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 2px;
}

.home-page .container-switch-lang-scroll ul li:first-child,
.home-page .container-switch-lang-scroll ul li:last-child {
    background-image: url('../images/garis-bahasa.svg');
    background-repeat: no-repeat;
    background-size: 8px 12px;
}

.home-page .container-switch-lang-scroll ul li:first-child {
    padding-right: 15px;
    background-position: right;
    margin-right: 10px;
}

.home-page .container-switch-lang-scroll ul li:last-child {
    padding-left: 15px;
    background-position: left;
    margin-left: 0px;
}

.home-page .container-switch-lang-scroll ul li a {
    color: #FFF;
}

.home-page .text-scroll-down {
    float: right;
    width: 115px;
    margin-right: 6.56266%;
    background-image: url('../images/arrow-about-landing.svg');
    background-repeat: no-repeat;
    background-size: 5px 10px;
    background-position: right center;
    font-family: 'Nunito Sans';
    font-size: 11px;
    color: #FFF;
    font-weight: 700;
    cursor: pointer;
    text-transform: uppercase;
    padding-right: 15px;
}

.home-page .text-scroll-down {
    position: absolute;
    float: none;
    right: 0;
    text-align: right;
}

.home-page .scroll-down-about {
    display: block;
}

.home-page .scroll-down-map {
    display: none;
}

.home-page .scroll-to-top {
    display: none;
}