@media(max-width: 1850px) {
    .inner a {
        width: 700px !important;
    }

    .container-button-nav-slide {
        width: calc(100% - 1400px);
    }

    header .wrap-header-menu-content{
        margin-right: 3%;
    }
    header .container-menu-list ul{
        padding-right: 3%;
    }
}

@media(max-width: 1740px) {
    .inner a {
        width: 680px !important;
    }

    .container-button-nav-slide {
        width: calc(100% - 1360px);
    }

    header .menu-header-with-mobile {
        width: 60%;
    }

    nav .listmenu-header {
        width: 80%;
    }

    nav .listmenu-header ul li{
        padding-left: 25px;
        padding-right: 25px;
    }
}


@media(max-width: 1700px) {
    .page-ubud header .menu-header-with-mobile{
        width: 65%;
    }
}

@media(max-width: 1650px) {
    header .menu-header-with-mobile{
        width: 65%;
    }
}

@media(max-width: 1600px) {
    .inner a {
        width: 650px !important;
    }

    .container-button-nav-slide {
        width: calc(100% - 1300px);
    }

    nav .listmenu-header {
        width: 75%;
    }

    nav .listmenu-header ul li{
        padding-left: 20px;
        padding-right: 20px;
    }

    .page-ubud nav .listmenu-header ul li{
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media(max-width: 1565px) {
    .inner a {
        width: 620px !important;
    }

    .container-button-nav-slide {
        width: calc(100% - 1240px);
    }

    .page-ubud header .container-menu-list ul li{
        padding-left: 15px;
        padding-right: 15px;
    }
    
}

@media(max-width: 1500px) {
    .inner a {
        width: 600px !important;
    }

    .container-button-nav-slide {
        width: calc(100% - 1200px);
    }

    header .menu-header-with-mobile {
        width: 65%;
    }

    nav .listmenu-header {
        width: 75%;
    }

    nav .listmenu-header ul li{
        padding-left: 15px;
        padding-right: 15px;
    }

    .page-ubud header .menu-header-with-mobile {
        width: 70%;
        max-width: 960px;
    }

    header .container-menu-list ul li{
        padding: 0 15px;
    }
}


@media(max-width: 1440px) {
    /* BOOKING WEDDINGS POPUP */
    .container-booking-popup-wedding {
        width: 80%;
    }

    body {
        background-position: 535px center;
    }

    .image-arrow-down-hero {
        bottom: 40px;
    }

    /* START HEADER */
    header .image-logo-web {
        position: relative;
        width: 253px;
        margin-top: 50px;
        margin-left: 3%;
    }

    header .menu-header-with-mobile {
        width: 65%;
        max-width: 900px;
    }

    nav.menu-header .image{
        margin-left: 0px;
    }

    header .container-menu-list ul li {
        padding: 0 12px;
    }

    header .wrap-header-menu {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    header .wrap-header-menu-time-suhu {
        margin-left: 6.25%;
    }

    header .wrap-header-menu-switch-lang {
        width: 101px;
        margin-left: 7.34466%;
    }

    header .wrap-header-menu-content-switch-des {
        margin-left: 7.19931%;
    }

    header .wrap-header-menu-text-cloud {
        padding-left: 28px;
    }

    header .wrap-header-menu-text-time {
        padding-left: 22px;
    }

    header .wrap-title-hero {
        left: 13.88672%;
    }

    .wrap-form-booking-hero {
        width: 710px;
    }

    header .container-menu-list ul {
        margin-top: 0px;
    }

    header .line-title-hero-page {
        width: 12%;
        height: 1px;
        margin-top: -20px;
        margin-left: 105.47883%;
    }

    .page header .wrap-title-hero {
        right: 14.79384%;
    }

    header .container-menu-list ul li.press ul {
        width: 170%;
        left: -35%;
    }

    header .container-menu-list ul li.what-to-do ul {
        width: 130%;
        left: -15%;
    }

    .jp header .container-menu-list ul li.what-to-do ul {
        width: 190%;
        left: -45%;
    }

    /* START INDEX PAGE */
    .home-page .wrap-booking-form .text-value {
        font-size: 14px;
    }

    .home-page .container-corporate .text-title,
    .home-page .container-corporate.seminyak .text-destination,
    .home-page .container-corporate.ubud .text-destination {
        font-size: 25px;
    }

    .home-page .container-image-logo .image-logo {
        width: 267px;
    }

    .home-page .wrap-about-us .wrap-description-about {
        padding-left: 10%;
    }

    .home-page .wrap-about-us .title-about-us {
        font-size: 28px;
        padding-bottom: 40px;
    }

    .home-page .wrap-booking-form .text-value-type {
        width: 30.558263%;
    }

    .home-page .container-corporate.seminyak .corporate-content,
    .home-page .container-corporate.ubud .corporate-content {
        top: 100px;
    }

    .home-page .container-corporate.hover .corporate-content {
        top: calc(100vh - 500px);
    }

    .home-page .container-corporate.ubud .corporate-content,
    .home-page .container-corporate.ubud .text-explore {
        right: 75px;
    }

    .home-page .container-corporate.seminyak .corporate-content,
    .home-page .container-corporate.seminyak .text-explore {
        left: 75px;
    }

    /* START NAV MENU */
    nav .listmenu-header {
        width: 75%;
        max-width: 75%;
        margin-right: 0;
    }

    nav .listmenu-header ul li.press ul {
        left: auto;
        right: 0;
        width: 150%;
    }

    /* START HOME PAGE DESTINATION */
    .home-destination .container-title-hero .text-title-1 {
        font-size: 50px;
    }

    .wrap-about-destination {
        padding-top: 180px;
        padding-bottom: 180px;
    }

    .wrap-experience-list .text-description-experience {
        position: relative;
        width: 37.1527777777%;
        margin-left: 8.99957%;
        padding-bottom: 0;
    }

    .wrap-list-accomodation .container-list-accomodation-image .inner .item {
        width: 640px !important;
        height: calc(100vh - 150px);
    }

    .wrap-list-accomodation .container-list-accomodation-image {
        width: 65%;
    }

    .wrap-list-accomodation .wrap-desc-list-acco {
        left: 64%;
    }

    .wrap-what-happening {
        margin: 205px 0 0 5.13835%;
    }

    .wrap-list-accomodation .container-list-accomodation-image .hide-right {
        width: calc((100% - 640px) - (calc((100% - 640px) / 2)));
        right: 0px;
    }

    .wrap-content-list-product .wrap-list-product:nth-child(odd) .element {
        left: -45.31%;
        top: 40px;
    }

    .wrap-content-list-product .wrap-list-product:nth-child(even) .element {
        top: 40px;
    }

    .container-button-nav-slide .button-explore-more {
        padding-left: 30px;
        padding-right: 30px;
    }

    .container-slider-wedding .inner .item,
    .container-slider-wedding {
        height: 600px;
    }

    .text-brief-wedding {
        height: 250px;
        overflow: hidden;
        padding-bottom: 0px;
        margin-bottom: 50px;
    }

    .wrap-about-destination .container-about-destination {
        width: 65%;
    }

    .wrap-about-destination p {
        width: 100%;
    }

    .wrap-trip-advisor .con-advisor-title {
        width: 26%;
    }

    .wrap-trip-advisor .con-advisor-list-testimoni {
        width: 69%;
        padding-top: 120px;
        padding-bottom: 120px;
        padding-left: 10%;
    }

    .wrap-trip-advisor .con-advisor-title .con-rating-choice {
        margin-top: 140px;
    }

    .wrap-trip-advisor .con-advisor-title .title-reviews h2 {
        font-size: 20px;
    }

    /* START PAGE LIST */
    header .text-title-page-1 {
        font-size: 34px;
    }

    .wrap-list-product {
        height: auto;
        padding-bottom: 220px;
    }

    .wrap-list-product .container-slide-product,
    .wrap-list-product .container-slide-product .inner .item {
        height: 600px;
    }

    .wrap-content-list-product .wrap-list-product:nth-child(even) .container-slide-product {
        top: 0;
    }

    .wrap-content-page .title-content-page {
        font-size: 25px;
    }

    .wrap-list-product .text-title-list-product {
        font-size: 20px;
    }

    .wrap-list-product .container-list-title-product {
        padding-bottom: 50px;
    }

    .wrap-list-product .container-slide-product {
        width: 58.8690937257%;
    }

    .wrap-list-product .container-list-desc-product {
        width: 32.2230828814%;
        margin-left: 7.19888%;
    }

    .wrap-content-list-product .wrap-list-product:nth-child(odd) .container-list-desc-product {
        right: 0px;
    }

    .wrap-list-product .container-detail-acco .text-label {
        font-size: 11px;
    }

    .wrap-list-product .container-detail-acco .text-label {
        width: 60%;
    }

    .wrap-list-product .container-detail-acco .text-value {
        width: 35%;
    }

    .wrap-content-page {
        padding-top: 160px;
        padding-bottom: 160px;
    }

    /* START PAGE DETAIL */
    .wrap-desc-detail-page {
        padding-top: 170px;
        padding-bottom: 170px;
    }

    .news-detail .wrap-desc-detail-page {
        padding-bottom: 0px;
    }

    .wrap-desc-detail-page .container-desc-detail .description-value {
        margin-bottom: 80px;
    }

    .dining-detail .container-text-other-menu h3 {
        font-size: 20px;
    }

    .wrap-desc-detail-page .container-desc-detail {
        width: 54.3749999999%;
        margin-left: 30.41667%;
    }

    .page-detail .wrap-other-accommodation h2 {
        width: 54.3749999999%;
        margin-left: 30.41667%;
        padding-bottom: 60px;
        font-size: 20px;
    }

    .page-detail .wrap-booking-acco-form {
        padding-top: 150px;
        padding-bottom: 150px;
    }

    .page-detail .wrap-booking-acco-form .container-booking-acco-form {
        width: 54.4444444444%;
        margin: 0 auto;
    }

    .page-detail .wrap-booking-acco-form .container-booking-acco-form h2 {
        font-size: 20px;
    }

    .spa-detail .wrap-desc-detail-page .container-detail-spa,
    .page-detail .wrap-other-accommodation h2 {
        width: 580px;
        margin: 0 auto;
    }

    .page-detail .wrap-desc-detail-page .book-now {
        width: 245px;
        height: 50px;
    }

    .page-detail .title-detail-page-1 {
        font-size: 35px;
    }

    .container-button-nav-slide .button-explore-more a {
        width: 90%;
    }

    /* START CONTACT PAGE */
    .contact-us .wrap-maps-contact-us {
        height: 500px;
    }

    .contact-us .wrap-content-contact-us .container-contact-us h1 {
        margin-bottom: 70px;
    }

    /* START POPUP SLIDER */
    .wrap-slide-popup .popup-slider h3 {
        margin-top: 20px;
    }

    .wrap-slide-popup .popup-slider .inner img {
        margin: auto 85px;
    }

    /* START OFFERS PAGE */
    body.page .wrap-content-offers-page {
        padding-top: 210px;
        padding-bottom: 160px;
    }

    body.page .text-title-offers {
        font-size: 25px;
    }

    body.page .wrap-content-offers-page .container {
        width: 24.3055555555%;
        margin-left: 8.33225%;
    }

    body.page .element-offers-1 {
        top: 20px;
        left: 105.73%;
        width: 25%;
    }

    body.page .text-desc-offers {
        width: 40.2777777777%;
        margin-left: 14.65278%;
    }

    .wrap-offers-list .container-offers {
        width: 84.0277777777%;
    }

    .wrap-offers-list .container-offers .container-list-item {
        width: 46.3636363636%;
    }

    .wrap-offers-list .container-offers .content-description-item {
        padding: 40px;
    }

    .wrap-offers-list .container-offers .content-description-item h2 {
        height: 73px;
        font-size: 18px;
    }

    .wrap-offers-list .container-offers .content-description-item .desc-value-item {
        font-size: 14px;
        height: 100px;
    }

    .wrap-offers-list .container-offers .container-list-item {
        margin-bottom: 90px;
    }

    .wrap-offers-list {
        padding-bottom: 100px;
    }

    .inner a {
        width: 570px !important;
    }

    .inner .container-image,
    .overlay-slide-product {
        height: 400px;
    }

    .page-detail .inner .container-image,
    .page-detail .overlay-slide-product {
        height: 450px;
    }

    .container-button-nav-slide {
        width: calc(100% - 1140px);
    }

    .inner .list-item-title {
        font-size: 18px;
    }

    /* START FOOTER */
    footer .footer-foto {
        width: 535px;
    }

    footer .container-menu-footer-top {
        margin-top: 80px;
    }

    footer .container-menu-footer {
        width: calc(100% - 535px);
    }

    footer .container-footer-explore {
        margin-left: 10.32966%;
    }

    footer .container-footer-subscribe {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    footer .corporate-brand{
        padding-top: 20px;
        padding-bottom: 20px;
    }

    footer .container-footer-copyright {
        margin-top: 25px;
    }

    /* START SPA DETAIL PAGE */
    .spa-detail .wrap-desc-detail-page .container-detail-spa h2 {
        font-size: 22px;
    }

    /* START SPA BOOKING POPUP */
    .spa-booking-popup {
        overflow-y: scroll;
        padding-bottom: 50px;
    }

    .spa-booking-popup .selectize-control {
        width: 76%;
        float: left;
    }

    .spa-booking-popup label {
        padding-right: 10px;
    }

    .spa-booking-popup .close-popup {
        right: 5%;
    }

    .spa-booking-popup .spa-booking-popup-container-form-boking {
        position: relative;
        top: auto;
        bottom: auto;
        left: auto;
        right: auto;
        width: 80%;
        max-width: 950px;
        height: auto;
        margin-top: 50px;
        margin-right: auto;
        margin-left: auto;
    }

    .spa-booking-popup-content-form-boking {
        width: 100%;
        margin-top: 0;
        margin-right: 0;
        margin-left: 0;
        padding: 30px 40px;
    }

    .spa-booking-popup label.label-no-of-person {
        width: 35%;
    }

    .spa-booking-popup input.no-of-person,
    .spa-booking-popup select.no-of-person,
    .spa-booking-popup input.text-nationality {
        width: 60%;
    }

    .spa-booking-popup-container-close7,
    .spa-booking-popup-container-full-name,
    .spa-booking-popup-contact-nationality,
    .spa-booking-popup-contact-email,
    .spa-booking-popup-contact-mobile-number,
    .spa-booking-popup-contact-time,
    .spa-booking-popup-reservation-no-of-person,
    .spa-booking-popup-reservation-promotion-code,
    .spa-booking-popup-reservation-price-tax {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .button-submit-spa-booking {
        position: relative;
        width: 210px;
        height: 50px;
        margin-right: 0;
        font-size: 20px;
    }

    /* START ACCOMMODATION BOOKING POPUP */
    .booking-popup .container-booking-form {
        width: 66%;
    }

    .booking-popup .text-access-code {
        width: 35%;
    }

    .booking-popup input.text-type-code {
        width: 63%;
    }

    .booking-popup ._button-check-availability {
        width: 210px;
        height: 60px;
        font-size: 20px;
    }

    /* START ABOUT PAGE */
    .about-us .wrap-about-us-page .container-about-us-page,
    .about-us .wrap-about-us-page .container-about-destination {
        margin-left: 25%;
    }

    .about-us .wrap-about-us-page .container-about-destination {
        width: calc(100% - 25%);
    }

    .about-us .wrap-about-us-page .container-about-destination .slide-destination-img .prev-next {
        right: 80px;
    }

    
    /* START DINING PAGE */
    .wrap-booking-popup-dining .container-booking-popup-dining {
        width: 52.4305555555%;
    }

    .wrap-booking-popup-dining .container-booking-popup-dining .left p {
        width: 100%;
    }

    .wrap-booking-popup-dining .container-booking-popup-dining .left .container-reservation-text h3 {
        font-size: 24px;
    }

    .wrap-booking-popup-dining .container-booking-popup-dining .left p {
        font-size: 14px;
    }


    /* START POPUP DINING */
    .popup-dining-list{
        padding-bottom: 0px;
    }
}

@media only screen and (max-width: 1440px) and (max-height: 800px) {

    .wrap-slide-popup .prev-next-popup,
    .wrap-slide-popup .dots-popup {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .wrap-slide-popup .popup-slider .inner .slick-slide img {
        width: 640px !important;
        height: 360px;
        margin-left: 50px;
        margin-right: 50px;
    }

    .wrap-slide-popup .popup-slider .inner .slick-active img {
        height: 430px;
    }
}


@media(max-width: 1366px) {

    /* START HOME PAGE DESTINATION */
    .wrap-list-accomodation .container-list-accomodation-image .hide-right {
        width: calc((100% - 640px) - (calc((100% - 640px) / 2)) + 2px);
        right: 0;
    }

    header .menu-header-with-mobile{
        width: 70%;
    }

    .page-ubud nav .listmenu-header{
        width: 75%;
        max-width: 75%;
    }

    .page-ubud header .container-menu-list ul li:last-child,
    nav .listmenu-header ul li:last-child{
        display: none;
    }

    .page-ubud header .menu-header-with-mobile{
        max-width: 860px;
    }
}

@media only screen and (max-width: 1366px) and (max-height: 768px) {

    .wrap-slide-popup .prev-next-popup,
    .wrap-slide-popup .dots-popup {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .wrap-slide-popup .popup-slider .inner .slick-slide img {
        width: 660px !important;
        height: 380px;
        margin-left: 50px;
        margin-right: 50px;
    }

    .wrap-slide-popup .popup-slider .inner .slick-active img {
        height: 450px;
    }
}

@media only screen and (max-width: 1366px) and (max-height: 700px) {
    .wrap-slide-popup .popup-slider .inner .slick-slide img {
        width: 580px !important;
        height: 300px;
        margin-left: 50px;
        margin-right: 50px;
    }

    .wrap-slide-popup .popup-slider .inner .slick-active img {
        height: 370px;
    }

    .wrap-slide-popup .prev-next-popup,
    .wrap-slide-popup .dots-popup {
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 1280px) and (max-height: 720px) {
    .wrap-slide-popup .prev-next-popup,
    .wrap-slide-popup .dots-popup {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .wrap-slide-popup .popup-slider .inner .slick-slide img {
        width: 620px !important;
        height: 350px;
        margin-left: 50px;
        margin-right: 50px;
    }

    .wrap-slide-popup .popup-slider .inner .slick-active img {
        height: 420px;
    }
}

@media(max-width: 1280px) {
    body {
        background-position: 470px center;
    }

    /* START HEADER PAGE */
    nav .listmenu-header {
        width: 75%;
        max-width: 75%;
    }
    
    /* START INDEX PAGE */
    .home-page .wrap-booking-form .text-label {
        width: 100%;
    }

    .home-page .wrap-booking-form .container-destination,
    .home-page .wrap-booking-form .container-dates,
    .home-page .wrap-booking-form .container-rooms,
    .home-page .wrap-booking-form .container-access-code {
        margin-top: 10px;
    }

    /* START HOMEPAGE DESTINATION */
    .inner a {
        width: 505px !important;
    }

    .container-button-nav-slide {
        width: calc(100% - 1010px);
    }

    /* START SPA BOOKING POPUP */
    .spa-booking-popup h2 {
        padding-bottom: 15px;
    }

    .spa-booking-popup-form-boking {
        padding-bottom: 20px;
    }

    .spa-booking-popup-content-form-boking {
        padding-bottom: 20px;
        padding-top: 20px;
    }

    /* START ACCOMMODATION BOOKING POPUP */
    .booking-popup .text-access-code {
        width: 45%;
    }

    .booking-popup input.text-type-code {
        width: 53%;
    }

    /* START FOOTER */
    footer .footer-foto {
        width: 470px;
    }

    footer .container-menu-footer {
        width: calc(100% - 470px)
    }

    /* START POPUP DINING */
    .popup-dining-list .container-menu-list-dining{
        width: 90%;
    }

    .spa .inner .container-image{
        height: 350px;
    }

    .wrap-press-gallery .gutter-sizer{
        width: 30px;
    }

    .wrap-press-gallery .box {
        height: 350px;
        width: calc((100%/3) - (60px/3));
    }
}

@media(max-width: 1220px) {
    header .container-menu-list ul li:last-child{
        display: none;
    }
}

@media(max-width: 1180px) {
    /* START NAVBAR */
    nav .container-button-book {
        width: 234px;
    }

    nav .listmenu-header {
        display: none;
    }

    nav.menu-header .hamburger-menu-header {
        display: block;
        position: relative;
        float: left;
        top: auto;
        right: auto;
        z-index: 0;
        width: 27%;
        margin-right: 0px !important;
        height: 100%;
    }

    nav .container-button-book .button-book-now {
        width: 73%;
    }

    nav.menu-header .element {
        height: 2px;
    }
}

@media(max-width: 1080px) {
    .wrap-press-gallery .gutter-sizer{
        width: 25px;
    }

    /* START WEDDING POPUP FORM */
    .container-booking-popup-wedding {
        width: 60%;
    }

    .container-booking-popup-wedding .container-form-wedding .left-form,
    .container-booking-popup-wedding .container-form-wedding .right-form {
        width: 100%;
        float: none;
    }

    .container-form-booking-popup .form-group.wedding-date {
        border-bottom: 1px solid rgb(223, 227, 235);
    }

    .container-booking-popup-wedding .container-form-wedding p.desc-dinner {
        width: 100%;
    }

    .container-form-booking-popup h2 {
        padding-bottom: 20px;
    }

    .container-booking-popup-wedding .container-form-wedding p.desc-dinner {
        margin-bottom: 20px;
    }

    .container-booking-popup-wedding .container-form-wedding .choose-reception-venue img {
        width: 115px;
        height: 115px;
    }

    .container-booking-popup-wedding .container-form-wedding .choose-special-request .list-special-request {
        width: 100%;
        float: none;
    }

    .container-booking-popup-wedding button {
        margin-top: 9px;
    }

    body {
        background-image: none;
    }

    /* START INDEX PAGE */
    .home-page .wrap-booking-form .button-book-now.mobile {
        display: block;
    }

    .home-page .wrap-booking-form .button-book-now.desktop {
        display: none;
    }

    .home-page .container-corporate {
        width: 50%;
    }

    .home-page .container-logo {
        display: none;
    }

    .home-page .container-corporate.seminyak .corporate-content,
    .home-page .container-corporate.seminyak .text-explore {
        left: 20%;
    }

    .home-page .container-corporate.ubud .corporate-content,
    .home-page .container-corporate.ubud .text-explore {
        right: 20%;
    }

    .home-page .wrap-booking-form .container-destination,
    .home-page .wrap-booking-form .container-dates,
    .home-page .wrap-booking-form .container-rooms,
    .home-page .wrap-booking-form .container-access-code {
        display: none;
    }

    .home-page .wrap-booking-form .button-book-now {
        float: right;
        background-color: rgb(58, 48, 40);
        width: 24.36%;
    }

    .home-page .wrap-booking-form {
        bottom: initial;
        top: 0;
        background-color: #f8f6ee;
    }

    .home-page .booking-popup .wrap-booking-form {
        background-color: transparent;
        height: 100%;
        display: flex;
        align-items: center;
    }

    .home-page .booking-popup .wrap-booking-form .container-choose-destination {
        width: 100%;
    }

    .home-page .wrap-booking-form .image-logo {
        display: block;
        width: 219px;
        height: auto;
        margin-top: 12px;
        margin-left: 2.04926%;
        float: left;
    }

    .home-page .wrap-corporate {
        margin-top: 60px;
    }

    .home-page .wrap-about-us .wrap-description-about {
        width: 100%;
        padding-left: 0px;
        float: none;
    }

    .home-page .wrap-about-us .container-description-about {
        float: none;
        margin: 0 auto;
    }

    .home-page .wrap-about-us .wrap-map {
        float: none;
        width: 100%;
    }

    .home-page .container-corporate.seminyak .line-title,
    .home-page .container-corporate.ubud .line-title {
        top: 55px;
    }

    .container-bottom-position {
        display: block;
        height: 30px;
        padding-top: 8px;
        padding-bottom: 8px;
        border-top-width: 1px;
        border-bottom-width: 1px;
        border-top-color: rgb(239, 239, 239);
        border-bottom-color: rgb(239, 239, 239);
        background-color: rgb(255, 255, 255);
        position: fixed;
        bottom: 0;
        width: 100%;
        z-index: 1;
    }

    .home-page .container-bottom-position .container-switch-lang-scroll ul li a {
        color: #575757;
    }

    .home-page .container-bottom-position .text-scroll-down {
        color: #575757;
        margin-right: 7.02654%;
    }

    /* START HEADER */
    header .menu-header-with-mobile {
        display: none;
    }

    header .image-logo-web {
        width: 240px;
        margin-left: 5.94184%;
    }

    header .hamburger-menu-header {
        display: block;
        top: 24px;
        left: initial;
        right: 4.58984375%;
    }

    .home-destination .container-title-hero .text-title-1 {
        font-size: 40px;
    }

    .home-destination .container-title-hero .text-sub-title {
        margin-left: 12.21427%;
        font-size: 10px;
    }

    header .line-title-hero-page {
        width: 40px;
    }

    header .text-title-page-1 {
        font-size: 30px;
    }

    header .wrap-list-product-link {
        width: 49.1333007812%;
        bottom: 100px;
    }

    .page-detail .title-detail-page-1 {
        font-size: 30px;
    }

    /* START HOME PAGE DESTINATION */
    .wrap-list-accomodation .container-desc-list-acco {
        height: 350px;
    }

    .wrap-about-destination {
        padding-top: 130px;
        padding-bottom: 130px;
    }

    .wrap-about-destination .text-description-about {
        padding-bottom: 51px;
        font-size: 14px;
    }

    .wrap-about-destination .container-about-destination {
        width: 80%;
    }

    .inner a {
        width: 410px !important;
    }

    .container-button-nav-slide {
        width: calc(100% - 820px);
    }

    .container-button-nav-slide .button-explore-more {
        padding: 30px;
    }

    .container-button-nav-slide .button-explore-more a {
        width: 100%;
    }

    .inner .list-item-description {
        padding: 30px 30px 50px;
    }

    .wrap-list-accomodation {
        height: auto;
        padding-top: 114px;
        padding-bottom: 114px;
    }

    .wrap-list-accomodation .container-list-accomodation-image {
        width: 55%;
    }

    .wrap-list-accomodation .container-list-accomodation-image .inner .item {
        width: 430px !important;
        height: 400px;
    }

    .wrap-list-accomodation .container-list-accomodation-image .hide-right {
        width: calc((100% - 430px) - (calc((100% - 430px) / 2)) + 2px);
    }

    .wrap-list-accomodation .text-description-accomodation-list {
        max-height: 130px;
        overflow: hidden;
        font-size: 14px;
    }

    .wrap-list-accomodation .wrap-desc-list-acco {
        width: 35%;
        left: 55%;
    }

    .wrap-list-accomodation .contaner-explore-accomodation-list {
        margin-top: 20px;
    }

    .wrap-about-destination .text-sub-title-about {
        font-size: 25px;
    }

    .wrap-list-accomodation .text-title-accomodation-list,
    .wrap-experience-list .text-experience {
        font-size: 20px;
    }

    .wrap-about-destination p,
    .inner .list-item-brief p,
    .wrap-experience-list .text-description-experience p {
        font-size: 14px;
    }

    .wrap-experience-list .wrap-experience-title,
    .wrap-experience-list .text-description-experience {
        margin-top: 115px;
    }

    .wrap-experience-list .container-list-experience {
        padding-top: 120px;
    }

    .wrap-experience-list .line-experience-title {
        margin-top: 15px;
        margin-left: 0;
    }

    .wrap-experience-list .container-list-experience ul li {
        height: 335px;
    }

    .container-slider-wedding {
        width: 51.1965142798%;
    }

    .container-title-wedding {
        padding-bottom: 40px;
    }

    .text-title-wedding {
        font-size: 20px;
    }

    .container-slider-wedding .inner .item,
    .container-slider-wedding {
        height: 400px;
    }

    .container-slider-wedding .prev-next {
        bottom: 20px;
        width: 48px;
        height: 26px;
    }

    .prev-next img {
        width: 20.8333333333%;
    }

    .text-brief-wedding {
        height: 200px;
    }

    .wrap-what-happening .text-what-happening,
    .wrap-what-happening .text-atsamaya-what-happening {
        font-size: 16px;
    }

    .wrap-what-happening {
        margin-top: 180px;
        margin-bottom: 180px;
    }

    .wrap-what-happening .wrap-instagram-feed {
        width: 67.6360828722%;
    }

    .inner .container-image,
    .overlay-slide-product {
        height: 300px;
    }

    .container-button-nav-slide .button-explore-more a {
        font-size: 14px;
    }

    .wrap-list-accomodation .wrap-desc-list-acco .prev-next-dest {
        width: 40px;
    }

    .wrap-list-accomodation .wrap-desc-list-acco .prev-next-dest img {
        height: 20px;
    }

    .wrap-what-happening .container-title-what-happening {
        margin-top: 80px;
    }

    body.home-destination .wrap-content-offers-page {
        padding-top: 0px;
        padding-bottom: 40px;
    }

    .wrap-trip-advisor .con-advisor-list-testimoni {
        width: 64%;
    }

    .wrap-trip-advisor .con-advisor-title .title-reviews .line-element {
        width: 76px;
        left: 104.347826%;
    }

    .wrap-trip-advisor .con-advisor-list-testimoni .item .title-des-reviews h3 {
        font-size: 18px;
    }

    .wrap-trip-advisor .con-advisor-list-testimoni .item .title-des-reviews p,
    .wrap-trip-advisor .con-advisor-list-testimoni .item .reviewer h4 {
        font-size: 14px;
    }

    /* START PAGE LIST */
    .section-nav {
        left: 20px;
    }

    .wrap-content-page .title-content-page {
        width: 100%;
        font-size: 20px;
    }

    .wrap-content-page .description-page {
        width: 39.2578125%;
        margin-left: 8.1512499999%;
        font-size: 14px;
    }

    .wrap-content-page .line-title-des {
        display: none;
    }

    .wrap-list-product {
        width: 85%;
        padding-bottom: 150px;
    }

    .wrap-list-product .element {
        display: none;
    }

    .wrap-list-product .container-list-desc-product {
        width: 36.3818310858%;
        margin-left: 5.01597%;
    }

    .wrap-list-product .container-slide-product,
    .wrap-list-product .container-slide-product .inner .item,
    .wrap-list-product .container-list-desc-product {
        height: 450px;
    }

    .wrap-list-product .container-slide-product .prev-next {
        bottom: 25px;
    }

    .wrap-list-product .container-list-title-product {
        padding-bottom: 30px;
    }

    .wrap-list-product .container-detail-acco .text-label {
        width: 100%;
    }

    .wrap-list-product .text-brief-list-product {
        padding-top: 5px;
        padding-bottom: 30px;
    }

    /* START PAGE ACCOMMODATION DETAIL */
    .wrap-form-booking-hero .container-form-booking-hero {
        display: none;
    }

    .wrap-form-booking-hero .container-button-book-now {
        float: right;
    }

    .wrap-slide-hero .button-slider-hero .zoom-slider {
        width: 30px;
        background-size: 21px;
    }

    .wrap-slide-hero .arrow-next-prev {
        width: 40%;
        margin-left: 20.14931%;
    }

    .wrap-slide-hero .arrow-next-prev img {
        height: 21px;
    }

    .wrap-desc-detail-page {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .wrap-desc-detail-page .container-desc-detail .container-details-features .container-details,
    .wrap-desc-detail-page .container-desc-detail .container-details-features .container-features {
        width: 100%;
        float: none;
    }

    .wrap-desc-detail-page .container-desc-detail .container-details-features h2 {
        font-size: 18px;
        margin-bottom: 30px;
    }

    .wrap-desc-detail-page .container-desc-detail .container-details-features .container-details {
        margin-bottom: 60px;
    }

    .page-detail .wrap-booking-acco-form {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .page-detail .wrap-booking-acco-form .container-booking-acco-form {
        width: 80%;
    }

    .page-detail .wrap-booking-acco-form .container-booking-acco-form h2 {
        padding-bottom: 10px;
        font-size: 18px;
    }

    .page-detail .inner .container-image,
    .page-detail .overlay-slide-product {
        height: 300px;
    }

    .page-detail .inner .list-item-brief {
        max-height: 150px;
    }

    .wrap-desc-detail-page .container-detail-acco .text-label {
        font-size: 10px;
    }

    .wrap-desc-detail-page .container-detail-acco .text-value {
        font-size: 11px;
    }

    .page-detail .wrap-other-accommodation h2 {
        padding-bottom: 40px;
    }

    /* START FOOTER */
    footer .footer-foto {
        display: none;
    }

    footer .container-menu-footer {
        width: 100%;
    }

    /* START OFFERS PAGE */
    body.page .wrap-content-offers-page {
        padding-top: 170px;
        padding-bottom: 120px;
    }

    body.page .text-title-offers {
        width: 100%;
        padding-bottom: 20px;
        font-size: 20px;
    }

    body.page .wrap-content-offers-page .element-offers-1 {
        display: none;
    }

    body.page .text-desc-offers {
        font-size: 14px;
    }

    .wrap-offers-list .container-offers .bg-item,
    .wrap-offers-list .container-offers img.list-prod {
        height: 230px;
    }

    .wrap-offers-list .container-offers .content-description-item {
        padding: 30px;
    }

    .wrap-offers-list .container-offers .content-description-item h2 {
        height: 69px;
        font-size: 16px;
    }

    .wrap-offers-list .container-offers .container-list-item {
        margin-bottom: 45px;
    }

    body.page .wrap-content-offers-page {
        padding-top: 150px;
        padding-bottom: 90px;
    }

    /* START OFFERS DETAIL PAGE */
    .special-offers-detail .wrap-desc-detail-page .container-price,
    .special-offers-detail .wrap-desc-detail-page .container-valid-date {
        float: none;
        width: 100%;
    }

    .special-offers-detail .wrap-desc-detail-page .container-price {
        padding-bottom: 20px;
    }

    .special-offers-detail .wrap-desc-detail-page .container-desc-detail h4 {
        font-size: 10px;
        margin-bottom: 12px;
    }

    .special-offers-detail .wrap-desc-detail-page .container-desc-detail p {
        font-size: 14px;
    }

    .wrap-desc-detail-page .container-desc-detail .description-value {
        margin-top: 40px;
        margin-bottom: 80px;
    }

    .page-detail .wrap-desc-detail-page .additional-list {
        margin-bottom: 100px;
    }

    .page-detail .wrap-desc-detail-page .additional-list h3,
    .page-detail .wrap-desc-detail-page .terms-conditions h3 {
        font-size: 18px;
    }

    .page-detail .wrap-other-accommodation h2 {
        width: 54.3749999999%;
        margin-left: 30.41667%;
    }

    /* START DINING DETAIl */
    .dining-detail .container-open-dresscode {
        padding-bottom: 0px;
    }

    .dining-detail .container-open-dresscode .dining-open,
    .dining-detail .container-open-dresscode .dining-dresscode {
        width: 100%;
        float: none;
    }

    .dining-detail .container-open-dresscode .dining-dresscode {
        margin-top: 30px;
    }

    .dining-detail .container-open-dresscode h4 {
        font-size: 10px;
        padding-bottom: 10px;
    }

    .dining-detail .container-open-dresscode p {
        font-size: 11px;
    }

    .dining-detail .wrap-desc-detail-page .container-desc-detail .description-value,
    .dining-detail .container-text-other-menu,
    .dining-detail .wrap-menu-list-dining {
        width: 80%;
    }

    .dining-detail .wrap-menu-dining .wrap-list-menu .container-list-menu .list-item-menu {
        width: 100%;
        float: none;
    }

    .dining-detail .wrap-menu-dining .container-category-menu ul li {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .dining-detail .wrap-reservation-dining .container-reservation-dining .left h3 {
        font-size: 18px;
    }

    /* START SPA DETAIL */
    .spa-detail .wrap-list-treatment .list-category-treatment .list-treatment p {
        font-size: 14px;
    }

    .spa-detail .wrap-list-treatment .list-category-treatment .desc-cat {
        font-size: 14px;
    }

    .wrap-reservation {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .dining-detail .wrap-reservation-dining {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    /* START SPA BOOKING POPUP */
    .spa-booking-popup {
        overflow: scroll;
    }

    .spa-booking-popup .selectize-control {
        width: 85%;
    }

    .spa-booking-popup .spa-booking-popup-container-form-boking {
        width: 70%;
        margin-top: 105px;
    }

    .spa-booking-popup-form-reservation,
    .spa-booking-popup-container-close9 {
        float: none;
        width: 100%;
        margin-left: 0;
    }

    .spa-booking-popup-container-close9 {
        margin-top: 40px;
    }

    .spa-booking-popup label.label-no-of-person {
        width: 20%;
    }

    .spa-booking-popup input.no-of-person,
    .spa-booking-popup input.text-nationality {
        width: 80%;
    }

    .spa-booking-popup-container-price {
        width: 40%;
    }

    .button-submit-spa-booking {
        width: 28%;
    }

    .spa-booking-popup-text-all-treatment {
        width: 65%;
        padding-top: 0px;
    }

    /* START ACCOMMODATION BOOKING POPUP */
    .booking-popup .container-arrival-departure,
    .booking-popup .container-adul-child {
        width: 48%;
    }

    .booking-popup .text-access-code {
        width: 55%;
    }

    .booking-popup input.text-type-code {
        width: 45%;
    }

    .booking-popup .container-adul-child {
        margin-left: 0;
        float: right;
    }

    .booking-popup .container-booking-form {
        width: 80%;
    }

    .booking-popup ._button-check-availability {
        width: 28%;
        height: 50px;
    }

    .booking-popup .text-book-at-samaya {
        width: 370px;
        margin-top: 6px;
        font-size: 18px;
    }

    .booking-popup .container-switch-lang-booking {
        margin-top: 35px;
    }

    .booking-popup .close-popup {
        top: 55px;
    }

    /* START NEWS DETAIL PAGE */
    .news-detail .wrap-desc-detail-page .container-desc-detail-news h2 {
        font-size: 18px;
    }

    .news-detail .wrap-desc-detail-page .container-desc-detail-news h3,
    .news-detail .wrap-desc-detail-page .container-desc-detail-news p {
        font-size: 14px;
    }

    .news-detail .wrap-desc-detail-page {
        padding-bottom: 0px;
        padding-top: 100px;
    }

    /* START PAGE ABOUT */
    .contact-us .wrap-content-contact-us .container-contact-us h1 {
        font-size: 20px;
        margin-bottom: 40px;
    }

    /* START ACCOLADES PAGE */
    .wrap-accolades-list {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    /* START DINING PAGE */
    .wrap-booking-popup-dining .container-booking-popup-dining {
        width: 60%;
    }

    .wrap-booking-popup-dining .container-booking-popup-dining .left .container-reservation-text h3 {
        font-size: 18px;
    }

    /* START LOCATION PAGE */
    .locations .wrap-locations-page .container-maps {
        width: 60%;
    }

    .locations .wrap-locations-page .wrap-choose-locations {
        width: 40%;
    }

    .wrap-press-gallery .box{
        height: 300px;
    }
    body.page .wrap-content-offers-page .container{
        width: 20%;
    }
    body.page .wrap-content-offers-page .filter-gallery{
        width: 58%;
    }
}

@media(max-width: 800px) {
    .wrap-press-gallery .gutter-sizer {
        width: 25px;
    }
    
    .wrap-press-gallery .box {
        width: calc(50% - 12.5px);
    }

    .home-destination .image-scroll-down-hero {
        display: none;
    }

    /* START HEADER */
    header .wrap-title-hero {
        padding-left: 13%;
    }

    header .wrap-title-hero {
        width: 60%;
    }

    .home-destination .container-title-hero {
        width: 100%;
        left: 0;
    }

    .home-destination .container-title-hero .text-title-1 {
        font-size: 35px;
    }

    .wrap-form-booking-hero .container-button-book-now,
    .wrap-form-booking-hero {
        height: 70px;
    }

    .wrap-form-booking-hero .container-form-booking-hero {
        display: none;
    }

    .wrap-form-booking-hero .container-button-book-now {
        float: right;
    }

    header .wrap-list-product-link {
        display: none;
    }

    .page header .wrap-title-hero {
        left: 0;
        right: 0;
        text-align: left;
    }

    .page header .container-title-page {
        left: 20.17361%;
        right: auto;
        width: 330px;
    }

    header .text-subtitle-page,
    header .text-title-page-1 {
        float: left;
        text-align: left;
    }

    .page header .line-title-hero-page {
        display: none;
    }

    header .wrap-title-hero {
        padding-left: 0px;
    }

    header .text-title-page-1 {
        font-size: 25px;
    }

    .page header .container-title-page {
        left: 50px;
    }

    header .image-logo-web {
        width: 215px;
    }

    .page-detail .image-scroll-down-hero {
        display: none;
    }

    .wrap-form-booking-hero {
        width: 300px;
    }

    .wrap-form-booking-hero .container-button-book-now {
        width: 70%;
    }

    .wrap-slide-hero .button-slider-hero {
        display: none;
    }

    header .hamburger-menu-header {
        right: 3.7565104166%;
    }

    /* START HOME PAGE DESTINATION */
    .wrap-list-accomodation .container-desc-list-acco {
        height: auto;
    }

    .wrap-about-destination {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .wrap-about-destination .container-about-title,
    .wrap-about-destination .container-about-description {
        width: 100%;
        float: none;
    }

    .wrap-about-destination .container-about-description {
        margin-top: 30px;
    }

    .wrap-experience-list .wrap-experience-title {
        float: none;
        margin-top: 0px;
        margin-left: 16.80556%;
        width: 50%;
    }

    .wrap-experience-list .text-description-experience {
        position: relative;
        clear: both;
        width: 66.3888888888%;
        margin-top: 0;
        margin-left: 16.80556%;
        padding-top: 30px;
        float: none;
    }

    .wrap-experience-list .container-list-experience {
        padding-top: 60px;
        width: 80%;
    }

    .wrap-experience-list .container-list-experience ul li {
        width: 100%;
        float: none;
        margin-left: 0px;
        margin-bottom: 40px;
        height: 400px;
    }

    .wrap-experience-list .container-list-experience ul li:last-child {
        margin-bottom: 0px;
    }

    .container-slider-wedding,
    .wrap-wedding-at-samaya {
        width: 100%;
        float: none;
        display: block;
    }

    .wrap-wedding-at-samaya {
        padding-top: 120px;
    }

    .container-description-wedding {
        width: 80%;
        clear: both;
        float: none;
        margin: 0 auto;
        padding-top: 53px;
    }

    .wrap-wedding-at-samaya {
        padding-bottom: 40px;
    }

    .wrap-what-happening {
        width: 100%;
        margin-top: 0;
        margin-left: 0;
        margin-bottom: 0px;
        padding-bottom: 60px;
        background-color: #f7f8fa;
    }

    .wrap-what-happening .container-what-happening,
    .wrap-what-happening .wrap-instagram-feed {
        width: 100%;
        float: none;
    }

    .wrap-what-happening .container-title-what-happening {
        margin-top: 50px;
        text-align: center;
    }

    .wrap-what-happening .text-what-happening,
    .wrap-what-happening .text-atsamaya-what-happening,
    .wrap-what-happening .text-stay-connected {
        width: auto;
        float: none;
        margin: 0 auto;
        text-align: center;
    }

    .wrap-what-happening .container-list-social-media {
        float: none;
        margin: 0 auto;
    }

    .wrap-what-happening .container-title-what-happening {
        padding-bottom: 20px;
    }

    .wrap-what-happening .container-social-media {
        margin-top: 0px;
        margin-bottom: 40px;
    }

    .inner a {
        width: 100% !important;
    }

    .wrap-about-destination .text-title-about {
        width: 100%;
    }

    .wrap-list-accomodation .container-list-accomodation-image .inner .item {
        width: 320px !important;
    }

    .wrap-list-accomodation .container-list-accomodation-image .hide-right {
        width: calc((100% - 320px) - (calc((100% - 320px) / 2)) + 2px);
    }

    .inner a {
        width: 100% !important;
        float: none;
    }

    .container-button-nav-slide {
        display: none;
    }

    .inner .list-item-description {
        padding-left: 80px;
        padding-right: 80px;
    }

    .container-button-nav-slide .button-explore-more {
        padding: 30px 15px;
    }

    .prev-next {
        right: 50px;
    }

    .wrap-list-accomodation .container-list-accomodation-image .inner .item {
        width: 440px !important;
        height: 320px;
    }

    .wrap-list-accomodation .container-list-accomodation-image .hide-right {
        display: none;
    }

    .wrap-list-accomodation {
        display: block;
    }

    .container-button-nav-slide {
        display: none;
    }

    .wrap-list-promotion .inner::after {
        clear: both;
    }

    .wrap-list-accomodation .container-list-accomodation-image,
    .wrap-list-accomodation .container-list-accomodation-image-mobile {
        width: 100%;
        float: none;
    }

    .wrap-list-accomodation .wrap-desc-list-acco {
        width: 100%;
        position: relative;
        left: auto;
        right: auto;
        float: none;
    }

    .wrap-list-accomodation {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .wrap-list-accomodation .wrap-desc-list-acco {
        width: 80%;
        margin: 0 auto;
        padding-top: 40px;
    }

    .wrap-list-accomodation .contaner-explore-accomodation-list {
        margin-top: 0px;
    }

    .wrap-list-accomodation .container-desc-list-acco {
        padding-bottom: 75px;
    }

    .wrap-list-accomodation .wrap-desc-list-acco .prev-next-dest {
        width: 60px;
    }

    .wrap-list-accomodation .wrap-desc-list-acco .prev-next-dest img {
        height: 30px;
    }

    body.home-destination .wrap-content-offers-page {
        padding-top: 80px;
    }

    body.home-destination .wrap-content-offers-page .container {
        float: none;
        margin-left: 16.80556%;
        width: 50%;
    }

    body.home-destination .text-title-offers {
        width: 100%;
        font-size: 20px;
    }

    body.home-destination .wrap-content-offers-page .element-offers-1 {
        display: none;
    }

    body.home-destination .text-desc-offers {
        position: relative;
        clear: both;
        width: 66.3888888888%;
        margin-top: 0;
        margin-left: 16.80556%;
        padding-top: 30px;
        float: none;
    }

    .wrap-what-happening .container-title-what-happening h1 span {
        margin-left: 0px;
    }

    .text-brief-wedding {
        height: auto;
    }

    .wrap-experience-list {
        padding-top: 120px;
    }

    .wrap-trip-advisor .con-advisor-list-testimoni {
        width: 100%;
        float: none;
        clear: both;
    }

    .wrap-trip-advisor {
        padding-top: 80px;
    }

    .wrap-trip-advisor .con-advisor-title {
        padding-top: 0px;
        width: 80%;
        float: none;
        margin: 0 auto 20px;
    }

    .wrap-trip-advisor .con-advisor-title .title-reviews .line-element {
        display: none;
    }

    .wrap-trip-advisor .con-advisor-title .con-rating-choice {
        margin-top: 30px;
    }

    .wrap-trip-advisor .con-advisor-title .title-reviews h2 span {
        margin-left: 0px;
    }

    .wrap-trip-advisor .con-advisor-list-testimoni {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .wrap-trip-advisor .con-advisor-list-testimoni .prev-next {
        bottom: 75px;
        right: 57px;
        width: 43px;
    }

    /* START PAGE LIST */
    .section-nav {
        display: none !important;
    }

    .wrap-content-page {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .wrap-content-page .container-title-page,
    .wrap-content-page .description-page {
        width: 70%;
        margin: 0 auto;
        float: none;
    }

    .wrap-content-page .line-title-page {
        margin-top: 20px;
    }

    .wrap-content-page .description-page {
        padding-top: 30px;
    }

    .wrap-list-product,
    .wrap-list-product .container-slide-product {
        width: 100%;
        float: none;
        box-shadow: none;
    }

    .wrap-list-product {
        padding-bottom: 50px;
    }

    .wrap-list-product .container-list-desc-product {
        position: relative;
        width: 100%;
        float: none;
        margin-left: 0px;
        padding-top: 40px;
        padding-right: 60px;
        padding-left: 60px;
        display: block;
        height: auto;
    }

    .wrap-list-product .container-detail-acco .text-label {
        width: 50%;
    }

    .wrap-list-product .container-slide-product .prev-next {
        left: auto;
        right: 4%;
        width: 65px;
        height: 26px;
    }

    .wrap-content-list-product .wrap-list-product:nth-child(even) .container-slide-product {
        float: none;
    }

    .wrap-list-product .container-slide-product,
    .wrap-list-product .container-slide-product .inner .item {
        height: 400px;
    }


    /* START PAGE ACCOMMODATION DETAIL */
    .wrap-desc-detail-page .container-desc-detail,
    .page-detail .wrap-booking-acco-form .container-booking-acco-form,
    .page-detail .wrap-other-accommodation h2 {
        width: 67%;
        margin: 0 auto;
    }

    .wrap-desc-detail-page .container-desc-detail .description-value {
        width: 100%;
        padding-bottom: 0px;
    }

    .wrap-desc-detail-page .container-desc-detail .container-details-features h2 {
        margin-bottom: 20px;
    }

    .wrap-desc-detail-page .container-desc-detail .container-details-features .container-details {
        margin-bottom: 40px;
    }

    .page-detail .wrap-booking-acco-form .container-booking-acco-form .container-form-input {
        padding-top: 25px;
    }

    .page-detail .wrap-booking-acco-form .container-booking-acco-form h2 {
        padding-bottom: 0px;
    }

    .page-detail .wrap-booking-acco-form .container-booking-acco-form .form-left,
    .page-detail .wrap-booking-acco-form .container-booking-acco-form .form-right {
        width: 100%;
        float: none;
    }

    .page-detail .wrap-booking-acco-form .container-booking-acco-form .check-availability {
        width: 40%;
        height: 50px;
    }

    .page-detail .wrap-booking-acco-form .container-booking-acco-form {
        height: auto;
    }

    .page-detail .wrap-booking-acco-form .container-booking-acco-form .access-code label {
        width: 40%;
    }

    .page-detail .wrap-booking-acco-form .container-booking-acco-form .access-code input {
        float: left;
    }


    /* START FOOTER */
    footer .container-menu-footer-top,
    footer .container-footer-subscribe,
    footer .container-footer-visit,
    footer .container-footer-copyright {
        width: 80%;
        margin: 0 auto;
        margin-top: 80px;
        float: none;
    }

    footer .container-footer-copyright {
        position: relative;
    }

    footer .footer-text-copyright-poliy {
        float: left;
        display: none;
    }

    footer .footer-text-copyright-poliy.policy-1 {
        display: block;
    }

    footer .footer-text-copyright {
        float: left;
    }

    footer .container-footer-subscribe,
    footer .container-footer-visit {
        margin-top: 0px;
    }

    footer ._input {
        width: 100%;
        margin-bottom: 1px;
    }

    footer .container .footer_input-subscibe-email {
        margin-left: 0px;
    }

    footer ._button-send-footer {
        margin-left: 0px;
    }

    footer ._button-send-footer {
        width: 100%;
        margin-top: 19px;
    }

    footer .container-footer-visit-left,
    footer .container-footer-visit-right {
        float: none;
        width: 100%
    }

    footer .container-footer-visit-left {
        padding-bottom: 60px;
        width: 100%;
    }

    .container .container-footer-copyright {
        margin-top: 40px;
    }

    footer .container-footer-contact-us,
    footer .container-footer-explore {
        width: 100%;
        float: none;
        margin-left: 0;
    }

    footer .container-footer-explore {
        margin-top: 80px;
    }

    /* START OFFERS PAGE */
    body.page .wrap-content-offers-page .container {
        width: 60.5555555555%;
        margin-left: 16.80556%;
    }

    body.press-gallery.page .wrap-content-offers-page .container{
        width: 100%;
        margin-left: 0px;
        padding-left: 6%;
        padding-right: 6%;
        float: none;;
    }

    body.page.press-gallery .wrap-content-offers-page{
        padding-bottom: 50px;
    }

    body.page .wrap-content-offers-page .filter-gallery{
        padding-right: 6%;
        padding-left: 6%;
        margin-right: 0px;
        width: 100%;
        float: none;
    }

    body.page .text-desc-offers {
        clear: both;
        width: 66.3888888888%;
        margin-left: 16.80556%;
        padding-top: 30px;
    }

    body.page .wrap-content-offers-page .element-offers-2 {
        display: block;
    }

    .wrap-offers-list .container-offers {
        width: 80%;
    }

    .wrap-offers-list .container-offers .container-list-item {
        width: 100%;
        float: none;
    }

    .wrap-offers-list .container-offers .bg-item,
    .wrap-offers-list .container-offers img.list-prod {
        height: 300px;
    }

    .wrap-offers-list .container-offers .container-list-item:nth-last-child(1),
    .wrap-offers-list .container-offers .container-list-item:nth-last-child(2) {
        margin-bottom: 45px;
    }

    .wrap-offers-list {
        padding-bottom: 50px;
    }

    /* START MENU POPUP */
    .menu-popup .container-menu-list-popup {
        width: 80%;
        height: 450px;
        margin: auto;
    }

    .menu-popup .container-menu-list-popup ul li {
        width: 100%;
        float: none;
        font-size: 12px;
        padding-bottom: 0px;
    }

    .menu-popup .container-menu-list-popup ul li a {
        padding: 15px 0;
        display: block;
    }

    .menu-popup .container-switch-lang-menu {
        margin-left: 10%;
    }

    .menu-popup .close-popup {
        right: 10%;
    }

    .menu-popup .container-menu-visit-popup {
        right: auto;
        left: 10%;
    }

    /* START DINING DETAIL PAGE */
    .dining-detail .wrap-desc-detail-page .container-desc-detail .description-value,
    .dining-detail .container-text-other-menu,
    .dining-detail .wrap-menu-list-dining {
        width: 100%;
    }

    .dining-detail .wrap-menu-dining .container-category-menu {
        float: none;
        width: 100%;
        padding-right: 60px;
    }

    .dining-detail .wrap-menu-dining .container-category-menu ul {
        width: 100%;
    }

    .dining-detail .wrap-menu-dining .wrap-list-menu {
        float: none;
        width: 100%;
        padding-left: 60px;
        padding-right: 60px;
        padding-top: 0px;
    }

    .dining-detail .wrap-menu-dining .container-category-menu {
        padding-bottom: 0px;
    }

    .dining-detail .wrap-menu-dining .wrap-cat-list-menu {
        padding-top: 40px;
    }

    .dining-detail .wrap-form-booking-hero .container-button-book-now-link,
    .dining .wrap-form-booking-hero .container-button-book-now-link{
        width: 75%;
        height: 70px;
    }

    /* START SPA DETAIL PAGE */
    .spa-detail .wrap-desc-detail-page .wrap-container-detail-spa {
        width: 80%;
    }

    .spa-detail .wrap-desc-detail-page .container-detail-spa {
        width: 100%;
    }

    .spa-detail .wrap-other-accommodation h2 {
        width: 80%;
    }

    .wrap-reservation .container-reservation {
        margin-left: 100px;
    }

    /* START SPA BOOKING POPUP */
    .spa-booking-popup .spa-booking-popup-container-form-boking {
        width: 80%;
        margin-top: 40px;
    }

    .spa-booking-popup .close-popup {
        top: 30px;
        right: 5%;
        margin-right: auto;
        margin-left: auto;
    }

    /* START NEWS DETAIL PAGE */
    .news-detail .wrap-desc-detail-page .container-desc-detail-news,
    .news-detail .wrap-desc-detail-page .container-comment {
        width: 67%;
    }

    .news-detail .wrap-desc-detail-page {
        padding-bottom: 0px;
    }

    /* START ACCOLADES PAGE */
    .wrap-accolades-list {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .wrap-accolades-list .container-accolades-list .list-item {
        width: calc((100% / 2) - 30px);
    }

    .wrap-accolades-list .container-accolades-list {
        width: 80%;
    }

    /* START LOCATION PAGE */
    .locations .wrap-locations-page {
        height: auto;
    }

    .locations .wrap-locations-page .container-maps .choose-locations-tablet {
        display: block;
    }

    .locations .wrap-locations-page .wrap-choose-locations .container-desc-location {
        display: none;
    }

    .locations .wrap-locations-page .container-maps {
        width: 85%;
    }

    .locations .wrap-locations-page .wrap-choose-locations {
        width: 20%;
        position: relative;
    }

    .locations .wrap-locations-page .container-cat-locations {
        width: 100%;
        position: relative;
        right: 0;
    }

    .locations .wrap-locations-page .container-maps #map {
        height: calc(100vh / 2) !important;
    }

    .locations .wrap-locations-page .container-desc-location {
        width: 100%;
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .locations .wrap-locations-page .container-maps {
        height: auto;
    }

    /* START CONTACT PAGE */
    .contact-us .wrap-content-contact-us .container-contact-us .contact-information,
    .contact-us .wrap-content-contact-us .container-contact-us .contact-form {
        width: 100%;
        float: none;
    }

    .contact-us .wrap-content-contact-us .container-contact-us .contact-form {
        margin-top: 0px;
    }

    .contact-us .wrap-content-contact-us .container-contact-us .contact-information {
        margin-top: 60px;
    }

    .contact-us .wrap-content-contact-us .container-contact-us .contact-form input,
    .contact-us .wrap-content-contact-us .container-contact-us .contact-form p {
        padding-left: 0px;
        padding-right: 0px;
    }

    .contact-us .wrap-content-contact-us .container-contact-us .contact-form button {
        margin-top: 25px;
        margin-left: 0px;
    }

    /* START POPUP DINING LIST */
    .popup-dining-list .container-menu-list-dining{
        margin-top: 70px;
    }
    .popup-dining-list .container-menu-list-dining .wrap-list-dining{
        padding: 30px 50px;
    }
    .popup-dining-list .container-menu-list-dining .category-dining-list ul li{
        width: calc(100% / 2);
    }
    .popup-dining-list .container-menu-list-dining .category-dining-list ul li:nth-child(even) span{
        border-right: none;
    }

    .spa .inner .container-image{
        height: 300px;
    }
}

@media(max-width: 600px) {
    body.press-gallery.page .wrap-content-offers-page .container{
        float: none;
        width: 90%;
        margin: 0 auto;
        padding: 0;
    }
    body.page .wrap-content-offers-page .filter-gallery{
        clear: both;
        float: none;
        width: 90%;
        padding: 0;
        margin: 20px auto 0;
    }

    .wrap-press-gallery .box{
        border: none;
    }

    body.page .wrap-content-offers-page .filter-gallery .con-filter-gallery-category span{
        display: block;
    }

    body.page .wrap-content-offers-page .filter-gallery .select-option{
       position: absolute;
        top: 41px;
        background-color: #b9875d;
        display: none; 
    }

    body.page .wrap-content-offers-page .filter-gallery .select-option ul li{
        color: #FFF;
        display: block;
    }

    .wrap-press-gallery .box{
        width: 100%;
        height: 300px!important;
    }
    .wrap-desc-detail-page table{
        font-size: 14px;
    }
    .wrap-landing-popup .inner{ margin-top:60px; height:auto; padding:50px 30px 30px; }

    .wrap-slide-hero{
        height: calc(100vh - 55px);
    }
    /* START HEADER */
    header.wrap-hero {
        background-position: 0% 0%, center center;
        background-attachment: scroll, scroll;
    }

    .page header .container-title-page {
        left: 0px;
    }

    nav.menu-header .image {
        width: 170px;
        margin-top: 11px;
        margin-left: 5.10368%;
    }

    nav.menu-header,
    nav .container-button-book {
        height: 50px !important;
    }

    nav .container-button-book {
        width: 126px;
    }

    nav .container-button-book .button-book-now {
        width: 72px;
    }

    nav .container-button-book .button-book-now .text-best-rate {
        display: none;
    }

    nav .container-button-book .button-book-now .text-button-booknow {
        margin-top: 11px;
        font-size: 14px;
        line-height: 1.2;
        letter-spacing: 1px;
    }

    nav.menu-header .hamburger-menu-header .top {
        margin-top: 19px;
    }

    nav.menu-header .hamburger-menu-header {
        width: 42%;
        left: auto;
    }

    .home-destination .container-title-hero .text-title-1 {
        font-size: 28px;
    }

    .home-destination .container-title-hero .text-title-1 span {
        margin-left: 40px;
    }

    .page-detail .title-detail-page-1 {
        font-size: 25px;
    }

    .image-arrow-down-hero {
        bottom: 30px;
        left: 5.9993489583%;
    }

    header .hamburger-menu-header {
        top: 8px;
    }

    header .image-logo-web {
        margin-top: 25px;
        margin-left: 3.99933%;
    }

    header .wrap-title-hero {
        width: 80%;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
    }

    header.wrap-hero {
        height: calc(100vh - 55px);
    }

    .wrap-form-booking-hero {
        width: 180px;
    }

    .wrap-form-booking-hero .container-button-book-now {
        width: 100%;
    }

    .news-detail header .detail-download-item {
        display: none;
    }

    .wrap-form-booking-hero .text-best-rate {
        margin: 0 auto 0;
    }

    .wrap-form-booking-hero .text-book-now {
        padding-bottom: 0px;
    }

    /* START INDEX PAGE */
    .home-page .container-corporate .desc-destination {
        display: none;
    }

    .home-page .container-corporate.seminyak .text-destination {
        float: none;
        margin-left: 0px;
    }

    .home-page .container-corporate {
        width: 100%;
        height: calc((100vh / 2) - 45px - 27.5px);
        position: relative;
        text-align: center;
    }

    .home-page .wrap-booking-form .button-book-now {
        font-size: 16px;
    }

    .home-page .container-corporate.ubud .container-title,
    .home-page .container-corporate.ubud .text-destination {
        float: none;
        margin: 0 auto;
    }

    .home-page .container-corporate.ubud .corporate-content {
        position: relative;
        right: initial;
    }

    .home-page .container-corporate.ubud .desc-destination {
        display: none;
    }

    .home-page .container-corporate.ubud .text-explore,
    .home-page .container-corporate.seminyak .text-explore {
        right: 0;
        left: 0;
        margin: 0 auto;
        width: 115px;
        text-align: center;
        padding-right: 0px;
    }

    .home-page .wrap-about-us .container-description-about {
        width: 80%;
    }

    .home-page .container-corporate .text-title {
        float: none;
        padding-bottom: 0px;
        line-height: 1.1em;
    }

    .home-page .container-corporate.seminyak .corporate-content {
        left: 0;
        right: 0;
        margin: 0 auto;
    }

    .home-page .container-corporate.seminyak .container-title {
        margin: 0 auto;
    }

    .home-page .container-corporate.seminyak .line-title,
    .home-page .container-corporate.ubud .line-title {
        position: relative;
        top: 0;
        width: 20px;
        margin: 0 auto;
        right: 0;
        left: 0;
        margin-top: 5px;
    }

    .home-page .wrap-about-us .title-about-us {
        font-size: 24px;
    }

    /* START HOME PAGE DESTINATION */
    .wrap-list-accomodation .container-list-accomodation-image .inner .item,
    .wrap-list-accomodation .container-list-accomodation-image-mobile .inner .item {
        width: 100% !important;
        height: 240px;
    }

    .wrap-list-accomodation .container-list-accomodation-image-mobile .inner .item {
        height: auto;
    }

    .wrap-list-accomodation .container-list-accomodation-image-mobile .inner .slick-current .item img {
        height: 240px;
    }

    .wrap-experience-list .wrap-experience-title {
        width: 80%;
    }

    .wrap-experience-list .container-list-experience ul li {
        height: 250px;
    }

    .container-slider-wedding .inner .item,
    .container-slider-wedding {
        height: 300px;
    }

    .wrap-list-accomodation .wrap-desc-list-acco .prev-next-dest {
        width: 35px;
    }

    .wrap-list-accomodation .wrap-desc-list-acco .prev-next-dest img {
        height: 15px;
    }

    .wrap-list-accomodation .text-description-accomodation-list {
        padding-top: 30px;
        max-height: 100%;
    }

    .wrap-list-accomodation .container-list-accomodation-image,
    .wrap-list-accomodation .wrap-desc-list-acco.desktop {
        display: none;
    }

    .wrap-list-accomodation .container-list-accomodation-image-mobile {
        display: block;
    }

    /* START PAGE LIST PAGE */
    .wrap-list-product .container-slide-product,
    .wrap-list-product .container-slide-product .inner .item {
        height: 300px;
    }

    .wrap-list-product .text-title-list-product {
        font-size: 16px;
    }

    .wrap-list-product .container-list-desc-product {
        padding-left: 40px;
        padding-right: 40px;
    }

    .wrap-content-page {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .wrap-list-product .container-detail-acco .text-label {
        width: 40%;
    }

    .wrap-list-product .container-detail-acco .text-value {
        width: 50%;
    }

    /* START PAGE DETAIL ACCOMMODATION */
    .page-detail .wrap-booking-acco-form .container-booking-acco-form .check-availability {
        width: 100%;
    }

    .wrap-desc-detail-page .container-desc-detail .description-value,
    .wrap-desc-detail-page .container-desc-detail .container-details-features .container-details {
        margin-bottom: 80px;
    }

    .wrap-desc-detail-page .container-desc-detail .container-details-features .container-details {
        margin-bottom: 40px;
    }

    .wrap-desc-detail-page,
    .page-detail .wrap-booking-acco-form {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .wrap-desc-detail-page .container-desc-detail,
    .page-detail .wrap-booking-acco-form .container-booking-acco-form,
    .page-detail .wrap-other-accommodation h2 {
        width: 80%;
        font-size: 16px;
    }

    .page-detail .wrap-other-accommodation {
        padding-top: 40px;
    }

    .inner .list-item-description {
        padding-left: 0;
        padding-right: 0;
        width: 80%;
        margin: 0 auto;
        float: none;
    }

    /* START FOOTER */
    footer .container-footer-contact-us,
    footer .container-footer-explore {
        width: 100%;
    }

    footer .container-footer-explore {
        margin-left: 0px;
        /* padding-top: 80px; */
    }

    footer .container-footer-visit-right {
        width: 100%;
    }

    footer .footer-text-copyright,
    footer .footer-text-copyright-poliy {
        float: left;
        width: 100%;
        padding-left: 0;
    }

    footer .footer-text-copyright.desktop {
        display: none;
    }

    footer .footer-text-copyright.mobile {
        display: block;
    }

    footer .footer-text-copyright-poliy {
        display: block;
        margin-bottom: 15px;
        padding-bottom: 15px;
        border-bottom: 1px solid #857662;
    }

    footer .footer-image-scroll-top {
        right: 40px;
        width: 16px;
    }

    footer .footer-text-copyright-poliy.policy-1 {
        display: none;
    }

    footer .footer-text-copyright {
        border-right: none;
    }

    footer .corporate-brand .mobile-brand{
        display: block;
    }

    footer .corporate-brand .desktop-brand{
        display: none;
    }

    .container .container-footer-visit-right {
        width: 100%;
    }

    .container .container-footer-copyright{
        margin-top: 15px;
    }

    /* START OFFERS PAGE */
    body.page .wrap-content-offers-page {
        padding-top: 120px;
        padding-bottom: 70px;
    }

    body.page .wrap-content-offers-page .container,
    body.page .text-desc-offers {
        width: 70%;
        margin-left: 14.92839%;
    }

    .wrap-offers-list {
        padding-bottom: 30px;
    }

    .wrap-offers-list .container-offers {
        width: 85%;
    }

    .wrap-offers-list .container-offers .bg-item,
    .wrap-offers-list .container-offers img.list-prod {
        height: 200px;
    }

    /* START MENU POPUP */
    .menu-popup .container-menu-list-popup ul li a {
        padding: 10px 0;
    }

    /* START OFFERS DETAIL */
    .special-offers-detail header .wrap-title-hero {
        left: 0;
        right: 0;
        width: 80%;
        margin: 0 auto;
    }

    .page-detail .wrap-desc-detail-page .additional-list h3,
    .page-detail .wrap-desc-detail-page .terms-conditions h3 {
        font-size: 16px;
    }

    .page-detail .wrap-desc-detail-page .additional-list,
    .page-detail .wrap-desc-detail-page .terms-conditions {
        width: 100%;
        margin-bottom: 60px;
    }

    .page-detail .wrap-desc-detail-page .book-now {
        width: 100%;
    }

    /* START DINING DETAIL */
    .dining-detail .wrap-menu-dining .container-category-menu ul li {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .dining-detail .wrap-reservation-dining {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .dining-detail .wrap-reservation-dining .container-reservation-dining .left {
        width: 100%;
        position: relative;
        display: block;
        height: auto;
        float: none;
        text-align: center;
    }

    .dining-detail .wrap-reservation-dining .container-reservation-dining .left h3 {
        padding-bottom: 15px;
        font-size: 20px;
    }

    .dining-detail .wrap-reservation-dining .container-reservation-dining .left p {
        width: 100%;
        padding-bottom: 20px;
    }

    .dining-detail .wrap-reservation-dining .container-reservation-dining .left .container-or {
        width: 100%;
    }

    .dining-detail .wrap-reservation-dining .container-reservation-dining .left .container-or .element-or {
        display: none;
    }

    .dining-detail .wrap-reservation-dining .container-reservation-dining .left .container-or p {
        float: none;
        margin-left: 0px;
    }

    .dining-detail .wrap-reservation-dining .container-reservation-dining .right {
        float: none;
        width: 90%;
        margin-top: 40px;
        margin-left: auto;
        margin-right: auto;
    }
    .dining-detail .wrap-menu-list-dining .list-menu-dining h3{
        width: calc(100% - 120px);
        font-size: 16px;
        margin-left: 30px;
    }

    /* START SPA DETAIl */
    .spa-detail .wrap-list-treatment .list-category-treatment .list-treatment .left p.price-spa {
        display: block;
    }

    .spa-detail .wrap-list-treatment .list-category-treatment .list-treatment .right p.price-spa {
        display: none;
    }

    .spa-detail .wrap-list-treatment .list-category-treatment .list-treatment p {
        margin-top: 0px;
    }

    .spa-detail .wrap-list-treatment .list-category-treatment .list-treatment {
        display: flex;
        align-items: center;
    }

    /* START PAGE DETAIL */
    .wrap-desc-detail-page .container-desc-detail h2 {
        font-size: 18px;
        margin-bottom: 20px;
    }

    .wrap-desc-detail-page .container-desc-detail .description-value {
        margin-top: 25px;
    }

    .wrap-reservation {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .wrap-reservation .container-reservation {
        width: 80%;
        margin: 0 auto;
        text-align: center;
    }

    .wrap-reservation .container-reservation p {
        width: 100%;
    }

    .wrap-reservation .container-reservation .contact-reservation .line-white {
        display: none;
    }

    .wrap-reservation .container-reservation .contact-reservation .or {
        margin-top: 0px;
        text-align: center;
        width: 100%;
        margin-bottom: 30px;
    }

    /* START SPA BOOKING POPUP */
    .spa-booking-popup {
        padding-bottom: 70px;
    }

    .spa-booking-popup .close-popup {
        width: 14px;
    }

    .spa-booking-popup .spa-booking-popup-container-form-boking {
        width: 90%;
    }

    .spa-booking-popup-content-form-boking {
        padding: 20px;
        position: relative;
    }

    .spa-booking-popup h2 {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .spa-booking-popup label.label-no-of-person {
        width: 40%;
    }

    .spa-booking-popup label.label-nationality {
        width: 35%;
    }

    .spa-booking-popup input.no-of-person,
    .spa-booking-popup input.text-nationality {
        width: 60%;
    }

    .spa-booking-popup-container-tax {
        width: 50%;
    }

    .spa-booking-popup input.input-promotion,
    .spa-booking-popup input.default {
        width: 100%;
        clear: both;
    }

    .button-submit-spa-booking {
        width: 100%;
        margin-bottom: 80px;
    }

    .spa-booking-popup-text-all-treatment {
        width: 90%;
        position: absolute;
        bottom: 20px;
        text-align: center;
    }

    /* START ACCOMMODATION BOOKING POPUP */
    .booking-popup .text-book-at-samaya {
        display: none;
    }

    .booking-popup .container-switch-lang-booking {
        float: left;
        margin-left: 10%;
    }

    .booking-popup .wrap-booking-form {
        height: auto;
        margin-top: 50px;
    }

    .booking-popup .container-booking-form {
        padding-bottom: 30px;
    }

    .booking-popup .close-popup {
        right: 5%;
        top: 30px;
    }

    .booking-popup .container-arrival-departure,
    .booking-popup .container-adul-child {
        width: 100%;
        float: none;
        margin-left: 0;
    }

    .booking-popup ._button-check-availability {
        width: 210px;
    }

    .booking-popup .container-arrival {
        padding-top: 20px;
    }

    .booking-popup {
        overflow: scroll;
        padding-bottom: 50px;
    }

    .booking-popup .content-booking-form {
        padding-bottom: 40px;
    }

    /* START PAGE NEWS LIST */
    .news .wrap-offers-list .container-offers .content-description-item h2,
    .press-download .wrap-offers-list .container-offers .content-description-item h2 {
        overflow: hidden;
        height: auto;
    }

    /* START NEWS DETAIL PAGE */
    .news-detail .wrap-desc-detail-page .container-desc-detail-news,
    .news-detail .wrap-desc-detail-page .container-comment {
        width: 80%;
    }

    .news-detail .wrap-desc-detail-page .container-comment{
        margin-top: 40px;
    }

    .news-detail .wrap-desc-detail-page {
        padding-top: 80px;
        padding-bottom: 40px;
    }

    .inner .list-item-title {
        font-size: 16px;
    }

    /* START ACCOLADES PAGE */
    .wrap-accolades-list .container-accolades-list .list-item {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        padding: 30px 50px;
    }

    .wrap-accolades-list {
        padding-top: 0px;
        padding-bottom: 40px;
    }

    /* START DINING PAGE */
    .wrap-booking-popup-dining {
        padding-top: 80px;
        padding-bottom: 80px;
        overflow-y: scroll;
    }

    .wrap-booking-popup-dining .close-popup {
        left: 0;
        right: 0;
        margin: 0 auto;
    }

    .wrap-booking-popup-dining .container-booking-popup-dining {
        height: auto;
    }

    .wrap-booking-popup-dining .container-booking-popup-dining .left {
        position: relative;
        width: 100%;
        text-align: center;
    }

    .wrap-booking-popup-dining .container-booking-popup-dining .left .container-reservation-text h3 {
        padding-bottom: 15px;
    }

    .wrap-booking-popup-dining .container-booking-popup-dining .left p {
        padding-bottom: 30px;
    }

    .wrap-booking-popup-dining .container-booking-popup-dining .left .container-or {
        width: 100%;
    }

    .wrap-booking-popup-dining .container-booking-popup-dining .left .container-or .element-or {
        display: none;
    }

    .wrap-booking-popup-dining .container-booking-popup-dining .left .container-or p {
        width: 100%;
        float: none;
        margin-left: 0;
    }

    .wrap-booking-popup-dining .container-booking-popup-dining .right {
        float: none;
        width: 100%;
        margin-top: 40px;
    }

    /* START LOCATION PAGE */
    .locations .wrap-locations-page .container-maps #map {
        display: none;
    }

    .locations .wrap-locations-page .container-maps {
        width: 75%;
    }

    .locations .wrap-locations-page .container-desc-location {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .locations .wrap-locations-page .container-cat-locations ul li a {
        font-size: 10px;
        padding-top: 30px;
        padding-bottom: 30px;
        background-size: 20px
    }

    /* START CONTACT PAGE */
    .contact-us .wrap-content-contact-us .container-contact-us {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .contact-us .wrap-content-contact-us {
        padding-bottom: 0px;
    }

    .contact-us .wrap-maps-contact-us {
        height: calc(100vh - 80px);
    }

    .contact-us .wrap-content-contact-us .container-contact-us {
        width: 100%;
        top: 0;
        padding-left: 0px;
        padding-right: 0px;
    }

    .contact-us .wrap-content-contact-us .container-contact-us .contact-form,
    .contact-us .wrap-content-contact-us .container-contact-us h1,
    .contact-us .wrap-content-contact-us .container-contact-us .contact-information {
        padding-left: 40px;
        padding-right: 40px;
    }

    .contact-us .wrap-content-contact-us .container-contact-us h1 {
        font-size: 18px;
        padding-top: 30px;
        margin-bottom: 0px;
        padding-bottom: 40px;
    }

    .contact-us .wrap-content-contact-us .container-contact-us .contact-information {
        margin-top: 40px;
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: #faf8f4;
    }

    .contact-us .wrap-content-contact-us .container-contact-us .contact-information .social-media {
        margin-top: 50px;
    }

    .menu-popup .container-menu-list-popup ul li ul {
        margin-top: 0px;
    }

    /* START OFFERS POPUP */
    .offers-booking-popup .container-form-booking-popup {
        max-width: 400px;
        min-width: 400px;
        padding: 30px;
    }

    .container-form-booking-popup .form-group label,
    .container-form-booking-popup .form-group input {
        width: 100% !important;
        float: none;
    }

    .container-form-booking-popup .form-group.country .selectize-control {
        width: 100%;
    }

    .container-form-booking-popup .form-group .selectize-control.single .selectize-input {
        padding-left: 0px;
        padding-right: 0px;
    }

    /* START WEDDING POPUP */
    .container-booking-popup-wedding {
        margin-top: 70px;
    }

    .container-form-booking-popup .form-group input[type="radio"] {
        width: auto !important;
    }

    .container-form-booking-popup .form-group input[type="checkbox"] {
        width: auto !important;
    }

    .container-booking-popup-wedding {
        width: 90%;
        padding: 0px 30px;
    }
    .form-response.alert-warning{
        margin-top: 20px;
    }

    .container-form-booking-popup .form-group .choose-ocassion-type,
    .container-form-booking-popup .form-group .choose-food-type,
    .container-booking-popup-wedding .container-form-wedding .choose-reception-venue {
        margin-top: 10px;
    }
    .container-booking-popup-wedding .container-form-wedding.special-request{
        margin-bottom: 0px;
    }
    .g-recaptcha {
        transform: scale(0.60);
        -webkit-transform: scale(0.60);
        transform-origin: 0 0;
        -webkit-transform-origin: 0 0;
    }
    .container-booking-popup-wedding button{
        margin-top: 0px;
        font-size: 16px;
    }
    .form-response h3{
        font-size: 14px;
    }

    /* START POPUP DINING LIST */
    .popup-dining-list .container-menu-list-dining .wrap-list-dining{
        padding-left: 30px;
        padding-right: 30px;
    }
    .popup-dining-list .container-menu-list-dining .wrap-list-dining .menu-list h3{
        font-size: 18px;
    }

    .popup-dining-list .container-menu-list-dining .wrap-list-dining .menu-list .container-list-menu .list-item-menu{
        float: none;
        width: 100%;
    }
    .popup-dining-list .container-menu-list-dining .wrap-list-dining .bottom-menu-list-popup p.desc-our-menu,
    .popup-dining-list .container-menu-list-dining .wrap-list-dining .bottom-menu-list-popup .container-download-menu{
        float: none;
        width: 100%;
    }

    .popup-dining-list .container-menu-list-dining .wrap-list-dining .bottom-menu-list-popup .container-download-menu{
        margin-top: 30px;
    }

    .popup-dining-list .container-menu-list-dining .category-dining-list .choose-type{
        display: block;
    }
    .popup-dining-list{
        overflow-y: auto;
    }
    .popup-dining-list .container-menu-list-dining .category-dining-list ul{
        background-color: #b88760;
        width: 100%;
        z-index: 100;
        display: none;
    }
    .popup-dining-list .container-menu-list-dining .category-dining-list ul li{
        width: 100%;
        float: none;
        text-align: left;
        padding-left: 30px;
        padding-right: 30px;
        background-color: transparent;
        color: #FFF;
        padding-bottom: 0px;
    }
    .popup-dining-list .container-menu-list-dining .category-dining-list ul li span{
        border-bottom: 1px solid #cecece;
        padding-bottom: 20px;
        border-right: none;
    }
    .popup-dining-list .container-menu-list-dining .category-dining-list ul li:last-child span{
        border-bottom: none;
    }
    .popup-dining-list .container-menu-list-dining .category-dining-list ul li:hover span,
    .popup-dining-list .container-menu-list-dining .category-dining-list ul li.active span{
        border-right: none!important;
    }
}

@media(max-width: 480px) {
    .container-booking-popup-wedding .container-recapcha{
        width: 100%;
        float: none;
    }
    .g-recaptcha {
        transform: scale(0.90);
        -webkit-transform: scale(0.90);
        transform-origin: 0 0;
        -webkit-transform-origin: 0 0;
    }
    .container-booking-popup-wedding button{
        margin-top: 20px;
        float: none;
        width: 100%;
        margin-bottom: 30px;
    }
}

@media(max-width: 400px) {
    /* START WEDDINGS FORM POPUP */
    .container-form-booking-popup .form-group .choose-ocassion-type .list-occasion-type, .container-form-booking-popup .form-group .choose-food-type .list-food-type{
        width: 100%;
        float: none;
    }
    .container-booking-popup-wedding .container-form-wedding{
        padding-bottom: 0px;
    }
    .container-booking-popup-wedding .container-form-wedding .choose-reception-venue img{
        float: none;
        clear: both;
        margin-top: 15px;
        margin-left: 23px;
    }
    .container-booking-popup-wedding .container-form-wedding .choose-reception-venue span, .container-booking-popup-wedding .container-form-wedding .choose-special-request span{
        width: 80%;
    }
    .container-booking-popup-wedding .container-form-wedding .choose-special-request .list-special-request.other span{
        width: auto;
        margin-right: 10px;
    }

    /* START OFFERS POPUP */
    .container-form-booking-popup h2 {
        padding-top: 0px;
    }

    .offers-booking-popup .container-form-booking-popup {
        max-width: 320px;
        min-width: 320px;
        padding: 30px;
    }

    /* START HOME DESTINATION PAGE */
    .home-destination .container-title-hero .text-title-1 span {
        margin-left: 25px;
    }

    /* START PAGE LIST */
    .page header .container-title-page {
        width: 100%;
        position: relative;
        left: 0;
    }

    .wrap-list-product .container-detail-acco .text-label,
    .wrap-list-product .container-detail-acco .text-value {
        width: 100%;
        float: none;
    }

    .wrap-list-product .container-detail-acco .text-label {
        margin-bottom: 5px;
    }

    .wrap-list-product .container-detail-acco {
        padding-bottom: 15px;
    }


    /* START ACCOMMODATION BOOKING POPUP */
    .booking-popup ._button-check-availability {
        width: 160px;
        font-size: 16px;
    }

    .booking-popup .text-label-1 {
        width: 24%;
    }

    .booking-popup input.text-label-2 {
        width: 74%;
        float: right;
    }

    .spa .inner .container-image{
        height: 250px;
    }
}

@media(max-width: 360px) {
    /* START OFFERS POPUP */
    .offers-booking-popup .container-form-booking-popup {
        max-width: 290px;
        min-width: 290px;
        padding: 30px;
    }

    /* START WEDDINGS POPUP */
    .g-recaptcha {
        transform: scale(0.70);
        -webkit-transform: scale(0.70);
        transform-origin: 0 0;
        -webkit-transform-origin: 0 0;
    }
    .container-booking-popup-wedding .container-recapcha{
        margin-top: 20px;
    }
    .container-booking-popup-wedding button{
        margin-top: 0px;
    }
}

@media(max-width: 320px) {
    /* START ACCOMMODATION BOOKING POPUP */
    .booking-popup ._button-check-availability {
        width: 130px;
    }
}

@media(max-height: 700px) {
    .offers-booking-popup {
        overflow-y: scroll;
        padding-top: 100px;
    }

    .offers-booking-popup .wrap-booking-popup-offers {
        display: block;
    }
}