body {
    height: 100%;
    background: url('../images/pattern_1.svg') rgb(255, 255, 255);
    background-repeat: repeat-y;
    background-size: auto auto;
    background-position: 700px center;
    font: normal 10px/1.38 'Nunito Sans';
    color: rgb(116, 116, 116);
}

body.home-page {
    background-color: rgb(255, 255, 255);
    font: normal 16px/1.38 'Crimson Text';
    color: #575757;
    background-image: none;
}

body.page-detail {
    background-image: none;
}

/* HOME PAGE */

.home-page .image {
    display: block;
    height: auto;
    overflow: hidden;
}

.home-page .wrap-corporate {
    position: relative;
    float: left;
    z-index: 0;
    width: 100%;
    height: calc(100vh - 60px);
    overflow: hidden;
}

.home-page .wrap-corporate .overlay {
    background-color: #000000;
    opacity: 0.6;
    height: 100%;
    width: 100%;
    position: absolute;
    display: none;
    z-index: 1;
}

.home-page .wrap-corporate .text {
    letter-spacing: 2px;
}

.home-page .container-corporate {
    position: absolute;
    z-index: 1;
    width: 33.3333333333%;
    height: 100%;
    background-repeat: repeat, no-repeat;
    background-size: 100% 100%, cover;
    background-position: 0% 0%, center top;
    background-attachment: scroll, scroll;
    -moz-transition: width 0.5s ease;
    -ms-transition: width 0.5s ease;
    -webkit-transition: width 0.5s ease;
    -o-transition: width 0.5s ease;
    transition: width 0.5s ease;
}

.home-page .container-corporate .text-title {
    float: left;
    padding-bottom: 4px;
    font-size: 30px;
    color: rgb(255, 255, 255);
}

.home-page .container-corporate .line-title {
    top: 65px;
    z-index: 2;
    position: absolute;
    width: 62px;
    height: 1px;
    background-color: rgb(255, 255, 255);
}

.home-page .container-corporate .text-destination {
    position: relative;
    clear: both;
    z-index: 1;
    padding-bottom: 4px;
    font-size: 30px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}

.home-page .container-corporate .desc-destination {
    /* position: absolute; */
    /* bottom: 180px; */
    clear: both;
    left: 24.22%;
    width: 50%;
    clear: both;
    opacity: 0;
    margin-top: 30px;
    -moz-transition: opacity 0.5s ease;
    -ms-transition: opacity 0.5s ease;
    -webkit-transition: opacity 0.5s ease;
    -o-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
}

.home-page .container-corporate .desc-destination p {
    color: #FFF;
}

.home-page .container-corporate .corporate-content {
    position: absolute;
    top: 150px;
    -moz-transition: top 0.5s ease;
    -ms-transition: top 0.5s ease;
    -webkit-transition: top 0.5s ease;
    -o-transition: top 0.5s ease;
    transition: top 0.5s ease;
}

.home-page .container-corporate .text-explore {
    display: block;
    position: absolute;
    bottom: 50px;
    z-index: 4;
    padding-right: 6px;
    font-family: 'Nunito Sans';
    font-size: 11px;
    color: rgb(255, 255, 255);
    font-weight: 700;
}

.home-page .container-corporate.hover {
    width: 66.6666666666%;
    z-index: 1;
    -moz-transition: width 0.5s ease;
    -ms-transition: width 0.5s ease;
    -webkit-transition: width 0.5s ease;
    -o-transition: width 0.5s ease;
    transition: width 0.5s ease;
}

.home-page .container-corporate.hover .corporate-content {
    top: calc(100vh - 550px);
    -moz-transition: top 0.5s ease 0.3s;
    -ms-transition: top 0.5s ease 0.3s;
    -webkit-transition: top 0.5s ease 0.3s;
    -o-transition: top 0.5s ease 0.3s;
    transition: top 0.5s ease 0.3s;
}

.home-page .container-corporate.hover .desc-destination {
    -moz-transition: all 0.5s ease 1s;
    -ms-transition: all 0.5s ease 1s;
    -webkit-transition: all 0.5s ease 1s;
    -o-transition: all 0.5s ease 1s;
    transition: all 0.5s ease 1s;
    opacity: 1 !important;
}

.home-page .container-title.hover {
    position: absolute;
    top: calc(100vh - 450px);
}

.home-page .container-corporate.seminyak {
    left: 0;
}

.home-page .container-corporate.seminyak .container-title {
    width: 239px;
    position: relative;
    z-index: 0;
}

.home-page .container-corporate.seminyak .line-title {
    left: -15.85%;
}

.home-page .container-corporate.seminyak .text-destination {
    float: left;
    margin-left: 50px;
}

.home-page .container-corporate.seminyak .corporate-content,
.home-page .container-corporate.seminyak .text-explore {
    left: 160px;
}

.home-page .container-corporate.seminyak .desc-destination {
    float: left;
}

.home-page .container-corporate.ubud {
    right: 0;
}

.home-page .container-corporate.ubud .container-title {
    width: 205px;
    height: 90px;
    z-index: 0;
    position: relative;
    float: right;
}

.home-page .container-corporate.ubud .line-title {
    right: -15.85%;
}

.home-page .container-corporate.ubud .text-destination {
    float: right;
    margin-right: 50px;
}

.home-page .container-corporate.ubud .corporate-content,
.home-page .container-corporate.ubud .text-explore {
    right: 160px;
}

.home-page .container-corporate.ubud .desc-destination {
    float: right;
    text-align: right;
}

.home-page .container-image-logo {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 0;
    width: 100%;
    height: 140px;
    margin: auto 0;
}

.home-page .container-image-logo .image-logo {
    width: 285px;
    margin: 0 auto;
}

.home-page .wrap-about-us {
    position: relative;
    clear: both;
    z-index: 0;
    width: 100%;
    height: auto;
    margin-bottom: 60px;
    height: calc(100vh - 60px);
}

.home-page .wrap-about-us .wrap-description-about {
    width: 60%;
    float: left;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 13%;
}

.home-page .wrap-about-us .container-description-about {
    float: left;
    width: 60%;
}

.home-page .wrap-about-us .container-description-about p {
    clear: both;
    width: 100%;
    color: #575757;
    margin-bottom: 15px;
}

.home-page .wrap-about-us .title-about-us {
    float: left;
    width: 100%;
    padding-bottom: 60px;
    font-family: 'Nunito Sans';
    font-size: 35px;
    font-weight: 400;
    color: #555555;
}

.home-page .wrap-about-us .wrap-map {
    float: left;
    width: 40%;
    height: 100%;
    /* background-image: url('../images/Landing-map(2).jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top; */
}

.home-page .wrap-booking-form {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 60px;
    background-color: #f6f5f5;
}

.home-page .wrap-booking-form .container-destination {
    float: left;
    width: 20.5208333333%;
    margin: 19px 0 0 2.34375%;
    border-right: 1px solid #d9d9d9;
}

.home-page .wrap-booking-form .select-option {
    width: 100%;
    position: absolute;
    bottom: 50px;
    background-color: rgb(58, 48, 40);
    display: none;
}

.home-page .wrap-booking-form .select-option li {
    padding: 10px;
    font-family: 'Crimson Text';
    font-size: 14px;
    color: #FFF;
}

.home-page .wrap-booking-form .text-label {
    float: left;
    margin-top: 4px;
    padding-right: 15px;
    font-family: 'Nunito Sans';
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #888888;
}

.home-page .wrap-booking-form .container-choose-destination {
    float: left;
    width: 62.3409669211%;
    margin-left: 0.25048%;
    position: relative;
    background-image: url('../images/arrowdown-about-landing.svg');
    background-repeat: no-repeat;
    background-position: right;
    background-size: 14px 6px;
    cursor: pointer;
}

.home-page .wrap-booking-form .text-value {
    float: left;
    width: 52.9411764705%;
    letter-spacing: 1px;
    color: #000000;
}

.home-page .wrap-booking-form .text-value-type {
    float: left;
    width: 27.5582627118%;
    letter-spacing: 1px;
    color: #000000;
}

.home-page .wrap-booking-form .image-arrow {
    float: right;
    width: 14px;
    margin-top: 8px;
}

.home-page .wrap-booking-form .container-dates {
    float: left;
    width: 15.6944444444%;
    margin: 19px 0 0 2.60254%;
    border-right: 1px solid #d9d9d9;
}

.home-page .wrap-booking-form .container-rooms {
    float: left;
    width: 14.2708333333%;
    margin: 19px 0 0 2.69206%;
    border-right: 1px solid #d9d9d9;
}

.home-page .wrap-booking-form .container-access-code {
    float: left;
    width: 20.4861111111%;
    margin: 19px 0 0 2.56836%;
}

.home-page .wrap-booking-form .button-book-now {
    width: 17.3611111111%;
    height: 60px;
    margin-left: 1.45671%;
    background-color: rgb(58, 48, 40);
    font-family: 'Nunito Sans';
    font-size: 18px;
    text-align: center;
    letter-spacing: 2px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    display: block;
    float: left;
}

.home-page .container-logo {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 33.3333333333%;
    height: 100%;
    background-color: #dfe3eb;
    overflow: hidden;
}

.home-page .container-switch-lang-scroll {
    position: absolute;
    bottom: 50px;
    left: -0.1513708831%;
    z-index: 0;
    width: 100%;
}

.home-page .container-switch-lang-scroll ul {
    float: left;
    width: 121px;
    margin-left: 7.02654%;
}

.home-page .container-switch-lang-scroll ul li {
    float: left;
    padding-right: 6px;
    font-family: 'Nunito Sans';
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 2px;
}

.home-page .container-switch-lang-scroll ul li:first-child,
.home-page .container-switch-lang-scroll ul li:last-child {
    background-image: url('../images/garis-bahasa.svg');
    background-repeat: no-repeat;
    background-size: 8px 12px;
}

.home-page .container-switch-lang-scroll ul li:first-child {
    padding-right: 15px;
    background-position: right;
    margin-right: 10px;
}

.home-page .container-switch-lang-scroll ul li:last-child {
    padding-left: 15px;
    background-position: left;
    margin-left: 0px;
}

.home-page .container-switch-lang-scroll ul li a {
    color: #444444;
}

.home-page .text-scroll-down {
    float: right;
    width: 95px;
    margin-right: 6.56266%;
    background-image: url('../images/arrow-about-landing.svg');
    background-repeat: no-repeat;
    background-size: 5px 10px;
    background-position: right center;
    font-family: 'Nunito Sans';
    font-size: 11px;
    color: #444444;
    font-weight: 700;
    cursor: pointer;
}

/* HERO */

header.wrap-hero {
    position: relative;
    float: left;
    width: 100%;
    height: 100vh;
    background-repeat: repeat, no-repeat;
    background-size: 100% 100%, cover;
    background-position: 0% 0%, center center;
    background-attachment: scroll, scroll;
}

.events-detail header.wrap-hero {
    background-image: none !important;
}

header .image-logo-web {
    position: relative;
    float: left;
    z-index: 4;
    width: 285px;
    min-width: none;
    min-height: nonepx;
    margin: 44px 0 0 3.99984%;
}

header .hamburger-menu-header {
    display: none;
    position: absolute;
    top: 109px;
    left: 90.9375%;
    z-index: 60;
    width: 60px;
    min-width: none;
    height: 60px;
    min-height: nonepx;
    background-color: rgba(0, 0, 0, 0);
    overflow: hidden;
}

header .hamburger-menu-header .line {
    float: left;
    height: 2px;
    background-color: #ffffff;
}

header .hamburger-menu-header .line-top {
    width: 31px;
    margin: 24px 0 0 25%;
}

header .hamburger-menu-header .line-middle {
    clear: both;
    width: 27px;
    margin: 4px 0 0 31.25%;
}

header .hamburger-menu-header .line-bottom {
    clear: both;
    width: 23px;
    margin: 4px 0 0 37.5%;
}

.wrap-slide-hero {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    /* display: none; */
}

.wrap-slide-hero .inner {
    width: 100%;
    height: 100%;
}

.wrap-slide-hero .inner .slide-bg-hero {
    width: 100%;
    height: 100vh;
    background-repeat: repeat, no-repeat;
    background-size: 100% 100%, cover;
    background-position: 0% 0%, center center;
    background-attachment: scroll, scroll;
    cursor: -webkit-grab;
}

.wrap-slide-hero .inner .slick-list {
    width: 100%;
    height: 100%;
}

.wrap-slide-hero .inner .slick-list .slick-track {
    height: 100%;
}

.wrap-slide-hero .button-slider-hero {
    position: absolute;
    bottom: 40px;
    left: 14.1137695312%;
    width: 121px;
}

.wrap-slide-hero .button-slider-hero .zoom-slider {
    width: 50%;
    height: 26px;
    background-image: url(../images/villa-see-all-detail.svg);
    background-repeat: no-repeat;
    background-size: 26px;
    float: left;
}

.wrap-slide-hero .arrow-next-prev {
    float: left;
    width: 50%;
}

.wrap-slide-hero .arrow-next-prev img {
    height: 26px;
    float: left;
    width: auto;
    cursor: pointer;
}

.wrap-slide-hero .arrow-next-prev img:last-child {
    float: right;
}

.wrap-slide-hero .inner .slick-arrow {
    display: none !important;
}

/* MENU HEADER */

header .menu-header-with-mobile {
    position: relative;
    float: right;
    z-index: 5;
    width: 52.96875%;
    /* overflow: hidden; */
}

header .menu-header-with-mobile .image {
    float: left;
    min-width: none;
    min-height: nonepx;
}

header .menu-header-with-mobile .text {
    float: left;
    min-width: none;
    min-height: nonepx;
    background-color: rgba(0, 0, 0, 0);
    letter-spacing: 2px;
}

header .menu-header-with-mobile ._text {
    color: rgb(255, 255, 255);
}

header .wrap-header-menu {
    float: right;
    width: 95.4326923076%;
    margin-right: -0.00154%;
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom-style: none;
}

header .wrap-header-menu-content {
    float: right;
    width: 688px;
    height: 15px;
    margin-right: 7.31224%;
}

header .wrap-header-menu-content-switch-des {
    float: left;
    width: 86px;
}

header .wrap-header-menu-switch-lang {
    float: left;
    width: 105px;
    margin-left: 9.94504%;
}

header .wrap-header-menu-switch-lang ul {
    float: left;
    width: 100%;
    /* margin-left: 7.02654%; */
}

header .wrap-header-menu-switch-lang ul li {
    float: left;
    padding-right: 6px;
    font-family: 'Nunito Sans';
    font-size: 10px;
    letter-spacing: 1px;
}

header .wrap-header-menu-switch-lang ul li:first-child,
header .wrap-header-menu-switch-lang ul li:last-child {
    background-image: url('../images/Line-languange.svg');
    background-repeat: no-repeat;
    background-size: 8px 12px;
}

header .wrap-header-menu-switch-lang ul li:first-child {
    padding-right: 15px;
    background-position: right;
    margin-right: 10px;
}

header .wrap-header-menu-switch-lang ul li:last-child {
    padding-left: 15px;
    background-position: left;
    margin-left: 0px;
}

header .wrap-header-menu-switch-lang ul li a {
    color: #FFF;
}

header .wrap-header-menu-time-suhu {
    float: left;
    width: 206px;
    height: 15px;
    margin-left: 8.79815%;
}

header .wrap-header-menu-suhu {
    float: left;
    width: 29.6116504854%;
    margin-left: -0.16687%;
}

header .wrap-header-menu-time {
    float: left;
    width: 60.6796116504%;
    margin-left: 9.375%;
}

header .wrap-header-menu-social-media {
    float: right;
    width: 14.3548387096%;
    height: 15px;
    margin-right: 0.14535%;
}

header .wrap-header-menu-arrow-destination {
    position: relative;
    clear: both;
    z-index: 14;
    width: 11px;
    margin: -9px 0 0 87.19113%;
}

header .instagram-icon {
    width: 12px;
    margin-top: 2px;
}

header .facebook-icon {
    width: 7px;
    margin: 2px 0 0 22.2784799999%;
}

header .youtube-icon {
    width: 16px;
    margin: 3px 0 0 25.09494%;
}

header .wrap-header-menu-text-switch-des {
    position: relative;
    z-index: 13;
    width: 100%;
    font-size: 10px;
}

header .wrap-header-menu-text-time {
    margin-top: 1px;
    padding-left: 7px;
    font-size: 10px;
    background-image: url('../images/local-time.svg');
    background-repeat: no-repeat;
    background-size: 14px 14px;
    background-position: left center;
    padding-left: 20px;
    height: 14px;
}

header .wrap-header-menu-text-cloud {
    padding-left: 5px;
    background-image: url('../images/icon-cloud.svg');
    background-repeat: no-repeat;
    background-size: 18px 13px;
    background-position: left center;
    padding-left: 22px;
}

header .container-menu-list {
    float: left;
    clear: both;
    width: 100%;
    height: 50px;
    border-top: 1px solid rgba(255, 255, 255, 0.29);
    /* min-height: 300px; */
}

header .container-menu-list ul {
    width: 100%;
    margin-top: 10px;
    text-align: right;
    padding-right: 7.31224%;
}

header .container-menu-list ul li {
    display: inline-block;
    padding: 0 25px;
    line-height: 50px;
    position: relative;
}

header .container-menu-list ul li a {
    font-size: 12px;
    color: rgb(255, 255, 255);
    letter-spacing: 2px;
    text-transform: uppercase;
    display:  block;
}

header .container-menu-list ul li ul{
    visibility: hidden;
    opacity: 0;
    margin-top: 0px;
    position: absolute;
    top: 100%;
    left: -10%;
    width: 120%;
    transform: translateY(-2em);
    z-index: -1;
    transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
    text-align: left;
    padding: 0 20px;
    background-color: rgb(184, 135, 96);
    /* padding-right: 0; */
}

header .container-menu-list ul li ul li{
    width: 100%;
    display: block;
    padding: 15px 0px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.29);
    background-color: rgb(184, 135, 96);
    line-height: 25px;
}

/* header .container-menu-list ul li ul li:first-child{
    padding-top: 20px;
} */

header .container-menu-list ul li ul li:last-child{
    border: none;
    /* padding-bottom: 20px; */
}

header .container-menu-list ul li:focus ul,
header .container-menu-list ul li:focus-within ul,
header .container-menu-list ul li:hover ul {
  visibility: visible; /* shows sub-menu */
  opacity: 1;
  z-index: 1;
  /* padding-top: 20px; */
  transform: translateY(0);
  transition-delay: 0s, 0s, 0.3s; /* this removes the transition delay so the menu will be visible while the other styles transition */
}

header .wrap-list-product-link {
    position: absolute;
    left: 4%;
    bottom: 60px;
    width: 27%;
    z-index: 2;
}

header .wrap-list-product-link ul li {
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    clear: both;
    cursor: pointer;
}

header .wrap-list-product-link ul li .bullet {
    width: 12px;
    height: 12px;
    margin: auto;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 14px;
    float: left;
    margin-left: 5px;
}

header .wrap-list-product-link ul li span {
    font: 11px/1.3 'Nunito Sans';
    letter-spacing: 2px;
    color: rgb(255, 255, 255);
    margin-left: 20px;
}

/* NAVBAR */

nav.menu-header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 60px;
    border-bottom: 1px solid rgb(239, 239, 239);
    background-color: rgb(255, 255, 255);
    display: none;
}

nav.menu-header .container {
    height: 100%;
}

nav.menu-header .element {
    background-color: #707070;
}

nav .menu-header-logo a{
    display: block;
}

nav.menu-header .image {
    /* float: left; */
    width: 192px;
    margin: 15px 0 0 7.55556%;
}

nav.menu-header .hamburger-menu-header {
    display: none;
    top: 0;
    left: -0.4464285715%;
    z-index: 1;
    width: 1px;
    background-color: #ececec;
}

nav.menu-header .hamburger-menu-header .top {
    width: 31px;
    margin: 24px 0 0 25%;
}

nav.menu-header .hamburger-menu-header .middle {
    clear: both;
    width: 27px;
    margin: 4px 0 0 31.25%;
}

nav.menu-header .hamburger-menu-header .bottom {
    clear: both;
    width: 23px;
    margin: 4px 0 0 37.5%;
}

nav .menu-header .image {
    float: left;
    width: 192px;
    margin: 15px 0 0 7.55556%;
}

nav .menu-header ._text {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

nav .container-menu-header-nav {
    width: 85%;
    float: left;
    height: 100%;
}

nav .menu-header-logo {
    float: left;
    width: 225px;
    margin: -1px 0 0 1.87256%;
}

nav .listmenu-header {
    float: right;
    width: 63.1944444444%;
    /* margin: 21px 0 0 50px; */
    border-top: 1px solid rgba(255, 255, 255, 0.29);
    /* overflow: hidden; */
    height: 100%;
}

nav .listmenu-header ul {
    width: 100%;
    height: 100%;
    text-align: right;
    display: block;
}

nav .listmenu-header ul li {
    display: inline-block;
    padding: 0 30px;
    list-style-type: none;
    position: relative;
    line-height: 59px;
}

nav .listmenu-header ul li a {
    display: block;
    font-size: 12px;
    text-align: right;
    letter-spacing: 2px;
    color: rgb(58, 48, 40);
    text-transform: uppercase;
}

nav .listmenu-header ul li ul{
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 100%;
    left: -10%;
    width: 120%;
    height: auto;
    transform: translateY(-2em);
    z-index: -1;
    padding: 0 20px;
    transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
    text-align: left;
    display:  block;
    background-color: rgb(184, 135, 96);
}

nav .listmenu-header ul li ul li{
    width: 100%;
    display: block;
    padding: 15px 0px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.29);
    background-color: rgb(184, 135, 96);
    line-height: 20px;
    color: #FFF;
}

nav .listmenu-header ul li ul li:last-child{
    border-bottom: 0px;
}

nav .listmenu-header ul li ul li a{
    color: #FFF;
    text-align: left;
}

nav .listmenu-header ul li:focus ul,
nav .listmenu-header ul li:focus-within ul,
nav .listmenu-header ul li:hover ul {
  visibility: visible; /* shows sub-menu */
  opacity: 1;
  z-index: 1;
  /* padding-top: 20px; */
  transform: translateY(0);
  transition-delay: 0s, 0s, 0.3s; /* this removes the transition delay so the menu will be visible while the other styles transition */
}

nav .container-button-book {
    float: right;
    width: 15%;
    margin-top: 0px;
    position: absolute;
    height: 60px !important;
    right: 0;
    text-align: center;
}

nav .container-button-book .button-book-now {
    display: block;
    float: right;
    width: 99.5391705069%;
    background-color: rgb(58, 48, 40);
}

nav .container-button-book .button-book-now .text-button-booknow {
    margin-top: 10px;
    font-size: 18px;
    letter-spacing: 2px;
    color: rgb(223, 213, 182);
}

nav .container-button-book .button-book-now .text-best-rate {
    font-family: 'Crimson Text';
    font-style: italic;
    font-size: 13px;
    font-weight: 400;
    color: rgb(255, 255, 255);
    overflow: hidden;
}

/* END NAVBAR */

.image-scroll-down-hero {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 4%;
    z-index: 2;
    width: 8px;
    margin: auto 0;
    display: none;
}

.home-destination .image-scroll-down-hero {
    display: block;
}

.image-arrow-down-hero {
    position: absolute;
    bottom: 20px;
    left: 4%;
    z-index: 5;
    width: 20px;
    height: 30px;
}

/* TITLE HERO */

header .wrap-title-hero {
    width: 620px;
    height: 170px;
    z-index: 2;
    position: absolute;
    margin: auto 0;
    top: 0;
    bottom: 0;
    left: 17.8125%;
}

.page header .wrap-title-hero {
    height: 239px;
    right: 16.85547%;
    left: inherit;
}

.home-destination .container-title-hero {
    position: relative;
    clear: both;
    z-index: 1;
    width: 577px;
    height: 239px;
}

.home-destination .container-title-hero .text-sub-title {
    float: left;
    margin-left: 12.21025%;
    background-color: rgba(0, 0, 0, 0);
    font-family: 'Nunito Sans';
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    color: rgb(255, 255, 255);
}

.home-destination .container-title-hero .text-title-1 {
    float: left;
    clear: both;
    width: 100%;
    margin-top: 26px;
    font-family: 'Crimson Text';
    background-color: rgba(0, 0, 0, 0);
    font-size: 60px;
    letter-spacing: 4px;
    color: rgb(255, 255, 255);
}

.home-destination .container-title-hero .text-title-1 span {
    margin-left: 70px;
}

.home-destination .container-title-hero .text-title-1 span i {
    margin-right: 15px;
}

.home-destination .container-title-hero .text-title-2 {
    position: relative;
    float: left;
    font-family: 'Crimson Text';
    z-index: 0;
    min-width: none;
    min-height: nonepx;
    margin-left: 4.20819%;
    background-color: rgba(0, 0, 0, 0);
    font-size: 60px;
    letter-spacing: 4px;
    color: rgb(255, 255, 255);
}

.home-destination .container-title-hero .image-title-of {
    position: relative;
    float: left;
    clear: both;
    z-index: 0;
    width: 52px;
    min-width: none;
    min-height: nonepx;
    margin: 22px 0 0 13.34489%;
}

/* FORM BOOKING HERO */

.wrap-form-booking-hero {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
    width: 799px;
    height: 90px;
    background-color: rgba(0, 0, 0, 0);
}

.wrap-form-booking-hero .container-form-booking-hero {
    position: relative;
    float: left;
    z-index: 52;
    width: 72.1139430284%;
    height: 90px;
    background-color: rgba(255, 255, 255, 0.93);
    overflow: hidden;
}

.wrap-form-booking-hero .container-form-dates {
    float: left;
    width: 37.0762711864%;
    min-width: none;
    min-height: nonepx;
    padding-top: 29px;
    padding-left: 38px;
}

.wrap-form-booking-hero .text-date {
    float: left;
    clear: both;
    min-width: none;
    min-height: nonepx;
    font-family: 'Crimson Text';
    padding-top: 5px;
    background-color: rgba(0, 0, 0, 0);
    font-size: 15px;
    color: rgb(0, 0, 0);
}

.wrap-form-booking-hero .container-form-rooms,
.wrap-form-booking-hero .container-form-guest {
    float: left;
    width: 29.6610169491%;
    min-width: none;
    min-height: nonepx;
    padding-top: 29px;
    padding-left: 38px;
}

.wrap-form-booking-hero .container-form-rooms-choose,
.wrap-form-booking-hero .container-guest-choose {
    float: left;
    clear: both;
    width: 82px;
    min-width: none;
    min-height: nonepx;
}

.wrap-form-booking-hero .container-button-book-now {
    position: relative;
    float: left;
    /* clear: both; */
    z-index: 0;
    width: 27.886057%;
    height: 90px;
    background-color: rgb(184, 135, 96);
}

.wrap-form-booking-hero .label-text {
    float: left;
    min-width: none;
    min-height: nonepx;
    background-color: rgba(0, 0, 0, 0);
    font-family: 'Nunito Sans';
    font-size: 10px;
    letter-spacing: 1px;
    color: rgb(116, 116, 116);
}

.wrap-form-booking-hero .text-rooms-choose,
.wrap-form-booking-hero .text-choose-guest {
    float: left;
    min-width: none;
    font-family: 'Crimson Text';
    min-height: nonepx;
    margin-left: -0.81936%;
    padding-top: 5px;
    padding-right: 19px;
    background-color: rgba(0, 0, 0, 0);
    font-size: 15px;
    color: rgb(0, 0, 0);
}

.wrap-form-booking-hero .text-book-now {
    min-width: none;
    min-height: nonepx;
    margin: 22px auto 0;
    padding-bottom: 4px;
    background-color: rgba(0, 0, 0, 0);
    font-family: 'Nunito Sans';
    font-size: 18px;
    text-align: center;
    letter-spacing: 2px;
    color: rgb(255, 255, 255);
}

.wrap-form-booking-hero .text-best-rate {
    width: 100%;
    min-width: none;
    min-height: nonepx;
    margin: 1px auto 0;
    background-color: rgba(0, 0, 0, 0);
    font-family: 'Crimson Text';
    font-style: italic;
    font-size: 13px;
    text-align: center;
    color: rgb(255, 255, 255);
}

/* FOOTER */

footer.wrap-footer {
    position: relative;
    float: left;
    clear: both;
    width: 100%;
    /* background-color: #3c4c58; */
    background-color: #403d3d;
}

footer .footer-foto {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 9;
    width: 700px;
    margin: auto 0;
    background-image: url('../images/footer-img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left center;
}

footer .footer-foto .image {
    width: 235px;
    margin: 92px auto 0;
    opacity: 0.01;
}

footer .container-menu-footer {
    position: relative;
    float: right;
    width: calc(100% - 700px);
    padding-bottom: 35px;
}

footer .container-menu-footer-top {
    float: left;
    width: 78.8743093922%;
    margin: 150px 0 0 9.61205%;
}

footer .container-footer-contact-us {
    float: left;
    width: 48.7530987834%;
    margin-left: -0.02791%;
}

footer .container-menu-contact-us {
    float: left;
    clear: both;
    width: 99.9668337264%;
}

footer .container-menu-contact-us-list {
    float: left;
    width: 100%;
    padding-top: 27px;
    background-color: rgba(0, 0, 0, 0);
    font-family: 'Nunito Sans';
    font-size: 10px;
    letter-spacing: 2px;
    color: #ffffff;
}

footer .container-menu-contact-us ul {
    width: 100%;
}

footer .container-menu-contact-us ul li {
    width: 50%;
    float: left;
}

footer .container-menu-contact-us ul li a {
    padding-top: 27px;
    background-color: rgba(0, 0, 0, 0);
    font-family: 'Nunito Sans';
    font-size: 10px;
    letter-spacing: 2px;
    color: #ffffff;
    text-transform: uppercase;
    float: left;
}

footer .container-footer-explore {
    float: left;
    width: 30.2272130286%;
    min-width: none;
    min-height: nonepx;
    margin-left: 20.98636%;
}

footer .container-explore-address-map {
    float: left;
    clear: both;
    width: 99.8914930555%;
    min-width: none;
    height: 200px;
    min-height: nonepx;
    margin-left: -0.03259%;
}

footer .container-explore-address {
    float: left;
    width: 100%;
    min-width: none;
    min-height: nonepx;
}

footer .container-explore-map {
    float: left;
    clear: both;
    width: 163px;
    min-width: none;
    height: 22px;
    min-height: nonepx;
    margin-top: 51px;
}

footer .container-footer-subscribe {
    float: left;
    clear: both;
    width: 78.8743093922%;
    min-width: none;
    min-height: nonepx;
    margin-left: 9.61205%;
    padding-top: 100px;
    padding-bottom: 60px;
}

footer .container-footer-visit {
    float: left;
    clear: both;
    width: 78.453038674%;
    min-width: none;
    min-height: nonepx;
    margin-left: 9.61205%;
    padding-top: 8px;
    border-bottom-style: solid;
}

footer .container-footer-visit-left-social {
    float: left;
    clear: both;
    width: 40.7299999999%;
    min-width: none;
    min-height: nonepx;
    padding-top: 14px;
}

footer .container-footer-visit-left,
footer .container-footer-visit-right {
    float: left;
    width: 50%;
    min-width: none;
    min-height: nonepx;
}

footer .container-footer-copyright {
    position: relative;
    float: left;
    clear: both;
    z-index: 86;
    width: 71.270718232%;
    min-width: none;
    min-height: nonepx;
    margin: 140px 0 0 9.61205%;
}

footer .text-footer-contact-us {
    float: left;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    font-family: 'Crimson Text';
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 2px;
    color: rgb(223, 213, 182);
}

footer .text-footer-explore {
    float: left;
    margin-left: -0.03259%;
    background-color: rgba(0, 0, 0, 0);
    font-family: 'Crimson Text';
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 2px;
    color: rgb(223, 213, 182);
}

footer .footer-text-address {
    float: left;
    width: 100%;
    padding-top: 27px;
    background-color: rgba(0, 0, 0, 0);
    font-family: 'Nunito Sans';
    font-size: 12px;
    letter-spacing: 1px;
    color: #ffffff;
}

footer .footer-text-telphone {
    float: left;
    clear: both;
    width: 100%;
    margin-left: -0.07069%;
    padding-top: 27px;
    background-color: rgba(0, 0, 0, 0);
    font-family: 'Nunito Sans';
    font-size: 10px;
    letter-spacing: 1px;
    color: #ffffff;
}

footer .footer-text-fax,
footer .footer-text-email {
    float: left;
    clear: both;
    width: 100%;
    margin-left: -0.07069%;
    padding-top: 9px;
    background-color: rgba(0, 0, 0, 0);
    font-family: 'Nunito Sans';
    font-size: 10px;
    letter-spacing: 1px;
    color: #ffffff;
}

footer .footer-text-telphone a,
footer .footer-text-email a {
    color: #ffffff;
    text-decoration: none;
}

footer .footer-text-see-map {
    float: left;
    padding-right: 17px;
    font-family: 'Crimson Text';
    background-color: rgba(0, 0, 0, 0);
    font-size: 16px;
    color: #dfd5b6;
}

footer .footer-text-subscribe {
    float: left;
    width: 100%;
    min-width: none;
    min-height: nonepx;
    padding-bottom: 24px;
    background-color: rgba(0, 0, 0, 0);
    font-family: 'Crimson Text';
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 2px;
    color: rgb(223, 213, 182);
}

footer .footer-text-visit {
    float: left;
    width: 100%;
    min-width: none;
    min-height: nonepx;
    padding-right: 10px;
    border-right-style: none;
    background-color: rgba(0, 0, 0, 0);
    font-family: 'Nunito Sans';
    font-size: 9px;
    font-weight: 400;
    letter-spacing: 1px;
    color: rgb(255, 255, 255);
}

footer .footer-visit-text-samaya {
    float: left;
    width: 97.9591836734%;
    min-width: none;
    min-height: nonepx;
    margin-left: -0.00638%;
    padding-top: 10px;
    background-color: rgba(0, 0, 0, 0);
    font-family: 'Crimson Text';
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 2px;
    color: rgb(223, 213, 182);
}

footer .footer-text-policy {
    visibility: hidden;
    float: left;
    clear: both;
    width: 100%;
    height: 1px;
    padding-right: 10px;
    font-family: 'Nunito Sans';
    font-size: 10px;
    font-weight: 400;
    text-align: center;
    letter-spacing: 1px;
    color: rgb(255, 255, 255);
    overflow: hidden;
    white-space: nowrap;
}

footer .footer-text-copyright {
    float: left;
    min-width: none;
    min-height: nonepx;
    padding-right: 10px;
    border-right: 1px solid rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0);
    font-family: 'Nunito Sans';
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 1px;
    color: rgb(183, 183, 183);
}

footer .footer-text-copyright-poliy {
    float: left;
    width: 12.688172043%;
    min-width: none;
    min-height: nonepx;
    padding-right: 10px;
    padding-left: 10px;
    border-right-style: none;
    background-color: rgba(0, 0, 0, 0);
    font-family: 'Nunito Sans';
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 1px;
    color: rgb(255, 255, 255);
}

footer .container .footer_input-subscibe-name {
    clear: both;
    z-index: 80;
}

footer .container .footer_input-subscibe-email {
    z-index: 81;
    margin-left: 1px;
}

footer .image-arrow-accomodation {
    float: left;
    width: 26px;
    min-width: none;
    min-height: nonepx;
    margin-top: 7px;
}

footer ._button-send-footer {
    display: block;
    position: relative;
    float: left;
    z-index: 82;
    width: 23.27%;
    min-width: none;
    height: 47px;
    min-height: nonepx;
    margin-left: 1px;
    background-color: rgb(184, 135, 96);
    font-family: 'Nunito Sans';
    font-size: 16px;
    text-align: center;
    letter-spacing: 3px;
    color: rgb(255, 255, 255);
}

footer .instagram-icon {
    float: left;
    width: 16px;
    min-width: none;
    min-height: nonepx;
}

footer .facebook-icon {
    float: left;
    width: 8px;
    min-width: none;
    min-height: nonepx;
    margin-left: 17.96888%;
}

footer .youtube-icon {
    float: left;
    width: 20px;
    min-width: none;
    min-height: nonepx;
    margin-left: 17.96888%;
}

footer .image-arrow-up-right {
    float: left;
    width: 5px;
    min-width: none;
    min-height: nonepx;
    margin-top: 20px;
}

footer .footer-image-scroll-top {
    position: absolute;
    bottom: 35px;
    right: 50px;
    z-index: 87;
    width: 28px;
    min-width: none;
    min-height: nonepx;
    cursor: pointer;
}

footer ._input {
    display: block;
    position: relative;
    float: left;
    width: 38%;
    height: 47px;
    padding: 0 10px;
    background-color: rgb(242, 242, 242);
    font-family: 'Crimson Text';
    font-size: 13px;
    font-weight: 400;
    color: rgb(0, 0, 0);
}

.scroll-down {
    cursor: pointer;
}

/* HOMEPAGE DESTINATION */

.wrap-about-destination {
    float: left;
    clear: both;
    width: 100%;
    padding-top: 230px;
    padding-bottom: 230px;
    background-color: rgb(255, 255, 255);
    z-index: -1;
}

.wrap-about-destination .container-about-destination {
    width: 80%;
    margin: 0 auto;
    max-width: 1080px;
}

.wrap-about-destination .container-about-title {
    float: left;
    width: 30%;
    min-width: none;
    min-height: nonepx;
}

.wrap-about-destination .container-about-description {
    float: right;
    width: 60%;
    min-width: none;
    min-height: nonepx;
}

.wrap-about-destination .text-title-about {
    float: left;
    width: 253px;
    min-width: none;
    min-height: nonepx;
    margin-left: -0.09264%;
    background-color: rgba(0, 0, 0, 0);
    font-family: 'Nunito Sans';
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 2px;
    color: #555555;
}

.wrap-about-destination .text-sub-title-about {
    float: left;
    clear: both;
    width: 100%;
    min-width: none;
    font-family: 'Crimson Text';
    min-height: nonepx;
    margin-left: -0.09264%;
    padding-top: 12px;
    padding-bottom: 20px;
    background-color: rgba(0, 0, 0, 0);
    font-size: 30px;
    letter-spacing: 2px;
    color: #555555;
}

.wrap-about-destination .text-description-about {
    float: left;
    width: 100%;
    min-width: none;
    min-height: nonepx;
    margin-left: -0.02684%;
    font-family: 'Crimson Text';
    padding-bottom: 100px;
    background-color: rgba(0, 0, 0, 0);
    font-size: 16px;
    line-height: 1.5;
    color: #575757;
}

.wrap-about-destination .line-about {
    float: left;
    clear: both;
    width: 24px;
    height: 1px;
    margin-left: -0.09264%;
    background-color: #707070;
}

.wrap-about-destination .container-explore-more-about,
.wrap-list-accomodation .contaner-explore-accomodation-list,
.container-see-package-wedding {
    float: left;
    clear: both;
    width: 150px;
    min-width: none;
    height: 22px;
    min-height: nonepx;
    background-image: url('../images/all-explore-arrow100.svg');
    background-repeat: no-repeat;
    background-size: 25px 10px;
    background-position: right center;
}

.wrap-about-destination p {
    width: 66.2576687116%;
    min-width: none;
    min-height: nonepx;
    background-color: rgba(0, 0, 0, 0);
    font-size: 16px;
    color: rgb(184, 135, 96);
    font-family: 'Crimson Text';
}

.wrap-list-promotion {
    float: left;
    clear: both;
    width: 100%;
    background-color: rgb(255, 255, 255);
    position: relative;
}

.wrap-list-accomodation {
    position: relative;
    float: left;
    clear: both;
    width: 100%;
    /* background-color: #8994a7; */
    background-color: #d9cdae;
    height: 100vh;
    display: flex;
    align-items: center;
    z-index: 2;
}

.wrap-list-accomodation .container-list-accomodation-image {
    position: relative;
    float: left;
    width: 55.9722222222%;
    overflow: visible;
}

/* .wrap-list-accomodation .container-list-accomodation-image .inner{ */
    /* padding-right: 100px; */
/* } */

.wrap-list-accomodation .container-list-accomodation-image .inner .item{
    width: 810px!important;
    height: 665px;
    display: flex!important;
    align-items: center;
}

.wrap-list-accomodation .container-list-accomodation-image .inner .slick-slide .item img{
    height: 80%;
    object-fit: cover;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    opacity: 0.5;
}

.wrap-list-accomodation .container-list-accomodation-image .inner .slick-current .item img{
    height: 100%;
    object-fit: cover;
    opacity: 1;
}

.wrap-list-accomodation .wrap-desc-list-acco {
    width: 27.2916666666%;
    /* height: 452px; */
    float: left;
    margin-left: 150px;
}

.wrap-list-accomodation .wrap-desc-list-acco .prev-next-dest{
    width: 70px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.wrap-list-accomodation .wrap-desc-list-acco .prev-next-dest img{
    display: block;
    width: auto;
    height: 33px;
    float: left;
    cursor: pointer;
}

.wrap-list-accomodation .wrap-desc-list-acco .prev-next-dest img:last-child{
    float: right;
}

.wrap-list-accomodation .container-desc-list-acco {
    float: left;
    width: 100%;
    margin: 1px 0 0 0.22066%;
    padding-bottom: 100px;
    position: relative;
}

.wrap-list-accomodation .text-sub-title-accomodation-list {
    float: left;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    font-family: 'Nunito Sans';
    font-size: 11px;
    letter-spacing: 1px;
    /* color: rgba(255, 255, 255, 0.48); */
    color: #64594a;
}

.wrap-list-accomodation .text-title-accomodation-list {
    float: left;
    clear: both;
    width: 100%;
    padding-top: 11px;
    background-color: rgba(0, 0, 0, 0);
    font-size: 24px;
    font-family: 'Crimson Text';
    letter-spacing: 3px;
    /* color: rgb(255, 255, 255); */
    color: #3A3028;
}

.wrap-list-accomodation .text-description-accomodation-list {
    float: left;
    clear: both;
    width: 100%;
    font-family: 'Crimson Text';
    padding-top: 40px;
    padding-bottom: 30px;
    background-color: rgba(0, 0, 0, 0);
    font-size: 16px;
    color: rgb(255, 255, 255);
    color: #3A3028;
}

.wrap-list-accomodation .text-explore-more-acco-list {
    position: relative;
    float: left;
    z-index: 0;
    width: 66.2576687116%;
    font-family: 'Crimson Text';
    background-color: rgba(0, 0, 0, 0);
    font-size: 16px;
    /* color: #dfd5b6; */
    color: #3A3028;
}

.wrap-list-accomodation .image-arrow-acco-list {
    position: relative;
    float: left;
    clear: both;
    z-index: 101;
    width: 26px;
    min-width: none;
    min-height: nonepx;
    margin: -15px 0 0 65.02109%;
}

.wrap-list-accomodation .contaner-explore-accomodation-list {
    background-image: url('../images/arrow-accomodation.svg');
}

.wrap-experience-list {
    float: left;
    clear: both;
    width: 100%;
    min-width: none;
    min-height: nonepx;
    padding-bottom: 300px;
}

.wrap-experience-list .wrap-experience-title {
    position: relative;
    float: left;
    z-index: 0;
    width: 32.4479166666%;
    min-width: none;
    min-height: nonepx;
    margin: 220px 0 0 4.63542%;
}

.wrap-experience-list .container-experience-title {
    float: left;
    width: 100%;
    min-width: none;
    min-height: nonepx;
    padding-bottom: 20px;
}

.wrap-experience-list .text-experience {
    float: left;
    width: 100%;
    min-width: none;
    min-height: nonepx;
    margin-left: -0.00471%;
    background-color: rgba(0, 0, 0, 0);
    font-family: 'Crimson Text';
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 2px;
    color: rgb(0, 0, 0);
}

.wrap-experience-list .text-experience span {
    margin-left: 8.702%;
    padding-top: 4px;
    float: left;
}

.wrap-experience-list .text-description-experience {
    position: relative;
    float: left;
    z-index: 0;
    width: 28.3854166666%;
    font-family: 'Crimson Text';
    margin: 220px 0 0 14.21875%;
    padding-bottom: 30px;
    background-color: rgba(0, 0, 0, 0);
    font-size: 16px;
    color: rgb(116, 116, 116);
}

.wrap-experience-list .text-description-experience p {
    margin-bottom: 20px;
}

.wrap-experience-list .line-experience-title {
    float: left;
    clear: both;
    width: 19.2294978513%;
    height: 1px;
    margin: -74px 0 0 90.26134%;
    background-color: rgb(201, 201, 201);
}

.wrap-experience-list .container-list-experience {
    clear: both;
    width: 90%;
    margin: auto;
    padding-top: 180px;
}

.wrap-experience-list .container-list-experience ul {
    width: 100%;
}

.wrap-experience-list .container-list-experience ul li {
    position: relative;
    float: left;
    width: 31.643625192%;
    margin-left: 2.50306%;
    height: 550px;
    background-repeat: repeat, no-repeat;
    background-size: 100% 100%, cover;
    background-position: 0% 0%, center center;
    background-attachment: scroll, scroll;
}

.wrap-experience-list .container-list-experience ul li:first-child {
    margin-left: 0;
}

.wrap-experience-list .container-list-experience ul li a {
    display: block;
    width: 100%;
    height: 100%;
}

.wrap-experience-list .container-list-experience ul li a .content-title-list-exp {
    position: absolute;
    bottom: 50px;
    left: 0;
    right: 0;
    z-index: 1;
    width: 80%;
    margin: 0 auto;
}

.wrap-experience-list .container-list-experience ul li a h3 {
    background-color: rgba(0, 0, 0, 0);
    font-family: 'Nunito Sans';
    font-size: 11px;
    letter-spacing: 1px;
    color: #ffffff;
}

.wrap-experience-list .container-list-experience ul li a h2 {
    padding-top: 10px;
    background-color: rgba(0, 0, 0, 0);
    font-family: 'Crimson Text';
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 2px;
    color: #ffffff;
    background-image: url('../images/plus.svg');
    background-repeat: no-repeat;
    background-size: 22px;
    background-position: right 15px;
}

.wrap-wedding-at-samaya {
    clear: both;
    width: 90%;
    min-width: none;
    min-height: nonepx;
    margin: 0 auto;
}

.container-slider-wedding {
    position: relative;
    float: left;
    width: 59.4887683965%;
    height: 700px;
    background-repeat: repeat, no-repeat;
    background-size: 100% 100%, cover;
    background-position: 0% 0%, right center;
    background-attachment: scroll, scroll;
}

.container-arrow-slider-wedding {
    position: absolute;
    bottom: 40px;
    left: 4.1657129777%;
    z-index: 138;
    width: 53px;
    min-width: none;
    height: 29px;
    min-height: nonepx;
}

.container-description-wedding {
    float: left;
    width: 30.442728505%;
    min-width: none;
    min-height: nonepx;
    margin: 209px 0 0 8.05247%;
}

.container-title-wedding {
    position: relative;
    float: left;
    width: 100%;
    min-width: none;
    min-height: nonepx;
    padding-bottom: 60px;
}

.text-title-wedding {
    float: left;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    font-family: 'Crimson Text';
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 2px;
    color: rgb(0, 0, 0);
}

.text-title-wedding span {
    margin-left: 8.69116%;
    padding-top: 4px;
    float: left;
}

.text-brief-wedding {
    float: left;
    clear: both;
    width: 99.7461928934%;
    min-width: none;
    min-height: nonepx;
    padding-bottom: 100px;
    background-color: rgba(0, 0, 0, 0);
    font-family: 'Crimson Text';
    font-size: 16px;
    color: rgb(116, 116, 116);
}

.text-see-package-wedding {
    float: left;
    width: 66.2576687116%;
    min-width: none;
    min-height: nonepx;
    background-color: rgba(0, 0, 0, 0);
    font-size: 16px;
    color: rgb(184, 135, 96);
    font-family: 'Crimson Text';
}

.wrap-what-happening {
    float: left;
    clear: both;
    width: 94.8611111111%;
    min-width: none;
    min-height: nonepx;
    margin: 300px 0 300px 5.13835%;
}

.wrap-what-happening .container-what-happening {
    float: left;
    width: 25.2562225475%;
    min-width: none;
    min-height: nonepx;
}

.wrap-what-happening .container-title-what-happening {
    float: left;
    width: 100%;
    min-width: none;
    min-height: nonepx;
    margin-top: 100px;
    padding-bottom: 60px;
}

.wrap-what-happening .container-social-media {
    float: left;
    clear: both;
    width: 100%;
    min-width: none;
    min-height: nonepx;
    margin-top: 350px;
}

.wrap-what-happening .container-list-social-media {
    float: left;
    clear: both;
    width: 151px;
    min-width: none;
    height: 17px;
    min-height: nonepx;
}

.wrap-what-happening .container-list-social-media a{
    display: inline-block;
}

.wrap-what-happening .container-list-social-media a img{
    margin-right: 20px;
    height: 16px;
}

.wrap-what-happening .container-list-social-media a img.instagram-icon{
    width: 16px;
}

.wrap-what-happening .container-list-social-media a img.facebook-icon{
    width: 9px;
}

.wrap-what-happening .container-list-social-media a img.twitter-icon{
    width: 19px;
}

.wrap-what-happening .container-list-social-media a img.youtube-icon{
    width: 23px;
}

.wrap-what-happening .wrap-instagram-feed {
    float: right;
    width: 72.4743777452%;
    min-width: none;
    min-height: nonepx;
}

.wrap-what-happening .text-what-happening {
    float: left;
    width: 100%;
    min-width: none;
    min-height: nonepx;
    background-color: rgba(0, 0, 0, 0);
    font-family: 'Crimson Text';
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 2px;
    color: rgb(0, 0, 0);
}

.wrap-what-happening .text-atsamaya-what-happening {
    float: left;
    clear: both;
    width: 100%;
    min-width: none;
    min-height: nonepx;
    margin-left: 8.67557%;
    padding-top: 4px;
    background-color: rgba(0, 0, 0, 0);
    font-family: 'Crimson Text';
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 2px;
    color: rgb(0, 0, 0);
}

.wrap-what-happening .text-stay-connected {
    float: left;
    width: 100%;
    min-width: none;
    min-height: nonepx;
    padding-bottom: 20px;
    background-color: rgba(0, 0, 0, 0);
    font-family: 'Crimson Text';
    font-style: italic;
    font-size: 20px;
    color: #ac9989;
}

.wrap-what-happening .image-28 {
    float: left;
    width: 17px;
    min-width: none;
    min-height: nonepx;
}

.wrap-what-happening .image-29 {
    float: left;
    width: 9px;
    min-width: none;
    min-height: nonepx;
    margin-left: 20.50911%;
}

.wrap-what-happening .image-30 {
    float: left;
    width: 19px;
    min-width: none;
    min-height: nonepx;
    margin: 1px 0 0 19.2053%;
}

.wrap-what-happening .image-31 {
    float: left;
    width: 23px;
    min-width: none;
    min-height: nonepx;
    margin: 1px 0 0 15.23179%;
}

/* PAGE */

header .container-title-page {
    position: absolute;
    width: 620px;
    height: 239px;
    right: 16.85547%;
    /* margin: 290px  0 0; */
}

.page header .container-title-page {
    right: 0;
}

header .text-subtitle-page {
    float: right;
    min-width: none;
    min-height: nonepx;
    background-color: rgba(0, 0, 0, 0);
    font-family: 'Nunito Sans';
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    color: rgb(255, 255, 255);
}

header .text-title-page-1 {
    float: right;
    clear: both;
    min-width: none;
    min-height: nonepx;
    margin-top: 26px;
    font-family: 'Crimson Text';
    background-color: rgba(0, 0, 0, 0);
    font-size: 50px;
    letter-spacing: 4px;
    text-align: right;
    color: rgb(255, 255, 255);
}

header .text-title-page-2 {
    position: relative;
    float: right;
    clear: both;
    z-index: 0;
    font-family: 'Crimson Text';
    background-color: rgba(0, 0, 0, 0);
    font-size: 50px;
    letter-spacing: 4px;
    color: rgb(255, 255, 255);
}

header .line-title-hero-page {
    float: left;
    clear: both;
    width: 17.1604202772%;
    height: 2px;
    margin: -32px 0 0 106.93548%;
    background-color: rgb(255, 255, 255);
}

.wrap-content-page {
    position: relative;
    float: left;
    clear: both;
    z-index: 0;
    width: 100%;
    padding-top: 220px;
    padding-bottom: 120px;
}

.wrap-content-page .container-title-page {
    position: relative;
    float: left;
    width: 27.9687499999%;
    margin-left: 9.21875%;
}

.wrap-content-page .title-content-page {
    position: relative;
    z-index: 0;
    width: 69.7478991596%;
    margin-left: -0.00291%;
    font-family: 'Crimson Text';
    font-size: 32px;
    font-weight: 400;
    letter-spacing: 2px;
    color: rgb(0, 0, 0);
}

.wrap-content-page .line-title-page {
    width: 30px;
    background-color: rgb(58, 58, 58);
    float: left;
    height: 1px;
    margin-top: 30px;
}

.wrap-content-page .line-title-des {
    clear: both;
    width: 24%;
    margin: -22px 0 0 87.73277%;
    background-color: rgb(201, 201, 201);
    height: 1px;
    float: left;
}

.wrap-content-page .description-page {
    width: 35.4166666666%;
    margin-left: 14.11377%;
    padding-top: 3px;
    font-size: 16px;
    color: rgb(116, 116, 116);
    float: left;
}

.wrap-content-page .description-page p {
    margin-bottom: 1em;
    font-family: 'Crimson Text';
}

.wrap-list-product {
    position: relative;
    clear: both;
    z-index: 0;
    width: 90%;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    align-items: center;
    /* margin-bottom: 220px; */
}

.wrap-list-product .element {
    position: absolute;
    top: 62px;
    z-index: 0;
    width: 35%;
    height: 1px;
    background-color: #b8b9be;
}

.wrap-content-list-product {
    width: 100%;
    clear: both;
}

.wrap-content-list-product .wrap-list-product:nth-child(odd) .element {
    left: -57.31%;
}

.wrap-content-list-product .wrap-list-product:nth-child(even) .element {
    right: -45.76%;
}

.wrap-list-product .container-slide-product {
    position: relative;
    float: left;
    width: 56.177551854%;
    height: 700px;
    margin-left: 0.02179%;
    box-shadow: 21px 21px 100px rgba(0, 0, 0, 0.23);
}

.wrap-content-list-product .wrap-list-product:nth-child(even) .container-slide-product {
    float: right;
    position: absolute;
    right: 0;
}

.wrap-list-product .container-slide-product .inner {
    width: 100%;
    height: 100%;
}

.wrap-list-product .container-slide-product .inner .item {
    width: 100%;
    height: 700px;
    float: left;
    background-repeat: repeat, no-repeat;
    background-size: 100% 100%, cover;
    background-position: 0% 0%, right center;
    background-attachment: scroll, scroll;
}

.wrap-list-product .container-slide-product .prev-next {
    position: absolute;
    bottom: 40px;
    left: 5%;
    width: 55px;
    height: 30px;
    top: inherit;
}

.wrap-list-product .container-slide-product .prev-next img {
    height: 100%;
    float: left;
    width: 12px;
    cursor: pointer;
}

.wrap-list-product .container-slide-product .prev-next img.next {
    float: right;
}

.wrap-list-product .container-list-desc-product {
    float: left;
    width: 27.4787818272%;
    margin: 0 0 0 10.9218%;
}

.wrap-content-list-product .wrap-list-product:nth-child(even) .container-list-desc-product {
    margin-left: 0px;
}

.wrap-list-product .container-list-title-product {
    position: relative;
    float: left;
    width: 100%;
    padding-bottom: 60px;
}

.wrap-list-product .text-title-list-product {
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    font: 400 25px/1.6 'Crimson Text';
    letter-spacing: 2px;
    color: rgb(0, 0, 0);
}

.wrap-list-product .text-brief-list-product {
    clear: both;
    width: 99.7461928934%;
    padding-top: 20px;
    padding-bottom: 100px;
    background-color: rgba(0, 0, 0, 0);
    font-size: 16px;
    color: rgb(116, 116, 116);
    font-family: 'Crimson Text';
}

.wrap-list-product .link-detail-list-product {
    display: block;
    position: relative;
    clear: both;
    z-index: 0;
    padding-bottom: 1px;
    border-bottom: 1px solid #777777;
    font-family: 'Crimson Text';
    font-size: 16px;
    font-weight: 400;
    color: #777777;
    float: left;
}

.wrap-list-product .text-book-now {
    width: 117px;
    height: 22px;
    padding-right: 20px;
    background-color: rgba(0, 0, 0, 0);
    font-size: 16px;
    color: rgb(184, 135, 96);
    font-family: 'Crimson Text';
    float: right;
    background-image: url('../images/all-explore-arrow100.svg');
    background-repeat: no-repeat;
    background-size: 26px 10px;
    background-position: right center;
}

.wrap-list-product .arrow-list-product-detail {
    width: 26px;
    margin-top: 6px;
}

.wrap-list-product .container-detail-acco {
    clear: both;
    width: 100%;
    padding-bottom: 10px;
}

.wrap-list-product .container-detail-acco .text-label {
    width: 46.6858789625%;
    font-family: 'Nunito Sans';
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2px;
    color: rgb(0, 0, 0);
    float: left;
}

.wrap-list-product .container-detail-acco .text-value {
    width: 53.3141210374%;
    font-size: 14px;
    letter-spacing: 2px;
    float: left;
    color: rgb(0, 0, 0);
    font-family: 'Crimson Text';
    text-transform: uppercase;
}

.clear {
    clear: both;
}

/* SECTION NAV */

.section-nav {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 30px;
    z-index: 1;
    width: 30px;
    height: 239px;
    margin: auto 0;
    display: none;
}

.section-nav ul li a {
    width: 12px;
    height: 12px;
    margin: 42px auto 0;
    border: 1px solid #a5a5a5;
    border-radius: 14px;
    display: block;
    /* -moz-transition: background 0.5s ease;
    -ms-transition: background 0.5s ease;
    -webkit-transition: background 0.5s ease;
    -o-transition: background 0.5s ease;
    transition: background 0.5s ease; */
}

.section-nav ul li a.active {
    background-color: rgb(184, 135, 96);
    border: none;
}

/* SPECIAL OFFERS PAGE */

body.navbar-show nav.menu-header {
    display: block;
}

body.page .wrap-content-offers-page {
    position: relative;
    float: left;
    z-index: 5;
    width: 100%;
    padding-top: 250px;
    padding-bottom: 220px;
}

body.page .wrap-content-offers-page .container {
    position: relative;
    float: left;
    width: 27.9687499999%;
    margin-left: 9.21875%;
}

body.page .wrap-content-offers-page .container .subtitle {
    font-size: 16px;
    color: #575757;
    letter-spacing: 1px;
    font-family: 'Crimson Text';
}

body.page .wrap-content-offers-page .element {
    height: 1px;
}

body.page .text-title-offers {
    position: relative;
    z-index: 1;
    width: 69.7478991596%;
    margin-left: -0.00291%;
    font-family: 'Crimson Text';
    font-size: 32px;
    padding-bottom: 30px;
    font-weight: 400;
    letter-spacing: 2px;
    color: rgb(0, 0, 0);
}

body.page .element-offers-1 {
    position: absolute;
    top: 26px;
    left: 87.7327746741%;
    z-index: 2;
    width: 23.9990689013%;
    background-color: rgb(201, 201, 201);
}

body.page .element-offers-2 {
    float: left;
    clear: both;
    width: 30px;
    background-color: rgb(58, 58, 58);
}

body.page .text-desc-offers {
    width: 35.4166666666%;
    margin-left: 14.11377%;
    padding-top: 3px;
    font-size: 16px;
    color: rgb(116, 116, 116);
    font-family: 'Crimson Text';
    float: left;
}

.wrap-offers-list {
    position: relative;
    float: left;
    clear: both;
    z-index: 0;
    width: 100%;
    padding-bottom: 150px;
}

.wrap-offers-list .container-offers {
    width: 90%;
    max-width: 1370px;
    margin: 0 auto;
}

.wrap-offers-list .container-offers .container-list-item {
    float: left;
    width: 45.2554744525%;
    border: 1px solid rgba(235, 235, 235, 0.93);
    background-color: #ffffff;
    box-shadow: 20px 14px 40px rgba(0, 0, 0, 0.05);
    margin-bottom: 100px;
}

.wrap-offers-list .container-offers .container-list-item:nth-child(even) {
    float: right;
}

.wrap-offers-list .container-offers .container-list-item:nth-child(odd) {
    clear: both;
}

.wrap-offers-list .container-offers .container-list-item:nth-last-child(1),
.wrap-offers-list .container-offers .container-list-item:nth-last-child(2) {
    margin-bottom: 0px;
}

.wrap-offers-list .container-offers .bg-item {
    width: 100%;
    height: 350px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-color: rgb(222, 222, 222);
}

.wrap-offers-list .container-offers .content-description-item {
    width: 100%;
    padding: 60px;
}

.wrap-offers-list .container-offers .content-description-item h2 {
    width: 100%;
    height: 79px;
    padding-bottom: 25px;
    font-family: 'Nunito Sans';
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 2px;
    color: rgb(58, 48, 40);
    overflow: hidden;
}

.wrap-offers-list .container-offers .content-description-item .line-item {
    width: 32px;
    height: 1px;
    background-color: rgb(40, 40, 40);
}

.wrap-offers-list .container-offers .content-description-item .desc-value-item {
    padding-top: 25px;
    padding-bottom: 40px;
    font-size: 16px;
    height: 120px;
    color: rgb(116, 116, 116);
    font-family: 'Crimson Text';
}

.wrap-offers-list .container-offers .content-description-item .book-now-item {
    width: 110px;
    height: 30px;
    border: 1px solid rgb(184, 135, 96);
    font-family: 'Crimson Text';
    font-weight: 400;
    color: rgb(184, 135, 96);
    font-size: 16px;
    float: left;
}

.wrap-offers-list .container-offers .content-description-item .detail-btn-item {
    z-index: 0;
    padding-bottom: 2px;
    border-bottom: 1px solid rgb(184, 135, 96);
    float: right;
}

.wrap-offers-list .container-offers .content-description-item .detail-btn-item a {
    display: block;
    font-size: 16px;
    color: rgb(184, 135, 96);
    font-family: 'Crimson Text';
}

/* START NEWS PAGE */

.news .wrap-offers-list .container-offers .content-description-item h2,
.press-download .wrap-offers-list .container-offers .content-description-item h2 {
    color: #575757;
    height: 60px;
}

.news .wrap-offers-list .container-offers .content-description-item h4,
.press-download .wrap-offers-list .container-offers .content-description-item h4 {
    font-size: 10px;
    font-family: 'Nunito Sans';
    text-transform: uppercase;
    color: #575757;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.press-download .wrap-offers-list .container-offers .content-description-item .detail-download-item {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 40px;
    float: left;
    margin-top: 20px;
    background-image: url(../images/ico-download-press.svg);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 27px;
}

.press-download .wrap-offers-list .container-offers .content-description-item .detail-download-item a {
    display: block;
    font-size: 16px;
    color: rgb(184, 135, 96);
    font-family: 'Crimson Text';
    border-bottom: 1px solid rgb(184, 135, 96);
}

/* END NEWS PAGE */

/*  START SLIDE LIST PRODUCT */

.inner {
    width: 100%;
    position: relative;
}

.inner .slick-active:last-child {
    background-color: #FFF;
}

.inner a {
    float: left;
    width: 760px !important;
    position: relative;
}

.inner .list-item {
    width: 100%;
    min-width: none;
    min-height: nonepx;
}

.inner .list-item-description {
    float: left;
    clear: both;
    width: 100%;
    min-width: none;
    min-height: nonepx;
    padding: 58px 58px 100px;
}

.inner .container-image {
    float: left;
    width: 100%;
    height: 600px;
    background-color: rgb(222, 222, 222);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
}

.container-button-nav-slide{
    width: calc(100% - 1520px);
    right: 0;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 1;
}

.container-button-nav-slide .button-explore-more{
    height: 100%;
    background-color: #FFF;
    padding: 84px 58px 58px;
}

.container-button-nav-slide .button-explore-more a{
    width: 163px;
    display: block;
    background-color: rgba(0, 0, 0, 0);
    font-size: 16px;
    color: rgb(184, 135, 96);
    font-family: 'Crimson Text';
    background-image: url('../images/all-explore-arrow100.svg');
    background-repeat: no-repeat;
    background-size: 26px 10px;
    background-position: right center;
}

.overlay-slide-product {
    width: 100%;
    height: 600px;
    position: relative;
    display: flex;
    align-items: center;
    background: -webkit-linear-gradient(0deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%);
    background: -moz-linear-gradient(0deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%);
    background: -o-linear-gradient(0deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%);
    background: -ms-linear-gradient(0deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%);
    background: linear-gradient(450deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%);
    /* -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; */
}

.overlay-slide-product .prev-next{
    top: inherit;
}

/* .inner .slick-slide .list-item-subtitle,
.inner .slick-slide .list-item-title,
.inner .slick-slide .list-item-brief {
    display: none;
} */

/* .inner .slick-slide.slick-active .overlay-slide-product {
    display: none;
} */

/* .inner .slick-slide.slick-active .list-item-subtitle,
.inner .slick-slide.slick-active .list-item-title,
.inner .slick-slide.slick-active .list-item-brief {
    display: block;
} */

.inner .list-item-subtitle {
    float: left;
    width: 100%;
    min-width: none;
    min-height: nonepx;
    padding-bottom: 10px;
    background-color: rgba(0, 0, 0, 0);
    font-family: 'Nunito Sans';
    font-size: 11px;
    letter-spacing: 1px;
    color: rgb(145, 145, 145);
}

.inner .list-item-title {
    float: left;
    clear: both;
    width: 100%;
    padding-bottom: 20px;
    background-color: rgba(0, 0, 0, 0);
    font-family: 'Nunito Sans';
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 2px;
    color: rgb(58, 48, 40);
}

.inner .list-item-brief {
    float: left;
    clear: both;
    padding-bottom: 30px;
    background-color: rgba(0, 0, 0, 0);
    font-size: 16px;
    font-family: 'Crimson Text';
    color: rgb(116, 116, 116);
}

.inner .list-item-text-explore {
    float: left;
    clear: both;
    padding-bottom: 2px;
    border-bottom: 1px solid rgb(184, 135, 96);
    background-color: rgba(0, 0, 0, 0);
    font-size: 16px;
    font-family: 'Crimson Text';
    color: rgb(184, 135, 96);
}

.prev-next {
    position: absolute;
    right: 160px;
    top: 30%;
    width: 50px;
}

.prev-next img {
    width: 14px;
    float: left;
    cursor: pointer;
}

.prev-next img:last-child {
    float: right;
}

/* END SLIDE LIST PRODUCT */

/* START DETAIL PAGE */

.page-detail .image-scroll-down-hero {
    display: block
}

.page-detail .container-title-hero-detail-page {
    /* position: absolute; */
    width: 100%;
    /* left: 17.8125%; */
    /* margin: 325px 0 0 ; */
}

.page-detail .sub-title-detail-page {
    background-color: rgba(0, 0, 0, 0);
    font-family: 'Nunito Sans';
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    color: rgb(255, 255, 255);
}

.page-detail .title-detail-page-1 {
    margin-top: 26px;
    background-color: rgba(0, 0, 0, 0);
    font-family: 'Crimson Text';
    font-size: 40px;
    letter-spacing: 4px;
    color: rgb(255, 255, 255);
}

.page-detail .title-detail-page-2 {
    position: relative;
    padding-top: 10px;
    padding-left: 80px;
    background-color: rgba(0, 0, 0, 0);
    font-family: 'Crimson Text';
    font-size: 40px;
    letter-spacing: 4px;
    color: rgb(255, 255, 255);
}

.wrap-desc-detail-page {
    position: relative;
    z-index: 0;
    clear: both;
    width: 100%;
    padding-top: 200px;
    padding-bottom: 200px;
}

.wrap-desc-detail-page .container-desc-detail {
    width: 51.09375%;
    margin-left: 30.41667%;
}

.wrap-desc-detail-page .container-desc-detail h2 {
    font: 400 25px/1.6 'Crimson Text';
    letter-spacing: 2px;
    color: rgb(0, 0, 0);
    margin: 0 auto;
    margin-bottom: 40px;
}

.wrap-desc-detail-page .container-desc-detail .price {
    color: #B88760;
    font-weight: 600;
    font-family: 'Crimson Text';
    font-size: 16px;
}

.wrap-desc-detail-page .container-desc-detail .description-value {
    width: 65%;
    padding-top: 3px;
    padding-bottom: 30px;
    background-color: rgba(0, 0, 0, 0);
    font-family: 'Crimson Text';
    font-size: 16px;
    color: rgb(116, 116, 116);
    margin-bottom: 130px;
    clear: both;
}

.wrap-desc-detail-page .container-desc-detail .description-value p {
    margin-bottom: 10px;
}

.wrap-desc-detail-page .container-desc-detail .container-details-features {
    width: 100%;
}

.wrap-desc-detail-page .container-desc-detail .container-details-features h2 {
    width: 99.7890295358%;
    margin-left: -0.09848%;
    padding-bottom: 35px;
    font: 400 25px/1.6 'Crimson Text';
    letter-spacing: 2px;
    color: rgb(0, 0, 0);
}

.wrap-desc-detail-page .container-desc-detail .container-details-features .container-details {
    float: left;
    width: 48.5219164118%;
}

.wrap-desc-detail-page .container-desc-detail .container-details-features .container-features {
    float: right;
    width: 48.5219164118%;
}

.wrap-desc-detail-page .container-desc-detail .container-details-features .container-features .features-acco {
    width: 100%;
    font-family: 'Crimson Text';
    font-size: 16px;
    color: rgb(116, 116, 116);
}

.wrap-desc-detail-page .container-detail-acco {
    clear: both;
    width: 100%;
    padding-bottom: 10px;
}

.wrap-desc-detail-page .container-detail-acco .text-label {
    width: 55%;
    font-family: 'Nunito Sans';
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2px;
    color: rgb(0, 0, 0);
    float: left;
}

.wrap-desc-detail-page .container-detail-acco .text-value {
    width: 40%;
    font-size: 14px;
    letter-spacing: 2px;
    float: left;
    color: rgb(0, 0, 0);
    font-family: 'Crimson Text';
}

.page-detail .wrap-booking-acco-form {
    position: relative;
    width: 100%;
    padding-top: 200px;
    padding-bottom: 200px;
    /* background-color: #788698; */
    background-color: #dbcead;
}

.page-detail .wrap-booking-acco-form .container-booking-acco-form {
    width: 865px;
    height: 440px;
    margin-left: 30.41667%;
}

.page-detail .wrap-booking-acco-form .container-booking-acco-form h2 {
    width: 100%;
    margin: 0;
    padding-bottom: 41px;
    font: 400 25px/1.6 'Crimson Text';
    letter-spacing: 2px;
    /* color: #ffffff; */
    color: #3A3028;
}

.page-detail .wrap-booking-acco-form .container-booking-acco-form .form-left {
    float: left;
    width: 46.3583815028%;
}

.page-detail .wrap-booking-acco-form .container-booking-acco-form .form-right {
    width: 46.3583815028%;
    float: right;
}

.page-detail .wrap-booking-acco-form .container-booking-acco-form .container-form-input {
    width: 100%;
    padding-top: 38px;
    padding-bottom: 9px;
    /* border-bottom: 1px solid #9fa9b6; */
    border-bottom: 1px solid #aca086;
}

.page-detail .wrap-booking-acco-form .container-booking-acco-form .container-form-input label {
    width: 22%;
    padding-top: 3px;
    font-family: 'Crimson Text';
    font-size: 14px;
    font-weight: 400;
    /* color: #ffffff; */
    color: #575757;
    float: left;
}

.page-detail .wrap-booking-acco-form .container-booking-acco-form .container-form-input input {
    float: right;
    width: 76%;
    font-family: 'Crimson Text';
    font-size: 18px;
    font-weight: 400;
    /* color: #ffffff; */
    color: #3A3028;
    background-color: transparent;
}

.page-detail .wrap-booking-acco-form .container-booking-acco-form .access-code label {
    width: 70%;
}

.page-detail .wrap-booking-acco-form .container-booking-acco-form .access-code input {
    width: 28%;
}

.page-detail .wrap-booking-acco-form .container-booking-acco-form .container-form-input input::-webkit-input-placeholder {
    /* color: #ffffff; */
    color: #3A3028;
}

.page-detail .wrap-booking-acco-form .container-booking-acco-form .container-form-input input::-moz-placeholder {
    /* color: #ffffff; */
    color: #3A3028;
}

.page-detail .wrap-booking-acco-form .container-booking-acco-form .check-availability {
    width: 30.7514450867%;
    height: 63px;
    /* background-color: #d5a47f; */
    background-color: #b9875d;
    font-family: 'Crimson Text';
    font-size: 22px;
    font-weight: 400;
    margin-top: 50px;
    text-align: center;
    color: rgb(255, 255, 255);
    clear: both;
}

.page-detail .wrap-other-accommodation {
    width: 100%;
    padding-top: 100px;
    position: relative;
}

.page-detail .wrap-other-accommodation h2 {
    width: 59.5833333333%;
    margin: 0 auto;
    padding-bottom: 80px;
    font: 400 25px/1.6 'Crimson Text';
    letter-spacing: 2px;
    color: rgb(0, 0, 0);
}

.page-detail .inner .container-image {
    height: 500px;
}

/* END DETAIL PAGE */

/* START DINING DETAIL PAGE */

.dining-detail .wrap-form-booking-hero .container-form-booking-hero,
.special-offers-detail .wrap-form-booking-hero .container-form-booking-hero {
    display: none;
}

.dining-detail .wrap-form-booking-hero .container-button-book-now,
.special-offers-detail .wrap-form-booking-hero .container-button-book-now {
    margin-top: 0px;
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;
}

.dining-detail .wrap-form-booking-hero .text-best-rate,
.special-offers-detail .wrap-form-booking-hero .text-best-rate {
    display: none;
}

.dining-detail .wrap-form-booking-hero .text-book-now,
.special-offers-detail .wrap-form-booking-hero .text-book-now {
    margin-top: 0px;
    padding-bottom: 0px;
}

.dining-detail .container-open-dresscode {
    width: 100%;
    padding-bottom: 60px;
}

.dining-detail .container-open-dresscode .dining-open,
.dining-detail .container-open-dresscode .dining-dresscode {
    float: left;
    width: 50%;
}

.dining-detail .container-open-dresscode h4 {
    font-family: 'Nunito Sans';
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 2px;
    color: rgb(165, 165, 165);
    padding-bottom: 20px;
}

.dining-detail .container-open-dresscode p {
    letter-spacing: 2px;
    color: rgb(0, 0, 0);
    font-family: 'Crimson Text';
    font-size: 13px;
}

.dining-detail .container-text-other-menu {
    width: 65%;
}

.dining-detail .container-text-other-menu h3 {
    padding-bottom: 32px;
    font: 400 25px/1.6 'Crimson Text';
    letter-spacing: 2px;
    color: rgb(0, 0, 0);
}

.dining-detail .container-text-other-menu p {
    padding-bottom: 30px;
    font-size: 16px;
    color: rgb(116, 116, 116);
    font-family: 'Crimson Text';
}

.dining-detail .wrap-menu-dining {
    width: 100%;
    margin-top: 30px;
    background-color: #f9f8f2;
    padding-bottom: 30px;
}

.dining-detail .wrap-menu-dining .container-category-menu {
    float: left;
    width: 25%;
    padding-top: 49px;
    padding-bottom: 60px;
    padding-left: 60px;
}

.dining-detail .wrap-menu-dining .container-category-menu ul {
    width: 80%;
}

.dining-detail .wrap-menu-dining .container-category-menu ul li {
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    font-family: 'Crimson Text';
    font-size: 16px;
    color: #575757;
    font-weight: 400;
    cursor: pointer;
    text-transform: uppercase;
    background-image: none;
    background-repeat: no-repeat;
    background-size: 5px 11px;
    background-position: right center;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.dining-detail .wrap-menu-dining .container-category-menu ul li.active,
.dining-detail .wrap-menu-dining .container-category-menu ul li:hover {
    color: #B88760;
    background-image: url(../images/arrow-menu.svg);
}

.dining-detail .wrap-menu-dining .wrap-list-menu {
    width: 75%;
    padding: 24px 100px;
    float: left;
}

.dining-detail .wrap-menu-dining .wrap-cat-list-menu {
    clear: both;
    display: none;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.dining-detail .wrap-menu-dining .wrap-cat-list-menu.active {
    display: block;
}

.dining-detail .wrap-menu-dining .wrap-list-menu .container-menu-type {
    width: 100%;
    padding-top: 42px;
    padding-bottom: 30px;
    border-bottom: 1px solid #cecece;
}

.dining-detail .wrap-menu-dining .wrap-list-menu .container-menu-type ul li {
    padding-left: 35px;
    padding-right: 30px;
    font-family: 'Nunito Sans';
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 2px;
    color: #575757;
    float: left;
    cursor: pointer;
    text-transform: uppercase;
    background-repeat: no-repeat;
    background-size: 10px;
    background-position: left center;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.dining-detail .wrap-menu-dining .wrap-list-menu .container-menu-type ul li.active,
.dining-detail .wrap-menu-dining .wrap-list-menu .container-menu-type ul li:hover {
    color: #b9875d;
    background-image: url(../images/menu-type-active.png);
}

.dining-detail .wrap-menu-dining .wrap-list-menu .container-list-menu {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.dining-detail .wrap-menu-dining .wrap-list-menu .container-list-menu .list-item-menu {
    width: 50%;
    float: left;
    padding-right: 40px;
    margin-bottom: 30px;
    display: none;
}

.dining-detail .wrap-menu-dining .wrap-list-menu .container-list-menu .list-item-menu:nth-child(odd) {
    clear: both;
}

.dining-detail .wrap-menu-dining .wrap-list-menu .container-list-menu .list-item-menu h4 {
    padding-bottom: 20px;
    border-bottom: 1px solid #cecece;
    font-family: 'Nunito Sans';
    font-weight: bold;
    font-size: 14px;
    color: #575757;
}

.dining-detail .wrap-menu-dining .wrap-list-menu .container-list-menu .list-item-menu p {
    padding-top: 20px;
    font-size: 15px;
    font-family: 'Crimson Text';
    color: #707070;
}

.dining-detail .wrap-menu-dining .wrap-list-menu .container-download-menu {
    width: 100%;
}

.dining-detail .wrap-menu-dining .wrap-list-menu .container-download-menu a {
    display: inline-block;
    background-image: url(../images/download-menu.svg);
    height: 30px;
    background-size: 27px 27px;
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 45px;
    padding-top: 3px;
}

.dining-detail .wrap-menu-dining .wrap-list-menu .container-download-menu a p {
    border-bottom: 1px solid rgb(172, 153, 137);
    font-size: 16px;
    text-align: right;
    color: #575757;
    font-family: 'Crimson Text';
}

.dining-detail .wrap-desc-detail-page {
    padding-bottom: 0px;
}

.dining-detail .wrap-reservation-dining {
    width: 100%;
    padding-top: 150px;
    padding-bottom: 150px;
    background: rgb(80, 98, 120);
    background: -webkit-linear-gradient(95deg, rgba(53, 63, 76, 0.8) 0%, rgb(80, 98, 120) 100%), url(../images/dining-booking.jpg) #788698;
    background: -moz-linear-gradient(95deg, rgba(53, 63, 76, 0.8) 0%, rgb(80, 98, 120) 100%), url(../images/dining-booking.jpg) #788698;
    background: -o-linear-gradient(95deg, rgba(53, 63, 76, 0.8) 0%, rgb(80, 98, 120) 100%), url(../images/dining-booking.jpg) #788698;
    background: -ms-linear-gradient(95deg, rgba(53, 63, 76, 0.8) 0%, rgb(80, 98, 120) 100%), url(../images/dining-booking.jpg) #788698;
    background: linear-gradient(355deg, rgba(53, 63, 76, 0.8) 0%, rgb(80, 98, 120) 100%), url(../images/dining-booking.jpg) #788698;
    background-repeat: repeat, no-repeat;
    background-size: 100% 100%, cover;
    background-position: 0% 0%, center center;
    background-attachment: scroll, scroll;
}

.dining-detail .wrap-reservation-dining .container-reservation-dining {
    position: relative;
    width: 865px;
    margin: 0 auto;
}

.dining-detail .wrap-reservation-dining .container-reservation-dining .left {
    width: 50%;
    float: left;
}

.dining-detail .wrap-reservation-dining .container-reservation-dining .left h3 {
    padding-bottom: 41px;
    font: 400 25px/1.6 'Crimson Text';
    letter-spacing: 2px;
    color: #ffffff;
    text-transform: uppercase;
}

.dining-detail .wrap-reservation-dining .container-reservation-dining .left p {
    width: 69.8265895953%;
    margin-left: 0.06135%;
    padding-bottom: 50px;
    font-size: 16px;
    color: rgb(255, 255, 255);
    font-family: 'Crimson Text';
}

.dining-detail .wrap-reservation-dining .container-reservation-dining .left p a {
    color: rgb(255, 255, 255);
    font-family: 'Crimson Text';
    text-decoration: none;
}

.dining-detail .wrap-reservation-dining .container-reservation-dining .left .container-or {
    width: 36.9978323699%;
}

.dining-detail .wrap-reservation-dining .container-reservation-dining .left .container-or .element-or {
    float: left;
    width: 45.815838297%;
    height: 1px;
    margin-top: 12px;
    background-color: rgb(222, 222, 222);
}

.dining-detail .wrap-reservation-dining .container-reservation-dining .left .container-or p {
    float: left;
    margin-left: 9.36403%;
    font-family: 'Crimson Text';
    font-size: 16px;
    font-weight: 400;
    width: auto;
    color: #ffffff;
}

/* END DINING DETAIL PAGE */

/* START OFFERS DETAIL PAGE */

.special-offers-detail .wrap-desc-detail-page .container-price {
    float: left;
    width: 48.5219164118%;
}

.special-offers-detail .wrap-desc-detail-page .container-desc-detail h4 {
    font-family: 'Nunito Sans';
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 2px;
    color: rgb(165, 165, 165);
    margin-bottom: 20px;
}

.special-offers-detail .wrap-desc-detail-page .container-desc-detail p {
    font-size: 16px;
    letter-spacing: 2px;
    color: rgb(0, 0, 0);
    font-family: 'Crimson Text';
    margin-bottom: 10px;
}

.special-offers-detail .wrap-desc-detail-page .container-valid-date {
    float: right;
    width: 48.5219164118%;
}

.special-offers-detail .wrap-desc-detail-page .description-value {
    margin-top: 60px;
    clear: both;
    float: left;
}

.special-offers-detail .wrap-desc-detail-page .description-value p {
    font-size: 16px;
    color: rgb(116, 116, 116);
    padding-top: 3px;
    background-color: rgba(0, 0, 0, 0);
}

.page-detail .wrap-desc-detail-page .additional-list {
    width: 70%;
    clear: both;
    margin-bottom: 160px;
}

.page-detail .wrap-desc-detail-page .terms-conditions {
    width: 70%;
}

.page-detail .wrap-desc-detail-page .additional-list h3,
.page-detail .wrap-desc-detail-page .terms-conditions h3 {
    /* padding-bottom: 20px; */
    font: 400 25px/1.6 'Crimson Text';
    letter-spacing: 2px;
    color: rgb(0, 0, 0);
}

.page-detail .wrap-desc-detail-page .additional-list ul li,
.page-detail .wrap-desc-detail-page .terms-conditions ul li {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(231, 231, 231);
    font-size: 16px;
    color: rgb(116, 116, 116);
    font-family: 'Crimson Text';
    width: 100%;
    clear: both;
}

.page-detail .wrap-desc-detail-page .terms-conditions ul li span::after {
    clear: both;
}

.page-detail .wrap-desc-detail-page .additional-list ul li span,
.page-detail .wrap-desc-detail-page .terms-conditions ul li span {
    background-repeat: no-repeat;
    background-size: 12px 8px;
    padding-left: 28px;
    display: block;
    background-position: left 7px;
}

.page-detail .wrap-desc-detail-page .terms-conditions ul li span {
    background-image: url(../images/bullet.svg);
}

.page-detail .wrap-desc-detail-page .additional-list ul li span {
    background-image: url(../images/centang.svg);
}

.page-detail .wrap-desc-detail-page .book-now {
    width: 280px;
    height: 56px;
    font-family: 'Crimson Text';
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 2px;
    background-color: rgb(184, 135, 96);
    text-align: center;
    color: rgb(255, 255, 255);
    margin-top: 100px;
}

.special-offers-detail .wrap-other-accommodation h2,
.events-detail .wrap-other-accommodation h2 {
    width: 51.09375%;
    margin-left: 30.41667%;
}

/* END OFFERS DETAIL PAGE */

/* START EVENTS DETAIL PAGE */

.wrap-reservation {
    background-image: -webkit-linear-gradient(90deg, rgba(0, 0, 0, 0.28) 0%, rgba(0, 0, 0, 0.53) 100%), url(../images/wedding.jpg);
    background-image: -moz-linear-gradient(90deg, rgba(0, 0, 0, 0.28) 0%, rgba(0, 0, 0, 0.53) 100%), url(../images/wedding.jpg);
    background-image: -o-linear-gradient(90deg, rgba(0, 0, 0, 0.28) 0%, rgba(0, 0, 0, 0.53) 100%), url(../images/wedding.jpg);
    background-image: -ms-linear-gradient(90deg, rgba(0, 0, 0, 0.28) 0%, rgba(0, 0, 0, 0.53) 100%), url(../images/wedding.jpg);
    background-image: linear-gradient(360deg, rgba(0, 0, 0, 0.28) 0%, rgba(0, 0, 0, 0.53) 100%), url(../images/wedding.jpg);
    background-repeat: repeat, no-repeat;
    background-size: 100% 100%, cover;
    background-position: 0% 0%, center center;
    background-attachment: scroll, scroll;
    padding: 130px 0;
    min-height: 450px;
}

.wrap-reservation .container-reservation {
    width: 51.09375%;
    margin-left: 30.41667%;
}

.wrap-reservation .container-reservation h3 {
    font-size: 22px;
    font-family: 'Crimson Text';
    color: #FFF;
    margin-bottom: 20px;
}

.wrap-reservation .container-reservation p {
    width: 50%;
    font-size: 16px;
    font-family: 'Crimson Text';
    color: #FFF;
}

.wrap-reservation .container-reservation .contact-reservation {
    padding-top: 30px;
}

.wrap-reservation .container-reservation .contact-reservation .line-white {
    width: 28px;
    height: 1px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 30px;
}

.wrap-reservation .container-reservation .contact-reservation a {
    font-size: 16px;
    font-family: 'Crimson Text';
    color: #FFF;
}

/* END EVENTS DETAIL PAGE */

/* START WHAT TO DO ACT IN PAGE */

.what-to-do-act-in .wrap-content-page,
.what-to-do-around .wrap-content-page {
    display: none;
}

.what-to-do-act-in .wrap-list-product .text-book-now,
.what-to-do-around .wrap-list-product .text-book-now {
    display: none;
}

.what-to-do-act-in-detail .wrap-desc-detail-page .container-desc-detail .description-value,
.what-to-do-around-detail .wrap-desc-detail-page .container-desc-detail .description-value {
    margin-bottom: 0px;
}

.what-to-do-act-in-detail.page-detail .wrap-other-accommodation,
.what-to-do-around-detail.page-detail .wrap-other-accommodation {
    padding-top: 0px;
}

/* END WHAT TO DO ACT IN PAGE */

/* START SPA DETAIL */

.spa-detail .wrap-desc-detail-page {
    padding-bottom: 0px;
}

.spa-detail .wrap-desc-detail-page .wrap-container-detail-spa {
    width: 75%;
    margin: 0 auto;
}

.spa-detail .wrap-desc-detail-page .container-detail-spa {
    width: 680px;
    margin: 0 auto;
}

.spa-detail .wrap-desc-detail-page .container-detail-spa h2 {
    font: 400 25px/1.6 'Crimson Text';
    letter-spacing: 2px;
    color: rgb(0, 0, 0);
    margin: 0 auto;
    margin-bottom: 20px;
}

.spa-detail .wrap-desc-detail-page .container-detail-spa p {
    font-family: 'Crimson Text';
    font-size: 16px;
    color: rgb(116, 116, 116);
}

.spa-detail .wrap-desc-detail-page .container-detail-spa .description-value {
    width: 100%;
    margin-bottom: 60px;
    padding-bottom: 0px;
}

.spa-detail .wrap-list-treatment {
    width: 100%;
}

.spa-detail .wrap-list-treatment .list-category-treatment {
    width: 100%;
    margin-bottom: 30px;
}

.spa-detail .wrap-list-treatment .list-category-treatment h4 {
    padding-bottom: 10px;
    font-family: 'Nunito Sans';
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 2px;
    color: rgb(184, 135, 96);
}

.spa-detail .wrap-list-treatment .list-category-treatment .desc-cat {
    padding-top: 3px;
    padding-bottom: 30px;
    background-color: rgba(0, 0, 0, 0);
    font-size: 16px;
    color: rgb(116, 116, 116);
    font-family: 'Crimson Text';
}

.spa-detail .wrap-list-treatment .list-category-treatment .list-treatment {
    border-top: 1px solid rgb(223, 227, 235);
    padding-top: 20px;
    padding-bottom: 20px;
}

.spa-detail .wrap-list-treatment .list-category-treatment .list-treatment:last-child {
    border-bottom: 1px solid rgb(223, 227, 235);
}

.spa-detail .wrap-list-treatment .list-category-treatment .list-treatment .left {
    width: 48%;
    float: left;
}

.spa-detail .wrap-list-treatment .list-category-treatment .list-treatment p {
    font-size: 16px;
    color: rgb(116, 116, 116);
    font-family: 'Crimson Text';
    margin-top: 5px;
}

.spa-detail .wrap-list-treatment .list-category-treatment .list-treatment .right {
    width: 48%;
    float: right;
}

.spa-detail .wrap-list-treatment .list-category-treatment .list-treatment .right p {
    float: left;
}

.spa-detail .wrap-list-treatment .list-category-treatment .list-treatment .right button {
    float: right;
    height: 28px;
    padding: 0 10px;
    border: 1px solid rgb(184, 135, 96);
    font-family: 'Crimson Text';
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
    color: rgb(184, 135, 96);
}

/* END SPA DETAIL */

.hide {
    display: none;
}

.pb-0 {
    padding-bottom: 0px !important;
}

/* START CONTACT US PAGE */

.contact-us .wrap-maps-contact-us {
    height: 800px;
}

.contact-us .wrap-content-contact-us {
    width: 100%;
    background-color: #F8F5F5;
    position: relative;
    padding-bottom: 30px;
}

.contact-us .wrap-content-contact-us .container-contact-us {
    background-color: #FFF;
    padding-top: 30px;
    width: 80%;
    max-width: 1130px;
    margin: 0 auto;
    position: relative;
    top: -80px;
    left: 0;
    right: 0;
    padding-left: 80px;
    padding-right: 60px;
    padding-bottom: 80px;
}

.contact-us .wrap-content-contact-us .container-contact-us h1 {
    font-size: 22px;
    font-family: 'Crimson Text';
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #3A3028;
    margin-bottom: 120px;
}

.contact-us .wrap-content-contact-us .container-contact-us .contact-information {
    width: 35%;
    float: left;
}

.contact-us .wrap-content-contact-us .container-contact-us .contact-information h3 {
    font-size: 16px;
    letter-spacing: 1px;
    font-family: 'Crimson Text';
    color: #B88760;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.contact-us .wrap-content-contact-us .container-contact-us .contact-information p,
.contact-us .wrap-content-contact-us .container-contact-us .contact-information a {
    font-size: 16px;
    font-family: 'Crimson Text';
    color: #575757;
}

.contact-us .wrap-content-contact-us .container-contact-us .contact-information .social-media {
    margin-top: 70px;
}

.contact-us .wrap-content-contact-us .container-contact-us .contact-information .social-media h3 {
    text-transform: none;
    font-style: italic;
    font-size: 20px;
    font-family: 'Crimson Text';
    letter-spacing: 2px;
}

.contact-us .wrap-content-contact-us .container-contact-us .contact-information .social-media img {
    margin-right: 20px;
    height: 16px;
}

.contact-us .wrap-content-contact-us .container-contact-us .contact-information .social-media img.instagram-icon {
    width: 16px;
}

.contact-us .wrap-content-contact-us .container-contact-us .contact-information .social-media img.facebook-icon {
    width: 9px;
}

.contact-us .wrap-content-contact-us .container-contact-us .contact-information .social-media img.twitter-icon {
    width: 19px;
}

.contact-us .wrap-content-contact-us .container-contact-us .contact-information .social-media img.youtube-icon {
    width: 23px;
}

.contact-us .wrap-content-contact-us .container-contact-us .contact-form {
    width: 50%;
    float: right;
}

.contact-us .wrap-content-contact-us .container-contact-us .contact-form p {
    font-size: 16px;
    font-family: 'Crimson Text';
    font-style: italic;
    color: #575757;
    padding: 0 10px;
    margin-bottom: 10px;
}

.contact-us .wrap-content-contact-us .container-contact-us .contact-form input {
    width: 100%;
    display: block;
    padding: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #D9D9D9;
    font-size: 16px;
    font-family: 'Crimson Text';
}

.contact-us .wrap-content-contact-us .container-contact-us .contact-form input::-webkit-input-placeholder {
    font-size: 16px;
    font-family: 'Crimson Text';
    color: #575757;
}

.contact-us .wrap-content-contact-us .container-contact-us .contact-form input::-moz-placeholder {
    font-size: 16px;
    font-family: 'Crimson Text';
    color: #575757;
}

.contact-us .wrap-content-contact-us .container-contact-us .contact-form button {
    width: 145px;
    padding: 7px 0;
    font-family: 'Crimson Text';
    font-size: 20px;
    color: #FFFFFF;
    background-color: #D5A47F;
    margin-left: 10px;
    margin-top: 40px;
}

/* END CONTACT US PAGE */

/* START ABOUT US PAGE */

.about-us.page header .wrap-title-hero {
    right: inherit;
    left: 17.8125%;
}

.about-us header .text-subtitle-page {
    float: left;
}

.about-us header .text-title-page-1 {
    float: left;
}

.about-us header .line-title-hero-page {
    margin-left: -55px;
}

.about-us .image-scroll-down-hero {
    display: block;
}

.about-us .wrap-about-us-page {
    width: 100%;
    background-color: #FFF;
    padding-top: 200px;
    padding-bottom: 130px;
    clear: both;
}

.about-us .wrap-about-us-page .container-about-us-page {
    width: 51.09375%;
    margin-left: 30.41667%;
}

.about-us .wrap-about-us-page .container-about-us-page .content-about-us {
    width: 80%;
}

.about-us .wrap-about-us-page .container-about-us-page .content-about-us p {
    font-size: 16px;
    font-family: 'Crimson Text';
    color: #575757;
    margin-bottom: 20px;
}

.about-us .wrap-about-us-page .container-about-destination {
    width: calc(100% - 30.41667%);
    margin-left: 30.41667%;
    margin-top: 120px;
}

.about-us .wrap-about-us-page .container-about-destination h2 {
    font-size: 22px;
    font-family: 'Crimson Text';
    color: #3A3028;
    margin-bottom: 30px;
}

.about-us .wrap-about-us-page .container-about-destination .container-destination-list {
    width: 100%;
    margin-bottom: 100px;
}

.about-us .wrap-about-us-page .container-about-destination .desc-dest {
    width: 50%;
    float: left;
}

.about-us .wrap-about-us-page .container-about-destination .desc-dest h3 {
    font-size: 16px;
    font-family: 'Crimson Text';
    color: #B88760;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.about-us .wrap-about-us-page .container-about-destination .desc-dest p {
    font-size: 16px;
    font-family: 'Crimson Text';
    color: #575757;
}

.about-us .wrap-about-us-page .container-about-destination .slide-destination-img {
    width: 40%;
    float: right;
    position: relative;
}

.about-us .wrap-about-us-page .container-about-destination .slide-destination-img .inner img {
    width: 380px !important;
    height: 365px;
    object-fit: cover;
    margin-right: 20px;
    opacity: 0.5;
    -moz-transition: opacity 0.5s ease;
    -ms-transition: opacity 0.5s ease;
    -webkit-transition: opacity 0.5s ease;
    -o-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
}

.about-us .wrap-about-us-page .container-about-destination .slide-destination-img .inner .slick-current img {
    opacity: 1;
}

.about-us .wrap-about-us-page .container-about-destination .slide-destination-img .prev-next {
    width: 50px;
    bottom: 30px;
    top: inherit;
}

.about-us .wrap-about-us-page .container-about-destination .slide-destination-img .prev-next img {
    height: 20px;
}

.about-us .wrap-about-us-page .container-about-destination .wrap-accolades img {
    height: 125px;
    width: auto;
    float: left;
    margin-right: 100px;
    margin-bottom: 70px;
}

/* END ABOUT US PAGE */


/* START POPUP DETAIL SLIDER */
.wrap-slide-popup{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 20;
    margin: auto 0;
    background-color: #455258;
    display: none;
}

.wrap-slide-popup .popup-slider{
    position: relative;
    width: 100%;
    padding-top: 80px;
    height: 100%;
    display: none;
}

.wrap-slide-popup .popup-slider h3{
    margin-top: 70px;
    margin-bottom: 40px;
    font-family: 'Crimson Text ';
    font-size: 18px;
    text-align: center;
    color: #ffffff;
}

.wrap-slide-popup .popup-slider .inner{
    display: flex;
    align-items: center;
}

.wrap-slide-popup .popup-slider .inner img{
    margin: auto 150px;
    cursor: -webkit-grab;
}

.wrap-slide-popup .popup-slider .inner .slick-slide img{
    opacity: 0.2;
    width: 760px!important;
    height: 470px;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.wrap-slide-popup .popup-slider .inner .slick-active img{
    height: 510px;
    opacity: 1;
}

.wrap-slide-popup .prev-next-popup{
    position: relative;
    width: 176px;
    height: 22px;
    margin: 80px auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 50px;
}

.wrap-slide-popup .prev-next-popup img{
    width: 9px;
    height: 100%;
    float: left;
    cursor: pointer;
}

.wrap-slide-popup .prev-next-popup img:last-child{
    float: right;
}
/* END POPUP DETAIL SLIDER */


/* START CONFIG POPUP */
.container-lang-popup{
    position: relative;
    float: left;
    z-index: 5;
    width: 112px;
    margin: 40px 0 0 3%;
}

.container-lang-popup ul li{
    float: left;
    padding-right: 6px;
    font-family: 'Nunito Sans';
    font-size: 10px;
    letter-spacing: 1px;
}

.container-lang-popup ul li:first-child,
.container-lang-popup ul li:last-child {
    background-image: url('../images/Line-languange.svg');
    background-repeat: no-repeat;
    background-size: 8px 12px;
}

.container-lang-popup ul li:first-child {
    padding-right: 10px;
    background-position: right;
    margin-right: 10px;
}

.container-lang-popup ul li:last-child {
    padding-left: 15px;
    background-position: left;
    margin-left: 0px;
}

.container-lang-popup ul li a{
    /* padding-right: 6px; */
    font-size: 10px;
    letter-spacing: 2px;
    color: rgb(255, 255, 255);
}

.close-popup{
    display: block;
    position: absolute;
    top: 40px;
    right: 3%;
    z-index: 100;
    width: 75px;
    height: 16px;
    cursor: pointer;
}

.close-popup span{
    width: 100%;
    display: block;
    font-size: 12px;
    letter-spacing: 2px;
    color: rgb(255, 255, 255);
    background-image: url('../images/close.svg');
    background-repeat: no-repeat;
    background-size: 14px;
    background-position: right center;
}
/* END CONFIG POPUP */