<span style='color: #000' title='Frames'>   236</span><span style='color: #009' title='Memory'>  13568.00 KB</span><span style='color: #900' title='Time'>    354.02 ms</span><span  title='Quirksmode'>  <span style='color: #d00'> ON</span></span><br />