.clearfix:before, .clearfix:after{ content:''; display:table; }
.clearfix:after{ clear:both }
.clearfix{ *zoom:1; }

.dash{ -moz-box-sizing:border-box; box-sizing:border-box; position:relative; }
.dash-content{ min-height:600px; }
.dash-content .action{ margin-bottom:20px; }
.dash-content .time-box{ float:right; height:30px; line-height:28px; margin:5px 0; }
.dash-content .time-box .opt{ 
	border:1px solid #BBBBBB; 
	border-right-width:0;	
	position:relative; 
	text-align:center;
	cursor:pointer;
	width:50px;
	float:left;}
.dash-content .time-box .opt:last-child{ border-right-width:1px; }
.dash-content .time-box .opt input{ 
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  	filter: alpha(opacity=0);
  -moz-opacity:0;
  -khtml-opacity:0;
  	opacity:0;
  		position:absolute;  
  		height:100%;
  		width:100%; 
  		margin:0;  
  		left:0; 
  		top:0;}
.dash-content .time-box .opt label{ padding:0 10px; display:block; background:#F5F5F5; }
.dash-content .time-box .opt input:checked + label{ background:#bbbbbb; }
.dash-content .three-cols{ float:left; width:60%; margin-top:30px; }
.dash-content .three-cols .box{ float:left; width:33.33%; }
.dash-content .three-cols .Chartjs{ margin:0 5px 30px; border-right:1px solid #bbb; }
.dash-content .three-cols .Chartjs h3{ margin:0 0 5px; }
.dash-content .three-cols .Chartjs b{ display:block; font-size:20px; margin-bottom:30px; }
.dash-content .three-cols .Chartjs-figure,
.dash-content .three-cols canvas{ height:30px !important; }

.chart{ width:98%; margin: 0 auto; }
.Chartjs{ margin-bottom:30px; }
.Chartjs h2{ font-size:18px; margin-bottom:20px; }
.Chartjs.half{ float:left; width:50%; }
.Chartjs-figure{ margin:0 !important; }

#dashboard_left, #people_left{
	border-top:1px solid #bbbbbb;
	margin-left:0px;
	height:auto;
	float:left;
	width:100%;
}

#dashboard_right, #people_right{
	width:226px !important;
	width:200px;
	min-width:200px !important;
	min-width:150px;
	height:auto;
	margin-left:10px;
	margin-top:30px;
	float:left;
	
	
}
#people_right{
	margin-top:0px;
}
#dashboard_left .home_plug1{
	width:100%;
	min-width:400px !important;
	min-width:600px;
	height:auto;
	margin-bottom:15px;
	padding: 0px 0px 5px 0;
}

#dashboard_right h2, #people_right h2{
	font-weight: bold;
	font-size: 12px;
	background: #f0f0f0;
	color:#333;
	border-top: 1px solid #ccc;
	padding:3px;
	margin:0;
}
.home_plug1 h2{
	padding:5px 5px 5px 10px;
	margin:0;
	background:url(../images/panel_bg.jpg) repeat-x;
	height:23px;
	border-bottom:1px solid #bbbbbb;
	font-size:14px;
}

.the_feeds{ height:auto; padding:10px 0px 0; border-top:1px solid #ffece9; margin:10px; }
.the_feeds:last-child{ border-bottom:1px solid #ffece9; }
.the_feeds_avatar{ width:50px; height:50px; float:left; background:#666; }
.the_feeds_content{ margin:0 0 0 60px; height:auto; position:relative; }
.the_author{ padding:0; }
.the_author a, a.the_post_title{ text-decoration:none; font-weight:bold; font-size:12px; color:#ef451e; }
.the_post{ margin:10px 0 0 0; border-left:1px solid #bbbbbb; padding:0 5px 0px 10px; }

.delete_post{ text-align:right; position:absolute; right:10px; top:0; }
.delete_post .delete_icon{
	cursor: pointer;
	background-image:url("../images/delete.png"); 
	background-repeat:no-repeat;
	background-position:right;
	width: 15px;
	height: 15px;
	
}

.the_post_title a{
	color:#999;
	font-size: 12px;
	text-decoration: none;
	font-weight: bold;
	
}
p.the_text_content{
	font-size:11px;
	color:#9a9a9a;
	width:80%;	
}
.input_post{
	width:95%;	
}
#postarea{
	width:100%;
	margin:0px 0 0 0;
    font-family:inherit;
    font-size: inherit;
    color:inherit;
    padding:3px;
    line-height:inherit;
    border: 1px solid #bbb;
}
.postbox{
	font-family:"Lucida Sans",Arial, Helvetica, sans-serif;
	width:98%;
	height:20px !important;
	height:30px;	
	min-width:200px;
	font-size:14px;
	border:1px solid #bbbbbb;
	padding:5px !important;
	padding:0;/*IE6 Hack*/
	/*background:url(../images/textbox-bg.png) repeat-x left top !important;
	background:#fff;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;*/
	
}
#postbox{
	width:100%;
}
.btn_post{
	background:url(../images/panel_bg.jpg) repeat-x;
	height:25px;
	border:1px solid #bbbbbb;
	cursor:pointer;
	margin:1px;
	font-size:12px;
	font-weight: bold;
}
#refresh_update{
	
}
.load_more_feeds{
	background:url(../images/panel_bg.jpg) repeat-x;
	margin:10px;
	border:1px solid #bbbbbb;
	width:auto;
	padding:4px 10px;
	text-align: center;
	font-weight: bold;
	cursor: pointer;
}
.load_more_feeds:hover,.load_more_feeds a:hover{
	background:#fff;
}
.load_more_feeds a{
	text-decoration: none;
	display: block;
	padding: 5px 0 5px 0;
}

/*--- B hidden : update june 2013 ---*/ 
.connection_menu ul li,
#dashboard_right,.home_plug1 ul.tabs,
.input_post #share_thought{
	display:none;
}
.connection_menu ul li.dashboard{
	display:block;
}
/*--- E hidden : update june 2013 ---*/ 