.application_area h1{ margin:18px 0 17px; padding:5px 0; }
.application_area fieldset p{ margin-top: 0; }
.application_area .form-field fieldset:first-child{ padding-top:0; }
.application_area .form-field .profile_line{ border:none; }
.application_area .list_edit .form-field fieldset{ border-bottom:1px solid #e1e1e1; }
.application_area .list_edit .form-field fieldset select{ margin:0; }
.application_area .list_edit .form-field h2{ margin:10px 20px 0; }

.no-margin{ margin:0; }
.no-border{ border:none; }
.hidden{ display:none; }

.ui-datepicker{
	box-shadow:0 0 8px rgba(102,175,233,.6);
	border:1px solid #66AFE9;
	background-color:#fff;
	border-radius:4px;
	display:none;
	margin-top:4px;
	padding:10px;
	width:250px;}
.ui-datepicker a,
.ui-datepicker a:hover{ text-decoration:none; }
.ui-datepicker a:hover,
.ui-datepicker td:hover a{
	color:#2A6496;
	-webkit-transition:color 0.1s ease-in-out;
	   -moz-transition:color 0.1s ease-in-out;
	     -o-transition:color 0.1s ease-in-out;
	        transition:color 0.1s ease-in-out;}
.ui-datepicker .ui-datepicker-header{ margin-bottom:4px; text-align:center; }
.ui-datepicker .ui-datepicker-title{ font-weight:700; }
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next{
	font-family:'Glyphicons Halflings';
	-webkit-font-smoothing:antialiased;
	font-weight:normal;
	font-style:normal;
	cursor:default;
	margin-top:2px;
	line-height:1;
	height:20px;
	width:30px;}
.ui-datepicker .ui-datepicker-prev{ float:left; text-align:left; }
.ui-datepicker .ui-datepicker-next{ float:right; text-align:right; }
.ui-datepicker .ui-datepicker-prev:before{ content:"\e079"; }
.ui-datepicker .ui-datepicker-next:before{ content:"\e080"; }
.ui-datepicker .ui-icon{ display:none; }
.ui-datepicker .ui-datepicker-calendar{ table-layout:fixed; width:100%; border-collapse:collapse; }
.ui-datepicker .ui-datepicker-calendar th,
.ui-datepicker .ui-datepicker-calendar td{ text-align:center;	padding:4px 0; }
.ui-datepicker .ui-datepicker-calendar td{
	-webkit-transition:background-color 0.1s ease-in-out, color 0.1s ease-in-out;
	   -moz-transition:background-color 0.1s ease-in-out, color 0.1s ease-in-out;
	     -o-transition:background-color 0.1s ease-in-out, color 0.1s ease-in-out;
	        transition:background-color 0.1s ease-in-out, color 0.1s ease-in-out;}
.ui-datepicker .ui-datepicker-calendar td:hover{ background-color:#eee; cursor:pointer; }
.ui-datepicker .ui-datepicker-calendar td a{ text-decoration:none; }
.ui-datepicker .ui-datepicker-current-day{ background-color:#4289cc; }
.ui-datepicker .ui-datepicker-today{ background-color:#DDDDDD; }
.ui-datepicker .ui-datepicker-current-day a,
.ui-datepicker .ui-datepicker-today a{ color:#fff }
.ui-datepicker .ui-datepicker-calendar .ui-datepicker-unselectable{ color:#f5f5f5; background-color:#f5f5f5; }
.ui-datepicker .ui-datepicker-calendar .ui-datepicker-unselectable:hover{ background-color:#f5f5f5; cursor:default; }


.small_textbox{
	background:url(../images/textbox-bg.png) repeat-x left top #ffffff !important;
	font-family:"Lucida Sans",Arial, Helvetica, sans-serif;
	border:1px solid #bbbbbb;
	font-size:14px;
	padding:7px;
	width:50px;}
.date_textbox{
	background:url(../images/textbox-bg.png) repeat-x left top #ffffff !important;
	font-family:"Lucida Sans",Arial, Helvetica, sans-serif;
	border:1px solid #bbbbbb;
	font-size:14px;
	padding:7px;
	width:250px;}
.medium_textbox{
	background:url(../images/textbox-bg.png) repeat-x left top #ffffff !important;
	font-family:"Lucida Sans",Arial, Helvetica, sans-serif;
	border:1px solid #bbbbbb;
	background:#ffffff;
	min-width:200px;
	font-size:14px;
	padding:7px;
	width:40%;}
.textbox{
	background:url(../images/textbox-bg.png) repeat-x left top !important;
	font-family:"Lucida Sans",Arial, Helvetica, sans-serif;
	border:1px solid #bbbbbb;
	background:#fff;
	min-width:400px;
	font-size:14px;
	padding:7px;
	width:100%;}

.category_textbox{
	font-family:"Lucida Sans",Arial, Helvetica, sans-serif;
	width:100%;	
	height:30px !important;
	min-width:100px;
	font-size:12px;
	border:1px solid #bbbbbb;
	padding:2px 5px !important;
	background:url(../images/textbox-bg.png) repeat-x left top !important;
	background:#fff;
	margin:5px 0 10px 0;}
.textarea{
	background:url(../images/textbox-bg.png) repeat-x left top !important;
	font-family:"Lucida Sans",Arial, Helvetica, sans-serif;
	border:1px solid #bbbbbb;
	font-size:14px;
	padding:7px;
	width:100%;}
.textarea.setting{height: 120px;}
.textarea.small{
	height: 33px;
}
select{
	width:auto;
	font-size:12px;
    height: 30px;
	margin:5px 0;
}
select.big{
	width:auto;
	font-size:14px;
	margin:5px 0;
}
.textarea_button{
	width:100% !important;
	height:40px;
	border-right:1px solid #bbbbbb;
	border-left:1px solid #bbbbbb;
	border-top:1px solid #bbbbbb;
	background:#f0f0ee;
	padding: 0 2px;
}

.textarea_button .button_area{
	line-height:39px;
	float:left;
	width:50%;
	height:39px;
	padding:0;
}
.textarea_button .visual_view, .textarea_button .html_view{
	line-height:26px;
	float:right;
	width:50%;
	height:39px;
	text-align:right;
	padding:0;
}
.textarea_button input.visual_view_button,.textarea_button input.html_view_button{
	height:26px;
	padding:0 15px;
	background:url(../images/button-html-view.png) repeat-x left top;
	border:1px solid #787878;
	color:#4e4e4e;	
	font-weight:bold;
	text-decoration:none;
	z-index:1;
}
.textarea_button input.visual_view_button_selected,.textarea_button input.html_view_button_selected{
	height:26px;
	padding:0 15px;
	background:#d1d1d1;
	border:1px solid #bbbbbb;
	color:#737373;
	font-weight:bold;
	text-decoration:none;
	z-index:1;
}

.textarea_button input.visual_view_button,
.textarea_button input.visual_view_button_selected,
.textarea_button input.html_view_button,
.textarea_button input.html_view_button_selected{ margin:6px; }

.textarea_button  a.upload_image{
	background:url(../images/ico-upload-images.png) no-repeat left top;
	padding:7px 12px 6px 12px;
	border:none;
	color:#4e4e4e;
	text-decoration:none;
	margin:0px 1px 0 10px;
	
}
.post_button{
	background:url(../images/ico-upload-images.png) no-repeat left top;
	padding:7px 12px 6px 12px;
	border:none;
	color:#4e4e4e;
	text-decoration:none;
	margin:0px 1px 0 10px;
}
.textarea_button a.upload_flash{
	background:url(../images/ico-upload-flash.png) no-repeat left top;
	height:26px;
	padding:7px 12px 6px 12px;
	border:none;
	color:#4e4e4e;
	font-weight:bold;
	text-decoration:none;
	margin:0px 1px 0 2px;
}
.textarea_button a.upload_video{
	background:url(../images/ico-upload-video.png) no-repeat left top;
	height:26px;
	padding:7px 12px 6px 12px;
	border:none;
	color:#4e4e4e;
	font-weight:bold;
	text-decoration:none;
	margin:0px 1px 0 2px;
}
.textarea_button  a.upload_music{
	background:url(../images/ico-upload-music.png) no-repeat left top;
	height:26px;
	padding:7px 12px 6px 12px;
	border:none;
	color:#4e4e4e;
	font-weight:bold;
	text-decoration:none;
	margin:0px 1px 0 2px;
}
.textarea_button a.upload_pdf{
	background:url(../images/ico-upload-pdf.png) no-repeat left top;
	height:26px;
	padding:7px 12px 6px 12px;
	border:none;
	color:#4e4e4e;
	font-weight:bold;
	text-decoration:none;
	margin:0px 1px 0 2px;
}
.textarea_button a.upload_doc{
	background:url(../images/ico-upload-doc.png) no-repeat left top;
	height:26px;
	padding:7px 12px 6px 12px;
	border:none;
	color:#4e4e4e;
	font-weight:bold;
	text-decoration:none;
	margin:0px 1px 0 2px;
}
.tinymce{
	width:100%;
	min-width:400px;
	font-size:12px;
}
/*end textarea*/
select{
	font-family:"Lucida Sans",Arial, Helvetica, sans-serif;
	border-right:1px solid #bbbbbb;
	border-bottom:1px solid #bbbbbb;
	border-left:1px solid #bbbbbb;
	border-top:1px solid #bbbbbb;
	padding:5px;
	background:url(../images/textbox-bg.png) repeat-x left top;
}
.status_to_show{ padding:0 20px; margin:15px 0; width:100%; }

.button_wrapper{ padding:0 20px; margin:20px 0;	width:100%; }
.button_wrapper.bottom{ margin:10px 0 30px 0; }
.button_left{ min-width:300px; height:auto; float:left; }
.button_right{ height:auto; float:right; }
.paging_right{ text-align:right; margin:4px 0; min-width:300px; width:100%; }

ul.button_navigation{ margin:0; padding:0 0; }
ul.button_navigation li{ display:inline; margin:0 0px; height:33px; }

.button{
	background:url(../images/panel_bg.jpg) repeat-x;
	height:25px;
	border:1px solid #bbbbbb;
	cursor:pointer;
	margin:1px;
	font-size:11px;
	padding-bottom: 2px;
}
.button_bold{
	background:url(../images/panel_bg.jpg) repeat-x;
	height:25px;
	border:1px solid #bbbbbb;
	cursor:pointer;
	margin:1px;
	font-weight:bold;
	font-size:12px;
	padding-bottom: 2px;
}
.btn_enable{
	background:url(../images/panel_bg.jpg) repeat-x;
	height:33px;
	border:1px solid #bbbbbb;
	color:#373737;
	font-size:14px;
	font-weight:bold;
	margin:0;
	cursor:pointer;
}
.btn_save_changes_enable{
	background-image:url(../images/button.png);
	background-repeat:no-repeat;
	background-position:0 0;
	height:33px;
	border:1px solid #bbbbbb;
	color:#373737;
	font-size:12px;
	font-weight:bold;
	margin:0;
	cursor:pointer;
	padding-left:25px !important;
	padding-left:11px;
}
.btn_save_changes_disable{
	background-image:url(../images/button.png);
	background-repeat:no-repeat;
	background-position:0px -40px;
	height:33px;
	border:1px solid #bbbbbb;
	color:#373737;
	font-size:12px;
	font-weight:bold;
	margin:0;
	cursor:pointer;
	padding-left:25px !important;
	padding-left:11px;
}
/*ADD NEW BUTTON*/
.btn_add_new_enable{
	background-image:url(../images/button.png);
	background-repeat:no-repeat;
	background-position:0px -80px;
	height:33px;
	border:1px solid #bbbbbb;
	color:#373737;
	font-size:12px;
	font-weight:bold;
	margin:0;
	cursor:pointer;
	padding-left:30px !important;
	padding-left:15px;
}
.btn-default-button{
	height:33px;
	border:1px solid #bbbbbb;
	color:#373737;
	background-color: #FFF;
	font-size:12px;
	font-weight:bold;
	margin:0;
	cursor:pointer;
	padding-left:15px !important;
	padding-right:15px;
}
.btn_add_new_disable{
	background-image:url(../images/button.png);
	background-repeat:no-repeat;
	background-position:0px -116px;
	height:33px;
	border:1px solid #bbbbbb;
	color:#373737;
	font-size:12px;
	font-weight:bold;
	margin:0;
	cursor:pointer;
	padding-left:30px !important;
	padding-left:15px;
}

/*CANCEL BUTTON*/
.btn_cancel_enable{
	background-image:url(../images/button.png);
	background-repeat:no-repeat;
	background-position:0px -155px;
	height:33px;
	border:1px solid #bbbbbb;
	color:#373737;
	font-size:12px;
	font-weight:bold;
	margin:0;
	cursor:pointer;
	padding-left:30px !important;
	padding-left:15px;
}

.btn_cancel_disable{
	background-image:url(../images/button.png);
	background-repeat:no-repeat;
	background-position:0px -192px;
	height:33px;
	border:1px solid #bbbbbb;
	color:#373737;
	font-size:12px;
	font-weight:bold;
	margin:0;
	cursor:pointer;
	padding-left:30px !important;
	padding-left:15px;
}

.btn_delete_enable{
	background-image:url(../images/button.png);
	background-repeat:no-repeat;
	background-position:0px -233px;
	height:33px;
	border:1px solid #bbbbbb;
	color:#373737;
	font-size:12px;
	font-weight:bold;
	margin:0;
	cursor:pointer;
	padding-left:30px !important;
	padding-left:15px;
}

.btn_delete_disable{
	background-image:url(../images/button.png);
	background-repeat:no-repeat;
	background-position:0px -271px;
	height:33px;
	border:1px solid #bbbbbb;
	color:#373737;
	font-size:12px;
	font-weight:bold;
	margin:0;
	cursor:pointer;
	padding-left:30px !important;
	padding-left:15px;
}
.btn_edit_enable{
	background-image:url(../images/button.png);
	background-repeat:no-repeat;
	background-position:0px -310px;
	height:33px;
	border:1px solid #bbbbbb;
	color:#373737;
	font-size:12px;
	font-weight:bold;
	margin:0;
	cursor:pointer;
	padding-left:30px !important;
	padding-left:18px;
}
.btn_edit_disable{
	background-image:url(../images/button.png);
	background-repeat:no-repeat;
	background-position:0px -352px;
	height:33px;
	border:1px solid #bbbbbb;
	color:#373737;
	font-size:12px;
	font-weight:bold;
	margin:0;
	cursor:pointer;
	padding-left:30px !important;
	padding-left:18px;
}
.btn_publish_enable{
	background-image:url(../images/button.png);
	background-repeat:no-repeat;
	background-position:0px -390px;
	height:33px;
	border:1px solid #bbbbbb;
	color:#373737;
	font-size:12px;
	font-weight:bold;
	margin:0;
	cursor:pointer;
	padding-left:30px !important;
	padding-left:15px;
}

.btn_publish_disable{
	background-image:url(../images/button.png);
	background-repeat:no-repeat;
	background-position:0px -430px;
	height:33px;
	border:1px solid #bbbbbb;
	color:#373737;
	font-size:12px;
	font-weight:bold;
	margin:0;
	cursor:pointer;
	padding-left:30px !important;
	padding-left:15px;
}
.btn_upload_file{
	background-image: url("../images/button.png");
    background-position: -30px -390px;
    background-repeat: no-repeat;
	border:1px solid #bbbbbb;
	position:relative;
	line-height:33px;
	cursor:pointer;
	display:block;
	height:33px;
	width:100px;
	float:left;
	margin:0;}
.btn_upload_file b{ font-size:12px; color:#373737; width:100%; position:absolute; height:100%; top:0; left:0; text-align:center;  }
.btn_upload_file input{ opacity:0; width:100%; position:absolute; height:100%; top:0; left:0; }
button img{
	margin:0 3px -3px 0 !important;
	padding:0;
	border:none;
	height:18px;
	
}
button[type]{
    padding:5px 10px 5px 7px; /* Firefox */
    line-height:17px; /* Safari */
}
*:first-child+html button[type]{
    padding:4px 10px 3px 7px; /* IE7 */
}

.btn_disable{
	background:#d1d1d1;
	height:33px;
	border:1px solid #bbbbbb;
	color:#737373;
	font-size:14px;
	font-weight:bold;
	margin:5px 0;
	cursor:default;
}

/*Search Box*/
.search_box{
	margin:0;
    padding:0;
}

.search_box .textwrap{
	background:url(../images/panel_bg.jpg) repeat-x;
	padding:3px ;
	width:250px;
	border-top:1px solid #bbbbbb;
	border-right:none;
	border-bottom:1px solid #bbbbbb;
	border-left:1px solid #bbbbbb;
	float:left;

}
.search_box .searchtext{
	background:url(../images/textbox-bg.png) repeat-x left top !important;
	border:1px solid #bbbbbb;
	font-size:11px;
	padding:0 10px;
	color:#717171;
	width:100%;
	height:25px;}
.search_box .buttonwrap{
	background:url(../images/panel_bg.jpg) repeat-x;
	border-bottom:1px solid #bbbbbb;
	border-right:1px solid #bbbbbb;
	border-left:1px solid #dcdcdc;
	border-top:1px solid #bbbbbb;
		padding:3px 5px 0px !important;
		padding:1px 5px 4px 5px;
		height:25px;
		height:33px;
		width:35px;
		float:left;}
.search_box .searchbutton{ width:23px; border:none;	padding:6px 5px; }
.list{
	-moz-box-sizing:border-box; 
	-webkit-box-sizing:border-box; 
		box-sizing:border-box;
			min-width:600px;
			padding:0 20px;
			height:auto;
			width:100%;
			margin:0;}

.list_title{
	-moz-box-sizing:border-box; 
	-webkit-box-sizing:border-box; 
		box-sizing:border-box;
			background:url(../images/panel_bg.jpg) repeat-x;
			border:1px solid #bbbbbb;
			margin:10px 0 5px;
			font-weight:bold;
			font-size:12px;
			height:35px;
			padding:7px;
			width:100%;}

.list_title div{
	-moz-box-sizing:border-box; 
	-webkit-box-sizing:border-box; 
		box-sizing:border-box;}

.list_title input{
	position:absolute;
	margin:1px 0;
	left:0;
}

.list_title a {
    display: block;
    width: 100%;
    float: left;
    text-decoration: none;
}

.list_title span {
    float: left;
}
.sorting-indicator {
    background: url("../images/sort.gif") no-repeat scroll 0 0 transparent;
    display: none;
    height: 4px;
    margin-left: 7px;
    margin-top: 5px;
    width: 7px;
}
.sortable .sorting-indicator {
    display: block;
}
.desc .sorting-indicator {
    background-position: 0 0;
}
.desc:hover .sorting-indicator {
    background-position: -7px 0;
}
.asc .sorting-indicator {
    background-position: -7px 0;
}
.asc:hover .sorting-indicator {
    background-position: 0 0;
}
.sorted:hover .sorting-indicator {
    display: block;
}


.the_navigation_list{
	height:20px;
	clear:both;
	margin:10px 0 0 20px;
}

.list_title a {
    display: block;
    float: left;
    width: 100%;
}

.list_navigation{ margin:0 0 0 10px; }

.list_navigation a{
	font-size:10px;
	
}
.list_item{
	border:1px solid #BBBBBB;
	background:#FFFFFF;	
	width:inherit;
	margin:5px 0;
	padding:7px;
	height:auto;
	width:100%;}
.list_item.ui-sortable-placeholder{ height:72px; background-color:#FF6666; visibility:visible !important; border:none; }
.list_item.ui-sortable-helper{ height:auto !important; }

.list_edit{
	border:none;
	height:auto;
	width:inherit;
	background:#fff;
	margin: 0 20px;
	border: 1px solid #ccc;
	border-top: none;
	padding-top: 20px;
}

.list_edit .sef_content{ background:#FFCC66; cursor:pointer; }
.list_edit .sef_box_act{ display:none; }
.list_edit .sef_box_act input[type=text]{ border:1px solid #CCC; width:300px; font-size:11px; }
.list_edit .sef_box_act input[type=button]{  }
.list_edit fieldset{
	border:none;
	margin:0; 
	padding:10px 20px;
}

.list_edit fieldset p{
	margin-top:0;
}

.title_checkbox{
	position:absolute;
	margin:1px 0;
	left:0;}

.avatar{
    margin:0 10px 0 0;
    overflow: hidden;
    height:32px;
    width:32px;
    float:left;}

.title_username{ width:150px; padding:2px 2px 0 20px; float:left; position:relative; }

.title_name{
	width:200px;
	padding:2px;
	float:left;
	
}
.title_email{
	width:30%;
	padding:2px;
	float:left;
}
.title_category{
	width:10%;
	padding:2px;
	float:left;
}
.pages_title{
	padding:2px 2px 2px 30px;
	position:relative;
	width: 50%;
	float:left;
}
.article_title{
	padding:2px 0 2px 30px;
	position:relative;
	width:330px;
	width: 45%;
	float:left;
}
.article_title.small{
	width:20%;
}
.list_category{
	width:12%;
	padding:2px;
	float:left;
}
.list_category.medium{ width:20%; }
.list_author,
.list_destination{
	width: 15%;
	padding:2px;
	float:left;
}
.list_author a{
	text-decoration: none;
}
.list_comments{
	width: 10%;
	padding:2px;
	float:left;
	text-align:center;
	
}
.thecomments{
	width:50px;
	padding:2px;
	float:left;
}
.list_date{
	text-align:right;
	padding:2px;
	float:left;
	width:12%;}

.list_date span{ float:right; }

.list_order{
	width:10%;
	padding:2px;
	float:left;
}
.plugin_name{
	width:40%;
	padding:2px 2px 2px 15px;
	float:left;
}
.plugin_description{
	width:55%;
	padding:2px;
	float:left;
}
.rule_parent{
	padding:2px 0 2px 30px;
	position:relative;
	width:250px;
	float:left;
}
.rule_name{
	width:150px;
	padding:2px;
	float:left;
}
.rule_description{
	width:200px;
	padding:2px;
	float:left;
}
.additional_data{
	margin:0 0 20px 0;
}
.additional_data h2,.categories_tags h2{
	padding:0 10px;
	margin:0;
	background:url(../images/panel_bg.jpg) repeat-x;
	height:30px;
	line-height:30px;
	border:1px solid #bbbbbb;
	font-size:14px;
	cursor:pointer;
	
	
}
.additional_data .additional_content{
	padding:5px;
	border-left:1px solid #bbbbbb;
	border-bottom:1px solid #bbbbbb;
	border-right:1px solid #bbbbbb;
	margin:0 0 10px 0;
}

.additional_data .additional_content h3.policy{
	margin-left: 10px;
	margin-bottom: 0px;
}
.categories_tags{
	padding:0;
	margin:0;
	width:100%;
	height:auto;
}
.tags_cat_content{
	padding:0px 0px;
	border-left:1px solid #bbbbbb;
	border-right:1px solid #bbbbbb;
	border-bottom:1px solid #bbbbbb;
	height:340px;
	margin:0;
}
.categories_tags .categories{
	width:50%;
	height:auto;
	float:left;
	
}
.categories_tags .tags{
	width:49%;
	height:auto;
	float:left;
	margin:0 0 0 1%;
	
}
.tags_cat_nav{
	width:20%;
	float:left;
	padding:0px 0px;
	margin:0px 0;
	-moz-box-sizing:border-box; 
	-webkit-box-sizing:border-box; 
	box-sizing:border-box;
}
.tags_cat_val{
	width:80%;
	height:215px;
	float:left;
	overflow:hidden;
	padding:7px 0 7px 7px;
	-moz-box-sizing:border-box; 
	-webkit-box-sizing:border-box; 
	box-sizing:border-box;
}
.the_categories{
	width:100%;
	height:200px;
	overflow:auto;
	margin:0 0 10px -10px;
	border-bottom:1px solid #bbbbbb;
	list-style:none;
	padding:5px 0 0 10px;
}
.the_categories ul{
	padding:0px;
	margin:0px 0 0 16px;
}
.the_categories ul li{
	list-style:none;
}
.add_new_cattags{
	padding:10px;
}
.add_new_cattags select{
	width:100%; margin:0 0 10px;
}
.add_cattags_button{
	text-align:right;
	float:right;	
}
.add_cattags_button .button{width:80px; padding:5px 10px; margin:0; height:auto;}

.tag_list,.most_tag_list{
	margin:3px;
	padding:3px;
	border:1px solid #bbbbbb;
}
.tag_name{
	float:left;
	width:90%;
	height:auto;
}
.tag_action{
	float:left;
	width:9%;
	height:auto;
	border-left:1px solid #ccc;
	text-align:center;
}
.tag_action a{
	display:block;
	text-decoration:none;
}
.add_tags_button{
	background-color:#FF6666;
	
}
.add_tags_button_normal{
	background:url(../images/menu_bg.jpg) repeat-y top left;
}
.the_picture{
    width:250px;
    height:300px;
    overflow: hidden;
    background: red;
    margin:20px;
    float:left;
}
.upload_profile_pic{
    float:left;
    padding: 10px 0 0 20px;
}
.morebox{
	border: 1px solid #CCCCCC;
    display: block;
    padding: 5px 0;
    text-align: center;
    width: 100%;
}
.morebox a{
		text-decoration:none;
		color:#333;
		}
.morebox a:hover{
		color:#ccc;
		}

.news-tab-container .list_destination{
	/* display: none; */
}

.news-tab-container .list_category.medium{
	display: none;
}

.clear{
	clear: both;
}

.content-lang{
	display: none;
}
.content-lang.active{
	display: block;
}

.language .category_tag{
	display: none;
}