.login_form{
	background:#FFFFFF no-repeat 120px 50px;
	padding:25px 0px 25px 0px;
	vertical-align:middle;
	display:table-cell;
	text-align:left;
	margin:0;}
.login_form .login_yellow{
	background:#FFFFFF;
	padding:10px 0;
	font-size:15px;
	margin:0 auto;
	width:340px;
	height:auto;
	color:#333;}
.login_form .login_yellow strong{ display:block; padding-bottom:10px; }
.login_form .alert_login{ margin:10px auto 10px auto; width:340px; height:auto;}
.login_form .alert_login .alert_red{ color:#FFFFFF; text-align:center; }
.login_form .alert_login .alert_yellow{ text-align:center; }
.login_form .login_btn_wrp{ margin:10px auto; width:340px; height:auto; }
.login_form .login_btn_wrp input[type=checkbox]{ vertical-align:middle; margin-right:5px; }
.login_form .login_btn_wrp a{ display:block; margin-top:20px; }
.login_form .login_btn_wrp .login_btn{
	border: 1px solid #ef451e;
	background:#f26531;
	padding:7px 20px;
	font-weight:700;
	font-size:16px;
	color:#ffffff;
	border:0;
	margin:0 10px 0 0;}

.login_text{ border:1px solid #999; font-size:14px;	padding:7px 10px; width:100%; margin:0; }
.lost_password{
	width:284px;
	height:auto;
	margin:10px auto 0 auto;
	padding:0;
	
}
.lost_password a{
	color:#ef571e;
	font-size:12px;
}
.signup_form{
	margin:50px auto 0 auto;
	border:1px solid #ccc;
	width:450px;
	background-color:#ffffff;
	padding:77px 10px 25px 20px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}
