.lumonata_menu, 
.connection_menu, 
.settings_menu{
	background:url(../images/menu_bg.jpg) repeat-y top left;
	border:1px solid #AFAFAF;
	margin:10px 0;
	width:152px;
	height:auto;}
.lumonata_menu ul,
.settings_menu ul, 
.connection_menu ul{ margin:5px 0; padding:0; }
.lumonata_menu ul li,
.settings_menu ul li, 
.connection_menu ul li{ margin:10px 0px; list-style:none; padding:0 5px; }
.lumonata_menu ul li ul,
.settings_menu ul li ul, 
.connection_menu ul li ul{ border:1px solid #AFAFAF; border-width:1px 0 1px 0; background:#FFFFFF; margin:5px -5px; }
.lumonata_menu ul li ul li,
.settings_menu ul li ul li, 
.connection_menu ul li ul li{ list-style:none; padding:5px 0; display:block; margin:0; }
.lumonata_menu ul li ul li a, 
.settings_menu ul li ul li a,
.connection_menu ul li ul li a{	padding:0 0 5px 40px; border-bottom:1px solid #AFAFAF; }
.lumonata_menu ul li ul li:last-child a, 
.settings_menu ul li ul li:last-child a,
.connection_menu ul li ul li:last-child a{ border:none; padding-bottom:0; }
.lumonata_menu ul li a,  
.settings_menu ul li a,
.connection_menu ul li a{ padding:5px 0 5px 35px; text-decoration:none;	font-size:12px;	color:#4A4A4A; display:block; }
.lumonata_menu ul li,
.settings_menu ul li,
.connection_menu ul li{ background-position:7px 3px; background-repeat:no-repeat; }

.lumonata_menu ul li.comments,
.connection_menu ul li.friends,
.connection_menu ul li.people,
.settings_menu ul li.themes,
.settings_menu ul li.plugins,
.settings_menu ul li.personal-settings{ display:none; }

/* CONNECTION MENU */
.connection_menu ul li.dashboard{ background-image:url(../images/ico-dashboard.png); }
.connection_menu ul li.notifications{ background-image:url(../images/ico-comment.png); }
.connection_menu ul li.friends{ background-image:url(../images/friends.png); }
.connection_menu ul li.people{ background-image:url(../images/friends.png); }

/* APPLICATION MENU */
.lumonata_menu ul li.applications{ background-image:url(../images/ico-application.png); }
.lumonata_menu ul li.articles, 
.lumonata_menu ul li.blogs{ background-image:url(../images/ico-article.png); }
.lumonata_menu ul li.pages{	background-image:url(../images/ico-page.png); }
.lumonata_menu ul li.users,
.lumonata_menu ul li.my-profile, 
.settings_menu ul li.users{	background-image:url(../images/ico-user.png); }
.lumonata_menu ul li.comments{ background-image:url(../images/ico-comment.png); }

/* APPLICATION SETTINGS */
.settings_menu ul li.plugins{ background-image:url(../images/ico-plugin.png); }
.settings_menu ul li.themes{ background-image:url(../images/themes.png); }
.settings_menu ul li.menus{ background-image:url(../images/ico-menu.png); }
.settings_menu ul li.global_settings{ background-image:url(../images/ico-globalsetting.png); }
.settings_menu ul li.personal-settings{ background-image:url(../images/ico-globalsetting.png); }

.theanav{ display:block; cursor:pointer; padding:0; margin:0; }
.theanav_l{ float:left;	width:116px; height:auto; }
.theanav_r{	float:left;	width:26px;	height:auto; text-align:right; margin:8px 0 0 0; }

.count_updates{ background:#EF451E; color:#FFF;	padding:2px 5px; text-align:right; font-size:10px; font-weight:bold; }

#applications,
#plugins,
#people{ background:url(../images/ico-arrow.png) no-repeat 125px center; margin:0 5px 0 0; }

/* .lumonata_menu ul li.my-profile{
	display: none;
} */