.profile_img{ width:152px; height:auto; margin-bottom:10px; }
.profile_img a{ color:#ef451e; text-decoration:none; }
.profile_img .p_text{ width:95px; height:auto; float:left; text-align:right; }
.profile_img .p_text a:first-child{ font-weight:bold; }
.profile_img .p_text a:last-child{ font-size:10px; }
.profile_img .p_img{ width:50px; height:50px; float:left; margin-left:5px; }
.profile_img .p_img a{ display:block; }
.profile_img .p_img img{ margin:0; }

#profile_right{ width:226px !important; margin-bottom:10px; margin-left:5px; width:200px; height:auto; float:left; }
#profile_right h2, .work h2, .education h2{
	border-top:1px solid #ccc;
	background:#f0f0f0;
	font-weight:bold;
	font-size:12px;
	padding:3px;
	color:#333;}
.profile_line{ border-bottom:1px solid #F0F0F0; padding-bottom:10px;}

.expertise_item{ padding:10px; float:left; border:1px solid #CCC; margin:5px 5px 5px 0; font-size:13px; font-weight:bold; cursor:pointer; }
.expert_tag_list{ border:1px solid #bbbbbb; margin:5px; padding:2px; width:auto; height:auto; float:left; background:#FFF; }
.expert_tag_name{ float:left; width:auto; height:20px; padding-right:3px; }
.expert_tag_action{ border-left:1px solid #ccc; text-align:center; height:auto; float:left; width:15px; }
.expert_tag_action a{ display:block; text-decoration:none; }

.work{ padding:10px 10px 10px 10px; height:auto; float:left; width:45%; }
.education{ border-right:1px solid #f0f0f0; padding:10px 10px 10px 10px; height:auto; float:left; width:45%; }
.eduwork_list{ margin:10px 0; }
.the_school{
	background:url("../images/school.png") left center no-repeat;
	padding-left:60px; 
	cursor:pointer;
	height:50px;
	margin:10px;
	width:83%;}
.the_work{
	background:url("../images/office.png") left center no-repeat;
	padding-left:60px; 
	cursor:pointer;
	height:50px;
	margin:10px;
	width:83%;}
.the_school label,.the_work label{ font-size:10px; color:#ccc; }
.the_school .shool_name, .the_work .comp_name{ float:left; width:200px; }
.the_school .action,.the_work .action{ float:left; width:80px; text-align:right; }