/* CSS Document */

@import "font.css";

@import "login.css";

@import "nav-menu.css";

@import "dashboard.css";

@import "tabs.css";

@import "form.css";

@import "alert.css";

@import "comments.css";

@import "menus.css";

@import "themes.css";

@import "friends.css";

@import "profile.css";

@import "people.css";

*{ -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; }

html, body{ min-height:100%; height:100%; }

.clearfix:before, .clearfix:after{ content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }
.filename{ padding:10px; border:1px solid #BBB; background:#F5F5F5; display:inline-block; }

body{	

	background: #FFF;

	margin:0;

	padding:0;

	font-family:Arial,"Lucida Sans", Helvetica, sans-serif;

	color:#333333;

	font-size:12px;

	font-weight:normal;
}



fieldset{

	border-bottom:1px solid #e1e1e1;

	border-top:0px solid #e1e1e1;

	border-left:0px solid #e1e1e1;

	border-right:0px solid #e1e1e1;

	padding:10px 20px 10px 20px;

	margin:0;

}

label{

	padding:10px 0;

	

}

legend{

	color:inherit;

}

a{

	color:#333333;

}





th{

	padding:0px 0 0 5px;

	margin:0;

	background:url(../images/panel_bg.jpg) repeat-x;

	height:23px;

	border-top:1px solid #bbbbbb;

	border-bottom:1px solid #bbbbbb;

	font-size:11px;

}



.lumonata_head_wrap{ border-bottom:1px solid #e5e5e5; background:#ffffff; width:100%; }
.lumonata_head_wrap .header_orange{ width: 100%; height:47px; background-color:#ef451e; color:#ffffff; }
.lumonata_head_wrap .lumonata_header{
	background-image:url(../images/lumonata-logo.png);
	background-position:10px 10px;
	background-repeat:no-repeat;
	text-align:right;
	margin:0 auto;
	color:#ffffff;
	height:47px;
	width:100%;}
.lumonata_content_wrap{ position:absolute; top:47px; bottom:0; left:0; right:0; }
.lumonata_content_wrap form{ position:relative; height:100%; width:100%; display:table; text-align:center; }

/*Search Box*/

.top_search_box{

	width: 358px;

	height: auto;

	float: left;

	margin-left: 168px;

	margin-top: 9px;

	text-align: left;

	position: relative;

}



.search_result_header{

	background: #F0F0F0;

	font-weight: bold;

	padding: 5px;

	color: #333;

}

.top_search_wrapper{

	width: 340px;

	background: #EF835C;

	padding: 6px 8px;

	border-top: 1px solid #D03414;

	border-left: 1px solid #D03414;

	border-right: 1px solid #D03414;

	border-radius:5px 5px 0 0;

	-webkit-border-radius:5px 5px 0 0;

}

.top_search_button{

	background-image:url(../images/searchbox.png);

	width: 33px;

	height: 25px;

	border:1px solid #D03414;

	margin: 0px 0 0 -2px;

	padding: 0;

}

.input_search_wrapper{

	height: 25px;

	width: 300px;

	float:left;

	background: #CCC;

}

.button_search_wrapper{

	float:left;

	height: 25px;

	width:33px;

}

.search_top_text{

	border: 1px solid #F0F0F0;

	height: 25px;

	width: 300px;

	font: inherit;

	color: #CCC;

	font-size: 11px; 	

}

#top_search_result_wrapper{

	position: absolute;

	background:#FFF;

	z-index: 1;

	width: 356px;

	height:auto;

	max-height:410px;

	border:1px solid #D03414;

}

.top_search_result_wrapper{

	width: 356px;

	height:auto;

	max-height:380px;

	overflow: hidden;

}

.top_search_result{

	width: 100%;

	height: auto;

	cursor: pointer;

	color: #EF451E;

	border-bottom:1px solid #F0F0F0;

}



.top_search_result.active{

	background:#EF835C;

	color: #FFF; 

}

.top_search_avatar{

	width:50px;

	height: 60px;

	overflow: hidden;

	float: left;

	margin: 5px;

}

.top_search_avatar a{

	display: block;

}

.top_search_name{

	width:250px;

	height: 60px;

	overflow: hidden;

	float:left;

	margin: 5px;

}

.top_search_name a{

	display: block;

	color: inherit;

	text-decoration: none;

	height: 50px;

}

.more_search_result{

	width: 345px;

	height: 20px;

	background: #F0F0F0;

	color: #333;

	margin-top: 0px;

	text-align: center;

	font-size: 12px;

	font-weight: bold;

	padding: 5px;

	

}



/*End of Search Box*/



/*Notification*/

.notif_wrap{

	width:345px;

	height:380;

	overflow:auto;

}

.notifications_list{

	padding: 5px;

	width: 785px;

	height: 37px;

	border-bottom:1px solid #F0F0F0;



}

.notifications_list a{

	text-decoration: none;

	color: #EF835C;

}

.notifications_avatar{

	width: 32px;

	height: 32px;

	float:left;

	

}

.notifications_name{

	width: 743px;

	height: 32px;

	float:left;

	margin: 0 0 0 10px;

}

/*END Notifications*/



.topnav{

	float: right;

    height: 47px;

    margin-right: 10px;

    max-width: 400px;

    min-width: 200px;

}

.lumonata_header ul{

	margin:0;

	padding:25px 0px 0 0;

	

}

.lumonata_header ul li{

	display:inline;

	padding:2px;

}

.lumonata_header ul li a{

	color:#ffffff;

	text-decoration:none;

}

.lumonata_content{ margin:-68px auto 0 auto; width:100%; min-height:100%; padding:68px 0 50px; }

.clearfix:after{

	content:".";

	display:block;

	height:0;

	clear:both;

	visibility:hidden;

}

h1{

	font-size:20px;

	padding:5px;

	margin:0;

}

h2{

	padding:5px 5px 5px 0;

	margin:0;

}

.footer{

	width:100%;

	height:10px;

	background:#ef451e;

	margin:0;

	font-style:italic;

	color:#ffffff;

	padding:10px 0;

}



.footer_wrap{

	width: 960px;

	height: inherit;

	margin: 0 auto;

}



.footer a{

	color:#ffffff;

	text-decoration:none;

}

ul#alignment{ padding:0; margin:0; }
ul#alignment li{ float:left; width:auto !important; list-style:none; margin-right:10px; line-height:30px; }
ul#alignment li input{ margin:0 5px 0 10px; vertical-align:text-top; }
ul#alignment li#alignment_left{
	background-image:url(../images/button-align.png);
	background-repeat:no-repeat;
	padding:0 0 0 28px;
	height:29px;}
ul#alignment li#alignment_middle{
	background-image:url(../images/button-align.png);
	background-position:-3px -58px;
	background-repeat:no-repeat;
	padding:0 0 0 28px;
	height:30px;}
ul#alignment li#alignment_right{
	background-image:url(../images/button-align.png);
	background-position:-3px -30px;
	background-repeat:no-repeat;
	padding:0 0 0 28px;
	height:30px;}
ul#alignment li#alignment_none{
	background-image:url(../images/button-align.png);
	background-position:-3px -87px;
	background-repeat:no-repeat;
	padding:0 0 0 28px;
	height:30px;}

ul.pagging{

	padding:5px 0;

	margin:0;

}

ul.pagging li{

	margin:0 2px;

	display:inline;

}

ul.pagging li:last-child{

	margin: 0 -2px 0 2px;

}

ul.pagging li a{

	padding:6px;

	background:url(../images/panel_bg.jpg) repeat-x;

	border:1px solid #bbbbbb;

	-moz-border-radius:2px;

	-webkit-border-radius:2px;

	text-decoration:none;

}

ul.pagging li a.selected{

	padding:6px;

	background:#d1d1d1;

	border:1px solid #bbbbbb;

	-moz-border-radius:2px;

	-webkit-border-radius:2px;

	text-decoration:none;

	color:#737373;

}

.media_navigation{

	width:100%;

	height:auto;

	margin:0 0 5px 0;

}

.search_wraper{

	float:left;

	padding:0px 0;

	width:50%;

}



.sort_order{ padding:20px 0; margin-bottom:-10px; }

.paging_media{

	float:left;

	width:49%;

	padding:10px 0;

	text-align:right;

}

.media_title{
	background:url(../images/panel_bg.jpg) repeat-x;
	border-bottom:1px solid #bbbbbb;
	border-top:1px solid #bbbbbb;
	margin:10px 0 5px;
	position:relative;
	font-size:12px;
	padding:0 5px;
	height:auto;}
.media_title .title_checkbox{ left:5px; }
.media_description{ float:left; padding:9px 31px; width:50%; text-align:left;}
.media_action{float:left; padding:9px 31px; width:50% !important; text-align:right; }



/*Application Area*/

.application_area{

	background: none repeat scroll 0 0 #FFFFFF;

    border-bottom: 1px solid #BBBBBB;

    height: auto;

    margin: 0 0 0 170px;

    overflow: hidden;

    padding: 0;

    position: relative;

}

#media_gallery{ border-bottom:1px solid #bbbbbb; height:auto;}

.media_gallery_item{
	border:1px solid #bbbbbb;
	background:#FFFFFF;
	position: relative;
	margin:0 0 5px;
	padding:5px;
	height:auto;
	cursor:move;
	width:100%;}
.media_gallery_item.ui-sortable-placeholder{ height:72px; background-color:#FF6666; visibility:visible !important; border:none; }
.media_gallery_item.ui-sortable-helper{ height:auto !important; }

.media_gallery_item .title_checkbox{ left:5px; }
.media_gallery_item .media_description,
.media_gallery_item .media_action{ padding:0 31px; }
.media_image_small{  
	border:1px solid #BBBBBB; 
	text-align:center;
	overflow:hidden; 
	padding:2px;  
	height:60px; 
	width:auto;
	float:left;}
.media_image_small img{ width:100%; height:60px; max-height:100%; }
.media_item_title{ width:63%; height:50px; overflow:hidden; float:left; padding:5px;}
.media_item_action{width:100%; height:50px; overflow:hidden; float:left; padding-top:10px;}
.media_item_action a{ margin:0 5px; }
.media_item_action a:last-child{ margin-right:0; }

.details_item{ border-top:1px solid #bbbbbb; padding:10px; margin-top:10px; }
.details_attachment_set:first-child{ border-bottom:1px solid #bbbbbb; margin-bottom:10px; padding-bottom:10px; }
.details_attachment_set{  }
.media_field_left_image{ width:120px; height:110px; float:left; overflow:hidden; padding:5px 0; }
.media_field_right_image{
	padding:5px 0 0 130px;
	margin-left:-120px;
	height:110px;
	width:100%;
	float:left;}
.media_field_left{ width:120px; float:left; padding:10px 0; }
.media_field_left strong{ display:block; text-align:right; padding-top:7px; }
.media_field_right{ width:100%; float:left; padding:10px 0; margin-left:-120px; padding-left:130px; }

.left_side{ width:152px; height:auto; float:left; padding-top:10px; }

.preview_website{
	background:url(../images/menu_bg.jpg) repeat-y top left;
	border:1px solid #afafaf;
	margin-bottom:10px;
	overflow:hidden;
	height:auto;
	padding:5px;}
.preview_website a{ display:block; text-decoration:none; }

.settings_website{

	width:142px;

	height:auto;

	margin:10px 0;

	overflow: hidden;

	background:url(../images/menu_bg.jpg) repeat-y top left;

	border:1px solid #afafaf;

	padding: 5px;

}

.settings_website a{

	display:block;

	text-decoration: none;

}

#colorbox{ -webkit-box-sizing:content-box; -moz-box-sizing:content-box; box-sizing:content-box; }

#dropbox{ border:2px dashed #DDDDDD; width:100%; height:85%; min-height:200px; margin-bottom:20px; }
#dropbox img{  }
#dropbox .message{ color:#AAAAAA; font-size:20px; text-align:center; display:table; height:100%; width:100%; }
#dropbox .message i{ display:table-cell; vertical-align:middle; }
#dropbox .drag-drop-inside{ margin:70px auto 0; text-align:center; width:250px; }

#dropbox .drag-drop-inside .drag-drop-info{ color:#AAAAAA; display:block; font-size:20px; }
#dropbox .preview{ display:block; float:left; height:120px; margin:18px 0 0 18px; position:relative; text-align:center; width:120px; }
#dropbox .imageHolder{display:inline-block; position:relative; }
#dropbox .preview img{ border:3px solid #FFFFFF; box-shadow:0 0 2px #000000; display:block; width:100%; max-height:100%; height:120px; }
#dropbox .preview.done .uploaded{ display:block; background:url('../images/done.png') no-repeat center center rgba(0, 0, 0, 0.5); }
#dropbox .uploaded{
    background:url('../images/loading.gif') no-repeat center center rgba(0, 0, 0, 0.5);
    position:absolute;
    display:block;
    height:100%;
    width:100%;
    left:0;
    top:0;}

#general fieldset:first-of-type{height: 300px;margin-top: 0;}
#general fieldset{margin-top: 40px;}

.status_to_show input{ margin:-2px 5px 0 20px; vertical-align:middle; }
.status_to_show input:first-child{ margin-left:20px; }

/*B hidden : June 2013*/

.top_search_wrapper{

	display:none;	

}

/*E hidden : June 2013*/



.list_edit{

	position: relative;

}

.language .list_edit{
	padding-top: 0px;
	border-top: 1px solid #ccc;
}

.mask-list-edit{

	position: absolute;

	z-index: 100;

	background: url("../images/loading.gif") no-repeat scroll center center #FFF;

    opacity: 0.5;

	width: 100%;

	height: 100%;

	top: 0px;

}

.attach-loader{position: absolute;

	z-index: 100;

	background: url("../images/loading.gif") no-repeat scroll center center #FFF;

    opacity: 0.5;

	width: 100%;

	height: 100%;

	top: 0px;

	display:none;

}


.tinymce_wrapper .mce-edit-area iframe{
	height: 150px!important;
}

.additional_content .mce-edit-area iframe{
	height: 150px!important;
}
