<!-- BEGIN popup-spa-block -->
<div class="spa-booking-popup spa-events-booking-popup wrap-popup-default">
    <div class="close-popup">
        <span></span>
    </div>
    <div class="container spa-events-booking-popup-container-form-boking clearfix">
        <form action="" method="POST" name="booking_popup_spa">
            <input type="hidden" name="lang" value="{lang}">
            <input type="hidden" name="check_lang" value="{check_lang}">
            <div class="container spa-events-booking-popup-content-form-boking clearfix">

                <div class="loader-booking">
                    <img src="{HTTP}{assets_url}/images/loader_booking.svg" />
                </div>

                <div class="container spa-events-booking-popup-form-boking clearfix">
                    <div class="container spa-events-booking-popup-form-reservation clearfix">
                        <h2>{text_reservations_details}</h2>
                        <div class="container spa-events-booking-popup-reservation-select-treatment clearfix">
                            <select name="spa" class="select-treatment default requred-booking">
                                <option value="">{text_select_spa}*</option>
                                {option_spa}
                            </select>
                        </div>
                        <div class="container spa-events-booking-popup-reservation-select-treatment clearfix">
                            <select name="treatment_category" class="select-treatment default requred-booking">
                                <option value="">{text_select_treatment_category}*</option>
                            </select>
                        </div>
                        <div class="container spa-events-booking-popup-reservation-select-treatment clearfix">
                            <select name="treatment_list" class="select-treatment default requred-booking">
                                <option value="">{text_select_treatment_list}*</option>
                            </select>
                        </div>
                        <div class="container container-form-group clearfix">
                            <label class="label-no-of-person">{text_no_of_person}*:</label>
                            <select name="no-of-person" class="no-of-person default requred-booking">
                                <option value="1">01</option>
                                <option value="2">02</option>
                                <option value="3">03</option>
                                <option value="4">04</option>
                                <option value="5">05</option>
                            </select>
                            <!-- <input type="text" class="arrow no-of-person" readonly placeholder="01"> -->
                        </div>
                        <div class="container container-form-group clearfix">
                            <label>{text_promotion_code}:&nbsp;</label>
                            <input type="text" name="promotion_code" class="default" placeholder="{text_type_promotion_code}">
                        </div>
                        <div class="container container-form-group clearfix">
                            <label>{text_dates}:&nbsp;</label>
                            <input type="text" name="date-spa-booking" class="default datepicker-ui requred-booking" readonly placeholder="{text_choose_date}">
                        </div>
                        <!-- <div class="container container-form-group clearfix">
                            <div class="container spa-events-booking-popup-container-price clearfix">
                                <label>{text_price}:</label>
                                <p class="text label-text-number">IDR <span>0</span></p>
                            </div>
                            <div class="container spa-events-booking-popup-container-tax clearfix">
                                <label>{text_tax_service_charge}:</label>
                                <p class="text label-text-number">IDR <span>0</span></p>
                            </div>
                        </div>
                        <div class="container spa-events-booking-popup-container-close2 clearfix">
                            <p class="text spa-events-booking-popup-reservation-text-total">{text_total}: </p>
                            <p class="text spa-events-booking-popup-reservation-amount-total">IDR <span>0</span></p>
                        </div> -->
                        <div class="container spa-events-booking-popup-container-close3 clearfix">
                            <label>{text_time}*:</label>
                            <div class="container spa-events-booking-popup-container-close4 clearfix">
                                <div class="container spa-events-booking-popup-container-close5 clearfix">
                                    <select name="hours" class="hours default requred-booking">
                                        <option value="">{text_hour}</option>
                                        {option_time_hour}
                                    </select>
                                    <select name="minutes" class="minutes default requred-booking">
                                        <option value="">{text_minute}</option>
                                        <option value="0">00</option>
                                        <option value="30">30</option>
                                        <!-- {option_time_minute} -->
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="container container-form-group clearfix">
                            <label>{text_where_are_you_staying}*:</label>
                            <input type="text" class="default requred-booking" name="where_staying" placeholder="{text_type_here}">
                        </div>
                        <div class="container spa-events-booking-popup-container-close8 clearfix">
                            <label>{text_special_request}: </label>
                            <textarea name="special_request" class="special_request" cols="30" rows="5" placeholder="{text_type_here}"></textarea>
                        </div>
                    </div>
                    <div class="container spa-events-booking-popup-container-close9 clearfix">
                        <h2>{text_contact_details}</h2>
                        <div class="container container-form-group clearfix">
                            <label>{text_full_name}:</label>
                            <input type="text" name="fullname" class="default requred-booking" placeholder="{text_type_your_name_here}">
                        </div>
                        <div class="container container-form-group clearfix">
                            <label class="label-nationality">{text_nationality}*:</label>
                            <select name="nationality" class="nationality selectize">
                                <option value="">{text_choose_nationality}</option>
                                {country_option}
                            </select>
                        </div>
                        <div class="container container-form-group clearfix">
                            <label>{text_email}*: </label>
                            <input type="text" class="default requred-booking" name="email" placeholder="{text_type_your_email}">
                        </div>
                        <div class="container container-form-group clearfix">
                            <label>{text_mobile_phone_number}*: </label>
                            <input type="text" class="default requred-booking is_numeric" name="phone" placeholder="{text_type_your_number}">
                        </div>
                        <div class="container container-form-group clearfix">
                            <label class="spa-events-booking-popup-contact-text-time">{text_prefer_contact}*:</label>
                            <div class="container spa-events-booking-popup-contact-time-phone clearfix">
                                <!-- <div class="container spa-events-booking-popup-contact-time-phone-dotted">
                                    <div class="container _element spa-events-booking-popup-contact-time-phone-dotted-child"></div>
                                </div> -->
                                <input type="radio" selected name="contact_you" checked="checked" value="phone"><span>{text_phone}</span>
                                <!-- <p class="text spa-events-booking-popup-contact-text-time-phone">Phone</p> -->
                            </div>
                            <div class="container spa-events-booking-popup-contact-time-email clearfix">
                                <!-- <div class="container _element spa-events-booking-popup-contact-time-email-dotted"></div> -->
                                <input type="radio" name="contact_you" value="email"> <span>{text_email}</span> 
                                <!-- <p class="text spa-events-booking-popup-contact-value-time-email">Email</p> -->
                            </div>
                        </div>
                        <div class="container-recapcha clearfix">
                            <div class="g-recaptcha" data-sitekey="{captcha_site_key}"></div>	
                        </div>
                        <div class="container spa-events-booking-popup-contact-choose-policy clearfix">
                            <input type="checkbox" name="understand" class="understand">
                            <!-- <div class="container spa-events-booking-popup-contact-content-choose-policy-centang clearfix">
                                <img class="image spa-events-booking-popup-contact-choose-policy-centang" src="{HTTP}{assets_url}/images/centang(2).svg">
                            </div> -->
                            <p class="text spa-events-booking-popup-text-terms">{text_terms_condition_accept_note}</p>
                        </div>
                        <div class="form-response"></div>

                        <div class="spa-text-add">
                            {text_additional_book}
                        </div>
                    </div>
                </div>
                <p class="text spa-events-booking-popup-text-all-treatment">{text_treatment_note}</p>
                <button class="button-submit-spa-booking">{text_submit}</button>
            </div>
        </form>

    </div>
</div>
<!-- END popup-spa-block -->