<!-- BEGIN popup-block -->
<div id="book" class="booking-popup wrap-popup-default default clearfix">
    <p class="text _text text-book-at-samaya">BOOK AT SAMAYA {appname_upper}
        <br>
    </p>
    <!-- <div class="container container-switch-lang-booking clearfix">
        {switch_lang}
    </div> -->
    <div class="close-popup">
        <span></span>
    </div>
    <div class="container wrap-booking-form clearfix">
        <form action="https://redirect.fastbooking.com/DIRECTORY/dispoprice.phtml" target="_blank" method="POST" name="accommodation_popup_booking">
            
            <input type="hidden" name="showPromotions" value="1">
            <input type="hidden" name="langue" value="">
            <input type="hidden" name="Clusternames" value="{hotels_name}">
            <input type="hidden" name="Hotelnames" value="{hotels_name}">
            <input type="hidden" name="properties" value="{properties_name}">
            <input type="hidden" name="arrival" value="">
            <input type="hidden" name="departure" value="">

            {dest_hidden}

            <div class="container container-booking-form clearfix">
                <div class="container content-booking-form clearfix">
                    <div class="container container-choose-destination clearfix">
                        <div class="form-value choose-dest destination" data-form=".destination">
                            <input type="text" readonly name="rooms" class="arrow text-choose-destination default-input required-landing" value="" placeholder="{text_choose_destination}">
                            <div class="select-option">
                                <ul>
                                    {dest_list}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="container container-arrival-departure clearfix">
                        <div class="container container-arrival clearfix">
                            <label class="text _text text-label-1">{text_arrival}:</label>
                            <input type="text" name="arrival-date" id="from" class="text-label-2 default-input arrival-popup required" autocomplete="off" readonly placeholder="{text_choose_date}">
                        </div>
                        <div class="container container-arrival clearfix">
                            <label class="text _text text-label-1">{text_departure}:</label>
                            <input type="text" name="departure-date" id="to" class="text-label-2 default-input departure-popup required" autocomplete="off" readonly placeholder="{text_choose_date}">
                        </div>
                        <div class="container container-arrival clearfix">
                            <label class="text _text text-label-1">{text_room}:</label>
                            <div class="form-value rooms" data-form=".rooms">
                                <input type="text" readonly name="rooms" class="arrow text-label-2 default-input" placeholder="1">
                                <div class="select-option">
                                    <ul>
                                        <li data-value="1">1</li>
                                        <li data-value="2">2</li>
                                        <li data-value="3">3</li>
                                        <li data-value="4">4</li>
                                        <li data-value="5">5</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container container-adul-child clearfix">
                        <div class="container container-arrival clearfix">
                            <label class="text _text text-label-1">{text_adults}:</label>
                            <div class="form-value adults" data-form=".adults">
                                <input type="text" readonly name="adulteresa" class="arrow text-label-2 default-input" placeholder="1">
                                <div class="select-option">
                                    <ul>
                                        <li data-value="1">1</li>
                                        <li data-value="2">2</li>
                                        <li data-value="3">3</li>
                                        <li data-value="4">4</li>
                                        <li data-value="5">5</li>
                                        <li data-value="6">6</li>
                                        <li data-value="7">7</li>
                                        <li data-value="8">8</li>
                                        <li data-value="9">9</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="container container-arrival clearfix">
                            <label class="text _text text-label-1">{text_child}:</label>
                            <div class="form-value child" data-form=".child">
                                <input type="text" readonly name="children1" value="0" class="arrow text-label-2 default-input" placeholder="0">
                                <div class="select-option">
                                    <ul>
                                        <li data-value="0">0</li>
                                        <li data-value="1">1</li>
                                        <li data-value="2">2</li>
                                        <li data-value="3">3</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="container container-arrival clearfix">
                            <div class="container container-access-type clearfix">
                                <label class="text _text text-access-code">{text_access_code} :</label>
                                <input type="password" name="AccessCode" class="text-type-code default-input" placeholder="{text_enter_code}">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <button type="button" class="text _text text-cancel-booking">{text_cancel_booking}</button> -->
                <button class="_button-check-availability">{text_check_availability}</button>
            </div>
        </form>
    </div>
</div>
<!-- END popup-block -->