<!-- BEGIN popup-wedding-block -->
<div class="wrap-popup-wedding wrap-popup-default">
    <div class="close-popup">
        <span></span>
    </div>
    <div class="container container-booking-popup-wedding container-form-booking-popup clearfix">
        <form action="" method="POST" name="booking_popup_wedding">

            <div class="form-response"></div>

            <div class="loader-booking">
                <img src="{HTTP}{assets_url}/images/loader_booking.svg" />
            </div>

            <input type="hidden" name="lang" value="{lang}">
            <input type="hidden" name="check_lang" value="{check_lang}">

            <h2>{text_wedding_inquiry_form}</h2>

            <div class="container-form-wedding clearfix">
                <div class="left-form">
                    <div class="form-group email clearfix">
                        <label>{text_email}*: </label>
                        <input type="text" class="default required" name="email" placeholder="{text_type_your_email}" >
                    </div>
                    <div class="form-group fullname clearfix">
                        <label>{text_full_name}*: </label>
                        <input type="text" class="default required" name="fullname" placeholder="{text_type_your_name_here}" >
                    </div>
                    <div class="form-group country clearfix">
                        <label>{text_nationality}*: </label>
                        <select name="nationality" class="selectize">
                            <option value="">{text_choose_nationality}</option>
                            {country_option}
                        </select>
                    </div>
                    <div class="form-group spouse_fullname clearfix">
                        <label>{text_spouse_full_name}*: </label>
                        <input type="text" class="default required" name="spouse_fullname" placeholder="{text_type_here}" >
                    </div>
                    <div class="form-group spouse_nationality clearfix">
                        <label>{text_spouse_nationality}*: </label>
                        <input type="text" class="default required" name="spouse_nationality" placeholder="{text_type_here}" >
                    </div>
                    <div class="form-group phone clearfix">
                        <label>{text_phone_wedding}*: </label>
                        <input type="text" class="default required is_numeric" name="phone" placeholder="{text_type_your_number}" >
                    </div>
                    <div class="form-group wedding-date clearfix">
                        <label>{text_wedding_date}*: </label>
                        <input type="text" readonly class="default required datepicker-ui" name="wedding_date" placeholder="{text_choose_date}" >
                    </div>
                </div>
                <div class="right-form clearfix">
                    <div class="form-group number_guest clearfix">
                        <label>{text_number_of_guest}*: </label>
                        <input type="text" class="default required is_numeric" name="number_guest" placeholder="{text_type_your_number}" >
                    </div>
                    <div class="form-group occasion-type clearfix">
                        <label>{text_occasion_type}: </label>
                        <div class="choose-ocassion-type clearfix">
                            {occasion_type_html}
                        </div>
                    </div>
                    <div class="form-group theme_color clearfix">
                        <label>{text_theme_color}*: </label>
                        <input type="text" class="default required" name="theme_color" placeholder="{text_type_here}" >
                    </div>
                    
                    <div class="form-group food-type clearfix">
                        <label>{text_food}: </label>
                        <div class="choose-food-type clearfix">
                            <div class="list-food-type clearfix">
                                <input type="checkbox" name="food_type" value="Pre-Wedding"> <span>3 courses set dinner menu</span>
                            </div>
                            <div class="list-food-type clearfix">
                                <input type="checkbox" name="food_type" value="Legal Wedding"> <span>5 courses set dinner menu</span>
                            </div>
                            <div class="list-food-type clearfix">
                                <input type="checkbox" name="food_type" value="Wedding Reception"> <span>Standing Canape Menu</span>
                            </div>
                            <div class="list-food-type clearfix">
                                <input type="checkbox" name="food_type" value="Commitment Wedding"> <span>4 Courses set dinner menu</span>
                            </div>
                            <div class="list-food-type clearfix">
                                <input type="checkbox" name="food_type" value="Cocktail and Canape"> <span>6 courses set dinner menu</span>
                            </div>
                            <div class="list-food-type">
                                <input type="checkbox" name="food_type" value="Cocktail and Canape"> <span>Buffet</span>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>

            <div class="container-form-wedding clearfix">
                <h2>{text_dinner_reception}</h2>
                <p class="desc-dinner clearfix">{text_note_dinner_reception}</p>
                
                <div class="left-form">
                    <div class="form-group food-type clearfix">
                        <label class="black">{text_food}: </label>
                        <div class="choose-food-type clearfix">
                            <div class="list-food-type clearfix">
                                <input type="radio" name="food_dinner" checked value="Indonesian"> <span>Indonesian</span>
                            </div>
                            <div class="list-food-type clearfix">
                                <input type="radio" name="food_dinner" value="Western"> <span>Western Fussion</span>
                            </div>
                            <div class="list-food-type clearfix">
                                <input type="radio" name="food_dinner" value="Seafood"> <span>Seafood</span>
                            </div>
                            <div class="list-food-type clearfix">
                                <input type="radio" name="food_dinner" value="Asian Western Mix"> <span>Asian Western Mix</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="right-form">
                    <div class="form-group reception-venue clearfix">
                        <label class="black">{text_dinner_reception_venue}</label>
                        <div class="choose-reception-venue clearfix">
                            <input type="radio" checked name="reception_venue" value="{title_reception_venue_1}"> <span>{title_reception_venue_1}</span>
                            <img data-src="{dinner_reception_venue_1}" class="lazy" />
                        </div>
                        <div class="choose-reception-venue clearfix">
                            <input type="radio" name="reception_venue" value="{title_reception_venue_2}"> <span>{title_reception_venue_2}</span>
                            <img data-src="{dinner_reception_venue_2}" class="lazy" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="container-form-wedding special-request clearfix">
                <h2>{text_special_request_wedding}</h2>
                <div class="choose-special-request clearfix">
                    {special_request_html}
                    <div class="list-special-request other clearfix">
                        <input type="checkbox" name="special_request" value="other"> <span>{text_other}</span> <input type="text" disabled name="other_text" />
                    </div>
                </div>

                <div class="another-question">
                    <label>{text_another_question}</label>
                    <input type="text" name="another_question" placeholder="{text_type_your_answer}" >
                </div>
            </div>

            
            <div class="container-recapcha clearfix">
                <div class="g-recaptcha" data-sitekey="{captcha_site_key}"></div>	
            </div>

            <button>{text_submit}</button>

        </form>
    </div>
</div>
<!-- END popup-wedding-block -->