<!-- BEGIN popup-dining-block -->
<div class="wrap-booking-popup-dining">
    <div class="close-popup">
        <span></span>
    </div>

    <div class="container-booking-popup-dining clearfix">

        <div class="left">
            <div class="container-reservation-text">
                <h3>{text_reservation}</h3>
                <p>{text_asking_reservations_restaurant_online}</p>
                <div class="container-or clearfix">
                    <div class="element-or"></div>
                    <p>{text_or}</p>
                </div>
                <p class="pb-0">
                    {text_call}: <a href="tel:{phone_number}">{phone_number}</a> <br/>
                    {text_email}: <a href="mailto:{email_address}">{email_address}</a> 
                </p>
            </div>
        </div>

        <div class="right">
            <!-- <img class="image image-16" src="{HTTP}{assets_url}/images/dining-booking.png"> -->
            <div id="rd-widget-frame-breeze-popup" style="max-width: 600px; margin: auto;"></div>
        </div>

    </div>
</div>
<!-- END popup-dining-block -->