<!-- BEGIN popup-offers-block -->
<div class="offers-booking-popup">
    <div class="close-popup">
        <span></span>
    </div>
    <div class="wrap-booking-popup-offers">
        <div class="container container-form-booking-popup clearfix">
            <h2>{text_reservations_details}</h2>

            <div class="form-response"></div>
            
            <form action="" method="POST" name="offers-booking-popup">
                
                <!-- LOADER BOOKING -->
                <div class="loader-booking">
                    <img src="{HTTP}{assets_url}/images/loader_booking.svg" />
                </div>
    
                <div class="form-group subject clearfix">
                    <label>{text_subject}*: </label>
                    <input type="text" class="default required" name="subject" placeholder="{text_enter_subject}" >
                </div>
                <div class="form-group fullname clearfix">
                    <label>{text_full_name}*: </label>
                    <input type="text" class="default required" name="fullname" placeholder="{text_type_your_name_here}" >
                </div>
                <div class="form-group country clearfix">
                    <label>{text_nationality}*: </label>
                    <select name="nationality" class="selectize">
                        <option value="">{text_choose_nationality}</option>
                        {country_option}
                    </select>
                </div>
                <div class="form-group phone clearfix">
                    <label>{text_mobile_phone_number}*: </label>
                    <input type="text" class="default required is_numeric" name="phone" placeholder="{text_type_your_number}" >
                </div>
                <div class="form-group email clearfix">
                    <label>{text_email}*: </label>
                    <input type="text" class="default required" name="email" placeholder="{text_type_your_email}" >
                </div>
                <div class="form-group message clearfix">
                    <label>{text_message}: </label>
                    <textarea name="message" cols="30" rows="3"></textarea>
                </div>
                <button>{text_submit}</button>
            </form>
        </div>
    </div>
</div>
<!-- END popup-offers-block -->