<!-- BEGIN popup-events-block -->
<div class="events-booking-popup spa-events-booking-popup wrap-popup-default">
    <div class="close-popup">
        <span></span>
    </div>
    <div class="wrap-events-booking">
        <div class="container spa-events-booking-popup-container-form-boking clearfix">
            <form action="" method="POST" name="booking_popup_events">
                <input type="hidden" name="lang" value="{lang}">
                <input type="hidden" name="check_lang" value="{check_lang}">
                <div class="container spa-events-booking-popup-content-form-boking clearfix">
    
                    <div class="loader-booking">
                        <img src="{HTTP}{assets_url}/images/loader_booking.svg" />
                    </div>
    
                    <div class="container spa-events-booking-popup-form-boking clearfix">
                        <div class="container spa-events-booking-popup-container-close9 clearfix">
                            <h2>{text_contact_details}</h2>
                            <div class="container spa-events-booking-popup-reservation-select-treatment clearfix">
                                <select name="title_salutation" class="select-treatment default requred-booking">
                                    <option value="">{text_title_salutation}*</option>
                                    <option value="Mr.">Mr.</option>
                                    <option value="Mrs.">Mrs.</option>
                                    <option value="Ms.">Ms.</option>
                                    <option value="Miss">Miss</option>
                                    <option value="Master">Master</option>
                                    <option value="Dr.">Dr.</option>
                                    <option value="Prof.">Prof.</option>
                                </select>
                            </div>
                            <div class="container container-form-group clearfix">
                                <label>{text_first_name}:</label>
                                <input type="text" name="first_name" class="default requred-booking" placeholder="{text_type_your_name_here}">
                            </div>
                            <div class="container container-form-group clearfix">
                                <label>{text_last_name}:</label>
                                <input type="text" name="last_name" class="default requred-booking" placeholder="{text_type_your_name_here}">
                            </div>
                            <div class="container container-form-group clearfix">
                                <label>{text_email}*: </label>
                                <input type="text" class="default requred-booking" name="email" placeholder="{text_type_your_email}">
                            </div>
                            <div class="container container-form-group clearfix">
                                <label>{text_phone_number_include_country_code}*: </label>
                                <input type="text" class="default requred-booking is_numeric" name="phone" placeholder="{text_type_your_number}">
                            </div>
                            <div class="container container-form-group clearfix">
                                <label class="label-nationality">{text_country_of_residence}*:</label>
                                <select name="nationality" class="nationality selectize">
                                    <option value="">{text_choose_country_of_residence}</option>
                                    {country_option}
                                </select>
                            </div>
                            <div class="form-response"></div>
                        </div>
                        <div class="container spa-events-booking-popup-form-reservation clearfix">
                            <h2>{text_reservations_details}</h2>
                            <div class="container spa-events-booking-popup-reservation-select-treatment clearfix">
                                <select name="events" class="select-treatment default requred-booking">
                                    <option value="">{text_select_event}*</option>
                                    <option value="Event">Event</option>
                                    <option value="Wedding">Wedding</option>
                                    <option value="Banqueting">Banqueting</option>
                                    <option value="Private Dining">Private Dining</option>
                                    <option value="Special Occasion">Special Occasion</option>
                                    <option value="Cocktail / Reception">Cocktail / Reception</option>
                                    <option value="Other">Other</option>
                                </select>
                            </div>
                            <div class="container container-form-group clearfix">
                                <label class="label-no-of-person">{text_number_of_guest_events}*:</label>
                                <input type="text" name="number_of_guest" class="default requred-booking is_numeric" placeholder="{text_type_here}">
                            </div>
                            <div class="container container-form-group form-group-date clearfix">
                                <label class="date-events">{text_events_start_date}:&nbsp;</label>
                                <input type="text" name="start_date" class="default arrival-popup requred-booking" readonly placeholder="{text_choose_date}">
                            </div>
                            <div class="container container-form-group form-group-date clearfix">
                                <label class="date-events">{text_events_end_date}:&nbsp;</label>
                                <input type="text" name="end_date" class="default departure-popup requred-booking" readonly placeholder="{text_choose_date}">
                            </div>
                            <div class="container spa-events-booking-popup-container-close8 clearfix">
                                <label>{text_details}: </label>
                                <textarea name="detail_booking" class="special_request" cols="30" rows="5" placeholder="{text_please_provide_all_necessarry}"></textarea>
                            </div>
                            <div class="container-recapcha clearfix">
                                <div class="g-recaptcha" data-sitekey="{captcha_site_key}"></div>	
                            </div>
                        </div>
                    </div>
                    <button class="button-submit-spa-booking">{text_enquiry}</button>
                </div>
            </form>
    
        </div>
    </div>
</div>
<!-- END popup-events-block -->