<!-- BEGIN section-form-booking -->
<div class="container wrap-form-booking-hero clearfix">
    <form action="https://redirect.fastbooking.com/DIRECTORY/dispoprice.phtmll" target="_blank" method="POST">

        <input type="hidden" name="showPromotions" value="1">
        <input type="hidden" name="langue" value="">
        <input type="hidden" name="Clusternames" value="{hotels_name}">
        <input type="hidden" name="Hotelnames" value="{hotels_name}">
        <!-- <input type="hidden" name="adulteresa" value=""> -->
        <input type="hidden" name="properties" value="{properties_name}">

        <input type="hidden" name="frommonth" value="">
        <input type="hidden" name="fromday" value="">
        <input type="hidden" name="fromyear" value="">
        <input type="hidden" name="tomonth" value="">
        <input type="hidden" name="today" value="">
        <input type="hidden" name="toyear" value="">

        <div class="container container-form-booking-hero clearfix">
            <div class="container container-form-dates clearfix">
                <label class="text _text label-text">{text_dates}</label>
                <input type="text" readonly name="dates" value="" placeholder="{text_choose_date}" class="text-date date-range-picker">
            </div>
            <div class="container container-form-rooms clearfix">
                <label class="text _text label-text">{text_room}</label>
                <div class="container container-form-rooms-choose clearfix">
                    <select name="rooms">
                        <option value="1">1 {text_room}</option>
                        <option value="2">2 {text_room}</option>
                        <option value="3">3 {text_room}</option>
                        <option value="4">4 {text_room}</option>
                    </select>
                    <!-- <img class="image image-arrow-form-booking" src="images/arrow-booking-box-header.svg"> -->
                </div>
            </div>
            <div class="container container-form-guest clearfix">
                <label class="text _text label-text">{text_guest}</label>
                <div class="container container-guest-choose clearfix">
                    <select name="adulteresa">
                        <option value="1">1 {text_guest}</option>
                        <option value="2">2 {text_guest}</option>
                        <option value="3">3 {text_guest}</option>
                        <option value="4">4 {text_guest}</option>
                        <option value="5">5 {text_guest}</option>
                        <option value="6">6 {text_guest}</option>
                        <option value="7">7 {text_guest}</option>
                        <option value="8">8 {text_guest}</option>
                        <option value="9">9 {text_guest}</option>
                    </select>
                    <!-- <img class="image image-arrow-form-booking" src="images/arrow-booking-box-header.svg"> -->
                </div>
            </div>
        </div>
        <button class="container desktop container-button-book-now book-now-hero clearfix" data-key="{value_json_booking}">
            <p class="text _text text-book-now">{text_book_now}</p>
            <p class="text _text text-best-rate">{text_best_rate_guaranteed}</p>
        </button>
        <button class="container mobile container-button-book-now book-now-hero clearfix" data-key="{value_json_booking}">
            <p class="text mobile _text text-book-now">{text_book_now}</p>
            <p class="text mobile _text text-best-rate">{text_best_rate_guaranteed}</p>
        </button>
    </form>

    {button_book_hero}
</div>
<!-- END section-form-booking -->