<!-- BEGIN header-block -->

<header id="hero-header">

  <div class="plx-img bg-cover-set b-lazy"
       data-src="{bg_hero}">

  </div>

  <div class="greeting center-relative flex">
    {title_hero}
  </div>

  <div class="head-book flex">
    <div class="con-book {plusplus}">
      <button class="solo">BOOK NOW</button>
      <div class="b-con">
        <div class="blur plx-img bg-cover-set b-lazy" data-src="{bg_hero}"></div>
      </div>

      <form class="flex">
        <input type="hidden" name="destination" value="{code_des}">
        <label>
          <span>DATES</span>
          <a class="bparent b-lazy thedate hhd noselect" data-src="{HTTP}{assets_url}/images/booking-arrow.svg">
            25 Jun - 29 Jun 2018
          </a>

          <input type="hidden" name="checkin">
          <input type="hidden" name="checkout">
        </label>
        <label>
          <span>ROOMS</span>
          <a class="cc bparent b-lazy noselect" data-src="{HTTP}{assets_url}/images/booking-arrow.svg">
            <p>01</p>
            <ul class="minion-pop">
              <li val="3">03</li>
              <li val="2">02</li>
              <li val="1">01</li>
            </ul>
          </a>

          <input type="hidden" name="room" value="1">
        </label>
        <label>
          <span>GUEST</span>
          <a class="cc bparent b-lazy noselect" data-src="{HTTP}{assets_url}/images/booking-arrow.svg">
            <p>01</p>
            <ul class="minion-pop">
              <li val="3">03</li>
              <li val="2">02</li>
              <li val="1">01</li>
            </ul>
          </a>
          <input type="hidden" name="guest">
          <!-- <input type="hidden" name="promocode" value=""> -->
        </label>

        <div class="btn-book flex">
          <!-- BOOK NOW -->
          <a href="#">Modify/Cancel Reservation</a>
          <p class="rbtn brand-new-btn"><img ex-src="{HTTP}{assets_url}/images/icon-loceng.svg">BOOK NOW</p>
        </div>
      </form>

    </div>

    <div class="weather_time flex">
      {mbutt}
    </div>
  </div>

</header>

{slider_hero_page}

<!-- END header-block -->
