<!-- BEGIN header-slide-block -->

<section id="hero-adt-slider" class="flex center-flex">
  <img class="cls" src="{HTTP}{assets_url}/images/close.svg">

  <h2>{stitle}</h2>
  <div class="h-adt-slider">
    <div class="slide-bg-hero bg-cover-set b-lazy"
         data-src="{first_l}"
         numb="1"
         style="background-image: url('{first_s}');">
    </div>

    <!-- BEGIN loop-header-slide-block -->
    <div class="slide-bg-hero bg-cover-set b-lazy"
         data-src="{img_large}"
         numb="{numb}"
         style="background-image: url('{img_thumb}');">
    </div>
    <!-- END loop-header-slide-block -->

    <a class="sh-n n b-lazy" href="#"
      data-src="{HTTP}{assets_url}/images/arrow-tipis-white.svg"
    ></a>
    <a class="sh-n p b-lazy" href="#"
      data-src="{HTTP}{assets_url}/images/arrow-tipis-white.svg"
    ></a>

  </div>

  <span>{title_page_popup}</span>
  <span class="ac-count actv"><i class="">1</i>/{totot}</span>
</section>

<!-- END header-slide-block -->
