<!-- BEGIN pageAddNew -->

<h1>Add New Page</h1>
<div class="tab_container">
    <div class="single_content">

		{alert}

        <form method="post" action="">

            <div class="button_wrapper clearfix">
                <div class="button_left">
                    <ul class="button_navigation">
                    	{button}
                    </ul>
                </div>
            </div>

            <!-- BEGIN loopPage -->
            <div class="list_edit">
                <fieldset>
                    <p>Title</p>
                    <p><input type="text" class="textbox forclone" name="title[{i}]" value="{title}" rel="input" data-name="larticle_title" autocomplete="off" /></p>
                    {sef_scheme}
                </fieldset>

                <fieldset>
					<p>Description</p>
                    {textarea}
                </fieldset>

                <fieldset>
                    <span style="display:none;">
                        {comments_settings}
                        {is_edit_all}
                        {select_box}
                        {is_saved}
                        {share_to}
                    </span>

                    {additional_data}
                </fieldset>
            </div>
            <!-- END loopPage -->

            <div class="button_wrapper clearfix">
                <div class="button_left">
                    <ul class="button_navigation">
                       {button}
                    </ul>
                </div>
           </div>
        </form>
    </div>
</div>

<!-- END pageAddNew -->