<!-- BEGIN page-block -->
<section class="wrap-about-us-page">
    <div class="container-about-us-page" data-aos="fade-up">
        <div class="content-about-us">
            {description_dest}
        </div>
    </div>

    <div class="container-about-destination" data-aos="fade-up">
        <h2>DESTINATION</h2>

        <!-- BEGIN loop-dest-block -->
        <div class="container-destination-list clearfix">
            <div class="desc-dest">
                <h3>{title_dest}</h3>
                <p>{content_dest}</p>
            </div>

            <div class="slide-destination-img">
                <div class="inner">
                    {img_list}
                </div>
                <div class="prev-next"></div>
            </div>
        </div>
        <!-- END loop-dest-block -->

        <!-- <div class="wrap-accolades clearfix">
            <h2>ACCOLADES</h2>
            
            {accolades_html}
        </div> -->
    </div>
</section>
<!-- END page-block -->