<!-- BEGIN page-block -->
<section id="greeting-dining" class="belongs-static-content">
  <div class="gdi container flex">
    <h2 class="capt">Story</h2>
    <div class="sum-con">{story}</div>
  </div>

  <div class="gdi container flex">
    <h2 class="capt">Our Hospitality</h2>
    <div class="sum-con">{hospitality}</div>
  </div>
</section>
<!-- END page-block -->
