<!-- BEGIN page-block -->
<section id="greeting-dining" class="belongs-dt-acco">
  <div class="gdi container flex">
    {post_content}
    <div class="spec flex">
      <h2>Specification</h2>
      {roomsize}
      {bedtype}
      {maxoccupancy}
    </div>
    <div class="amen">
      {amenities}
    </div>
  </div>
</section>

<section id="dining-reserve" class="flex center-flex belongs-to-dt-acco b-lazy bg-cover-set"
         data-src="{reg_bg}">
  <figure class="con-dining-reserve">
    <div class="xvo flex">
      <header>
        <h2>{s_reservation}</h2>
        <!-- <p>Dining at Maluku Restaurant</p> -->
      </header>
      <form class="dnr-form flex">
        <p class="flex">
          <label>{s_arrival}:</label>
          <input type="text" name="" value="" placeholder="{s_choose_date}">
        </p>

        <p class="flex">
          <label>{s_departure}:</label>
          <input type="text" name="" value="" placeholder="{s_choose_date}">
        </p>

        <p class="flex">
          <label>{s_adults}:</label>
          <input type="text" name="" value="" placeholder="01">
        </p>

        <p class="flex">
          <label>{s_child}:</label>
          <input type="text" name="" value="" placeholder="01">
        </p>
        <p class="flex">
          <label>{s_rooms}:</label>
          <input type="text" name="" value="" placeholder="01">
        </p>
        <p class="flex">
          <label>{s_iata_code}:</label>
          <input type="text" name="" value="" placeholder="{s_type_code}">
        </p>

        <button type="button" name="button">{s_check_availability}</button>
      </form>
    </div>
  </figure>

</section>

<section id="home-accommodation" class="prt detail-accommodation">
  <div class="common-head container">
    <h2>{s_other_accommodation}</h2>
  </div>

  <figure class="flex">
    <div class="con-acco-slider">
      <!-- BEGIN loop-list-block -->
      <div class="each-acco-slide"
           data-numb="{nmb}"
           data-content="{content_product}"
           data-title="{title_product}"
           data-link="{post_link}">

           <a href="{post_link}">
             <img class="nsl" ex-src="{image_product_l}" src="{image_product_s}" alt="{title_accommodations}">
           </a>

      </div>
      <!-- END loop-list-block -->

    </div>
    <div class="con-desc-slider">
      <div class="kotak flex center-flex">
        <span class="ac-count actv"><i class="">1</i>/{tot}</span>
        <span class="ac-title">{s_accommodation}</span>
        <a class="additional_link" href="{flnk}">
          <h3 class="actv">{ftit}</h3>
        </a>
        <p class="actv">{fcon}</p>
        <a class="ac-discover" href="{flnk}">{s_discover}</a>

        <nav class="flex">
          <div class="flex">
            <span class="ac-prev noselect">{s_prev}</span>
            <span class="ac-next noselect">{s_next}</span>
          </div>
          <a href="{link_other_viewall}">{s_view_all}</a>
        </nav>
      </div>
    </div>
  </figure>
</section>


<!-- END page-block -->
