<!-- BEGIN page-block -->
<section id="dining-greeting">
  {description}
</section>

<!-- Class construct section tergantung destination ex: monkey-forest / nyuh-kuning-->
<section id="list-accom" class="monkey-forest">
  <div class="accom-container">
    <!-- BEGIN loop-list-block -->
    <div class="each-acco">

        <figure class="bg-cover-set b-lazy" data-src="{featured_image}">
          <div class="nk-capt">
            <span>{s_accommodation}</span>
            <h2>{post_title}</h2>

            <p>
              Spacious (42 sqm) marble floored rooms, with king size or two single bed. The rooms featured flat screen TV, Air conditioning, balcony
            </p>

            <ul class="flex">
              <li>Satellite TV</li>
              <li>Free Wi-Fi</li>
              <li>DVD Player</li>
              <li>Incl. breakfast</li>
              <li>Air Conditioning</li>
              <li>Sunken Bathtubs</li>
            </ul>

            <div class="agvht flex">
              <a class="fty-dt" href="{post_link}">{s_details}</a>
              <a class="bk">{s_book_now}</a>
            </div>
          </div>
          <a class="fmf" href="{post_link}">
          </a>
        </figure>


      <figcaption>
        <div class="ups flex">
          <span>{s_accommodation}</span>
          <h2>
            <a href="{post_link}">
              {post_title}
            </a>
          </h2>
          <p>
            <span>{s_room_size}</span>
            {roomsize}
          </p>
          <p>
            <span>{s_bed_type}</span>
            {bedtype}
          </p>
          <p>
            <span>{s_max_occupancy}</span>
            {maxoccupancy}
          </p>
          <p>
            <span>{s_bathrooms}</span>
            {bathroom}
          </p>
        </div>
        <div class="dwnt flex">
          <a href="{post_link}">{s_details}</a>
          <a class="bk">{s_book_now}</a>
        </div>
      </figcaption>
    </div>
    <!-- END loop-list-block -->

  </div>
</section>
<!-- END page-block -->
