<!-- BEGIN page-block -->
<section id="contact-information" class="flex actv">
  <div id="map-ci" class="coninfo-map"></div>
  <div class="map-info">
    <!-- BEGIN loop-list-block -->
      <div id="{i}" class="each-con-info">
        <a class="mdt t" href="#">
          <strong>{title_each}</strong>
        </a>
        <a class="mdt a" href="{link_direct}" target="_blank">{address_each}</a>
        <a class="mdt p" href="tel:{phone_each}">Phone:{phone_each}</a>
        <a class="mdt f" href="tel:{fax_each}">Fax:{fax_each}</a>
        <a class="mdt e" href="mailto:{email_each}">Email:{email_each}</a>
      </div>
    <!-- END loop-list-block -->

    <div class="each-con-info down">
      <div class="thesos flex">
        <a href="#">
          <img class="noselect" ex-src="{HTTP}{assets_url}/images/ig.svg">
        </a>
        <a href="#">
          <img class="noselect" ex-src="{HTTP}{assets_url}/images/fb.svg">
        </a>
        <a href="#">
          <img class="noselect" ex-src="{HTTP}{assets_url}/images/utube.svg">
        </a>
      </div>

      <a class="send-inq-map">SEND YOUR INQUIRY</a>
    </div>
  </div>
</section>

<section id="send_inq_coninfo" class="flex center-flex belongs-coninfo">
  <a class="send-inq-map tback">BACK TO MAP</a>
  <figure class="con-dining-reserve">
    <header>
      <h2>Contact Form</h2>
      <p></p>
    </header>
    <form class="dnr-form flex">
      <p class="flex">
        <label>Full Name:</label>
        <input type="text" name="" value="" placeholder="Your full name">
      </p>
      <p class="flex">
        <label>Email:</label>
        <input type="text" name="" value="" placeholder="Type email">
      </p>
      <p class="flex f-opt b-lazy" data-src="'.HTTP.TEMPLATE_URL.'/assets/images/booking-arrow-black.svg">
        <label>Country:</label>
        <input type="text" name="" value="" placeholder="Choose" readonly>
      </p>
      <p class="flex">
        <label>Phone:</label>
        <input type="text" name="" value="" placeholder="Your number">
      </p>
      <p class="ffx flex">
        <label>Message</label>
        <textarea name="name" rows="1" cols="80" placeholder="Type here"></textarea>
      </p>

      <button type="button" name="button">SEND MESSAGE</button>
    </form>
  </figure>
</section>

<textarea name="json_dest" id="" style="display: none;">{dest_data}</textarea>
<input type="hidden" name="map_icon" value="{HTTP}{assets_url}/images/map_marker_normal.svg">
<input type="hidden" name="map_icon_fade" value="{HTTP}{assets_url}/images/map_marker_fade.svg">
<!-- END page-block -->
