<!-- BEGIN page-block -->

<section id="greeting-dining">
  <div class="gdi container flex">
    {post_content}
    <div class="m m1">
      {opening_hours}
    </div>
    <div class="m m2">
      {cusines}
    </div>
    <div class="m m3">
      {price_rate}
    </div>
    <!-- <figure class="flex">
      <h2>Download Our Menu</h2>
      <a href="#" class="b-lazy" data-src="{HTTP}{assets_url}/images/download-icon.svg"></a>
    </figure> -->
    {menu_pdf_download}
  </div>
</section>

<section id="dining-reserve" class="flex center-flex bg-cover-set b-lazy"
  data-src="{reserve_bg_ori}"
  style="background-image: url({reserve_bg_s})">
  <figure class="con-dining-reserve flex">
    <header>
      <h2>{s_reservation}</h2>
      <p>{s_dining_at} {post_title}</p>
    </header>
    <form class="dnr-form flex">
      <p class="flex p__">
        <label>{s_your_name}:</label>
        <input class="req__" type="text" name="dname" value="" placeholder="Type here">
      </p>
      <div class="flex f-opt b-lazy p__" data-src="{HTTP}{template_url}/assets/images/booking-arrow-black.svg">
        <label>{s_number_of_people}:</label>
        <input class="req__ op_" class="noselect" type="text" name="dpeople" value="1 People" placeholder="1 People" readonly>

        <ul>
          <li>1 {s_people}</li>
          <li>2 {s_people}</li>
          <li>3 {s_people}</li>
          <li>4 {s_people}</li>
          <li>5 {s_people}</li>
        </ul>
      </div>
      <p class="flex p__">
        <label>{s_email}:</label>
        <input class="req__" type="text" name="demail" value="" placeholder="{s_type_here}">
      </p>
      <p class="flex f-opt b-lazy p__" data-src="{HTTP}{template_url}/assets/images/booking-arrow-black.svg">
        <label>{s_date}:</label>
        <input class="fdate req__" type="text" name="ddate" value="" placeholder="{s_choose_date}" readonly>
      </p>
      <p class="flex p__">
        <label>{s_phone}:</label>
        <input class="req__" type="text" name="dphone" value="" placeholder="{s_type_here}">
      </p>
      <div class="flex f-opt b-lazy p__" data-src="{HTTP}{template_url}/assets/images/booking-arrow-black.svg">
        <label>{s_time}:</label>
        <input class="noselect req__ op_" type="text" name="dtime" value="07.00 am" placeholder="07.00 am" readonly>

        <ul>
          <li>07.00 am</li>
          <li>08.00 am</li>
          <li>09.00 am</li>
          <li>10.00 am</li>
        </ul>
      </div>
      <p class="ffx flex p__">
        <label>{s_special_request}</label>
        <textarea class="req__" name="dmsg" rows="1" cols="80" placeholder="{s_type_here}"></textarea>
      </p>

      <button class="btn_inq_dining" type="button" name="button">
        <span class="load_ b-lazy"
              data-src="{HTTP}{assets_url}/images/spiner-white.gif">

        </span>
        <span>{s_check_availability}</span>
      </button>
    </form>
  </figure>

</section>

<section id="home-accommodation" class="prt detail-dining">
  <div class="common-head container">
    <h2>{s_other_dining}</h2>
  </div>

  <figure class="flex">
    <div class="con-acco-slider">
      <!-- BEGIN loop-list-block -->

      <div class="each-acco-slide"
           data-numb="{nmb}"
           data-content="{content_product}"
           data-title="{title_product}"
           data-link="{post_link}">

           <a href="{post_link}">
             <img class="nsl" ex-src="{image_product_l}" src="{image_product_s}" alt="{title_accommodations}">
           </a>

      </div>
      <!-- END loop-list-block -->

    </div>
    <div class="con-desc-slider">
      <div class="kotak flex center-flex">
        <span class="ac-count actv"><i class="">1</i>/{tot}</span>
        <span class="ac-title">{s_dining}</span>

        <a class="additional_link" href="{flnk}">
          <h3 class="actv">{ftit}</h3>
        </a>
        <p class="actv">{fcon}</p>
        <a class="ac-discover" href="{flnk}">{s_discover}</a>

        <nav class="flex">
          <div class="flex">
            <span class="ac-prev noselect">{s_prev}</span>
            <span class="ac-next noselect">{s_next}</span>
          </div>
          <a href="{link_other_viewall}">{s_view_all}</a>
        </nav>
      </div>
    </div>
  </figure>
</section>

<!-- END page-block -->
