<!-- BEGIN page-block -->
<section id="dining-greeting">
  {description}
</section>

<section id="list-dining">
  <!-- BEGIN loop-list-block -->
  <div class="the-list flex">
    <div class="con-dining-slider">
      <div class="each-g">
           <a href="{post_link}">
             <img ex-src="{featured_origin}" src="{featured_small}">
           </a>
      </div>
      {boss}
      <nav class="flex">
        <a class="zp noselect">
          <img ex-src="{HTTP}{assets_url}/images/arrow-tipis-white.svg">
        </a>
        <a class="zn noselect">
          <img ex-src="{HTTP}{assets_url}/images/arrow-tipis-white.svg">
        </a>
      </nav>
    </div>
    <div class="list-content flex center-flex">
      <figure>
        <span>{appsef}</span>
        <h2>
          <a href="{post_link}">
            {post_title}
          </a>
        </h2>
        <div class="f-p">
          <p>
            {post_content}
          </p>
        </div>
        <nav class="flex">
          <a href="{post_link}">{s_seedetails}</a>
          {reserve_button}
        </nav>
      </figure>
    </div>
  </div>
  <!-- END loop-list-block -->
</section>

{book_form}
<section id="dining-reserve" class="flex center-flex before-detail">
<a class="mmenu-close"></a>
<figure class="con-dining-reserve flex">
  <header>
    <h2>Reservation</h2>
    <p></p>
  </header>
  <form class="dnr-form flex">
    <p class="flex p__">
      <label>Your Name:</label>
      <input class="req__" type="text" name="dname" value="" placeholder="Type here">
    </p>
    <div class="flex f-opt b-lazy p__" data-src="{HTTP}{template_url}/assets/images/booking-arrow-black.svg">
      <label>Number of People:</label>
      <input class="req__ op_" class="noselect" type="text" name="dpeople" value="1 People" placeholder="1 People" readonly>

      <ul>
        <li>1 People</li>
        <li>2 People</li>
        <li>3 People</li>
        <li>4 People</li>
        <li>5 People</li>
      </ul>
    </div>
    <p class="flex p__">
      <label>Email:</label>
      <input class="req__" type="text" name="demail" value="" placeholder="Type here">
    </p>
    <p class="flex f-opt b-lazy p__" data-src="{HTTP}{template_url}/assets/images/booking-arrow-black.svg">
      <label>Date:</label>
      <input class="fdate req__" type="text" name="ddate" value="" placeholder="Choose Date" readonly>
    </p>
    <p class="flex p__">
      <label>Phone :</label>
      <input class="req__" type="text" name="dphone" value="" placeholder="Type here">
    </p>
    <div class="flex f-opt b-lazy p__" data-src="{HTTP}{template_url}/assets/images/booking-arrow-black.svg">
      <label>Time:</label>
      <input class="noselect req__ op_" type="text" name="dtime" value="07.00 am" placeholder="07.00 am" readonly>

      <ul>
        <li>07.00 am</li>
        <li>08.00 am</li>
        <li>09.00 am</li>
        <li>10.00 am</li>
      </ul>
    </div>
    <p class="ffx flex p__">
      <label>Special Request</label>
      <textarea class="req__" name="dmsg" rows="1" cols="80" placeholder="Type here"></textarea>
    </p>

    <button class="btn_inq_dining" type="button" name="button">
      <span class="load_ b-lazy"
            data-src="{HTTP}{assets_url}/images/spiner-white.gif">

      </span>
      <span>CHECK AVAILABILITY</span>
    </button>
  </form>
</figure>

</section>
<!-- END page-block -->
