<!-- BEGIN page-block -->

<section id="greeting-dining" class="belongs-detail-facilities">
  <div class="gdi container flex">
    {post-content-content}
    <div class="cnt-m flex">
      {what-you-get}
      {what-you-have}
    </div>
  </div>
</section>

<section id="home-accommodation" class="prt detail-activities" {hide_if_null}>
  <div class="common-head container">
    <h2>{other-title}</h2>
  </div>

  <figure class="flex">
    <div class="con-acco-slider">
      <!-- BEGIN loop-list-block -->
      <div class="each-acco-slide"
           data-numb="{nmb}"
           data-content="{content_product}"
           data-title="{title_product}"
           data-link="{post_link}">

           <a href="{post_link}">
             <img class="nsl" ex-src="{image_product_l}" src="{image_product_s}" alt="{title_accommodations}">
           </a>

      </div>
      <!-- END loop-list-block -->

    </div>
    <div class="con-desc-slider">
      <div class="kotak flex center-flex">
        <span class="ac-count actv"><i class="">1</i>/{tot}</span>
        <!-- <span class="ac-title">ACCOMMODATION</span> -->
        <a class="additional_link" href="{flnk}">
          <h3 class="actv">{ftit}</h3>
        </a>
        <p class="actv">{fcon}</p>
        <a class="ac-discover" href="{flnk}">{s_discover}</a>

        <nav class="flex">
          <div class="flex">
            <span class="ac-prev noselect">{s_prev}</span>
            <span class="ac-next noselect">{s_next}</span>
          </div>
          <a href="{link_other_viewall}">{s_view_all}</a>
        </nav>
      </div>
    </div>
  </figure>
</section>

<!-- END page-block -->
