<!-- BEGIN page-block -->
  <section id="galegale" class="flex">
    <!-- BEGIN loop-list-block -->
      <div class="thumbnail-gallery flex center-flex bg-cover-set b-lazy"
           data-src="{featured_origin}"
           style="background-image:url('{featured_small}')">
        <h2>{post_title}</h2>

        <a data-gale='{boss}'>SEE ALL PHOTOS</a>
      </div>
    <!-- END loop-list-block -->
  </section>

  <!-- TEMPLATE SLIDER -->
  <section id="hero-adt-slider" class="flex center-flex">
    <img class="cls" src="{HTTP}{assets_url}/images/close.svg">

    <h2></h2>
    <div class="h-adt-slider belongs-to-gallery">

      <a class="sh-n n b-lazy" href="#"
        data-src="{HTTP}{assets_url}/images/arrow-tipis-white.svg"
      ></a>
      <a class="sh-n p b-lazy" href="#"
        data-src="{HTTP}{assets_url}/images/arrow-tipis-white.svg"
      ></a>

    </div>

    <!-- NOTE: loader -->
    <img class="btg-load" ex-src="{HTTP}{assets_url}/images/Spin-load.gif">

    <span>{title_page_popup}</span>
    <span class="ac-count actv"><i class="">1</i>/<b></b></span>
  </section>
<!-- END page-block -->
