<!-- BEGIN home-block -->

<!-- START SECTION ABOUT -->

<section id="special-offers">
  <div class="common-head container">
    <h2>{offer_title}</h2>
    {offer_brief}
    <a class="common-detail-button" href="{link_exlore_all_offers}">{s_view_all_offers}</a>
  </div>

  <div class="so-slider">
    <!-- BEGIN loop_offers_list -->
      <div class="each-slider sos">
        <div class="flex k768">
          <div class="sos-content flex center-flex">
            <figcaption>
              <h3>{title_offers}</h3>
              <p>{brief_offers}</p>
              <div class="flex">
                <span text-rate="RATE/NIGHT">USD 198</span>
                <a class="common-detail-button" href="{post_link_offers}">{s_book_now}</a>
              </div>
            </figcaption>
          </div>

          <div class="sos-img bg-cover-set b-lazy" data-src="{image_offers}">
          </div>
        </div>
      </div>
    <!-- END loop_offers_list -->
  </div>
</section>

<section id="little-story">
  <div class="our-story container flex">
    <!-- <h2>Bringing Unique Experiences Together</h2> -->
    <h2>{title_greeting}</h2>
    <div class="os-con">
      <!-- <h4>The Ubud Village Monkey Forest</h4>
      <p>
        Designed to bring contemporary Balinese elegance to Monkey Forest Road, Ubud Village Hotel is perfectly placed for guests to experience absolutely everything that Ubud has to offer. This boutique property presents 62 stylishly-appointed rooms and suites, along with supporting facilities for a relaxing stay where no need is ever overlooked.
      </p> -->
      {content_greeting}
      <a href="{HTTP}{SITE_URL}/{urip}/about/">{s_fint_out_more}</a>
    </div>
  </div>
</section>

<section id="home-accommodation" class="flex">
  <div class="con-acco-slider">

    <!-- BEGIN loop_accommodations_list -->
      <div class="each-acco-slide"
           data-numb="{numb}"
           data-content="{content_accommodations}"
           data-title="{title_accommodations}"
           data-link="{link_accommodations}">

           <a href="{link_accommodations}">
             <img class="nsl" ex-src="{image_accommodations}" alt="{title_accommodations}">
           </a>

      </div>
    <!-- END loop_accommodations_list -->

  </div>

  <div class="con-desc-slider">
    <div class="kotak flex center-flex">
      <span class="ac-count actv"><i class="">1</i>/{tot}</span>
      <span class="ac-title">{s_accommodation}</span>
      <a class="additional_link" href="{link_acco}">
        <h3 class="actv">
          {title_acco}
        </h3>
      </a>
      <p class="actv">{content_acco}</p>
      <a class="ac-discover" href="{link_acco}">DISCOVER</a>

      <nav class="flex">
        <div class="flex">
          <span class="ac-prev noselect">{s_next}</span>
          <span class="ac-next noselect">{s_prev}</span>
        </div>
        <a href="{link_viewall_acco}">{s_view_all}</a>
      </nav>
    </div>
  </div>
</section>

<section id="why-us" style="{hide_exp}">
  <div class="common-head container">
    <h2>{exp_title}</h2>
    {exp_brief}
    <!-- <a class="common-detail-button" href="#">VIEW ALL OFFERS</a> -->
  </div>

  <div class="why-us-slider-con">
    <!-- BEGIN loop_experience_list -->
      <div class="each-wu">
        <div class="ava-wu">
          <img ex-src="{image_experience}">
        </div>

        <div class="desc-wu">
          <h3>{title_experience}</h3>
          <p>
            {content_experience}
          </p>
        </div>
      </div>
    <!-- END loop_experience_list -->
  </div>

  <nav class="flex">
    <p></p>
    <img class="noselect b-lazy wup" data-src="{HTTP}{assets_url}/images/arrow-tipis.svg">
    <img class="noselect b-lazy wun" data-src="{HTTP}{assets_url}/images/arrow-tipis.svg">
  </nav>
</section>

<section id="home-interesting" style="{hide_interest}">
  <div class="con-interest-slider">

    <!-- BEGIN loop_interestings_list -->
      <div class="each-interest b-lazy bg-cover-set"
           data-src="{image_interestings}"
           data-title="{title_interestings}"
           data-numb="{numb}"
           data-content="{content_interestings}"
           data-loc="{subtitle_interestings}">

      </div>
    <!-- END loop_interestings_list -->

  </div>
  <div class="hi-content container">
    <strong>{s_interesting_spot}</strong>
    <h3 class="actv">{title_inter}</h3>
    <span class="actv">{subtitle_inter}</span>
    <p class="actv">
      {content_inter}
    </p>

    <div class="ft-hic flex">
      <nav>
        <a class="ip">{s_prev}</a>
        <a class="in">{s_next}</a>
      </nav>

      <a class="r2"><i>1</i>/<b>{toti}</b></a>
    </div>
  </div>
</section>

<section id="home-instagram">
  <div class="common-head container">
    <h2>{s_what_on_the_ubud_village}</h2>
  </div>

  <div class="con-ig flex">
    <div class="each-ig flex center-flex">
      <p>
        {s_instagram_desc}
      </p>
      <a href="#">{s_see_more_in}
        <b class="b-lazy"
           data-src="{HTTP}{assets_url}/images/expand_icon.svg">
           INSTAGRAM
        </b>
      </a>
    </div>

    {iglist}
  </div>
</section>

<section id="home-reviews">
  <div class="common-head container flex">
    <h2>{s_reviews}</h2>
    <div class="rev-menus flex">
      <a class="jombs">{s_all}</a>
      <div class="o-con flex">
        <a href="#" class="actv">{s_all}</a>
        {cat_review}
      </div>
    </div>
  </div>

  <div class="megatron">
    <div class="con-reviews-slider actv">
      <!-- BEGIN loop_review_list -->
        <div class="each-reviews">
          <span onclick="window.open('{ota_l}', '_blank')">{rule}</span>
          <h3 onclick="window.open('{ota_l}', '_blank')">{title_reviews}</h3>
          <p>
            {desc_reviews}
            <!-- <b>MORE</b> -->
          </p>
          <div onclick="window.open('{ota_l}', '_blank')" class="review-stars {rates}">
            <img class="noselect b-lazy" data-src="{HTTP}{assets_url}/images/stars.svg">
          </div>
          <strong onclick="window.open('{ota_l}', '_blank')">{name_reviews}</strong>
          <i onclick="window.open('{ota_l}', '_blank')">{rdate}</i>

          <a href="{ota_l}">{s_see_more_in}
            <b class="b-lazy"
               data-src="{HTTP}{assets_url}/images/expand_icon.svg">
               {rule}
            </b>
          </a>
        </div>
      <!-- END loop_review_list -->
    </div>
  </div>
  <img class="noselect b-lazy loader-review" data-src="{HTTP}{assets_url}/images/spiner-gold.gif">
</section>

<!-- END home-block -->
