<!-- BEGIN page-block -->
<section class="wrap-locations-page clearfix">
    <div class="container-maps">
        <div id="map" style="height: 100%;"></div>

        <div class="choose-locations-tablet clearfix">
            <div class="container-desc-location">
                <h1>{title_page}</h1>
                <div class="desc-loc-p">
                    {desc_page}
                </div>
                <div class="container-location-list"></div>
                
            </div>
        </div>
    </div>
    <div class="wrap-choose-locations clearfix">
        <div class="container-desc-location">
            <h1>{title_page}</h1>
            <div class="desc-loc-p">
                {desc_page}
            </div>

            <div class="container-location-list">
                <div class="scrollbar-macosx"></div>
            </div>
            
        </div>
        <div class="container-cat-locations">
            <ul>
                <li>
                    <a href="" data-filter="all" class="all">{text_all}</a>
                </li>
                <li>
                    <a href="" data-filter="Shops" class="shops">{text_shops}</a>
                </li>
                <li>
                    <a href="" data-filter="Restaurants" class="restaurants">{text_restaurants}</a>
                </li>
                <li>
                    <a href="" data-filter="Attractions" class="attractions">{text_attractions}</a>
                </li>
                <li>
                    <a href="" data-filter="Misc" class="misc">{text_misc}.</a>
                </li>
            </ul>
        </div>
    </div>
</section>

<input type="hidden" name="latitude" value="{latitude}">
<input type="hidden" name="longitude" value="{longitude}">
<input type="hidden" name="title_destination" value="{title_dest}">
<input type="hidden" name="map_icon" value="{maps_icon}">
<!-- END page-block -->