<!-- BEGIN page-block -->
<section class="wrap-desc-detail-page">

    <div class="container-desc-detail-news clearfix" data-aos="fade-up">
        {post_content}
        
        {button_download_file}
    </div>

    <div class="container-comment">
        <h3>Comments</h3>
        <div id="disqus_thread"></div>
        {disqus_script}
    </div>

</section>

<section class="wrap-other-accommodation">
    <h2>{text_related_news}</h2>

    <div class="container-slide-other">
        <div class="inner">
    
            <!-- BEGIN loop-list-block -->
            <a href="{post_link}">
                <div class="container list-item clearfix">
                    <div class="element container-image lazy" data-src="{image_product}">
                        <div class="loader"></div>
                    </div>
                    <div class="container list-item-description clearfix">
                        <p class="text _text list-item-subtitle">{text_news}</p>
                        <h3 class="text _text list-item-title">{title_product}</h3>
                        <div class="list-item-brief">{brief_product}</div>
                        <p class="text _text list-item-text-explore">{text_explore}</p>
                    </div>
                </div>
            </a>
            <!-- END loop-list-block -->
    
        </div>
        <div class="container-button-nav-slide">
            <div class="overlay-slide-product">
                <div class="prev-next"></div>
            </div>
            <div class="button-explore-more">
                <a href="{link_explore}">{text_explore_more}</a>
            </div>
        </div>
    </div>
</section>
<!-- END page-block -->