<!-- BEGIN page-block -->
<section id="dining-greeting">
  {description}
</section>

<!-- Class construct section tergantung destination ex: monkey-forest / nyuh-kuning-->
<section id="list-accom" class="monkey-forest belongs-offers">
  <div class="accom-container">
    <!-- BEGIN loop-list-block -->
    <div class="each-acco">
      <figure class="bg-cover-set b-lazy" data-src="{featured_image}">
      </figure>

      <figcaption>
        <div class="ups flex">
          <span>{s_offers}</span>
          <h2>{post_title}</h2>
          <p class="mbro">
            Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
          </p>
          <p>
            <span>{s_rpn}</span>
            USD 198
          </p>
        </div>
        <div class="dwnt flex">
          <a href="{post_link}">{s_details}</a>
          <a href="#">{s_booknow}</a>
        </div>
      </figcaption>
    </div>
    <!-- END loop-list-block -->

  </div>
</section>
<!-- END page-block -->
