<!-- BEGIN 404-block -->
<section id="nf-404" class="flex center-flex b-lazy bg-cover-set" data-src="{post_image}">
  <a href="{home_url}">
    <img src="{HTTP}{template_url}/assets/images/logo/ubud-hotel-white.png">
  </a>
  <h1>{post_title}</h1>
  {post_content}
  <a href="{home_url}">RETURN TO HOME</a>
</section>
<!-- END 404-block -->
