<!-- BEGIN page-block -->
<section class="wrap-content-offers-page clearfix">
    <div class="container clearfix">
        <h3 class="subtitle">{subtitle}</h3>
        <h1 class="text _text text-title-offers">{title}</h1>
        <div class="element element-offers-1"></div>
        <div class="element element-offers-2"></div>
    </div>

    <div class="filter-gallery clearfix">
        <div class="con-filter-gallery-type click-filter">
            <input type="hidden" name="search" value="all" />
            <span>{text_all_media}</span>
            <div class="select-option clearfix">
                <ul>
                    <li data-filter="all" data-text="{text_all_media}" data-key="type">{text_all_media}</li>
                    {choose_media_html}
                </ul>
            </div>
        </div>
        <div class="con-filter-gallery-category click-filter">
            <input type="hidden" name="search" value="all" />
            <span>{text_all_photos}</span>
            <div class="select-option clearfix">
                {category_html}
            </div>
        </div>
    </div>
    <!-- <div class="text _text text-desc-offers">{description}</div> -->
</section>


<section class="wrap-offers-list clearfix" id="wrap-press-gallery-list">

    <div class="page-loader-gallery clearfix">
        <img src="{HTTP}{assets_url}/images/press-gallery/loading.svg" />
    </div>

    <div id="wrap-press-gallery-con">
        <div class="container-offers clearfix" id="container-press-gallery">
    
            {paging}
    
            <div class="wrap-press-gallery masonry clearfix">
                <div class="grid-sizer"></div>
                <div class="gutter-sizer"></div>
                
                <!-- BEGIN loop-list-block -->
                {list_gallery}
                <!-- END loop-list-block -->
    
            </div>
    
        </div>
    </div>

    <div class="page-load-status clearfix">
        <img src="{HTTP}{assets_url}/images/press-gallery/loading.svg" />
    </div>
</section>

<input type="hidden" name="page_url" value="{page_url}">
<!-- END page-block -->