<!-- BEGIN page-block -->
<section id="greeting-dining" class="belongs-spa">
  <div class="gdi container flex">
    {post_content}
    <figure class="flex">
      <h2>{s_menu}</h2>
      {pdf_mn}
    </figure>
  </div>

  <menu id="menu-spa" class="container">
    {list_treatment}
  </menu>
</section>

<section id="book-spa" class="flex center-flex">
  <img class="spb-c" ex-src="{HTTP}{assets_url}/images/close-grey.svg">
  <div class="container flex">
    <div class="bsc reserv">
      <h2>{s_reservation_details}</h2>
      <div class="group flex">
        <label>{s_spa_location} :</label>
        <input type="text" name="treatment_location__" value="" placeholder="Select Spa Location*" readonly>
      </div>
      <div class="group flex">
        <label>{s_treatment_category} :</label>
        <input class="cat_c" type="text" name="treatment_category__" value="" placeholder="Select Treatment Category*" readonly>
      </div>
      <div class="group flex">
        <label>{s_treatment_list} :</label>
        <input class="cat_l" type="text" name="treatment_list__" value="" placeholder="Select Treatment List*" readonly>
      </div>
      <div class="group flex triplet">
        <label>{s_no_of_person}* :</label>
        <div class="b-lazy tpo_" data-src="{HTTP}{assets_url}/images/booking-arrow-black.svg">
          <span>1 Person</span>
          <ul>
            <li val="Other..">{s_other}..</li>
            <li val="1 Person">1 {s_person}</li>
            <li val="2 Persons">2 {s_persons}</li>
            <li val="3 Persons">3 {s_persons}</li>
          </ul>
          <input class="sreq_" type="hidden" name="sperson_" value="1 Person">
        </div>
      </div>
      <div class="group flex triplet">
        <label>{s_date_and_time}* :</label>
        <div class="b-lazy tpo_" data-src="{HTTP}{assets_url}/images/booking-arrow-black.svg">
          <input class="b-lazy spa_date sreq_" type="text" name="sdate_" value="" placeholder="Choose Date" readonly>
        </div>
        <div class="b-lazy tpo_" data-src="{HTTP}{assets_url}/images/booking-arrow-black.svg">
          <span>{s_hours}</span>
          <ul>
            <li val="Other..">{s_other}..</li>
            <li val="1 Hour">1 {s_hours}</li>
            <li val="2 Hours">2 {s_hours}</li>
            <li val="3 Hours">3 {s_hours}</li>
            <li val="4 Hours">4 {s_hours}</li>
            <li val="5 Hours">5 {s_hours}</li>
          </ul>
          <input class="sreq" type="hidden" name="shour_" value="">
        </div>
        <div class="b-lazy tpo_" data-src="{HTTP}{assets_url}/images/booking-arrow-black.svg">
          <span>{s_minutes}</span>
          <ul>
            <li val="Other..">{s_other}..</li>
            <li val="10 Minute">10 {s_minutes}</li>
            <li val="20 Minutes">20 {s_minutes}</li>
            <li val="30 Minutes">30 {s_minutes}</li>
            <li val="40 Minutes">40 {s_minutes}</li>
            <li val="50 Minutes">50 {s_minutes}</li>
          </ul>
          <input class="sreq_" type="hidden" name="sminute_" value="">
        </div>
        <!-- <input type="text" name="" value="" placeholder=""> -->
      </div>
      <div class="group flex">
        <label>{s_where_are_you_staying}* :</label>
        <input class="sreq_" type="text" name="sstaying_" value="" placeholder="Type Here">
      </div>
      <div class="group flex">
        <label>{s_special_request} ({s_optional}) :</label>
        <!-- <input type="text" name="srequest_" value="" placeholder="Type Here"> -->
        <textarea class="" name="srequest_" rows="5" cols="80" placeholder="Type Here"></textarea>
      </div>
    </div>
    <div class="bsc contact">
      <h2>{s_contact_details}</h2>
      <div class="group flex">
        <label>{s_full_name} :</label>
        <input class="sreq_" type="text" name="sname_" value="" placeholder="Type your name here">
      </div>
      <div class="group flex">
        <label>{s_nationality}* :</label>
        <input class="sreq_" type="text" name="snationality_" value="" placeholder="Type Nationality">
      </div>
      <div class="group flex">
        <label>{s_email}* :</label>
        <input class="sreq_" type="text" name="semail_" value="" placeholder="Type your email">
      </div>
      <div class="group flex">
        <label>{s_mobile_pref_phone_number}* :</label>
        <input class="sreq_" type="text" name="smobile_" value="" placeholder="Type your number">
      </div>
      <div class="group flex wrp">
        <label>{s_prefer_us_to_contact_you}* :</label>
        <div class="bradio">
          <input id="r-phone" type="radio" name="radio-group_" value="Phone" checked>
          <label for="r-phone">{s_phone}</label>

          <input id="r-email" type="radio" name="radio-group_" value="Email">
          <label for="r-email">{s_email}</label>
        </div>
      </div>

      <div class="group agr">
        <div class="g-recaptcha"
             data-theme="light"
             data-sitekey="6LdQfY8UAAAAAHFaJ9ucqv3QgsPIBcRigL9-43KE"
             style="transform:scale(0.77);transform-origin:0 0"
             ></div>

        <input class="sreq_" id="agree" type="checkbox" name="sagree_">
        <label for="agree">{s_form_spa_policy}</label>
      </div>
    </div>
  </div>

  <div class="container flex ft-spabook">
    <div class="bsc fff">
      <p>
        {s_tax_desc_spa}
      </p>
    </div>
    <div class="bsc fff">
      <a class="spabtn__">
        <span class="load_ b-lazy"
              data-src="{HTTP}{assets_url}/images/spiner-white.gif">

        </span>
        <span>{s_submit}</span>
      </a>
    </div>
  </div>
</section>

<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<!-- END page-block -->
