<!-- BEGIN page-block -->
<section class="wrap-desc-detail-page" id="scroll-destination">
    <div class="wrap-container-detail-spa" data-aos="fade-up">
        <div class="container-detail-spa">
            <div class="container-title-spa" data-aos="fade-up">
                <h2>{post_title}</h2>
            </div>
            <div class="description-value" data-aos="fade-up">
                {post_content}
            </div>
    
            <div class="wrap-list-treatment">
    
                <!-- BEGIN loop-cat-treatment-block -->
                <div class="list-category-treatment" data-aos="fade-up">
                    
                    <h4>{cat_name}</h4>
                    {cat_desc}
    
                    {content_treatment_list}
    
                </div>
                <!-- END loop-cat-treatment-block -->
    
            </div>
        </div>
    </div>
</section>

<section class="wrap-other-accommodation">
    <h2 data-aos="fade-up">{text_other_treatment}</h2>

    <div class="container-slide-other">
        <div class="inner" data-aos="fade-up">

            <!-- BEGIN loop-list-block -->
            <a href="{post_link}">
                <div class="container list-item clearfix">
                    <div class="element container-image lazy" data-src="{image_product}">
                        <div class="loader"></div>
                    </div>
                    <div class="container list-item-description clearfix" data-aos="fade-up">
                        <p class="text _text list-item-subtitle">{text_spa}</p>
                        <h3 class="text _text list-item-title">{title_product}</h3>
                        <div class="list-item-brief">{brief_product}</div>
                        {link_detail}
                    </div>
                </div>
            </a>
            <!-- END loop-list-block -->
    
        </div>
        
        <div class="container-button-nav-slide">
            <div class="overlay-slide-product">
                <div class="prev-next"></div>
            </div>
            <div class="button-explore-more">
                <a href="{link_explore}">{text_explore_more}</a>
            </div>
        </div>
    </div>
</section>
<!-- END page-block -->