<!-- BEGIN page-block -->
<section class="wrap-about-us-page">
    <div class="container-about-us-page" data-aos="fade-up">
        <div class="content-about-us">
            {description_dest}
        </div>
    </div>
</section>
<!-- END page-block -->