<!-- BEGIN delete-block -->

<form action="{action}" method="post">
    <div class="alert_red_form">
        <strong>{message}</strong>
        <ol>
			<!-- BEGIN loop-block -->
			<li>
                <span>{title}</span>
                <input type="hidden" name="id[]" value="{id}">
            </li>
			<!-- END loop-block -->
        </ol>
    </div>
    <div class="alert_form_action">
        <input type="submit" name="confirm_delete" value="Yes" class="button" />
        <input type="button" name="confirm_delete" value="No" class="button" onclick="location='{action}'" />
    </div>
</form>

<!-- END delete-block -->