<!-- BEGIN list-block -->

<h1>{post_title}</h1>
<ul class="tabs {tabs_css}">{tabs}</ul>
<div class="tab_container {type}-tab-container" {tabs_container_css}>
    <div id="response"></div>
    <form action="{state_url}" method="post" name="alist">
        <input type="hidden" name="start_order" value="{start_order}" />
        <input type="hidden" name="state" value="{type}" />

        <div class="button_wrapper clearfix">
            <div class="button_left">
                <ul class="button_navigation">
                    {button}
                </ul>
            </div>
            <div class="button_right">
                {search_box}
            </div>
        </div>

        <div class="status_to_show">Show: {filter}</div>
        <div class="list">
            <div class="list_title">
                <div class="article_title sorted {sort_title_cls}" style="{style_blog}">
                    <input type="checkbox" name="select_all" class="title_checkbox" />
                    <a href="{sort_title}">
                        <span>Title</span>
                        <span class="sorting-indicator"></span>
                    </a>
                </div>
                <div class="list_author">Author</div>
                <div class="list_destination">Destination</div>
                <div class="list_category medium {category_css}">Category</div>
                <div class="list_date">Post Date</div>
                <div class="list_date">Post Updated</div>
            </div>
            <div id="list_item">
                {post_list}
            </div>
            
            {load_more}
            {load_more_js}
        </div>
    </form>
    <div class="button_wrapper clearfix">
        <div class="button_left">
            <ul class="button_navigation">
                {button}
            </ul>   
        </div>
    </div>
</div>

<!-- END list-block -->