<!-- BEGIN page-block -->

<section id="greeting-dining">
  <div class="gdi container flex">
    <h2 class="capt">Summary</h2>
    <p>
      Located at the front entrance of the hotel, Maluku Restaurant celebrates contemporary cuisine with a distinct emphasis on fresh ingredients. The menu takes diners on a palate-pleasing journey to different parts of the world. There are also innovative interpretations of a few local dishes just to keep things interesting.
    </p>
    <div class="m m1">
      <h2>Opening Hours</h2>
      <span>07.00 am - 11.00 pm</span>
    </div>
    <div class="m m2">
      <h2>Cusines</h2>
      <p>Asian, Indonesian, Vegetarian Friendly, Vegan Options</p>
    </div>
    <div class="m m3">
      <h2>Price Rate</h2>
      <span>$$ - $$$</span>
    </div>
    <figure class="flex">
      <h2>Download Our Menu</h2>
      <a href="#"></a>
    </figure>
  </div>
</section>

<section id="dining-reserve" class="flex center-flex">
  <figure class="con-dining-reserve flex">
    <header>
      <h2>Reservation</h2>
      <p>Dining at Maluku Restaurant</p>
    </header>
    <form class="dnr-form flex">
      <p class="flex">
        <label>Your Name:</label>
        <input type="text" name="" value="" placeholder="Type here">
      </p>
      <p class="flex">
        <label>Number of People:</label>
        <input type="text" name="" value="" placeholder="Type here">
      </p>
      <p class="flex">
        <label>Email:</label>
        <input type="text" name="" value="" placeholder="Type here">
      </p>
      <p class="flex">
        <label>Date:</label>
        <input type="text" name="" value="" placeholder="Type here">
      </p>
      <p class="flex">
        <label>Phone :</label>
        <input type="text" name="" value="" placeholder="Type here">
      </p>
      <p class="flex">
        <label>Time:</label>
        <input type="text" name="" value="" placeholder="Type here">
      </p>
      <p class="ffx flex">
        <label>Special Request</label>
        <textarea name="name" rows="1" cols="80" placeholder="Type here"></textarea>
      </p>

      <button type="button" name="button">CHECK AVAILABILITY</button>
    </form>
  </figure>

</section>

<section id="home-accommodation" class="prt detail-dining">
  <div class="common-head container">
    <h2>Other Dining</h2>
  </div>

  <figure class="flex">
    <div class="con-acco-slider">

      <div class="each-acco-slide b-lazy bg-cover-set"
           data-src="{image_accommodations}"
           data-numb="{numb}"
           data-content="{content_accommodations}"
           data-title="{title_accommodations}"
           data-link="{numb}">


      </div>
      <div class="each-acco-slide b-lazy bg-cover-set"
           data-src="{image_accommodations}"
           data-numb="{numb}"
           data-content="{content_accommodations}"
           data-title="{title_accommodations}"
           data-link="{numb}">


      </div>

    </div>
    <div class="con-desc-slider">
      <div class="kotak flex center-flex">
        <span class="ac-count actv"><i class="">I</i>/{tot}</span>
        <span class="ac-title">ACCOMMODATION</span>
        <h3 class="actv">{title_acco}</h3>
        <p class="actv">{content_acco}</p>
        <a class="ac-discover" href="#">DISCOVER</a>

        <nav class="flex">
          <div class="flex">
            <span class="ac-prev noselect">Prev</span>
            <span class="ac-next noselect">Next</span>
          </div>
          <a href="#">VIEW ALL</a>
        </nav>
      </div>
    </div>
  </figure>
</section>


<section class="wrap-desc-detail-page" id="scroll-destination">
    <div class="container-desc-detail" data-aos="fade-up">
        {dresscode_restaurant}

        <div class="description-value" data-aos="fade-up">
            {post_content}
        </div>

        <div class="wrap-dining-menu">

            <div class="container-text-other-menu {hide}" data-aos="fade-up">
                <h3>{text_our_menus}</h3>
                <p>{our_menu_desc}</p>
            </div>


            <!-- BEGIN menu-dining-block -->
            <div class="wrap-menu-list-dining" data-aos="fade-up">

                <!-- BEGIN loop-cat-menu-block -->
                <div class="list-menu-dining clearfix" data-filter="{category_sanitize}" data-title="{category_name}">
                    <!-- {category_menu_image_html} -->
                    <h3>{category_name}</h3>
                    {button_pdf_dining}
                </div>
                <!-- END loop-cat-menu-block -->

            </div>
            <!-- END menu-dining-block -->
        </div>

    </div>

</section>


<section class="wrap-reservation-dining {hide_reservation}" data-aos="fade-up">
    <div class="container-reservation-dining clearfix">
        <div class="left">
            <div class="container-reservation-text" data-aos="fade-up">

                {reservation_dining_detail_html}

                <p class="pb-0" data-aos="fade-up">
                    {text_call}: <a href="tel:{phone_number}">{phone_number}</a> <br/>
                    {text_email}: <a href="mailto:{email_dining_reservation}">{email_dining_reservation}</a>
                </p>
            </div>
        </div>
        <div class="right" data-aos="fade-up">
            <!-- <img class="image image-16" src="{HTTP}{assets_url}/images/dining-booking.png"> -->
            <div id="rd-widget-frame" style="max-width: 600px; margin: auto;"></div>
        </div>
    </div>
</section>


<section class="wrap-other-accommodation">
    <h2 data-aos="fade-up">{text_other_dining}</h2>

    <div class="container-slide-other">
        <div class="inner" data-aos="fade-up">

            <!-- BEGIN loop-list-block -->
            <a href="{post_link}">
                <div class="container list-item clearfix">
                    <div class="element container-image lazy" data-src="{image_product}">
                        <div class="loader"></div>
                    </div>
                    <div class="container list-item-description clearfix" data-aos="fade-up">
                        <p class="text _text list-item-subtitle">{text_dining}</p>
                        <h3 class="text _text list-item-title">{title_product}</h3>
                        <div class="list-item-brief">{brief_product}</div>
                        <p class="text _text list-item-text-explore">{text_explore}</p>
                    </div>
                </div>
            </a>
            <!-- END loop-list-block -->

        </div>

        <div class="container-button-nav-slide">
            <div class="overlay-slide-product">
                <div class="prev-next"></div>
            </div>
            <div class="button-explore-more">
                <a href="{link_explore}">{text_explore_more}</a>
            </div>
        </div>
    </div>
</section>
<!-- END page-block -->
