<!-- BEGIN form-block -->

<h1>Add New Page</h1>
<div class="tab_container">
    <div class="single_content">

		{alert}

        <form method="post" action="">

            <div class="button_wrapper clearfix">
                <div class="button_left">
                    <ul class="button_navigation">
                    	{button}
                    </ul>
                </div>
            </div>

            {language_button}
            
            <!-- BEGIN loopPage -->
            <div class="content-lang EN active">
                <div class="list_edit">
                    <fieldset>
                        <p>Title</p>
                        <p><input type="text" class="textbox forclone" name="title[{i}]" value="{title}" rel="input" data-name="larticle_title" autocomplete="off" /></p>
                        {sef_scheme}
                    </fieldset>

                    <fieldset>
                        <p>Sub Title</p>
                        <p><input type="text" class="textbox forclone" name="subtitle[{i}]" value="{subtitle}" rel="input" data-name="larticle_subtitle" autocomplete="off" /></p>
                    </fieldset>
    
                    <fieldset class="hidden">
                        <p>Post Date</p>
                        <input type="text" class="date_textbox forclone" name="post_date[{i}]" value="{post_date}" rel="input" data-name="lpost_date" autocomplete="off" />
                    </fieldset>
    
                    <fieldset>
                        <p>Description</p>
                        {textarea}
                    </fieldset>
    
                    <fieldset>
                        <span style="display:none;">
                            {comments_settings}
                            {is_edit_all}
                            {select_box}
                            {is_saved}
                            {share_to}
                        </span>
    
                        {additional_data}
                    </fieldset>
                </div>
            </div>

            {language_data}

            <!-- END loopPage -->

            <div class="button_wrapper clearfix">
                <div class="button_left">
                    <ul class="button_navigation">
                       {button}
                    </ul>
                </div>
           </div>
        </form>
        
        <script type="text/javascript">
            $(document).ready(function() {
                $('.date_textbox').datepicker({ dateFormat:'dd MM yy' });
            });
        </script>
    </div>
</div>

<!-- END form-block -->