<!-- BEGIN loop-block -->

<div class="list_item clearfix" id="theitem_{id}">
    <div class="pages_title" >
        <input type="checkbox" name="select[]" class="title_checkbox select" value="{id}" />                    
        <span class="field-text" data-field-id="{id}" data-field-name="larticle_title">{title} {status}</span>
    </div>
    <div class="avatar">
        <a href="{profile_link}">
            <img src="{avatar_img}" />
        </a>
    </div>
    <div class="list_author">
        <a href="{profile_link}">{profile_name}</a>
    </div>
    <div class="list_date">{date}</div>
    <div class="list_date">{date_updated}</div>
    <input type="hidden" value="{i}" id="order_{id}" class="small_textbox" name="order[{i}]">
    <div class="the_navigation_list">
        <div class="list_navigation" style="display:none;" id="the_navigation_{id}">
            <a href="{page_url}&prc=edit&id={id}">Edit</a> |
            <a href="javascript:;" class="delete_link" id="{id}" rel="{title}">Delete</a>
        </div>
    </div>
    <script type="text/javascript" language="javascript">
        jQuery("#theitem_{id}").mouseover(function(){
            jQuery("#the_navigation_{id}").show();
        });

        jQuery("#theitem_{id}").mouseout(function(){
            jQuery("#the_navigation_{id}").hide();
        });
    </script>
</div>

<!-- END loop-block -->