<!-- BEGIN additional_block -->

<link type="text/css" href="{HTTP}{plugin_url}/style.css{version}" rel="stylesheet">

<input type="hidden" name="action_type" value="{action_type}">

{destination_form_choose}

<div class="additional_data" style="{hide_gallery_list} {hide_brief}">
    <h2>Brief Text</h2>
    <div class="additional_content">
    	<div class="boxs-wrapp">
	    	<div class="boxs">
		    	<p>Input your brief text for this page : </p>
		    	<textarea class="textbox area tinymce" name="additional_fields[brief][{i}]">{brief}</textarea>
	    	</div>
	    </div>
    </div>
</div>

{additional_news}

{additional_offer}

<div class="additional_data" style="{hide_link_experience}">
	<h2>Link</h2>
	<div class="additional_content additional-news">
		{link_experience}
	</div>
</div>

{form_upload_pdf}

<!-- <div class="additional_data" style="{hide_featured_news}">
    <h2>Featured News</h2>
    <div class="additional_content additional-news">
    	{featured_news}
    </div>
</div> -->

<div class="additional_data">
    <h2>Featured Image</h2>
    <div class="additional_content additional-featured-img">
        <div class="slider">
            <h3>Select an image file on your computer. (Recommended solution for featured image is <b>1024px * 768px</b> with maximum upload size <b>2MB</b> ):</h3>
            <div class="featured-img clearfixed">{featured_img}</div>
            <input type="file" name="featured_img" autocomplete="off" />
        </div>
        <div class="slider">
        	<p>Image Title</p>
        	<input type="text" class="textbox" name="additional_fields[featured_img_title][{i}]" value="{featured_img_title}">
        </div>
        <div class="slider">
        	<p>Image Alternate Text</p>
        	<input type="text" class="textbox" name="additional_fields[featured_img_alt][{i}]" value="{featured_img_alt}">
        </div>
        <div class="slider">
        	<p>Image Copyright</p>
        	<input type="text" class="textbox" name="additional_fields[featured_img_copyright][{i}]" value="{featured_img_copyright}">
        </div>
    </div>
</div>

{vila_map_location}

{custom_field}

<!-- {additional_field} -->

<script type="text/javascript">
	/*
	| -------------------------------------------------------------------------------------
	| Upload Featured Image
	| -------------------------------------------------------------------------------------
	*/
	function upload_featured_img(){
		jQuery('[name=featured_img]').change(function(el){
	        var data = new FormData();
	            data.append('ajax_key', 'upload-featured-images');
	            data.append('app_name', '{app_name}');
	            data.append('post_id', jQuery('[name=post_id[{i}]]').val());
	            data.append('featured_img', el.currentTarget.files[0]); 
	        
	        var xhrObject = new XMLHttpRequest();

	        xhrObject.open('POST', '{HTTP}{site_url}/additional-ajax/');  
	        xhrObject.onreadystatechange = function(){
	            if(xhrObject.readyState==4 && xhrObject.status==200){
	                var e = JSON.parse(xhrObject.responseText);

	                if(e.result=='success'){
	                     var images =
	                    '<div class="box">'+
	                        '<img src="{HTTP}{site_url}/lumonata-plugins/additional/featured/'+e.filename+'" />'+
	                        '<div class="overlay">'+
	                            '<a data-post-id="'+e.post_id+'" class="img-delete" title="Delete">'+
	                                '<img src="{HTTP}{site_url}/lumonata-plugins/additional/images/delete.png">'+
	                            '</a>'+
	                        '</div>'+
	                    '</div>';

	                    jQuery('.featured-img').html(images);
	                    delete_featured_img();
	                }else{
	                    alert(e.data);
	                }
	            }
	        }

	        xhrObject.send(data);
	    });

	    delete_featured_img();
	}

	/*
	| -------------------------------------------------------------------------------------
	| Delete Featured Image
	| -------------------------------------------------------------------------------------
	*/
	function delete_featured_img(){
		jQuery('.featured-img .img-delete').click(function(){
	    	var url = '{HTTP}{site_url}/additional-ajax/';
	    	var prm = new Object;
	    		prm.ajax_key = 'delete-featured-images';
	    		prm.app_name = '{app_name}';
	    		prm.post_id  = jQuery('[name=post_id[{i}]]').val();

	    	jQuery.post( url, prm, function(e){
	    		if( e.result=='success' ){
	    			jQuery('.featured-img .box').remove();
	    		}else{
	    			alert('Failed to delete this image');
	    		}
	    	},'json');
	    });
	}


	/*
	| -------------------------------------------------------------------------------------
	| Upload Map Location Image
	| -------------------------------------------------------------------------------------
	*/
	function upload_map_location_img(){
		jQuery('[name=map_location_img]').change(function(el){
	        var data = new FormData();
	            data.append('ajax_key', 'upload-map-location-images');
	            data.append('app_name', '{app_name}');
	            data.append('post_id', jQuery('[name=post_id[{i}]]').val());
	            data.append('map_location_img', el.currentTarget.files[0]); 
	        
	        var xhrObject = new XMLHttpRequest();

	        xhrObject.open('POST', '{HTTP}{site_url}/additional-ajax/');  
	        xhrObject.onreadystatechange = function(){
	            if(xhrObject.readyState==4 && xhrObject.status==200){
	                var e = JSON.parse(xhrObject.responseText);

	                if(e.result=='success'){
	                     var images =
	                    '<div class="box">'+
	                        '<img src="{HTTP}{site_url}/lumonata-plugins/additional/map_location_img/'+e.filename+'" />'+
	                        '<div class="overlay">'+
	                            '<a data-post-id="'+e.post_id+'" class="img-delete" title="Delete">'+
	                                '<img src="{HTTP}{site_url}/lumonata-plugins/additional/images/delete.png">'+
	                            '</a>'+
	                        '</div>'+
	                    '</div>';

	                    jQuery('.villa-location-img').html(images);
	                    delete_featured_img();
	                }else{
	                    alert(e.data);
	                }
	            }
	        }

	        xhrObject.send(data);
	    });

	    delete_featured_img();
	}


	/*
	| -------------------------------------------------------------------------------------
	| Delete Map Location Image
	| -------------------------------------------------------------------------------------
	*/
	function delete_featured_img(){
		jQuery('.villa-location-img .img-delete').click(function(){
	    	var url = '{HTTP}{site_url}/additional-ajax/';
	    	var prm = new Object;
	    		prm.ajax_key = 'delete-map-location-images';
	    		prm.app_name = '{app_name}';
	    		prm.post_id  = jQuery('[name=post_id[{i}]]').val();

	    	jQuery.post( url, prm, function(e){
	    		if( e.result=='success' ){
	    			jQuery('.villa-location-img .box').remove();
	    		}else{
	    			alert('Failed to delete this image');
	    		}
	    	},'json');
	    });
	}



	/*
	| -------------------------------------------------------------------------------------
	| Set Gallery Image Data
	| -------------------------------------------------------------------------------------
	*/
	function set_gallery_img()
	{
		if( jQuery('#preview-template').length > 0 )
		{
			Dropzone.autoDiscover = false;
			
			var ajax_url   = '{HTTP}{site_url}/additional-ajax/';
		    var myDropzone = new Dropzone('#gallery-upload', { 
		        url: ajax_url,
		        previewTemplate: document.querySelector('#preview-template').innerHTML,
		        maxFilesize: 2,
		        init: function()
		        {
		        	var url = ajax_url;
				    var prm = new Object;
				        prm.ajax_key = 'get-gallery-image';
				        prm.post_id  = jQuery('[name=post_id[{i}]]').val();

				    jQuery.post(url, prm, function(e){
						// console.log(e);
				        if( e.result=='success' )
				        {
				            jQuery.each(e.data, function(i, e){
				                var mockFile = { 
				                    url:e.url,
				                    id:e.img_id,
				                    title: e.img_title,
				                    alt: e.img_alt,
				                    caption: e.img_caption,
				                    youtube_url: e.img_youtube_url,
									photo_360: e.img_photo_360,
									attach_language: e.img_attach_language
								};

				                myDropzone.emit('addedfile', mockFile);
				                myDropzone.emit('thumbnail', mockFile, e.img_thumb);
				                myDropzone.emit('complete', mockFile);
				                myDropzone.files.push(mockFile);
				            });
				        }
				    },'json');

				    this.on('addedfile', function(file) {			        
				        var sel     	= jQuery(file.previewElement);
			        	var id      	= typeof file.id != 'undefined' ? file.id : '';
			        	var title   	= typeof file.title != 'undefined' ? file.title : '';
			        	var alt     	= typeof file.alt != 'undefined' ? file.alt : '';
			        	var caption 	= typeof file.caption != 'undefined' ? file.caption : '';
			        	var youtube_url = typeof file.youtube_url != 'undefined' ? file.youtube_url : '';
						var photo_360 	= typeof file.photo_360 != 'undefined' ? file.photo_360 : '';
						var attach_language 	= typeof file.attach_language != 'undefined' ? file.attach_language : '';

				        sel.attr('id','gallery_'+id);
				        sel.find('.dz-detail-box [name=gallery_title]').val(title);
				        sel.find('.dz-detail-box [name=gallery_alt]').val(alt);
				        sel.find('.dz-detail-box [name=gallery_caption]').val(caption);
				        sel.find('.dz-detail-box [name=youtube_url]').val(youtube_url);
						sel.find('.dz-detail-box [name=photo_360]').val(photo_360);
						
						if(attach_language !== null && attach_language != "")
						{
							Object.keys(attach_language).forEach(function(key) {
								sel.find('.dz-detail-box .img_title_lang_'+key).val(attach_language[key]);
							});
						}

				        sel.find('.dz-delete').attr('rel', id);
			        	sel.find('.dz-detail-box .save-detail').attr('rel', id);

				        sel.find('.dz-edit').unbind('click');
				        sel.find('.dz-edit').click(function(){
				            sel.toggleClass('opened');
						});

						
						
						sel.find('button.config_lang').unbind('click');
						sel.find('button.config_lang').click(function(){
							var parent_button = jQuery(this).parent();
							if(parent_button.find('.box-img-title-lang').is(":visible")){
								parent_button.find('.box-img-title-lang').slideUp(300);
							}else{
								parent_button.find('.box-img-title-lang').slideDown(300);
							}
						});

				        sel.find('.dz-delete').unbind('click');
				        sel.find('.dz-delete').click(function(){
				            var url = ajax_url;
				            var prm = new Object;
				                prm.ajax_key  = 'delete-gallery-image';
				                prm.attach_id = jQuery(this).attr('rel');

				            jQuery.post(url, prm, function(e){

				                if(e.result=='success')
				                {
				                    myDropzone.removeFile(file);
				                }
				                else
				                {
				                    alert('Failed to delete this image');
				                }

				            },'json');
				        }); 

				        sel.find('.dz-detail-box .save-detail').unbind('click');
				        sel.find('.dz-detail-box .save-detail').click(function(){
				            var url = ajax_url;
				            var prm = new Object;
				                prm.ajax_key  	= 'edit-gallery-info';
				                prm.attach_id 	= jQuery(this).attr('rel');
				                prm.title     	= sel.find('.dz-detail-box [name=gallery_title]').val();
				                prm.alt       	= sel.find('.dz-detail-box [name=gallery_alt]').val();
				                prm.caption   	= sel.find('.dz-detail-box [name=gallery_caption]').val();
								prm.youtube_url = sel.find('.dz-detail-box [name=youtube_url]').val();
								prm.photo_360   = sel.find('.dz-detail-box [name=photo_360]').val();
								prm.img_title_lang        = new Object;

								sel.find('.img_title_lang').each(function(){
									var data_lang = jQuery(this).attr("data-lang");
									var value = jQuery(this).val();
									prm.img_title_lang[data_lang] = value;
								});

				            jQuery.post(url, prm, function(e){
				                sel.removeClass('opened');
				            },'json'); 

				            return false;
				        });

				        sel.find('.dz-detail-box .close-detail').unbind('click');
				        sel.find('.dz-detail-box .close-detail').click(function(){
				            sel.removeClass('opened');
				        });
					});

					this.on('error', function(file, message) { 
						myDropzone.removeFile(file);
						alert(message);
					});

					this.on('success', function(file, responseText){
						var e = jQuery.parseJSON(responseText);

			            if( e.result = 'success' )
			            {
			                jQuery(file.previewElement).find('.dz-delete').attr('rel', e.attach_id);
			        		jQuery(file.previewElement).find('.dz-detail-box .save-detail').attr('rel', e.attach_id);
			                jQuery(file.previewElement).find('.dz-detail-box [name=gallery_title]').val(e.title);
			                jQuery(file.previewElement).find('.dz-detail-box [name=gallery_alt]').val(e.alt);
			                jQuery(file.previewElement).find('.dz-detail-box [name=gallery_caption]').val(e.caption);
			                jQuery(file.previewElement).find('.dz-detail-box [name=youtube_url]').val(e.youtube_url);
			                jQuery(file.previewElement).find('.dz-detail-box [name=photo_360]').val(e.photo_360);
			            }
			            else
			            {
			                myDropzone.removeFile(file);   
			            }
			        });

					this.on('sending', function(file, xhr, formData){
			            formData.append( 'ajax_key', 'upload-gallery-image' );
			            formData.append( 'post_id', jQuery('[name=post_id[{i}]]').val() );
					});
		        }
		    });
		}
	}

	/*
	| -------------------------------------------------------------------------------------
	| Reorder slideshow image
	| -------------------------------------------------------------------------------------
	*/
	function reorder_gallery_image()
	{
		jQuery('#gallery-upload').nestedSortable({
			handle: 'div',
			items: '.dz-preview',
			listType:'div',
			opacity: .6,
			tolerance: 'pointer',
			maxLevels:0,
			stop: function(eve, ui){
				var url  = '{HTTP}{site_url}/additional-ajax/';
				var list = jQuery('#gallery-upload').nestedSortable('toArray');
				var objc = new Array;
					jQuery.each(list,function(i,e){
						if( !jQuery.isEmptyObject(e.item_id) )
						{
							objc.push(e.item_id);
						}
					});
					
				var param = new Object;
					param.ajax_key	= 'reorder-gallery-image';
					param.id	    = jQuery('[name=post_id[{i}]]').val();
					param.value     = JSON.stringify(objc);

				jQuery.post(url, param, function(el){
					console.log(el);
				},'json');
			}
		});
	}

	function reorder_additional_field()
	{
		jQuery('.new-field-list ol').nestedSortable({
            handle: 'div',
            items: 'li',
            maxLevels: 1,
            opacity: .6,
            forcePlaceholderSize: true,
            placeholder: 'placeholder',
            tolerance: 'pointer',
            stop: function(eve, ui){
            	var sel = jQuery(ui.item[0]).find('textarea');

            	if( sel.hasClass('tinymce') )
            	{
	            	var id  = sel.attr('id');
	            	tinymce.get(id).remove();
	            	initTinyMce( '#'+id );
	            }
            }
        }); 
	}

	function post_additional_field()
	{
        jQuery('[name=field_type]').chosen({ disable_search_threshold:10 });

		jQuery('.add-new-field').click(function(){
			var type  = jQuery('[name=field_type]').val();
			var name  = jQuery('[name=field_name]').val();
			var label = jQuery('[name=field_label]').val();

			if( label != '' )
			{
		    	var url = '{HTTP}{site_url}/additional-ajax/';
		    	var prm = new Object;
		    		prm.ajax_key = 'add-new-post-field';
		    		prm.app_name = '{app_name}';
		    		prm.index    = '{i}';
		    		prm.ftype    = type;
		    		prm.flabel   = label;
		    		prm.fname    = name;

		    	jQuery.post( url, prm, function(e){
		    		jQuery('.new-field-list ol').append(e);
		    		jQuery('[name=field_type]').val(2).trigger('chosen:updated');
		    		jQuery('[name=field_name]').val('');
		    		jQuery('[name=field_label]').val('');

		    		if( prm.ftype == 2 )
		    		{
		    			initTinyMce( '.tinymce' );
		    		}
		    		
		    		delete_post_additional_field();
		    		reorder_additional_field();
		    	});
			}
			else
			{
				alert('Field label can\'t be empty');
			}

			return false;
        });

        delete_post_additional_field();
        reorder_additional_field();
	}

	function delete_post_additional_field()
	{
		jQuery('.delete-field').unbind();
		jQuery('.delete-field').click(function(){
        	var sel = jQuery(this).parent().parent().parent();
        	var url = '{HTTP}{site_url}/additional-ajax/';
	    	var prm = new Object;
	    		prm.ajax_key = 'delete-post-field';
	    		prm.app_name = '{app_name}';
	    		prm.field    = jQuery(this).attr('data-name');
	    		prm.post_id  = jQuery('[name=post_id[{i}]]').val();

	    	jQuery.post( url, prm, function(e){
	    		if( e.result == 'success' )
	    		{
	    			sel.fadeOut(200, function(){ jQuery(this).remove(); });
	    		}
				else
				{
					alert('Can\'t delete this field');
				}
	    	}, 'json');
        });
	}

	jQuery(document).ready(function(){
		set_gallery_img();
		upload_featured_img();
		reorder_gallery_image();
		post_additional_field();
		upload_map_location_img();
		// jQuery('.featured-news').chosen();
	});
</script>

<!-- END additional_block -->