.boxs-wrapp .boxs{ padding:5px; border:0; background:#FFFFFF; }
.boxs-wrapp .boxs:last-child{ border-bottom:0; }
.boxs-wrapp .boxs label{ margin-right:20px; padding-top:0; }
.boxs-wrapp .boxs select{ background:#FFFFFF; }
.boxs-wrapp .boxs textarea.textbox{ height:100px !important; }
.boxs-wrapp .boxs .note{ margin-left:130px; margin-top:10px; }
.boxs-wrapp .boxs .note-2{ margin-left:147px; }

.additional-featured-img .slider{ padding:10px; }
.additional-featured-img .slider h3{font-size:12px; font-weight:400; margin-top:0;}
.additional-featured-img .featured-img{margin-bottom:20px;}
.additional-featured-img .featured-img .box{padding:10px; border:1px solid #ddd; background:#F0F0EE; width:auto; max-width:300px; position:relative; text-align:center;}
.additional-featured-img .featured-img img{width:auto; max-width:100%;}
.additional-featured-img .featured-img .overlay{ cursor:pointer; opacity:0; position:absolute; top:0; left:0; right:0; bottom:0; background:rgba(0,0,0,0.5); }
.additional-featured-img .featured-img .overlay a{ position:absolute; top:50%; left:50%; cursor:pointer; margin-left:-12px; margin-top:-12px; }
.additional-featured-img .featured-img .box:hover .overlay{opacity:1;}


.additional-featured-img .villa-location-img{margin-bottom:20px;}
.additional-featured-img .villa-location-img .box{padding:10px; border:1px solid #ddd; background:#F0F0EE; width:auto; max-width:300px; position:relative; text-align:center;}
.additional-featured-img .villa-location-img img{width:auto; max-width:100%;}
.additional-featured-img .villa-location-img .overlay{ cursor:pointer; opacity:0; position:absolute; top:0; left:0; right:0; bottom:0; background:rgba(0,0,0,0.5); }
.additional-featured-img .villa-location-img .overlay a{ position:absolute; top:50%; left:50%; cursor:pointer; margin-left:-12px; margin-top:-12px; }
.additional-featured-img .villa-location-img .box:hover .overlay{opacity:1;}

.additional-gallery-data .dropzone.dz-drag-hover{ background-color:#E8AEB6; border-style:none; }
.additional-gallery-data .dropzone{ border:none; background-color:#f5f5f5; padding:5px; }
.additional-gallery-data .dropzone .dz-preview{ border:1px solid #DDDDDD; margin:5px; }
.additional-gallery-data .dropzone .dz-preview .dz-image{ float:left; border-radius:0; margin:5px; }
.additional-gallery-data .dropzone .dz-preview .dz-image img{ width:100%; }
.additional-gallery-data .dropzone .dz-detail-box{ float:left; }
.additional-gallery-data .dropzone .dz-preview .dz-details{ width:130px; min-width:130px; height:130px; }
.additional-gallery-data .dropzone .dz-preview .dz-detail-box{ display:none; }
.additional-gallery-data .dropzone .dz-preview.opened{ width:100%; }
.additional-gallery-data .dropzone .dz-preview.opened .dz-detail-box{ display:block; }
.additional-gallery-data .dropzone .dz-preview .dz-detail-box fieldset{ border:none; }
.additional-gallery-data .dropzone .dz-preview .dz-detail-box fieldset fieldset{ padding-left: 0px; padding-right: 0px;}
.additional-gallery-data .dropzone .dz-preview .dz-edit,
.additional-gallery-data .dropzone .dz-preview .dz-delete{ margin:25px 5px; display:inline-block; cursor:pointer; }
.additional-gallery-data .dropzone .dz-preview.dz-file-preview .dz-image{ -webkit-border-radius:0; -moz-border-radius:0; border-radius:0; }
.additional-gallery-data .dropzone .dz-preview.ui-sortable-placeholder{ background-color:#E8AEB6; visibility:visible !important; height:130px; }
.additional-gallery-data .block-gallery{ padding:5px; }
.additional-gallery-data .note{ margin:0 5px; }

.additional-select-wrapp .multiple{ width:100%; }
.additional-select-wrapp .single{ width:200px; }

.rule-additional-featured-img .slider{ padding:10px; background-color:#f5f5f5; border:1px solid #bbbbbb; }
.rule-additional-featured-img .slider h3{font-size:12px; font-weight:400; margin-top:0;}
.rule-additional-featured-img .featured-img{margin-bottom:20px;}
.rule-additional-featured-img .featured-img .box{padding:10px; border:1px solid #ddd; background:#F0F0EE; width:auto; max-width:300px; position:relative; text-align:center;}
.rule-additional-featured-img .featured-img img{width:auto; max-width:100%;}
.rule-additional-featured-img .featured-img .overlay{ cursor:pointer; opacity:0; position:absolute; top:0; left:0; right:0; bottom:0; background:rgba(0,0,0,0.5); }
.rule-additional-featured-img .featured-img .overlay a{ position:absolute; top:50%; left:50%; cursor:pointer; margin-left:-12px; margin-top:-12px; }
.rule-additional-featured-img .featured-img .box:hover .overlay{opacity:1;}

.post-additional-data-wrapp .new-field-box{  }
.post-additional-data-wrapp .field{ float:left; margin-right:10px; width:200px !important; }
.post-additional-data-wrapp .add-new-field{ cursor:pointer; padding:0 15px; text-decoration:underline; }
.post-additional-data-wrapp .chosen-container,
.post-additional-data-wrapp .chosen-container-single .chosen-single{ height:32px; }
.post-additional-data-wrapp .chosen-container-single .chosen-single{ line-height:30px; }
.post-additional-data-wrapp .chosen-container-single .chosen-single div b{ background-position:0 6px; }
.post-additional-data-wrapp .new-field-list ol{ list-style:none; padding:0; margin:10px 0 0; }
.post-additional-data-wrapp .new-field-list li{ padding:0; position:relative; border:1px solid #bbbbbb !important; margin-bottom:10px; }
.post-additional-data-wrapp .new-field-list li:last-child{ margin-bottom:0; }
.post-additional-data-wrapp .new-field-list li.placeholder{ background-color:#E8AEB6; border-color:#E8AEB6; }
.post-additional-data-wrapp .new-field-list li .inner{ padding:0; }
.post-additional-data-wrapp .new-field-list li .inner .mce-panel{ border-width:0 !important; }
.post-additional-data-wrapp .new-field-list li .inner .textbox{ border:none; }
.post-additional-data-wrapp .new-field-list li .inner .textarea{ border:none; margin:0; }
.post-additional-data-wrapp .new-field-list li p{ background:#f5f5f5; margin:0; height:30px; line-height:30px; padding:0 15px; border-bottom:1px solid #bbbbbb; }
.post-additional-data-wrapp .new-field-list .delete-field{ position:absolute; top:3px; right:3px; background-color:#333; cursor:pointer; }
.post-additional-data-wrapp .new-field-list .delete-field img{ padding:5px; width:24px; }

.additional_data p.desc_additional{
    margin-top: 10px; margin-left: 5px;
}
.additional_data .boxs-wrapp .boxs .left{
    width: 13%;
    float: left;
}

.additional_data .boxs-wrapp .boxs .left p{
    margin-top: 10px!important;
}
.additional_data .boxs-wrapp .boxs .right{
    width: 68%;
    float: left;
}

.additional_data .boxs-wrapp .boxs .right select.width15{
    width: 15%;
}
.additional_data .boxs-wrapp.conversion .boxs .right input{
    width: 35%;
}
.additional_data .boxs-wrapp.landing_page_url .boxs .right input{
    width: 85%;
}
.clear{
    clear: both;
}

.additional_data .additional_content.additional-file-download{
    padding: 10px;
}

.additional_data .additional_content.additional-file-download .slider{
    margin-bottom: 10px;
    border-bottom: 1px solid #333;
    padding-bottom: 10px;
}

.additional_data .additional_content.additional-file-download .slider:last-child{
    border-bottom: none;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.title-image .textbox{
	width: 60%;
	float: left;
}

.title-image button.config_lang{
    margin: 0px;
    height: 33px;
    margin-left: 10px;
    cursor: pointer!important;
    display: none;
}

.title-image .box-img-title-lang{
    /* display: none; */
    clear: both;
    padding: 0 10px;
    margin-top: 10px;
    float: left;
    /* border: 1px solid #bbb; */
}