body{
	font-family:Arial, Helvetica, sans-serif;
	font-weight:normal;
	font-size:14px;
	color:#333333;
	padding:5px;
	margin:0;}
a{ color:#333333; }
img{ border:1px solid #e1e1e1; padding:5px; }
.tinymce{ font-size:14px; font-family:'Lucida Sans',Arial, Helvetica, sans-serif; }