<!-- BEGIN destinations -->

<h1 class="form-title">Destination List</h1>
<div class="tab_container destination-wrapp"> 	
    <div class="single_content">
        <form action="{state_url}" method="post" name="alist">
        
            <div class="button_right">
                <div class="search_box clearfixed">
                    <div class="textwrap">
                    	<input type="text" name="s" class="searchtext" value="{search_val}" placeholder="Search" />
                    </div>
                    <div class="buttonwrap">
                    	<input type="image" src="{HTTP}{template_url}/images/ico-search.png" name="search" class="searchbutton" value="yes" />
                    </div>
                </div>
				<div id="search_loader" class="search-loader">
					<img src="{HTTP}{template_url}/images/loader.gif"  />
				</div>
            </div>
            
            <br clear="all" />
            
            <div class="button_wrapper dest clearfixed">
                <div class="button_left">
                    <ul class="button_navigation">
                    	{button}
                    </ul>   
                </div>
            </div>
            
            <input type="hidden" name="state_url" value="{state_url}" />
            <input type="hidden" name="start_order" value="{start_order}" />
            <input type="hidden" name="state" value="{state}" />
            
            <div class="list">
                <div class="list_title boxs">			
                    <div class="boxs title push-left">
                        <input type="checkbox" class="title_checkbox" name="select_all">
                        <label>Title</label>
                    </div>
                    <div class="boxs description push-left"><label>Description</label></div>										
                </div>

                <div id="list_item">
                    <!-- BEGIN destinations_list -->
                    <div class="list_item boxs clearfixed" id="theitem_{id}">                        
                        <div class="boxs title push-left">
                            <input type="checkbox" name="select[]" class="title_checkbox select" value="{id}" />
                            <label>{title}</label>
                        </div>
                        <div class="boxs description push-left"><p>{description}</p></div>
                        <div class="the_navigation_list">
                            <div class="list_navigation" id="the_navigation_{id}">
                                <a href="{state_url}&prc=edit&id={id}">Edit</a>
                                <!-- <a href="javascript:;" class="delete_link" id="delete_{id}" rel="{id}" title="{title}">Delete</a>         -->
                            </div>
                        </div>
                    </div>
                    <!-- END destinations_list -->
                </div>
			</div>
            
            <br clear="all" />
		</form>
	</div>

    <div id="delete_confirmation_wrapper" class="delete-confirmation-wrapper">
        <div class="fade"></div>
        <div class="popup_block">
            <div class="popup">
                <div class="alert_yellow"></div>
                <div class="button-box">
                    <button type="submit" name="confirm_delete" value="yes" class="boxs button delete-yes">Yes</button>
                    <button type="button" name="confirm_delete" value="no" class="boxs button delete-no">No</button>
                    <input type="hidden" name="delete_id" value="" />
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    
    jQuery(function(){
        jQuery('.searchtext').keyup(function(){
            jQuery('#list_item').html('<div class="alert_green_form">Searching...</div>');
            jQuery('#search_loader').show();
            
            var url = '{state_url}';
            var prm = new Object;
                prm.ajax_key = 'search-destination';
                prm.search_val = jQuery('input[name=s]').val();
            jQuery.post(url, prm, function(e){
                jQuery('#list_item').html(e);
                jQuery('#search_loader').hide();
            });
        });

        jQuery('.searchtext').blur(function(){
            var search_text ='{search_val}';
            var search_val  = (jQuery(this).val()=='' ? search_text : jQuery(this).val());
            jQuery('.searchtext').val(search_val);
        });

        jQuery('.delete_link').click(function(){
            var id = jQuery(this).attr('rel');
            var title = jQuery(this).attr('title');
            var message = 'Are you sure to delete destination <strong>"'+title+'"</strong>?';
            jQuery('.delete-confirmation-wrapper .alert_yellow').html(message);
            jQuery('.delete-confirmation-wrapper [name=delete_id]').val(id);
            jQuery('.delete-confirmation-wrapper').show('fast');
        });
        
        jQuery('.delete-no').click(function(){
            jQuery('.delete-confirmation-wrapper').hide('fast',function(){
                jQuery('.delete-confirmation-wrapper .alert_yellow').html('');
                jQuery('.delete-confirmation-wrapper [name=delete_id]').val('');
            });
        });

        jQuery('.delete-yes').click(function(){
            var url = '{state_url}';
            var prm = new Object;
                prm.ajax_key = 'delete-destination';
                prm.dest_id  = jQuery('[name=delete_id]').val();
            jQuery.post(url, prm, function(e){
                if(e.result='success'){                         
                    jQuery('.delete-confirmation-wrapper').hide('fast',function(){
                        jQuery('#theitem_'+prm.dest_id).css('background','#FF6666');
                        jQuery('#theitem_'+prm.dest_id).delay(500).fadeOut(700,function(){
                            jQuery(this).remove();
                        });
                    });
                }
            },'json');

            return false;
        });

        jQuery("input[name=select_all]").removeAttr("checked");
        jQuery("input[name=select[]]").each(function(){
            jQuery("input[name=select[]]").removeAttr("checked");
        });
            
        jQuery("input[name=select_all]").click(function(){
            var checked_status = this.checked;
            
            jQuery(".select").each(function(){
                this.checked = checked_status;
                if(checked_status){             
                    jQuery("input[name=delete]").removeClass("btn_delete_disable");
                    jQuery("input[name=delete]").addClass("btn_delete_enable");
                    jQuery("input[name=delete]").removeAttr("disabled");
                }else{
                    jQuery("input[name=delete]").removeClass("btn_delete_enable");
                    jQuery("input[name=delete]").addClass("btn_delete_disable");
                    jQuery("input[name=delete]").attr("disabled", "disabled");
                    
                }
            });
        });

        jQuery(".select").change(function(){
            var len = jQuery(".select:checked").length;
            if(len > 0){             
                jQuery("input[name=delete]").removeClass("btn_delete_disable");
                jQuery("input[name=delete]").addClass("btn_delete_enable");
                jQuery("input[name=delete]").removeAttr("disabled");
            }else{
                jQuery("input[name=delete]").removeClass("btn_delete_enable");
                jQuery("input[name=delete]").addClass("btn_delete_disable");
                jQuery("input[name=delete]").attr("disabled", "disabled");
                
            }
        });
    });

</script>

<!-- END destinations -->