<!-- BEGIN language_form -->

<script type="text/javascript" src="http://{plugin_url}/script.js"></script>

<h1 class="form-title">{form_title}</h1>
<div class="tab_container language-wrapp">
    <div class="single_content">
        <form method="post" enctype="multipart/form-data" >
            <div class="button_wrapper clearfix">
                <div class="button_left">
                    <ul class="button_navigation">
                        {button}
                    </ul>
                </div>
            </div>

            <div class="list_edit">
                {message}
                <div class="hidden-element">
                    <input type="text" value="{post_id}" name="post_id" />
                    <input type="text" value="{state_url}" name="state_url" />
                    <input type="text" value="{plugin_url}" name="plugin_url" />
                </div>

                <fieldset>
                    <p>Title</p>
                    <input type="text" class="textbox" name="post_title" value="{post_title}" />
                </fieldset>

                <fieldset>
                    <p>Description</p>
                    {post_content}
                </fieldset>

                <fieldset>
                    <p>Language Code</p>
                    <input type="text" class="textbox lang_code {readonly}" size="50" {readonly} name="language_code" value="{language_code}" />
                </fieldset>

                <fieldset>
                    <p>Language Code Symbol</p>
                    <input type="text" class="textbox lang_code" size="50" name="language_code_symbol" value="{language_code_symbol}" />
                </fieldset>

                <fieldset>
                    <p>URL Direct (Empty if not redirect)</p>
                    <input type="text" class="textbox" name="url_direct" value="{url_direct}" />
                </fieldset>

                <!-- <fieldset>
                    <p>Status Default</p>
                    <select name="status_default">
                        {option_status_default}
                    </select>
                </fieldset> -->

                <fieldset>
                    <div class="additional_data">
                        <h2>Icon</h2>
                        <div class="additional_content">
                            <div class="slider">
                                <h3>Select an image file on your computer (2MB max):</h3>
                                <div class="icon-wrapp clearfixed">{icon_language}</div>
                                <input type="file" name="icon_language" autocomplete="off" />
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>

            <div class="button_wrapper clearfix">
                <div class="button_left">
                    <ul class="button_navigation">
                        {button}
                    </ul>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- END language_form -->
