<!-- BEGIN language_form -->

<script type="text/javascript" src="http://{plugin_url}/script.js"></script>

<h1 class="form-title">{form_title}</h1>

<div class="tab_container language-wrapp">
    <div class="single_content">
        <form action="{state_url}" method="post" name="alist">

            <br clear="all" />

            <div class="button_wrapper lang clearfixed">
                <div class="button_left">
                    <ul class="button_navigation">
                        {button}
                    </ul>
                </div>
            </div>

            <input type="hidden" name="state_url" value="{state_url}" />
            <input type="hidden" name="start_order" value="{start_order}" />
            <input type="hidden" name="state" value="{state}" />

            <div class="list">
                <div class="list_title boxs">
                    <div class="boxs string push-left">
                        <label>String</label>
                    </div>
                    <div class="boxs name-lang push-left">
                        <label>Name</label>
                    </div>
                    <div class="boxs translation push-left">
                        <label>Translations</label>
                    </div>
                </div>

                <div id="list_item">

                    <!-- BEGIN language_string_list -->
                    <div class="list_item boxs clearfixed" id="theitem_{id}">
                        <div class="boxs string push-left">
                            <label>{string}</label>
                        </div>
                        <div class="boxs name-lang push-left">
                            <p>{name}</p>
                        </div>
                        <div class="boxs translation push-left">
                            {translations}
                        </div>
                    </div>
                    <!-- END language_string_list -->

                </div>
            </div>

            <div class="button_wrapper lang clearfixed">
                <div class="button_left">
                    <ul class="button_navigation">
                        {button}
                    </ul>
                </div>
            </div>

        </form>
    </div>

    <div id="delete_confirmation_wrapper" class="delete-confirmation-wrapper">
        <div class="fade"></div>
        <div class="popup_block">
            <div class="popup">
                <div class="alert_yellow"></div>
                <div class="button-box">
                    <button type="submit" name="confirm_delete" value="yes" class="boxs button delete-yes">Yes</button>
                    <button type="button" name="confirm_delete" value="no" class="boxs button delete-no">No</button>
                    <input type="hidden" name="delete_id" value="" />
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END language_form -->