<!-- BEGIN locations_form -->
<h1 class="form-title">{form_title}</h1>
<div class="tab_container locations-wrapp">
  <div class="single_content">
    <form method="post" enctype="multipart/form-data">
      <div class="button_wrapper clearfix">
        <div class="button_left">
          <ul class="button_navigation">
            {button}
          </ul>
        </div>
      </div>

      <div class="list_edit">

        {message}

        <div class="hidden-element">
          <input type="text" value="{post_id}" name="post_id" />
        </div>

        <fieldset>
          <p>Location Name</p>
          <input type="text" class="textbox" name="loc_name" value="{loc_name}" autocomplete="off" />
        </fieldset>

        <fieldset>
          <p>Description</p>
          {loc_content}
        </fieldset>

        <fieldset class="clearfixed">
          <div class="boxs">

          </div>
        </fieldset>

        <fieldset class="clearfixed">
          <div class="push-left half boxs">
            <p>Latitude</p>
            <input type="text" class="textbox" name="latitude" value="{latitude}" autocomplete="off" />
          </div>
          <div class="push-left half boxs">
            <!-- <p>Get Off</p>
            <input type="text" class="textbox" name="get_off" value="{get_off}" autocomplete="off" /> -->
          </div>
        </fieldset>

        <fieldset class="clearfixed">
          <div class="push-left half boxs">
            <p>Longitude</p>
            <input type="text" class="textbox" name="longitude" value="{longitude}" autocomplete="off" />
          </div>
          <div class="push-left half boxs">
            <p>Type</p>
            <ul class="list-type-box-wrapp clearfixed">
              {loc_type}
            </ul>
          </div>
        </fieldset>

        <fieldset>
          <h2>Background Image Location</h2>
          <div class="locations-image-block">
            <div class="overlay"><img src="{HTTP}{plugin_url}/images/loader.GIF" /></div>
            <div class="locations-image-wrapp clearfix">{locations_image}</div>
            <input type="file" name="locations_image" />
            <p>Select an image file on your computer (2MB max):</p>
          </div>
        </fieldset>

        {destination_form_choose}
      </div>

     

      <div class="button_wrapper clearfix">
        <div class="button_left">
          <ul class="button_navigation">
            {button}
          </ul>
        </div>
      </div>
    </form>
  </div>
</div>

<!-- END locations_form -->

<script type="text/javascript">
jQuery(function() {
  //-- Background Image Function
  jQuery('[name=locations_image]').change(function() {
    if (this.files && this.files[0]) {
      var reader = new FileReader();
      console.log(this.files[0]);
      reader.onload = function(e) {
        var images =
          '<div class="box">' +
          '<img src="' + e.target.result + '" />' +
          '<input type="hidden" name="locations_image" value="' + e.target.result + '" />' +
          '<div class="overlay" style="display: none;">' +
          '<a data-post-id="" data-bg-name="" class="locations-image-delete-header">' +
          '<img src="{HTTP}{site_url}/lumonata-plugins/destinations/images/delete.png">' +
          '</a>' +
          '</div>' +
          '</div>';

        jQuery('.locations-image-wrapp').html(images);
      }

      reader.readAsDataURL(this.files[0]);
    }
  });

  jQuery('.locations-image-delete-header').live('click', function() {
    var selector = jQuery(this).parent().parent();
    var url = '{state_url}';
    var prm = new Object;
    prm.ajax_key = 'delete-background-image';
    prm.post_id = jQuery(this).attr('data-post-id');
    prm.bg_name = jQuery(this).attr('data-bg-name');

    jQuery.post(url, prm, function(e) {
      if (e.result == 'success') {
        selector.fadeOut(200, function() {
          jQuery(this).remove();
        });
      }
    }, 'json');
  });

  jQuery('.locations-image-wrapp .box').live('mouseover', function() {
    jQuery(this).find('.overlay').show();
  });

});

</script>
