<!-- BEGIN setting_form -->

<h1>{app_title}</h1>
<ul class="tabs">
	{tab}
</ul>

<div class="tab_container apps-setting-wrapp">

	<form method="post" action="#" enctype="multipart/form-data">
		<div class="button_wrapper clearfix">
		    <div class="button_left">
		        <ul class="button_navigation">
		            <li>{button}</li>
		        </ul>
		    </div>
		</div>

		{language_button}

		<div class="content-lang EN active">
			<div class="list_edit">

				{message}

				<!-- BEGIN setting_form_list -->
				<fieldset>
					<div id="sett-box-{dest_sef}" class="additional_data sett">
						<h2>{dest_name}</h2>
						<div class="additional_content">
							<div class="sett-box">
								<fieldset>
									<p>Title</p>
									<input type="text" name="title[{dest_id}]" class="textbox" autocomplete="off" value="{title}" />
								</fieldset>
								<fieldset rel="textarea">
									<p>Description</p>
									<textarea class="textarea tinymce" name="description[{dest_id}]" autocomplete="off">{description}</textarea>
								</fieldset>
								<fieldset>
									<p>Meta Data Title</p>
									<input type="text" name="meta_title[{dest_id}]" class="textbox" autocomplete="off" value="{meta_title}" />
								</fieldset>
								<fieldset>
									<p>Meta Data Description</p>
									<textarea class="textarea" name="meta_description[{dest_id}]" autocomplete="off">{meta_description}</textarea>
								</fieldset>
								<fieldset>
									<p>Meta Data Keywords</p>
									<input type="text" name="meta_keywords[{dest_id}]" class="textbox"  autocomplete="off" value="{meta_keywords}" />
								</fieldset>
							</div>
						</div>
					</div>
				</fieldset>
				<!-- END setting_form_list -->

			</div>
		</div>

		{language_data}

		<div class="button_wrapper bottom clearfix">
		    <div class="button_left">
		        <ul class="button_navigation">
		            <li>{button}</li>
		        </ul>
		    </div>
		</div>

	</form>
</div>

<!-- END setting_form -->