<!-- BEGIN loop_destination_language -->
<div class="additional_data sett">
    <h2>{dest_title} ({title_lang})</h2>
    
    <div class="additional_content">
        <div class="sett-box">
            <fieldset>
                <p>Title</p>
                <input type="text" name="title_{code_lang_des}{array_name}" class="textbox" autocomplete="off" value="{title_des_lang}" />
            </fieldset>
            <fieldset>
                <p>Sub Title</p>
                <input type="text" name="subtitle_{code_lang_des}{array_name}" class="textbox" autocomplete="off" value="{subtitle_des_lang}" />
            </fieldset>
            <fieldset>
                <p>Description</p>
                <textarea class="textarea tinymce" name="description_{code_lang_des}{array_name}" autocomplete="off">{description_lang}</textarea>
            </fieldset>
            <fieldset>
                <p>Brief</p>
                <textarea class="textarea tinymce" name="brief_{code_lang_des}{array_name}" autocomplete="off">{brief_lang}</textarea>
            </fieldset>

            {content_add}
            
            <fieldset>
                <p>Meta Data Title</p>
                <input type="text" name="meta_title_{code_lang_des}{array_name}" class="textbox" autocomplete="off" value="{meta_title_lang}" />
            </fieldset>
            <fieldset>
                <p>Meta Data Description</p>
                <textarea class="textarea" name="meta_description_{code_lang_des}{array_name}" autocomplete="off">{meta_description_lang}</textarea>
            </fieldset>
            <fieldset>
                <p>Meta Data Keywords</p>
                <input type="text" name="meta_keywords_{code_lang_des}{array_name}" class="textbox"  autocomplete="off" value="{meta_keywords_lang}" />
            </fieldset>
        </div>
    </div>
</div>
<!-- END loop_destination_language -->