<!-- BEGIN language_menu_category_form_loop -->
<div class="content-lang-menu content-menu-{code_lang_lower_menu}">
    <div class="group-form clearfix">
        <label class="push-left with-margin">Add new menu category ({title_lang_menu}) : </label>
        <input data-lang="{code_lang_lower_menu}" id="new_category_lang_{code_lang_lower_menu}" type="text" name="new_category_lang[{code_lang_lower_menu}]" class="textbox push-left small category_lang_new" />
    </div>

    <div class="group-form clearfix">
        <label class="push-left with-margin">PDF File ({title_lang_menu}) : </label>
        <div class="pdf_file_view pdf_file_view_{code_lang_lower_menu} clearfixed"></div>
        <div class="clear"></div>
        <input type="file" class="pdf_file_treatment" id="pdf_file_treatment_{code_lang_lower_menu}" name="pdf_file_treatment_{code_lang_lower_menu}" autocomplete="off" />
    </div>
</div>

<script type="text/javascript">
    jQuery('[name=pdf_file_treatment_{code_lang_lower_menu}]').change(function(el){

        var data = new FormData();
            data.append('ajax_key', 'upload-category-menu-pdf');
            data.append('app_name', '{app_name}');
            data.append('code_lang', '{code_lang_lower_menu}');
            data.append('post_id', jQuery('[name=category_id]').val());
            data.append('pdf_file_treatment', el.currentTarget.files[0]);
        
        var xhrObject = new XMLHttpRequest();

        xhrObject.open('POST', '//{ajax_url}');  
        xhrObject.onreadystatechange = function(){

            if(xhrObject.readyState==4 && xhrObject.status==200){
                var e = JSON.parse(xhrObject.responseText);
                if(e.result=='success'){
                        var content =
                        '<div class="menu-pdf-file file-pdf-current">' +
                            '<a href="{HTTP}{site_url}/lumonata-plugins/menus/category_menu_pdf/'+e.filename+'">'+e.filename+'</a>'+
                            '<span class="delete-pdf-category" data-lang="{code_lang_lower_menu}"><img src="{HTTP}{site_url}/lumonata-plugins/additional/images/delete.png" /></span>'+	
                        '</div>';

                    jQuery('.pdf_file_view_{code_lang_lower_menu}').fadeIn(300, function(){
                        jQuery('.pdf_file_view_{code_lang_lower_menu}').html(content);
                    });
                }else{
                    alert(e.error);
                }
            }else{
                // console.log("ok");
            }
        }

        xhrObject.send(data);
    });
</script>
<!-- END language_menu_category_form_loop -->