<!-- BEGIN language_page_form_loop -->
<div class="content-lang {code_lang}">
    <div class="list_edit">
        <fieldset>
            <p>Title ({title_lang})</p>
            <p><input type="text" class="textbox forclone" name="additional_fields[title_{code_lang_lower}][{i_lang}]" value="{article_title_lang}" rel="input" autocomplete="off" /></p>
        </fieldset>

        <fieldset>
            <p>Sub Title ({title_lang})</p>
            <p><input type="text" class="textbox forclone" name="additional_fields[subtitle_{code_lang_lower}][{i_lang}]" value="{article_subtitle_lang}" rel="input" autocomplete="off" /></p>
        </fieldset>

        <fieldset>
            <p>Description ({title_lang})</p>
            <div class="tinymce_wrapper forclone" rel="tinymce">
                <textarea id="" name="additional_fields[content_{code_lang_lower}][{i_lang}]" cols="95" rows="20" class="tinymce textbox" autocomplete="off">{article_content_lang}</textarea>
            </div>
        </fieldset>
        
        <fieldset>
            <div class="additional_data">
                <h2>Brief Text ({title_lang})</h2>
                <div class="additional_content">
                    <div class="boxs-wrapp">
                        <div class="boxs">
                            <p>Input your brief text for this page : </p>
                            <textarea class="textbox area tinymce" name="additional_fields[brief_{code_lang_lower}][{i_lang}]">{brief_lang}</textarea>
                        </div>
                    </div>
                </div>
            </div>

            <div class="additional_data">
                <h2 id="meta_data_{code_lang_lower}_{i_lang}">Meta Data ({title_lang})</h2>
                <div class="additional_content" id="meta_data_details_{code_lang_lower}_{i_lang}">
                    
                <div class="clearfix" style="padding:5px;">
                    <p>
                        Title:<br><br>
                        <input type="text" class="textbox forclone" name="additional_fields[meta_title_{code_lang_lower}][{i_lang}]" value="{meta_title_lang}" rel="input" data-name="meta_title" autocomplete="off">
                    </p>
                    <p>
                        Description:<br><br>
                        <textarea class="textarea forclone" name="additional_fields[meta_description_{code_lang_lower}][{i_lang}]" rel="textarea" data-name="meta_description" autocomplete="off">{meta_description_lang}</textarea>
                    </p>
                    <p>
                        Keywords:<br><br>
                        <input type="text" class="textbox forclone" name="additional_fields[meta_keywords_{code_lang_lower}][{i_lang}]" value="{meta_keywords_lang}" rel="input" data-name="meta_keywords" autocomplete="off">
                    </p>
                </div>
                </div>
                <script type="text/javascript">
                    $(function(){
                        $("#meta_data_{code_lang_lower}_{i_lang}").click(function(){
                            $("#meta_data_details_{code_lang_lower}_{i_lang}").slideToggle(100);
                            return false;
                        });
                    });
                </script>
            </div>
        </fieldset>
        
    </div>
</div>
<!-- END language_page_form_loop -->