<!-- BEGIN language_post_type_setting_form_loop -->
<div class="content-lang {code_lang}">
    <div class="list_edit">
        <fieldset>
            {destination_lang_post_setting_template}
        </fieldset>
    </div>
</div>
<input type="hidden" name="all_lang[]" value="{code_lang_des}" />
<!-- END language_post_type_setting_form_loop -->