<!-- BEGIN language_post_form_loop -->
<div class="content-lang {code_lang}">
    <div class="list_edit">
        <fieldset>
            <p>Title ({title_lang})</p>
            <p><input type="text" class="textbox forclone" name="additional_fields[title_{code_lang_lower}][{i_lang}]" value="{article_title_lang}" rel="input" autocomplete="off" /></p>
        </fieldset>

        <fieldset>
            <p>Sub Title ({title_lang})</p>
            <p><input type="text" class="textbox forclone" name="additional_fields[subtitle_{code_lang_lower}][{i_lang}]" value="{article_subtitle_lang}" rel="input" autocomplete="off" /></p>
        </fieldset>

        <fieldset>
            <p>Description ({title_lang})</p>
            <div class="tinymce_wrapper forclone" rel="tinymce">
                <textarea id="" name="additional_fields[content_{code_lang_lower}][{i_lang}]" cols="95" rows="20" class="tinymce textbox" autocomplete="off">{article_content_lang}</textarea>
            </div>
        </fieldset>

        <!-- <fieldset class="category_tag lang_cat_tag">
            <div class="categories_tags clearfix">
                <div class="categories">
                    <h2>Categories ({title_lang})</h2>
                    <div class="tags_cat_content clearfix">
                        <div class="tags_cat_nav">
                            <ul class="cat_tab" id="cat_tab_{code_lang_lower}_{i_lang}">
                                <li><a href="#all_categories_{code_lang_lower}_{i_lang}">All Categories</a></li>
                                <li><a href="#mostused_category_{code_lang_lower}_{i_lang}">Most Used</a></li>
                            </ul>
                        </div>
                        <div class="tags_cat_val">
                            <div id="all_categories_{code_lang_lower}_{i_lang}" class="catcontent_{code_lang_lower}_{i_lang}">
                                {all_categories_lang}
                            </div>
                            <div id="mostused_category_{code_lang_lower}_{i_lang}" class="catcontent_{code_lang_lower}_{i_lang}">
                                {most_used_categories_lang}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tags">
                    <h2>Tags ({title_lang})</h2>
                    <div class="tags_cat_content clearfix">
                        <div class="tags_cat_nav">
                            <ul class="tag_tab" id="tag_tab_{code_lang_lower}_{i_lang}">
                                <li><a href="#the_tags_{code_lang_lower}_{i_lang}" id="add_tags_button_{code_lang_lower}_{i_lang}">All Tags</a></li>
                                <li><a href="#mostused_tabs_{code_lang_lower}_{i_lang}">Most Used</a></li>
                            </ul>
                        </div>
                        <div class="tags_cat_val">
                            <div id="the_tags_{code_lang_lower}_{i_lang}" class="tabcontent_{code_lang_lower}_{i_lang}">
                                {all_tags_lang}
                            </div>
                            <div id="mostused_tabs_{code_lang_lower}_{i_lang}" class="tabcontent_{code_lang_lower}_{i_lang}">
                                {most_used_tags_lang}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset> -->

        <fieldset class="brief">
            <div class="additional_data">
                <h2>Brief Text ({title_lang})</h2>
                <div class="additional_content">
                    <div class="boxs-wrapp">
                        <div class="boxs">
                            <p>Input your brief text for this page : </p>
                            <textarea class="textbox area tinymce" name="additional_fields[brief_{code_lang_lower}][{i_lang}]">{brief_lang}</textarea>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
        
        {custom_field_lang}

        <fieldset>
            <div class="additional_data">
                <h2 id="meta_data_{code_lang_lower}_{i_lang}">Meta Data ({title_lang})</h2>
                <div class="additional_content" id="meta_data_details_{code_lang_lower}_{i_lang}">
                    
                <div class="clearfix" style="padding:5px;">
                    <p>
                        Title:<br><br>
                        <input type="text" class="textbox forclone" name="additional_fields[meta_title_{code_lang_lower}][{i_lang}]" value="{meta_title_lang}" rel="input" data-name="meta_title" autocomplete="off">
                    </p>
                    <p>
                        Description:<br><br>
                        <textarea class="textarea forclone" name="additional_fields[meta_description_{code_lang_lower}][{i_lang}]" rel="textarea" data-name="meta_description" autocomplete="off">{meta_description_lang}</textarea>
                    </p>
                    <p>
                        Keywords:<br><br>
                        <input type="text" class="textbox forclone" name="additional_fields[meta_keywords_{code_lang_lower}][{i_lang}]" value="{meta_keywords_lang}" rel="input" data-name="meta_keywords" autocomplete="off">
                    </p>
                </div>
                </div>
                <script type="text/javascript">
                    $(function(){
                        $("#meta_data_{code_lang_lower}_{i_lang}").click(function(){
                            $("#meta_data_details_{code_lang_lower}_{i_lang}").slideToggle(100);
                            return false;
                        });
                    });
                </script>
            </div>
        </fieldset>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        //When page loads...            
        $(".tabcontent_{code_lang_lower}_{i_lang}").hide(); //Hide all content            
        $(".catcontent_{code_lang_lower}_{i_lang}").hide(); //Hide all content            
        $("ul#cat_tab_{code_lang_lower}_{i_lang} li:first").addClass("active").show(); //Activate first category tab            
        $("ul#tag_tab_{code_lang_lower}_{i_lang} li:first").addClass("active").show(); //Activate first tag tab            
        $(".catcontent_{code_lang_lower}_{i_lang}:first").show(); //Show first category tab content            
        $(".tabcontent_{code_lang_lower}_{i_lang}:first").show(); //Show first tag tab content


        //On Click Category Tab Event            
        $("ul#cat_tab_{code_lang_lower}_{i_lang} li").click(function() {            
            $("ul#cat_tab_{code_lang_lower}_{i_lang} li").removeClass("active"); //Remove any "active" class            
            $(this).addClass("active"); //Add "active" class to selected tab            
            $(".catcontent_{code_lang_lower}_{i_lang}").hide(); //Hide all tab content
    
            var activeTab = $(this).find("a").attr("href"); //Find the href attribute value to identify the active tab + content
    
            $(activeTab).fadeIn(); //Fade in the active ID content            
            return false;            
        });

        $("ul#tag_tab_{code_lang_lower}_{i_lang} li").click(function() {            
            $("ul#tag_tab_{code_lang_lower}_{i_lang} li").removeClass("active"); //Remove any "active" class            
            $(this).addClass("active"); //Add "active" class to selected tab            
            $(".tabcontent_{code_lang_lower}_{i_lang}").hide(); //Hide all tab content
    
            var activeTab = $(this).find("a").attr("href"); //Find the href attribute value to identify the active tab + content   

            $(activeTab).fadeIn(); //Fade in the active ID content            
            return false;
        });
    });
</script>
<!-- END language_post_form_loop -->