<!-- BEGIN language_taxonomy_form_loop -->
<div class="content-lang {code_lang}">

    <div class="list_edit">
        <fieldset>
            <p>Name ({title_lang}) {test_lang}</p>
            <p><input type="text" class="textbox forclone" name="additional_fields[name_{code_lang_lower}][{i_lang}]" value="{name_lang}" rel="input" data-name="lname" autocomplete="off" /></p>
        </fieldset>

        <fieldset>
            <p>Description ({title_lang})</p>
            <div class="tinymce_wrapper forclone" rel="tinymce">
                <textarea id="" name="additional_fields[description_{code_lang_lower}][{i_lang}]" cols="95" rows="20" class="tinymce textbox" autocomplete="off">{description_lang}</textarea>
            </div>
        </fieldset>

        <input type="hidden" class="textbox" name="rule_id[0]" value="{rule_id}" />
    </div>

</div>
<!-- END language_taxonomy_form_loop -->