<!-- BEGIN language_treatment_category_form_loop -->
<div class="content-lang-menu content-menu-{code_lang_lower_treatment}">
    <label class="push-left with-margin">Add new treatment category ({title_lang_treatment}) : </label>
    <input data-lang="{code_lang_lower_treatment}" id="new_category_lang_{code_lang_lower_treatment}" type="text" name="new_category_lang[{code_lang_lower_treatment}]" class="textbox push-left small category_lang_new" />
    
    <div class="clear"></div>
    <label class="with-margin">Description ({title_lang_treatment}) : </label>
    
    <textarea data-lang="{code_lang_lower_treatment}" id="description_category_lang_{code_lang_lower_treatment}" name="description_category_lang[{code_lang_lower_treatment}]" class="textbox category_lang_description tinymce"></textarea>
</div>
<!-- END language_treatment_category_form_loop -->