<!-- BEGIN menus_block -->

<link type="text/css" href="//{plugin_url}/style.css" rel="stylesheet">

<input type="hidden" name="action_type" value="{action_type}">

<div id="menu-list" class="additional_data restaurant">
    <h2>Food & Drink Menu</h2>
    <div class="additional_content">
    	<div class="boxs-wrapp">
    		<ul id="tab-menu-setting" class="tab-menu-setting clearfix">
    			<li class=""><a href="#category-box">Category</a></li>
    			<li class="active"><a href="#list-box">Main</a></li>
    		</ul>
			<div id="category-box" class="menu-box-wrapper" style="display:none;">

				{language_button_menus}
				
		    	<div class="boxs clearfix category-box">
					<div class="content-lang-menu content-menu-en active">
						<div class="group-form clearfix">
							<label class="push-left with-margin">Add new menu category : </label>
							<input type="text" name="new_category" class="textbox push-left small" />
						</div>
						
						<div class="group-form clearfix">
							<label class="push-left with-margin">Image : </label>
							<div class="category_menu_image clearfixed"></div>
							<input type="file" id="category_menu_image_ID" name="category_menu_image" autocomplete="off" />
						</div>

						<div class="group-form clearfix">
							<label class="push-left with-margin">PDF File : </label>
							<div class="pdf_file_view default_lang clearfixed"></div>
							<div class="clear"></div>
							<input type="file" class="pdf_file_treatment" name="pdf_file_treatment" autocomplete="off" />
						</div>

						<input type="hidden" name="category_id" value="{category_id_before}">
						<input type="hidden" name="category_id_time" value="{category_id_before}">
					</div>

					{menu_category_language_data}
					
				</div>
				
				<div class="boxs clearfix">
					<button class="the-button cat-add-to-list">Add To List</button>
					<button class="the-button cat-edit-menu">Save Edited</button>
					<button class="the-button cat-cancel-edit">Cancel</button>
				</div>
		    	<ol class="menu-category-list clearfix sortable"></ol>
		    </div>
			<div id="list-box" class="menu-box-wrapper" style="display:block;">
				
				{language_button_menus}

    			<div class="boxs clearfix list-box">

					<div class="content-lang-menu content-menu-en active">
						<div class="inner push-left">
							<label>Menu Name : </label>
							<input type="text" name="menu_name" class="textbox" />
							<label>Category Menu <em>( ex : Main Course, Desert )</em> : </label>
							<select name="menu_category" class="select">
								<option value="">-- select menu category --</option>
							</select>
							<label>Menu Type : </label>
							<ul class="menu-type-wrapp clearfix">
								<li>
									<input type="checkbox" name="menu_type[0]" value="breakfast-menu" autocomplete="off" />
									<span>Breakfast Menu</span>
								</li>
								<li>
									<input type="checkbox" name="menu_type[1]" value="gluten-free" autocomplete="off" />
									<span>Gluten Free</span>
								</li>
								<li>
									<input type="checkbox" name="menu_type[2]" value="halal-menu" autocomplete="off" />
									<span>Halal Menu</span>
								</li>
								<li>
									<input type="checkbox" name="menu_type[3]" value="kid-menu" autocomplete="off" />
									<span>Kid Menu</span>
								</li>
								<li>
									<input type="checkbox" name="menu_type[4]" value="vegetarian-menu" autocomplete="off" />
									<span>Vegetarian Menu</span>
								</li>
							</ul>
						</div>
						<div class="inner push-left">
							<label>Price : </label>
							<input type="text" name="menu_price" class="textbox smaller" />
							<em>&nbsp;&nbsp;input menu price without currency</em>
							<label>Description : </label>
							<textarea name="menu_desc" class="textbox"></textarea>
						</div>
					</div>

					{menu_list_language_data}
		    		
		    	</div>
		    	<div class="boxs clearfix">
			    	<button class="the-button add-menu-to-list">Add To List</button>
			    	<button class="the-button cancel-edit">Cancel</button>
					<button class="the-button edit-menu">Save Edited</button>
		    	</div>
		    	<ol class="menu-list clearfix sortable"></ol>
	    		<div class="note">
	    			<p><em><b>Important Note : </b>remember to publish after you added, edited or deleted the menu</em></p>
	    		</div>
		    </div>
		</div>
		
		<!-- {current_file} -->

		<!-- <div class="menu-pdf-file">
			<p>Upload your PDF menu file :</p>
			<div class="clearfix"></div>
			<input type="file" name="menu_pdf" />
		</div>
		<div class="menu-pdf-link">
			<p>Input Text For Download PDF Link</p>
			<input type="text" class="textbox small" name="additional_fields[menu_pdf_text_link][{i}]" value="" />
		</div> -->
	
	</div>
</div>


<script type="text/javascript">
	function refresh_category_menu()
	{	
		var prm = new Object;
			prm.post_id  	= jQuery('[name=post_id[0]]').val();
			prm.ajax_key 	= 'get-category-menu';
			prm.app_name 	= '{app_name}';
			prm.lang_code 	= get_code_lang();


        jQuery.ajax({
            url        : '//{ajax_url}',
            type       : 'POST',
            dataType   : 'json',
            data       : prm,
            beforeSend : function(e){
            	jQuery('.menu-category-list').append('<li class="overlay"><img src="//{plugin_url}/images/loader.GIF"></li>');
            },
            success: function( e ){
		        jQuery('.menu-category-list .overlay').remove();
				if( e.result == 'success' )
				{					
					jQuery('.menu-category-list').html('');

					jQuery.each( e.data, function( i, el ){
						var html_lang = '';
						jQuery.each( el.lang_cat, function( k, lc ){
							if(typeof lc.value != 'undefined'){
								html_lang += '<input type="hidden" name="'+k+'" value="'+lc.value+'" />';
							}
						});

						var html_images = '<input type="hidden" name="images_category" value="'+el.images+'" />';

						var html_pdf = 
						'<input type="hidden" name="pdf_category" value="'+el.pdf_file+'" />'+
						'<input type="hidden" name="pdf_category_url" value="'+el.pdf_url+'" />'+
						'<input type="hidden" name="pdf_category_jp" value="'+el.pdf_file_jp+'" />'+
						'<input type="hidden" name="pdf_category_url_jp" value="'+el.pdf_url_jp+'" />'+
						'<input type="hidden" name="pdf_category_cn" value="'+el.pdf_file_cn+'" />'+
						'<input type="hidden" name="pdf_category_url_cn" value="'+el.pdf_url_cn+'" />';

						var list = 
						'<li id="list_' + el.id + '">'+
							'<div class="item item-' + el.id + '">'+
								'<p>' + el.name + '</p>'+
								'<a class="edit" rel="' + el.id + '" data-name="'+el.name+'"></a>'+
								'<a class="delete" rel="' + el.id + '"></a>'+
								html_lang +
								html_images +
								html_pdf +
							'</div>';
							

							if( typeof el.child != 'undefined' )
							{
								list += 
								'<ol>';

									jQuery.each( el.child, function( ii, ele ){
										var html_lang_child = '';
										jQuery.each( ele.lang_cat, function( kc, lcc ){
											if(typeof lcc.value != 'undefined'){
												html_lang_child += '<input type="hidden" name="'+kc+'" value="'+lcc.value+'" />';
											}
										});

										var html_images_child = '<input type="hidden" name="images_category" value="'+ele.images+'" />';

										var html_pdf_child = 
										'<input type="hidden" name="pdf_category" value="'+ele.pdf_file+'" />'+
										'<input type="hidden" name="pdf_category_url" value="'+ele.pdf_url+'" />'+
										'<input type="hidden" name="pdf_category_jp" value="'+ele.pdf_file_jp+'" />'+
										'<input type="hidden" name="pdf_category_url_jp" value="'+ele.pdf_url_jp+'" />'+
										'<input type="hidden" name="pdf_category_cn" value="'+ele.pdf_file_cn+'" />'+
										'<input type="hidden" name="pdf_category_url_cn" value="'+ele.pdf_url_cn+'" />';

										list += 
										'<li id="list_' + ele.id + '">'+
											'<div class="item item-' + ele.id + '">'+
												'<p>' + ele.name + '</p>'+
												'<a class="edit" rel="' + ele.id + '" data-name="'+ele.name+'"></a>'+
												'<a class="delete" rel="' + ele.id + '"></a>'+
												html_lang_child +
												html_images_child +
												html_pdf_child +
											'</div>'+
										'</li>';
									});

									list += 
								'</ol>';
							}

							list += 
						'</li>';

						jQuery('.menu-category-list').append( list );
					});

					reorder_category_menu();
					set_category_menu_option();
					category_menu_link_action();
				}
            },
            error: function( e ){
		        jQuery('.menu-category-list .overlay').remove();
            }
        });
	}

	function set_category_menu_option()
	{	
		var prm = new Object;
			prm.post_id  = jQuery('[name=post_id[0]]').val();
			prm.ajax_key = 'get-category-menu-option';
			prm.app_name = '{app_name}';

        jQuery.ajax({
            url        : '//{ajax_url}',
            type       : 'POST',
            dataType   : 'json',
            data       : prm,
            beforeSend : function(e){
            },
            success: function( e ){
				if( e.result == 'success' )
				{
					jQuery('[name=menu_category] option[value!=""]').remove();
					jQuery('[name=menu_category]').append(e.data).trigger('chosen:updated');
				}
            },
            error: function( e ){
            }
        });
	}

	function category_menu_link_action()
	{
		jQuery('.menu-category-list .item .edit').unbind();
		jQuery('.menu-category-list .item .edit').click( function(){

			jQuery('.default_lang').hide();
			jQuery('.pdf_file_view_jp').hide();
			jQuery('.pdf_file_view_cn').hide();

			var id     		= jQuery(this).attr('rel');
			var sel    		= jQuery(this).parent();
			var name   		= sel.find("p").text();
			var lang_code 	= get_code_lang();
			var split_code 	= lang_code.split(",");

			var images_category = sel.find('input[name=images_category]').val();
			var pdf_category = sel.find('input[name=pdf_category]').val();
			var pdf_category_url = sel.find('input[name=pdf_category_url]').val();
			
			var pdf_category_jp = sel.find('input[name=pdf_category_jp]').val();
			var pdf_category_url_jp = sel.find('input[name=pdf_category_url_jp]').val();

			var pdf_category_cn = sel.find('input[name=pdf_category_cn]').val();
			var pdf_category_url_cn = sel.find('input[name=pdf_category_url_cn]').val();

			jQuery('[name=category_id]').val(id);

			// Category Images
			if(images_category != ""){
				var images_category_html =
				'<div class="box">'+
					'<img src="'+images_category+'" />'+
					'<div class="overlay">'+
						'<a data-post-id="'+id+'" class="img-delete" title="Delete">'+
							'<img src="{HTTP}{site_url}/lumonata-plugins/additional/images/delete.png">'+
						'</a>'+
					'</div>'+
				'</div>';
				jQuery('.category_menu_image').html(images_category_html);
			}else{
				jQuery('.category_menu_image').html("");
			}
			delete_category_menu_img();
			
			// PDF File Default
			if(pdf_category != ""){
				var pdf_category_html =
				'<div class="menu-pdf-file file-pdf-current">' +
					'<a href="{HTTP}{site_url}'+pdf_category_url+'">'+pdf_category+'</a>'+
					'<span class="delete-pdf-category" data-lang="en"><img src="{HTTP}{site_url}/lumonata-plugins/additional/images/delete.png" /></span>'+	
				'</div>';

				jQuery('.default_lang').fadeIn(300, function(){
					jQuery('.default_lang').html(pdf_category_html);
					delete_category_menu_pdf();
				});

			}else{
				jQuery('.default_lang').html("");
			}

			// PDF File JP
			if(pdf_category_jp != ""){
				var pdf_category_html_jp =
				'<div class="menu-pdf-file file-pdf-current">' +
					'<a href="{HTTP}{site_url}'+pdf_category_url_jp+'">'+pdf_category_jp+'</a>'+
					'<span class="delete-pdf-category" data-lang="jp"><img src="{HTTP}{site_url}/lumonata-plugins/additional/images/delete.png" /></span>'+	
				'</div>';

				jQuery('.pdf_file_view_jp').fadeIn(300, function(){
					jQuery('.pdf_file_view_jp').html(pdf_category_html_jp);
					delete_category_menu_pdf();
				});

			}else{
				jQuery('.default_lang').html("");
			}

			// PDF File CN
			if(pdf_category_cn != ""){
				var pdf_category_html_cn =
				'<div class="menu-pdf-file file-pdf-current">' +
					'<a href="{HTTP}{site_url}'+pdf_category_url_cn+'">'+pdf_category_cn+'</a>'+
					'<span class="delete-pdf-category" data-lang="cn"><img src="{HTTP}{site_url}/lumonata-plugins/additional/images/delete.png" /></span>'+	
				'</div>';

				jQuery('.pdf_file_view_cn').fadeIn(300, function(){
					jQuery('.pdf_file_view_cn').html(pdf_category_html_cn);
					delete_category_menu_pdf();
				});

			}else{
				jQuery('.default_lang').html("");
			}


			for(var j=0; j<split_code.length; j++){
				var value_lang = sel.find('input[name=category_name_'+split_code[j]+']').val();
				jQuery('#new_category_lang_'+split_code[j]).val(value_lang);
			}

			jQuery('.content-lang-menu [name=new_category]').val(name);

			jQuery('.cat-add-to-list').hide();
			jQuery('.cat-cancel-edit').show();
			jQuery('.cat-edit-menu').attr('data-id', id).show();

			jQuery('html, body').stop().animate({
				scrollTop: jQuery('#menu-list').offset().top
			}, 1000);
		});

		jQuery('.menu-category-list .item .delete').unbind();
		jQuery('.menu-category-list .item .delete').click( function(){
			var url = '//{ajax_url}';
			var prm = new Object;
				prm.cat_id   = jQuery(this).attr('rel');
				prm.ajax_key = 'delete-category-menu';
				prm.app_name = '{app_name}';

	        jQuery.ajax({
	            url        : '//{ajax_url}',
	            type       : 'POST',
	            dataType   : 'json',
	            data       : prm,
	            beforeSend : function(e){
            		jQuery('.menu-category-list').append('<li class="overlay"><img src="//{plugin_url}/images/loader.GIF"></li>');
	            },
	            success: function( e ){
		            jQuery('.menu-category-list .overlay').remove();
					console.log(e);
	            	if( e.result == 'success' )
	            	{
	            		refresh_category_menu();
	            	}
	            	else
	            	{
	            		alert('This category can\'t be deleted, because already used in another menu');
	            	}
	            },
	            error: function( e ){
					console.log(e);
		           jQuery('.menu-category-list .overlay').remove();
	            }
	        });
		});
	}

	function reorder_category_menu()
	{
		jQuery('.menu-category-list').nestedSortable({
			handle: 'div',
			helper:	'clone',
			items: 'li',
			maxLevels: 2,
			opacity: .6,
			revert: 250,
			tabSize: 25,
			placeholder: 'placeholder',
			tolerance: 'pointer',
			stop: function(eve, ui){
				var url  = '//{ajax_url}';
				var prm  = new Object;
					prm.list_arr = jQuery('.menu-category-list').nestedSortable('toHierarchy', { startDepthCount: 0 });
					prm.ajax_key = 'reorder-category-menu';
					prm.app_name = '{app_name}';

		        jQuery.ajax({
		            url        : '//{ajax_url}',
		            type       : 'POST',
		            dataType   : 'json',
		            data       : prm,
		            beforeSend : function(e){
	            		jQuery('.menu-category-list').append('<li class="overlay"><img src="//{plugin_url}/images/loader.GIF"></li>');
		            },
		            success: function( e ){
			            jQuery('.menu-category-list .overlay').remove();
		            },
		            error: function( e ){
			           jQuery('.menu-category-list .overlay').remove();
		            }
		        });
			}
		});	
	}

	function clear_category_menu_form()
	{
		jQuery('[name=new_category]').val('');
		jQuery('.category_lang_new').val('');
		jQuery('.category_menu_image .box').remove();
		document.getElementById("category_menu_image_ID").value = null;
		jQuery('.pdf_file_view .menu-pdf-file').remove();
		jQuery('.pdf_file_view').hide();
		jQuery('[name=category_id]').val(jQuery('[name=category_id_time]').val());
		var list_pdf_file = document.getElementsByClassName("pdf_file_treatment");
		for (n = 0; n < list_pdf_file.length; ++n) {
			list_pdf_file[n].value='';
		}
	}

	function category_menu_func()
	{
		refresh_category_menu();
		clear_category_menu_form();

		jQuery('.cat-add-to-list').click(function(){
			var vals 		= jQuery('[name=new_category]').val();
			var lang_code 	= get_code_lang();

			if( vals == '' )
			{
				alert('Please add category name');
			}
			else
			{
				var prm = new Object;
					prm.post_id       	     = jQuery('[name=post_id[0]]').val();
					prm.category_id       	 = jQuery('[name=category_id]').val();
					prm.ajax_key      	     = 'save-category-menu';
					prm.app_name      	     = '{app_name}';
					prm.lang_code     	     = lang_code;
					prm.cat_name      	     = vals;
					prm.category_lang        = new Object;

				jQuery('.category_lang_new').each(function(){
					var data_lang = jQuery(this).attr("data-lang");
					var value = jQuery(this).val();
					prm.category_lang[data_lang] = value;
				});

		        jQuery.ajax({
		            url        : '//{ajax_url}',
		            type       : 'POST',
		            dataType   : 'json',
		            data       : prm,
		            beforeSend : function(e){
		            	jQuery('.menu-category-list').append('<li class="overlay"><img src="//{plugin_url}/images/loader.GIF"></li>');
		            },
		            success: function( e ){
		            	jQuery('.menu-category-list .overlay').remove();

		            	if( e.result == 'success' )
		            	{
		            		refresh_category_menu();
							clear_category_menu_form();
							tab_lang_menu_category();
		            	}
		            	else
		            	{
		            		alert('This category can\'t be deleted, because already used in another menu');
		            	}
		            },
		            error: function( e ){
		            	jQuery('.menu-category-list .overlay').remove();
		            }
		        });
			}

			return false;
		});

		jQuery('.cat-edit-menu').click(function(){
			var vals 		= jQuery('[name=new_category]').val();
			var lang_code 	= get_code_lang();
		
			if( vals == '' )
			{
				alert('Please add category name');
			}
			else
			{
				var prm = new Object;
					prm.post_id  		= jQuery('[name=post_id[0]]').val();
					prm.cat_id   		= jQuery(this).attr('data-id');
					prm.ajax_key 		= 'update-category-menu';
					prm.app_name 		= '{app_name}';
					prm.lang_code 		= lang_code;
					prm.cat_name  		= vals;
					prm.category_lang   = new Object;

				jQuery('.category_lang_new').each(function(){
					var data_lang = jQuery(this).attr("data-lang");
					var value = jQuery(this).val();
					prm.category_lang[data_lang] = value;
				});

		        jQuery.ajax({
		            url        : '//{ajax_url}',
		            type       : 'POST',
		            dataType   : 'json',
		            data       : prm,
		            beforeSend : function(e){
		            	jQuery('.menu-category-list').append('<li class="overlay"><img src="//{plugin_url}/images/loader.GIF"></li>');
		            },
		            success: function( e ){
		            	jQuery('.menu-category-list .overlay').remove();

		            	if( e.result == 'success' )
		            	{
		            		refresh_category_menu();
		            		clear_category_menu_form();
							jQuery('.cat-edit-menu').hide();
							jQuery('.cat-cancel-edit').hide();
							jQuery('.cat-add-to-list').show();
							tab_lang_menu_category();
		            	}
		            	else
		            	{
		            		alert('This category can\'t be deleted, because already used in another menu');
		            	}
		            },
		            error: function( e ){
						// console.log(e);
		            	jQuery('.menu-category-list .overlay').remove();
		            }
		        });
			}

			return false;
		});
		
		jQuery('.cat-cancel-edit').click(function(){
			clear_category_menu_form();

			jQuery('.cat-add-to-list').show();
			jQuery('.cat-cancel-edit').hide();
			jQuery('.cat-edit-menu').attr('data-id', '').hide();

			return false;
		});
	}

	function refresh_menu()
	{	
		var prm = new Object;
			prm.post_id  	= jQuery('[name=post_id[0]]').val();
			prm.ajax_key 	= 'get-main-menu';
			prm.app_name 	= '{app_name}';
			prm.lang_code 	= get_code_lang();

        jQuery.ajax({
            url        : '//{ajax_url}',
            type       : 'POST',
            dataType   : 'json',
            data       : prm,
            beforeSend : function( e ){
            	jQuery('.menu-list').append('<li class="overlay"><img src="//{plugin_url}/images/loader.GIF"></li>');
            },
            success: function( e ){
		        jQuery('.menu-list .overlay').remove();

				if( e.result == 'success' )
				{
					jQuery('.menu-list').html('');

					jQuery.each( e.data, function( i, el ){
						var html_lang = '';

						// INPUT HIDDEN FOR LANG NAME
						jQuery.each( el.lang_name, function( k, lc ){
							if(typeof lc.value != 'undefined'){
								html_lang += '<input type="hidden" name="'+k+'" value="'+lc.value+'" />';
							}
						});

						// INPUT HIDDEN FOR LANG DESC
						jQuery.each( el.lang_desc, function( k, ld ){
							if(typeof ld.value != 'undefined'){
								html_lang += '<input type="hidden" name="'+k+'" value="'+ld.value+'" />';
							}
						});

						var mtype = el.lmenu_type == '-' ? '-' : el.lmenu_type.join(', ').replace(/-/g, ' ');
						var list = 
						'<li id="list_' + el.lmenu_id + '">'+
							'<div class="item item-' + el.lmenu_id + ' clearfix">'+
								'<p class="name">' + el.lmenu_name + '</p>'+
								'<p class="cat" rel="' + el.lcmenu_id + '">' + el.lcmenu_name + '</p>'+
								'<p class="type" rel="' + el.lmenu_type + '">' + mtype + '</p>'+
								'<p class="desc">' + ( el.lmenu_desc == '' ? '-' : el.lmenu_desc ) + '</p>'+
								'<p class="price">' + el.lmenu_price + '</p>'+
								'<a class="edit" rel="' + el.lmenu_id + '"></a>'+
								'<a class="delete" rel="' + el.lmenu_id + '"></a>'+
								html_lang +
							'</div>'+
						'</li>';

						jQuery('.menu-list').append( list );
					});

					reorder_menu();
					menu_link_action();
				}
            },
            error: function( e ){
		        jQuery('.menu-list .overlay').remove();
            }
        });
	}

	function menu_link_action()
	{
		jQuery('.menu-list .item .edit').unbind();
		jQuery('.menu-list .item .edit').click( function(){
			var sel      	= jQuery(this).parent();
			var id       	= jQuery(this).attr('rel');
			var name     	= sel.find('.name').text();
			var desc     	= sel.find('.desc').text();
	        var type     	= sel.find('.type').text();
			var cat      	= sel.find('.cat').text();
			var price    	= sel.find('.price').text();
			var cat_id   	= sel.find('.cat').attr('rel');
			var type_arr 	= sel.find('.type').attr('rel').split(',');
			var lang_code 	= get_code_lang();
			var split_code 	= lang_code.split(",");

			jQuery('[name=menu_name]').val(name);
			jQuery('[name=menu_desc]').val(desc);
			jQuery('[name=menu_price]').val(price);
			jQuery('[name=menu_category]').val(cat_id).trigger('chosen:updated');

			for(var j=0; j<split_code.length; j++){
				var name_lang = sel.find('input[name=menu_name_'+split_code[j]+']').val();
				var desc_lang = sel.find('input[name=menu_desc_'+split_code[j]+']').val();

				jQuery('#menu_name_lang_'+split_code[j]).val(name_lang);
				jQuery('#menu_des_lang_'+split_code[j]).val(desc_lang);
			}

            jQuery('.menu-type-wrapp input').each(function(){
            	var vals = jQuery(this).val();

            	if( jQuery.inArray( vals, type_arr ) < 0 )
            	{
            		jQuery(this).removeAttr('checked');
            	}
            	else
            	{
            		jQuery(this).attr('checked','checked');
            	}
            });

			jQuery('.add-menu-to-list').hide();
			jQuery('.cancel-edit').show();
			jQuery('.edit-menu').attr('data-id', id).show();

			jQuery('html, body').stop().animate({
				scrollTop: jQuery('#menu-list').offset().top
			}, 1000);
		});

		jQuery('.menu-list .item .delete').unbind();
		jQuery('.menu-list .item .delete').click( function(){
			var url = '//{ajax_url}';
			var prm = new Object;
				prm.menu_id  = jQuery(this).attr('rel');
				prm.ajax_key = 'delete-main-menu';
				prm.app_name = '{app_name}';

	        jQuery.ajax({
	            url        : '//{ajax_url}',
	            type       : 'POST',
	            dataType   : 'json',
	            data       : prm,
	            beforeSend : function(e){
            		jQuery('.menu-list').append('<li class="overlay"><img src="//{plugin_url}/images/loader.GIF"></li>');
	            },
	            success: function( e ){
		            jQuery('.menu-list .overlay').remove();

	            	if( e.result == 'success' )
	            	{
	            		refresh_menu();
	            	}
	            	else
	            	{
	            		alert('This menu can\'t be deleted, because already used in another menu');
	            	}
	            },
	            error: function( e ){
		           jQuery('.menu-list .overlay').remove();
	            }
	        });
		});
	}

	function reorder_menu()
	{
		jQuery('.menu-list').nestedSortable({
			handle: 'div',
			helper:	'clone',
			items: 'li',
			maxLevels: 1,
			opacity: .6,
			revert: 250,
			tabSize: 25,
			placeholder: 'placeholder',
			tolerance: 'pointer',
			stop: function(eve, ui){
				var url  = '//{ajax_url}';
				var prm  = new Object;
					prm.list_arr = jQuery('.menu-list').nestedSortable('toHierarchy', { startDepthCount: 0 });
					prm.ajax_key = 'reorder-main-menu';
					prm.app_name = '{app_name}';

		        jQuery.ajax({
		            url        : '//{ajax_url}',
		            type       : 'POST',
		            dataType   : 'json',
		            data       : prm,
		            beforeSend : function(e){
	            		jQuery('.menu-category-list').append('<li class="overlay"><img src="//{plugin_url}/images/loader.GIF"></li>');
		            },
		            success: function( e ){
			            jQuery('.menu-category-list .overlay').remove();
		            },
		            error: function( e ){
			           jQuery('.menu-category-list .overlay').remove();
		            }
		        });
			}
		});	
	}

	function clear_menu_form()
	{
		jQuery('[name=menu_category]').val('').trigger('chosen:updated');
		jQuery('[name=menu_name], [name=menu_desc], [name=menu_name_lang], [name=menu_des_lang]').val('');
		jQuery('[name=menu_price]').val(0);
		jQuery('.menu-type-wrapp input').each(function(e){
            jQuery(this).removeAttr('checked');
        });
	}

	function menu_func()
	{
		refresh_menu();
		clear_menu_form();

		jQuery('.add-menu-to-list').click(function(){
			var name  = jQuery('[name=menu_name]').val();
			var desc  = jQuery('[name=menu_desc]').val();
			var price = jQuery('[name=menu_price]').val();
			var cat   = jQuery('[name=menu_category]').val();

			if( name == '' && cat == '' )
			{
				alert('Please add menu name & category');
			}
			else if( name == '' )
			{
				alert('Please add menu name');
			}
			else if( cat == '' )
			{
				alert('Please add menu category');
			}
			else if( name != '' && cat != '' )
			{
                var type_data = new Array();
				var lang_code = get_code_lang();

                jQuery('.menu-type-wrapp input:checked').each(function(e){
                    type_data.push( jQuery(this).val() );
                });

                var prm = new Object;
					prm.post_id  		= jQuery('[name=post_id[0]]').val();
					prm.app_name 		= '{app_name}';
					prm.ajax_key 		= 'save-main-menu';
					prm.type     		= type_data;
					prm.price    		= price;
					prm.name     		= name;
					prm.desc     		= desc;
					prm.category 		= cat;
					prm.lang_code     	= lang_code;
					prm.menu_name_lang 	= new Object;
					prm.menu_des_lang 	= new Object;

				jQuery('.menu_name_lang').each(function(){
					var data_menu_name = jQuery(this).attr("data-lang");
					var value_menu_lang = jQuery(this).val();
					prm.menu_name_lang[data_menu_name] = value_menu_lang;
				});

				jQuery('.menu_des_lang').each(function(){
					var data_menu_des = jQuery(this).attr("data-lang");
					var value_des_lang = jQuery(this).val();
					prm.menu_des_lang[data_menu_des] = value_des_lang;
				});

		        jQuery.ajax({
		            url        : '//{ajax_url}',
		            type       : 'POST',
		            dataType   : 'json',
		            data       : prm,
		            beforeSend : function(e){
		            	jQuery('.menu-list').append('<li class="overlay"><img src="//{plugin_url}/images/loader.GIF"></li>');
		            },
		            success: function( e ){		            	
		            	jQuery('.menu-list .overlay').remove();

		            	if( e.result == 'success' )
		            	{
		            		refresh_menu();
							clear_menu_form();
							tab_lang_menu();
		            	}
		            	else
		            	{
		            		alert('This menu can\'t be deleted, please try again later');
		            	}
		            },
		            error: function( e ){
						console.log(e);
		            	jQuery('.menu-list .overlay').remove();
		            }
		        });
            }

            return false;
        });

		jQuery('.edit-menu').click(function(){
			var name  = jQuery('[name=menu_name]').val();
			var desc  = jQuery('[name=menu_desc]').val();
			var price = jQuery('[name=menu_price]').val();
			var cat   = jQuery('[name=menu_category]').val();

			if( name == '' && cat == '' )
			{
				alert('Please add menu name & category');
			}
			else if( name == '' )
			{
				alert('Please add menu name');
			}
			else if( cat == '' )
			{
				alert('Please add menu category');
			}
			else if( name != '' && cat != '' )
			{
                var type_data = new Array();
				var lang_code = get_code_lang();

                jQuery('.menu-type-wrapp input:checked').each(function(e){
                    type_data.push( jQuery(this).val() );
                });

                var prm = new Object;
					prm.post_id  		= jQuery('[name=post_id[0]]').val();
					prm.menu_id  		= jQuery(this).attr('data-id');
					prm.ajax_key 		= 'update-main-menu';
					prm.app_name 		= '{app_name}';
					prm.type     		= type_data;
					prm.price    		= price;
					prm.name     		= name;
					prm.desc     		= desc;
					prm.category 		= cat;
					prm.lang_code 		= lang_code;
					prm.menu_name_lang 	= new Object;
					prm.menu_des_lang 	= new Object;

				jQuery('.menu_name_lang').each(function(){
					var data_menu_name = jQuery(this).attr("data-lang");
					var value_menu_lang = jQuery(this).val();
					prm.menu_name_lang[data_menu_name] = value_menu_lang;
				});

				jQuery('.menu_des_lang').each(function(){
					var data_menu_des = jQuery(this).attr("data-lang");
					var value_des_lang = jQuery(this).val();
					prm.menu_des_lang[data_menu_des] = value_des_lang;
				});

		        jQuery.ajax({
		            url        : '//{ajax_url}',
		            type       : 'POST',
		            dataType   : 'json',
		            data       : prm,
		            beforeSend : function(e){
		            	jQuery('.menu-list').append('<li class="overlay"><img src="//{plugin_url}/images/loader.GIF"></li>');
		            },
		            success: function( e ){		            	
		            	jQuery('.menu-list .overlay').remove();

		            	if( e.result == 'success' )
		            	{
		            		refresh_menu();
							clear_menu_form();
							tab_lang_menu();
		            	}
		            	else
		            	{
		            		alert('This menu can\'t be deleted, please try again later');
		            	}
		            },
		            error: function( e ){
						console.log(e);
		            	jQuery('.menu-list .overlay').remove();
		            }
		        });
            }

            return false;
        });
		
		jQuery('.cancel-edit').click(function(){
			clear_menu_form();

			jQuery('.cancel-edit').hide();
			jQuery('.add-menu-to-list').show();
			jQuery('.edit-menu').attr('data-id', '').hide();

			return false;
		});
	}


	function tab_lang_menu(){
		jQuery('#list-box .button-language-menu ul li').removeClass("active");
		jQuery('#list-box .button-language-menu ul li:first-child').addClass("active");
		jQuery('#list-box .content-lang-menu').removeClass("active");
		jQuery('#list-box .content-menu-en').addClass("active");
	}

	function tab_lang_menu_category(){
		jQuery('#category-box .button-language-menu ul li').removeClass("active");
		jQuery('#category-box .button-language-menu ul li:first-child').addClass("active");
		jQuery('#category-box .content-lang-menu').removeClass("active");
		jQuery('#category-box .content-menu-en').addClass("active");
	}

	function get_code_lang(){
		code_lang 	= new Array;
		var i = 0;
		jQuery('.code_lang_lower').each(function(){
			var value_menu_lang = jQuery(this).val();
			code_lang[i] = value_menu_lang;
			i++;
		});
		return code_lang.join();
	}

	jQuery(document).ready(function(){
		menu_func();
		category_menu_func();

		if( jQuery('.select').length > 0 )
		{
			jQuery('.select').chosen({ disable_search_threshold: 10 });
		}

		jQuery('.tab-menu-setting li').click(function(){
			var id = jQuery(this).find('a').attr('href');

			jQuery('.tab-menu-setting li').removeClass('active');
			jQuery('.menu-box-wrapper').css('display','none');
			jQuery(this).addClass('active');
			jQuery(id).css('display','block');

			return false;
		});
	

		jQuery('.delete-pdf').click(function(){
            var url   = '//{ajax_url}';
            var prm = new Object;
                prm.ajax_key = 'delete-pdf-menu-file';
                prm.app_name = '{app_name}';
				prm.post_id  = jQuery('[name=post_id[0]]').val();
                
            jQuery.post(url, prm, function(e){
				// console.log(e);
                if(e.result=='success'){
                    jQuery('.file-pdf-current').fadeOut(200,function(){ jQuery(this).remove(); });     
                }
            },'json');
		});

		upload_category_menu_img();
		upload_category_menu_pdf();
	});


	/*
	| -------------------------------------------------------------------------------------
	| Upload Category Menu Image
	| -------------------------------------------------------------------------------------
	*/
	function upload_category_menu_img(){
		jQuery('[name=category_menu_image]').change(function(el){
	        var data = new FormData();
	            data.append('ajax_key', 'upload-category-menu-images');
	            data.append('app_name', '{app_name}');
	            data.append('post_id', jQuery('[name=category_id]').val());
	            data.append('category_menu_image', el.currentTarget.files[0]);
	        
			var xhrObject = new XMLHttpRequest();

	        xhrObject.open('POST', '//{ajax_url}');  
	        xhrObject.onreadystatechange = function(){
	            if(xhrObject.readyState==4 && xhrObject.status==200){
					var e = JSON.parse(xhrObject.responseText);

	                if(e.result=='success'){
	                     var images =
	                    '<div class="box">'+
	                        '<img src="{HTTP}{site_url}/lumonata-plugins/menus/category_menu_image/'+e.filename+'" />'+
	                        '<div class="overlay">'+
	                            '<a data-post-id="'+e.post_id+'" class="img-delete" title="Delete">'+
	                                '<img src="{HTTP}{site_url}/lumonata-plugins/additional/images/delete.png">'+
	                            '</a>'+
	                        '</div>'+
	                    '</div>';

	                    jQuery('.category_menu_image').html(images);
	                    delete_category_menu_img();
	                }else{
	                    alert(e.error);
	                }
	            }
	        }

	        xhrObject.send(data);
	    });

	    delete_category_menu_img();
	}

	/*
	| -------------------------------------------------------------------------------------
	| Upload Category Menu PDF File
	| -------------------------------------------------------------------------------------
	*/
	function upload_category_menu_pdf(){
		jQuery('[name=pdf_file_treatment]').change(function(el){
	        var data = new FormData();
	            data.append('ajax_key', 'upload-category-menu-pdf');
	            data.append('app_name', '{app_name}');
            	data.append('code_lang', '');
	            data.append('post_id', jQuery('[name=category_id]').val());
	            data.append('pdf_file_treatment', el.currentTarget.files[0]);
	        
			var xhrObject = new XMLHttpRequest();

	        xhrObject.open('POST', '//{ajax_url}');  
	        xhrObject.onreadystatechange = function(){

	            if(xhrObject.readyState==4 && xhrObject.status==200){
					var e = JSON.parse(xhrObject.responseText);
	                if(e.result=='success'){
	                     var content =
	                    '<div class="menu-pdf-file file-pdf-current">' +
							'<a href="{HTTP}{site_url}/lumonata-plugins/menus/category_menu_pdf/'+e.filename+'">'+e.filename+'</a>'+
							'<span class="delete-pdf-category" data-lang="en"><img src="{HTTP}{site_url}/lumonata-plugins/additional/images/delete.png" /></span>'+	
						'</div>';

						jQuery('.default_lang').fadeIn(300, function(){
	                    	jQuery('.default_lang').html(content);
	                    	delete_category_menu_pdf();
						});
	                }else{
	                    alert(e.error);
	                }
	            }else{
					// console.log("ok");
				}
	        }

	        xhrObject.send(data);
	    });

	    delete_category_menu_pdf();
	}


	/*
	| -------------------------------------------------------------------------------------
	| Delete Category Menu Image
	| -------------------------------------------------------------------------------------
	*/
	function delete_category_menu_img(){
		jQuery('.category_menu_image .img-delete').click(function(){
	    	var url = '//{ajax_url}';
	    	var prm = new Object;
	    		prm.ajax_key = 'delete-category-menu-images';
	    		prm.app_name = '{app_name}';
				prm.post_id  = jQuery('[name=category_id]').val();

	    	jQuery.post( url, prm, function(e){
	    		if( e.result=='success' ){
	    			jQuery('.category_menu_image .box').remove();
	    		}else{
	    			alert('Failed to delete this image');
	    		}
	    	},'json');
	    });
	}


	/*
	| -------------------------------------------------------------------------------------
	| Delete Category Menu PDF
	| -------------------------------------------------------------------------------------
	*/
	function delete_category_menu_pdf(){
		jQuery('.pdf_file_view .delete-pdf-category').click(function(){
			// console.log("ok");
			var lang = jQuery(this).attr("data-lang");
	    	var url = '//{ajax_url}';
	    	var prm = new Object;
	    		prm.ajax_key = 'delete-category-menu-pdf';
	    		prm.app_name = '{app_name}';
	    		prm.lang = lang;
				prm.post_id  = jQuery('[name=category_id]').val();

	    	jQuery.post( url, prm, function(e){

	    		if( e.result=='success' ){
					if(lang=="en"){
						jQuery('.default_lang .menu-pdf-file').remove();
						jQuery('.default_lang').hide();
					}else if(lang=="jp"){
						jQuery('.pdf_file_view_jp .menu-pdf-file').remove();
						jQuery('.pdf_file_view_jp').hide();
					}else if(lang=="cn"){
						jQuery('.pdf_file_view_cn .menu-pdf-file').remove();
						jQuery('.pdf_file_view_cn').hide();
					}

					var list_pdf_file = document.getElementsByClassName("pdf_file_treatment");
					for (n = 0; n < list_pdf_file.length; ++n) {
						list_pdf_file[n].value='';
					}
	    		}else{
	    			alert('Failed to delete this pdf');
	    		}
	    	},'json');
	    });
	}
</script>

<!-- END menus_block -->